/* custom webkit scrollbar for dart color theme */
::-webkit-scrollbar {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background: #999999;
}

::-webkit-scrollbar-thumb:hover {
  background: #EEEEEE;
}

.feature-action {
  color: rgba(255, 255, 255, 0.5);
}

.feature-action:hover {
  color: #FFF;
}

.jimu-panel{
  background-color: #222;
  border: none;
}

.jimu-widget-frame.jimu-container{
  background-color: #222;
  padding-bottom: 0;
}

.jimu-filter-valueTypePopup .value-type-popup li.disabled span{
  color: #666 !important;
}
.jimu-filter-valueTypePopup .value-type-popup li.disabled span:hover{
  color: #999 !important;
}
.jimu-widget{
  color: white;
}

.jimu-widget-subtitle  {
    color: #fff;
}

.jimu-input{
  background: #222;
  border: 1px solid #999;
  color: #ccc;
}

.jimu-search .jimu-input {
  background: #222 !important;
  color: #fff
}

.jimu-input:focus{
  border: 1px solid #fff;
  color: #fff;
}

.jimu-btn{
  background-color: #666;
  color: #ffffff;
}

.jimu-btn-vacation{
}

.jimu-btn:hover{
  background-color: #333;
  color: #ffffff;
}

.jimu-btn-vacation:hover{
}

.jimu-btn:active{
  background-color: #333;
  color: #ffffff;
}

.jimu-btn.jimu-state-disabled{
  background-color: #666;
  color: #999;
}

.jimu-btn.jimu-priority-secondary{
}

.jimu-btn.jimu-priority-secondary:hover{
}

.jimu-btn.jimu-priority-secondary:active{
}

.jimu-btn.jimu-priority-secondary.jimu-state-disabled{
}

.jimu-tab3 .tab-item-td{
  color: #999;
  border-bottom: 1px solid #666;
}

.jimu-tab3 .tab-item-td.jimu-state-active{
  color: #fff;
  border-bottom: 2px solid #fff;
  font-weight: bold;
}

.jimu-tab>.control>.tab{
  background-color: #222;
  border-top: 1px solid #222;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  border-bottom: 1px solid #666;
}
.jimu-tab>.control>.tab.jimu-state-selected{
  background-color: #222;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  border-bottom: 1px solid #222;
  color: #fff;
}
.jimu-tab>.jimu-viewstack{
  background-color: #222;
}
.jimu-tab.nested>.control>.tab{
  background-color: #222;
}
.jimu-tab.nested>.control>.tab.jimu-state-selected{
  background-color: #222;
}


.jimu-simple-table .simple-table-row:hover{
  background-color: #666;
  color: white;
}
.jimu-simple-table .simple-table-row.jimu-state-active{
  background-color: #999;
  color: white;
}

/**popup menu*/
.popup-menu .menu-content {
  background: #222;
}
.popup-menu .menu-title .label {
  color: #FFF;
}
.popup-menu .popup-menu-item:hover,
.popup-menu .popup-menu-item.selected {
  background: #666;
}
.popup-menu .popup-menu-item .icon {
  width: 40px;
  height: 40px;
}
.popup-menu .popup-menu-item .icon div {
  color: #FFF;
}
.popup-menu .popup-menu-item .label {
  color: #FFF;
}

.jimu-draw-box .draw-item {
  color: white;
}
.jimu-draw-box .draw-items .draw-item{
  border: 1px solid #666;
}

.jimu-draw-box .draw-item.jimu-state-active {
  background-color: #666;
}

/***********about jimu-dropmenu**********************/

.jimu-dropmenu .drop-menu{
  background-color: #333333 !important;
  color: #ffffff;
  border: 1px solid #999999 !important;
  box-shadow: none !important;
}

.jimu-dropmenu .menu-item:hover{
  background-color: #666666 !important;
  color: #ffffff !important;
}

.jimu-dropmenu .menu-item:focus{
  background-color: #666666 !important;
  color: #ffffff !important;
}

.jimu-dropmenu .menu-item-line {
  border: 1px solid #999999 !important;
}

.jimu-dijit-dropdownmenu {
  background: url(images/dropdown.svg) center center no-repeat;
}

.jimu-dijit-dropdownmenu:hover, .jimu-dijit-dropdownmenu.showing {
  background-image: url(images/dropdown_hover.svg);
}

.jimu-dijit-dropdownmenu-items-container {
  background: #666;
  color: #fff;
}
/***********jimu-dropmenu end************************/


/************about popup**********************/
.esriPopup .related-records-popup-projector .content-box .item, .esriMobileInfoView.esriMobilePopupInfoView .content-box .item  {
  background-color: #333;
  color: #fff;
  padding-left: 4px;
}

.esriPopup .related-records-popup-projector .content-box .item.oddLine, .esriMobileInfoView.esriMobilePopupInfoView .content-box .item.oddLine {
  background-color: transparent;
}

/************popup end**********************/

.jimu-input.flDropDown{
  background-color: #4c4c4c !important;
  border: 1px solid #999;
  color: #ccc;
}

.jimu-input.searchtextbox {
  background-color: #4c4c4c !important;
  border: 1px solid #999;
  color: #ccc;
}

/* share widget start */
.jimu-widget-share{
  color: white;
}
.jimu-widget-share .subTitle{
  color: white;
}
.jimu-widget-share .shareLink .inputsText {
  color: #ccc;
}
.jimu-widget-share .shareLink .optionsRow .labels,
.jimu-widget-share .shareLink .optionsRow .label{/*for radio and checkbox*/
  color: #ccc;
}
/* share widget end */

.jimu-widget-onscreen-icon,
.jimu-widget-placeholder {
  background-color: rgba(0, 0, 0, 0.5);
  width: 36px !important;
  height: 36px !important;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  opacity: 1;
}

.jimu-widget-onscreen-icon img {
  width: 16px;
  height: 16px;
  margin: 10px;
}

.jimu-widget-placeholder .inner {
  width: 12px;
  height: 12px;
  margin: 0 auto;
  line-height: 40px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background-color: transparent;
}

/*jimu tree*/
.jimu-tree .jimu-tree-selected-leaf-node > .dijitTreeRow{
  background-color: #222;
  color: white;
}
.jimu-tree .jimu-tree-not-leaf-node > .dijitTreeRowSelected{
  background-color: #222;
}
.jimu-tree .jimu-tree-not-leaf-node > .dijitTreeRowSelected.dijitTreeRowHover {
  background-color:#666;
}

/*jimu-popup*/
.jimu-popup{
  background-color: #333;
  color: white;
}

.jimu-popup > .title{
  color: white;
  border-bottom: 1px solid #666;
}

/*jimu-transparency*/
.jimu-transparency .dijitRuleLabelContainer .dijitRuleLabel.dijitRuleLabelH{
  color: #fff;
}

/*.jimu-multiple-layers-featureset-chooser*/
.jimu-multiple-layers-featureset-chooser .btn-select{
  background-color: #222;
  color: #fff;
}

.jimu-multiple-layers-featureset-chooser .btn-select.selected{
  background-color: #666;
  border: 3px solid #CCCCCC;
}

.jimu-multiple-layers-featureset-chooser.disabled .btn-select{
  background-color: #222 !important;
  border: 1px solid #666 !important;
  color: #666 !important;
}

.jimu-multiple-layers-featureset-chooser .btn-select,
.jimu-multiple-layers-featureset-chooser .current-draw-item .arrow {
  background-color: transparent !important;
}

.jimu-multiple-layers-featureset-chooser .current-draw-item .arrow{
  opacity: 0.5;
}

.jimu-multiple-layers-featureset-chooser .current-draw-item .arrow:hover{
  opacity: 1;
}

.jimu-multiple-layers-featureset-chooser .current-draw-item{
  background-color: #222;
  border: 1px solid #999;
  color: #ccc;
}

.jimu-multiple-layers-featureset-chooser .current-draw-item.pressed{
  background-color: #000;
  color: white;
  border: none;
}

.jimu-multiple-layers-featureset-chooser.disabled .current-draw-item{
  background-color: #222 !important;
  border: 1px solid #666 !important;
  color: #666 !important;
}

.jimu-multiple-layers-featureset-chooser.disabled .current-draw-item .arrow{
  opacity: 0.5 !important;
}

.jimu-multiple-layers-featureset-chooser.disabled .current-draw-item .select-icon{
  opacity: 0.5;
}

.jimu-multiple-layers-featureset-chooser .btn-clear .clear-icon{
  background: url(./images/icon-clear.png) center center no-repeat;
}

.jimu-multiple-layers-featureset-chooser .btn-clear{
  background-color: #222;
  border: 1px solid #999;
}

.jimu-multiple-layers-featureset-chooser .btn-clear .clear-text{
  color: #ccc;
}

.jimu-multiple-layers-featureset-chooser .btn-clear:hover {
  background-color: #FF0000;
  border: none;
}

.jimu-multiple-layers-featureset-chooser .btn-clear:hover .clear-text{
  color: white;
}

.jimu-multiple-layers-featureset-chooser.disabled .btn-clear{
  background-color: #222 !important;
  border: 1px solid #666666 !important;
}

.jimu-multiple-layers-featureset-chooser.disabled .btn-clear .clear-icon{
  opacity: 0.5 !important;
}

.jimu-multiple-layers-featureset-chooser.disabled .btn-clear .clear-text{
  color: #666 !important;
}

/*.jimu-filter*/
.jimu-single-filter,.jimu-filter-set{
  background: #333;
}

.jimu-filter-set .jimu-single-filter{
  background: transparent;
}

.jimu-single-filter-parameter .prompt{
  color: white;
}

.jimu-filter .desktop-add-section .add-menu{
  background-color: #333;
  box-shadow: 0px 0px 6px 0px rgba(255,255,255,0.50);
}

.jimu-filter .content-section > .back-arrow{
  background: url(images/arrow-back-white_normal.svg) no-repeat center;
}

.jimu-filter .content-section .match-msg select, .jimu-filter-set .header-table select {
  color: #fff;
}

.jimu-filter.mobile-mode .mobile-add-section .add-menu{
  background: #444;
}

.jimu-filter.mobile-mode .mobile-add-section .add-menu .add-menu-item{
  background: #333;
}

.jimu-filter .desktop-add-section .add-menu .add-menu-item:hover{
  background: #000;
}

.jimu-mobile-filter-popup{
  background: #333;
}

.jimu-mobile-filter-popup .jimu-filter{
  color: white;
}

.jimu-filter .allExpsBox{
  background: black;
}
.jimu-filter-valueTypePopup .value-type-popup{
  background-color: #444;
  color: white;
  font-size: 12px;
}
.jimu-filter-valueTypePopup .value-type-popup li:hover {
  background: #666;
}
.jimu-filter-valueTypePopup .value-type-popup li span:nth-child(2){
  background: url(images/done.svg) center no-repeat;
}
.jimu-icon{
  background-image: url(sprite.png);
}

.add-with-icon{
  color: #E8E8E8;
}

.add-with-icon.jimu-state-disabled {
  color: #898989;;
}

/*PopupMenuButton*/
.popup-menu-button {
  background-color: #333;
  background: url(images/more_normal.svg) no-repeat center;
}
.popup-menu-button:hover {
  background-color: #666;
  background: url(images/more_hover.svg) no-repeat center;
}
.popup-menu-button.disabled {
  background: url(images/more_disabled.svg) no-repeat center;
}
/* jimu-dijit-statistics-chart */
.jimu-dijit-statistics-chart .settings {
   background: no-repeat center center url(images/chart-setting-dart.svg);
}

/*filter multiple*/
.jimu-multiple-items-list,
/* .jimu-list-multiple-select .selectedToggleDiv .toggleTxt, */
.jimu-list-multiple-select .jimu-list-multiple-select-Tips{
  color: #fff;
}
.jimu-list-multiple-select .selectedToggleDiv .showAllIcon {
  background: url(./images/showAllNormal.svg) no-repeat center;
}
.jimu-list-multiple-select .selectedToggleDiv .showSelectedIcon{
  background: url(./images/showSelectedNormal.svg) no-repeat center;
}
.jimu-list-multiple-select .selectedToggleDiv .showAllIcon.iconHover {
  background: url(./images/showAllHover.svg) no-repeat center;
  background-color: #5d5d5d;
}
.jimu-list-multiple-select .selectedToggleDiv .showSelectedIcon.iconHover{
  background: url(./images/showSelectedHover.svg) no-repeat center;
  background-color: #5d5d5d;
}
.jimu-list-multiple-select .selectedContainer{
  background: #333;
}
.jimu-multiple-items-list .item {
  /* border-bottom: 1px solid rgba(255,255,255,0.5) !important; */
}
.jimu-list-multiple-select .items-content .item.emptyItem{
  color: #AAA;
}
.jimu-panel .checkBtn .checkedNameDiv.checkedEmptyNameDiv{
  color: #AAA;
}

/* .jimu-multiple-items-list .item.active { */
.jimu-list-multiple-select .items-content .item.active {
  background: rgba(255,255,255,0.3);
}
.jimu-multiple-items-list .item .checkbox{
  background-image: url(./images/unchecked.png);
}
.jimu-multiple-items-list .item .checkbox.checked{
  background-image: url(./images/checked.png);
}
.jimu-multiple-items-list .item .radio{
  background-image: url("./images/RadioButton_normal.svg");
}
.jimu-multiple-items-list .item .radio.checked{
  background-image: url("./images/RadioButton_selected.svg");
}

.jimu-multiple-items-list .item .labelRuntime {
  /* max-width: 195px; */
}

/* coordinate control */

.jimu-coordinate-control .jimu-input {
  border: 1px solid #999999;
  font-size: 12px;
  height: 30px;
  background-color: transparent;
  padding: 5px;
  margin: 0;
  border-radius: 2px;
}

.jimu-coordinate-control textarea {
  font-family: 'Avenir Medium';
  font-size: 12px;
  resize: none;
  width: 240px;
  height: 35px;
  background-color: transparent;
  border: 1px solid #999999;
  color: #FFFFFF;
  padding: 10px 0px 10px 14px;
  margin: 0;
  letter-spacing: 0px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.jimu-coordinate-control textarea:active {
  border: 1px solid #FFFFFF;
}

.jimu-coordinate-control .coordNameContainer {
  margin-bottom: 6px;
}

.jimu-coordinate-control .coordinateContainer {
  padding-top: 5px;
  width: 95%;
}

.jimu-coordinate-control .coordarea {
  height: 0px;
  overflow: hidden;
}

.jimu-coordinate-control .cpbtn {
  display: inline-block;
  background: url('./images/coordinateControl/copy_white.png');
  background-repeat: no-repeat;
  background-color: transparent;
  width: 14px;
  height: 16px;
}

.jimu-coordinate-control .settingBtn {
  display: inline-block;
  background: url('./images/coordinateControl/settings_white.png');
  background-repeat: no-repeat;
  background-color: transparent;
  width: 15px;
  height: 15px;
}

.jimu-coordinate-control .settingBtn:hover {
  background: url('./images/coordinateControl/settings_white_hover.png');
}


.jimu-coordinate-control .cpbtn:hover {
  background: url('./images/coordinateControl/copy_white_hover.png');
}

.jimu-coordinate-control .zoomBtn {
  display: inline-block;
  background: url('./images/coordinateControl/zoom_to_white.png');
  background-repeat: no-repeat;
  background-color: transparent;
  width: 15.4px;
  height: 15.2px;
}

.jimu-coordinate-control .zoomBtn:hover {
  background: url('./images/coordinateControl/zoom_to_white_hover.png');
}

.jimu-coordinate-control .drawPointBtn {
  display: inline-block;
  background: url('./images/coordinateControl/draw_white.png');
  background-repeat: no-repeat;
  background-color: transparent;
  width: 11px;
  height: 15.2px;
}

.jimu-coordinate-control .drawPointBtn-active {
  background: url('./images/coordinateControl/draw_white_hover.png');
}

.jimu-coordinate-control .drawPointBtn:hover {
  background: url('./images/coordinateControl/draw_white_hover.png');
}

.jimu-coordinate-control .expandBtn {
  display: inline-block;
  background: url('./images/coordinateControl/arrow-right_white.png');
  background-repeat: no-repeat;
  background-color: transparent;
  width: 5px;
  height: 10px;
  vertical-align: text-top;
}

.jimu-coordinate-control .expandBtn:hover {
  background: url('./images/coordinateControl/arrow-right_white_hover.png');
}

.jimu-coordinate-control .collapseBtn {
  display: inline-block;
  background: url('./images/coordinateControl/arrow-down_white.png');
  background-repeat: no-repeat;
  background-color: transparent;
  width: 10px;
  height: 5px;
  vertical-align: text-top;
}

.jimu-coordinate-control .collapseBtn:hover {
  background: url('./images/coordinateControl/arrow-down_white_hover.png');
  background-repeat: no-repeat;
  background-color: transparent;
}

.jimu-coordinate-control .crdfrmtlabel {
  display: inline-block;
  height: 16px;
  font-size: 12px;
  color: #FFFFFF;
  width: 100px;
  padding-left: 5px;
}

.jimu-coordinate-control .coordfrmt {
  width:50%;
}

.jimu-coordinate-control .coordformat {
  display: inline-flex;
  align-items: center;
}

.jimu-coordinate-control .crds {
  display: inline-block;
  width: 130px;
  margin-right: 10px;
}

.jimu-coordinate-control .coordarea.expanded {
  margin-top: 0px;
}

.jimu-coordinate-control .coordactions {
  display:inline-block;
  padding-left: 10px;
}

.jimu-coordinate-control .add-with-icon {
  display: inline-block;
  height: 40px;
  line-height:40px;
  padding-right: 5px;
}

.jimu-coordinate-control .add-with-icon.coordLabel {
  width: 75px;
  color: #FFFFFF;
}

.jimu-coordinate-control .line-separator {
  height: 2px;
  border-bottom: 1px solid #666666;
  width: 320px;
  margin-top: 3px;
}

/**
 * Coordinate Format Dialog
 **/

.jimu-coordinate-control  .formatInput {
  width: 200px;
  height: 40px;
  opacity: 0.99;
  background-color: transparent;
  border: 1px solid #999999;
  color: #FFFFFF;
  padding-left: 4px;
  margin-left: 5px;
}

.jimu-coordinate-control .selectFormat {
  width: 160px;
  height: 40px;
  opacity: 0.99;
  background-color: transparent;
  border: 1px solid #999999;
  color: #FFFFFF;
  padding-left: 4px;
}

.jimu-coordinate-control .btnContainer {
  text-align: right;
  margin-top: 6px;
  padding-right: 4px;
}

.jimu-coordinate-control .settingsContainer {
  margin-top: 6px;
}

.jimu-coordinate-control .controlContainer {
  margin-top: 6px;
}

.jimu-coordinate-control .formatText {
  font-size: 12px;
  letter-spacing: 0.39px;
  line-height: 19px;
  color: #FFFFFF;
  padding-left: 3px;
}

/* layerChooserFromMap */
.jimu-basic-layer-chooser-from-map .dijitTreeIcon.mapservice-layer-icon {
  background-image: url("./images/layerChooser/mapserver_open.png") !important;
}

.jimu-basic-layer-chooser-from-map .dijitTreeIcon.group-layer-icon {
  background-image: url("./images/layerChooser/group_layer2.png") !important;
}

.jimu-basic-layer-chooser-from-map .dijitTreeIcon.point-layer-icon {
  background-image: url("./images/layerChooser/point_layer2.png") !important;
}

.jimu-basic-layer-chooser-from-map .dijitTreeIcon.line-layer-icon {
  background-image: url("./images/layerChooser/line_layer2.png") !important;
}

.jimu-basic-layer-chooser-from-map .dijitTreeIcon.polygon-layer-icon {
  background-image: url("./images/layerChooser/polygon_layer2.png") !important;
}

/* jimu/checkbox */
.jimu-icon.checkbox.jimu-icon-checkbox{
  background: url(./images/checkbox/checkbox_default.png);
}
.jimu-icon.checkbox.jimu-icon-checked{
  background: url(./images/checkbox/checked_default.png);
}
.jimu-icon.checkbox.jimu-icon-checkbox.jimu-state-disabled{
  background: url(./images/checkbox/checkbox_disabled.png);
}
.jimu-icon.checkbox.jimu-icon-checked.jimu-state-disabled{
  background: url(./images/checkbox/checked_disabled.png);
}