.jimu-widget-header-controller {
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.4);
}

.jimu-widget-header-controller .header-section {
    height: 100%;
    overflow: hidden;
    width: calc(100% - 360px);
}

.jimu-widget-header-controller .container-section {
    height: 100%;
    min-width: 80px;
}

.jimu-widget-header-controller .logo {
    cursor: pointer;
}

.jimu-widget-header-controller .hide-logo {
    display: none;
}

.jimu-widget-header-controller .titles {
    height: 100%;
    overflow: hidden;
}

.jimu-widget-header-controller .jimu-title {
    text-align: center;
    height: 100%;
    margin-top: 0;
}

.jimu-widget-header-controller .jimu-subtitle {
    text-align: center;
    height: 100%;
    margin-top: 0;
}

.jimu-widget-header-controller .links {
    height: 100%;
    overflow: hidden;
}

.jimu-widget-header-controller .dynamic-section, .jimu-widget-header-controller .signin-section {
    height: 100%;
    display: flex;
}

.jimu-widget-header-controller .links .jimu-link {
    height: 100%;
}

.jimu-widget-header-controller .signin-section .jimu-link {
    color: #d9dde0;
}
.jimu-widget-header-controller .dynamic-section .jimu-link:last-child,
.jimu-widget-header-controller .signin-section .jimu-link:last-child{
  margin-right: 1em;
}
.jimu-rtl .jimu-widget-header-controller .dynamic-section .jimu-link:last-child,
.jimu-rtl .jimu-widget-header-controller .signin-section .jimu-link:last-child{
  margin-left: 1em;
}
.jimu-widget-header-controller .icon-node {
    cursor: pointer;
    opacity: 1;
    text-align: center;
    border-right: 1px solid #323e4f;
}

.jimu-widget-header-controller .icon-node img {
    height: 20px;
    width: 20px;
}

.jimu-widget-header-controller .icon-node:first-child {
    border: none;
}

.jimu-widget-header-controller .icon-node:hover {
    opacity: 1;
}

.jimu-widget-header-controller .icon-node.jimu-state-selected {
    background-color: #697a8c;
    opacity: 1;
    border: none;
    border-top: 2px solid #8491a1;
}

.jimu-widget-header-controller .drop-triangle {
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: 1px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid white;
}
/****/

.jimu-widget-header-controller .jimu-drop-menu {
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.4);
}

.jimu-widget-header-controller .jimu-drop-menu .menu-item {
    overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.jimu-widget-header-controller .jimu-drop-menu .menu-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.jimu-widget-header-controller .jimu-drop-menu .menu-item img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 8px;
}

.jimu-widget-header-controller .jimu-drop-menu .menu-item .label {
    cursor: pointer;
    margin-top: 12px;
    font-size: 14px;
    color: white;
    min-width: 50px;
    text-align: center;
    white-space: nowrap;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 8px;
}

.jimu-rtl .jimu-widget-header-controller .jimu-drop-menu .menu-item .label{
    padding-left: 8px;
}

/**the popup link panel is not appended to container, so, don't add .jimu-widget-header-controller here**/
.popup-links {
    background-color: #fff;
}

.popup-links .popup-title {
}

.popup-links .logo {
    height: 30px;
}

.popup-links .title {
    color: #fff;
    text-align: center;
    font-size: 16px;
    width: 71.42857142857143%;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
}

.popup-links .line {
    width: 100%;
    height: 4px;
    border-bottom: 1px solid #393c40;
}

.popup-links .link-section {
    width: 100%;
    height: 66px;
}

.popup-links a {
    color: #fff;
    margin-left: 20px;
    font-size: 14px;
    height: 100%;
    width: 95%;
    overflow: hidden;
    display: inline-block;
}

.popup-links .link-section.signin a {
    color: #d9dde0;
}

/***/
.jimu-header-more-popup {
    position: absolute;
    border-radius: 2px;
    z-index: 111;
    background-color: #FFFFFF;
}

.jimu-header-more-popup .pages {
    position: relative;
    overflow: hidden;
    padding: 2px;
}

.jimu-header-more-popup .points {
    position: absolute;
    overflow: hidden;
    bottom: -15px;
    left: 0px;
    right: 0px;
    text-align: center;
    background-color: #bababa;
}
.jimu-header-more-popup .points-inner{
  /* display: inline-block; */
  overflow: hidden;
  /*flex layout, for both LTR and RTL*/
  display: flex;
  height: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.jimu-header-more-popup .point {
    float: left;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    border-radius: 4px;
    background-color: #f2f6f9;
    cursor: pointer;
}

.jimu-header-more-popup .point-selected {
    background-color: #485566;
}

.jimu-nav-mode .jimu-header-more-popup .point:focus{
    outline: none !important;
    border: 2px solid #24B5CC;
  }

.jimu-header-more-popup .page {
    position: relative;
    overflow: hidden;
}

.jimu-header-more-popup .close {
    position: absolute;
    top: -04.46428571428571%;
    right: -04.46428571428571%;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
}

.jimu-rtl .jimu-header-more-popup .close {
    left: -04.46428571428571%;
    right: auto;
}

.jimu-header-more-popup .close-inner {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 50%;
    background-image: url("images/close.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 13px;
}
.jimu-rtl .jimu-header-more-popup .close-inner{
    margin-left: 0;
    margin-right: 10%;
  }

.jimu-header-more-popup .icon-node {
    cursor: pointer;
}

.jimu-header-more-popup .icon-node.jimu-state-selected {
    background-color: red;
}

.jimu-header-more-popup img {
    width: 48px;
    height: 48px;
    margin: auto;
    margin-top: 25%;
    display: block;
}

.jimu-header-more-popup .node-label {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    height: 20px;
}

@media screen and (max-width:320px){

.jimu-header-more-popup .close-inner {
    background-size: 9px;
}

}
@media screen and (max-width:760px) {
    .jimu-header-more-popup .node-label {
        font-size: 13px !important;
        height: 17px;
    }

    .jimu-widget-header-controller .header-section {
        width: calc(100% - 90px) !important;
    }

}

.jimu-more-icon-cover {
    z-index: 110;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Header widget CSS Start */
.jimu-widget-header-controller .esriCTHidden {
    display: none;
}

.jimu-widget-header-controller .widget-open-symbol {
    height: 4px;
    width: 4px;
    border-radius: 4px;
    margin: auto;
    color: #FFF;
    background-color: #FFF;
}

.jimu-widget-frame.jimu-foldable-dijit>.jimu-panel-content {
    padding: 14px;
}
/* Header widget CSS End */