<div data-a11y-label-by="plateau_label plateau_title plateau_subtitle">
  <!-- solve the bug of style delay loading -->
  <div class="header-section jimu-float-leading" data-dojo-attach-point="headerNode">
    <a role="link" data-dojo-attach-point="logoLinkNode" target="_blank">
      <img class="logo jimu-float-leading jimu-leading-margin1" data-dojo-attach-point="logoNode" data-dojo-attach-event="onload:_onLogoLoad">
    </a>
    <div class="titles jimu-float-leading jimu-leading-margin1" data-dojo-attach-point="titlesNode">
      <div class="screen-readers-only" data-a11y-label-id="plateau_label">${label}</div>
      <h1 class="jimu-title jimu-float-leading" data-dojo-attach-point="titleNode" data-a11y-label-id="plateau_title"></h1>
      <h2 class="jimu-subtitle jimu-float-leading jimu-leading-margin2" data-dojo-attach-point="subtitleNode" data-a11y-label-id="plateau_subtitle"></h2>
    </div>
    <div class="links jimu-float-leading jimu-leading-margin1" data-dojo-attach-point="linksNode">
      <div class="dynamic-section jimu-float-leading" data-dojo-attach-point="dynamicLinksNode"></div>
      <div class="signin-section jimu-float-leading" data-dojo-attach-point="signInSectionNode">
        <a role="link" href="#" class="jimu-link" data-dojo-attach-event="onclick:_onSigninClick" data-dojo-attach-point="signinLinkNode">${nls.signin}</a>
        <a role="link" href="" target="_blank" class="jimu-link" data-dojo-attach-event="onclick:_onUserNameClick" data-dojo-attach-point="userNameLinkNode"></a>
        <a role="link" href="#" class="jimu-link" data-dojo-attach-event="onclick:_onSignoutClick" data-dojo-attach-point="signoutLinkNode">${nls.signout}</a>
      </div>
    </div>
  </div>
  <div class="container-section jimu-float-leading jimu-main-background" data-dojo-attach-point="containerNode"></div>
</div>