.jimu-widget-splash{
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
  z-index: 130 !important;/*> appStatePopup*/
}
.jimu-widget-splash .jimu-loading-shelter{
  z-index: 131;
}

.jimu-widget-splash .buried{
  visibility: hidden;
}
.jimu-widget-splash .overlay{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color:rgba(0,0,0,0.5);
}
.jimu-widget-splash-desktop .splash-container .jimu-checkbox,
.jimu-widget-splash-mobile .splash-container .jimu-checkbox{
  font-size: 14px;
  color: #fff;
  overflow: auto;
  max-height: 50px;
  min-height: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
}
.jimu-widget-splash-desktop .splash-container .jimu-checkbox .label,
.jimu-widget-splash-mobile .splash-container .jimu-checkbox .label{
  white-space: normal;
  text-indent: 5px;
  margin-left: 5px;
  color: #fff;
  float: none !important;
  display: inline;
  vertical-align: middle;
}
.jimu-rtl .jimu-widget-splash-desktop .splash-container .jimu-checkbox .label,
.jimu-rtl .jimu-widget-splash-mobile .splash-container .jimu-checkbox .label{
  margin-left: auto;
  margin-right: 5px;
}
.jimu-widget-splash-desktop .envelope{
/*  min-width: 300px;
  min-height: 100px;*/
}
.jimu-widget-splash-desktop .envelope,
.jimu-widget-splash-mobile .envelope{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.jimu-widget-splash-desktop .splash-container .jimu-btn,
.jimu-widget-splash-mobile .splash-container .jimu-btn{
  height: 33px;
  padding: 0;
  width: 60px;
  line-height: 33px;
}
.jimu-rtl .jimu-widget-splash-desktop .splash-container .jimu-btn,
.jimu-rtl .jimu-widget-splash-mobile .splash-container .jimu-btn{
  left: 0;
  right: auto;
}
.jimu-widget-splash-desktop .splash-container .enable-btn,
.jimu-widget-splash-mobile .splash-container .enable-btn{
  background-color: #518dca;
}
.jimu-widget-splash-desktop .splash-container .disable-btn,
.jimu-widget-splash-mobile .splash-container .disable-btn{
  background-color: #a0acbf !important;
  color: rgb(255, 255, 255) !important;
}
.jimu-widget-splash-desktop .splash-container .jimu-checkbox .checkbox,
.jimu-widget-splash-mobile .splash-container .jimu-checkbox .checkbox{
  background-color: #fff;
}

.jimu-widget-splash-desktop .envelope{
  /*max-height: 500px;
  max-width: 640px;*/
  border: 1px solid rgba(255,255,255,0.3);
}
.jimu-widget-splash-desktop .splash-container,
.jimu-widget-splash-desktop .splash-bg{
  position: absolute;
  display: inline-block;
  /*background-color: #485566;
  box-shadow: 0 0 4px rgba(160, 160, 160, 0.4);*/
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow:auto;
}
.jimu-widget-splash-desktop .splash-container{
  z-index: 1;
  overflow: hidden;
}

.jimu-widget-splash .norepeat{
  background: no-repeat;
}
.jimu-widget-splash .fill {
  background-size: cover !important;
}
.jimu-widget-splash .fit {
  background-size: contain !important;
}
.jimu-widget-splash .stretch {
  background-size: 100% 100% !important;
}
.jimu-widget-splash .center {
  background-size: initial !important;
}
.jimu-widget-splash .tile {
  background-size: initial !important;
}

.jimu-widget-splash-desktop .splash-bg{
  z-index: 0;
}

.jimu-widget-splash-desktop .custom-content{
  /* width: 560px; */
  margin: 20px;
  /* overflow: auto; */
  color: #fff;
  /* max-height: 388px; */
  overflow-x: hidden;
  overflow-y: auto;
}
.jimu-widget-splash-desktop .splash-container .footer{
  /* max-height: 100px; */
  /* margin: 0 40px 10px 40px; */
  position: absolute;
  /* overflow: hidden; */
  bottom: 10px;
  width: 100%;
}
.jimu-widget-splash .footer .confirmcheck-container{
  margin: 0 20px;
}
.jimu-widget-splash .footer .confirmcheck-container .jimu-checkbox .checkbox{
  margin: 2px;
}
.jimu-widget-splash .footer .confirmcheck-container .jimu-checkbox .dijitCheckBoxFocused{
  box-shadow: 0 0 0px 2px rgba(136, 176, 245, 1);
}
.jimu-widget-splash .footer .jimu-btn {
  margin: 0 20px 2px 20px;
}
.jimu-widget-splash .footer .jimu-btn:focus {
  box-shadow: 0 0 0px 2px rgba(136, 176, 245, 1);
}
/*mobile
.jimu-widget-splash-mobile .envelope{
  background-color: #485566;
  box-shadow: 0 0 4px rgba(160, 160, 160, 0.4);
}
.jimu-widget-splash-mobile .splash-container{
  height: 100%;
  position: relative;
  display: block;
  padding: 10px;
}
.jimu-widget-splash-mobile .splash-container .custom-content{
  position: absolute;
  top: 0;
  color: #000;
  margin-bottom: 10px;
  left: 10px;
  right: 10px;
  overflow: auto;
}
.jimu-widget-splash-mobile .splash-container .footer{
  position: absolute;
  max-height: 100px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}*/

img{
  height: 400px;
}

.splash-container {
  background-color: #14375a;
}