<div style="width:100%;height:100%;overflow-y:auto;">

   <!-- <div data-dojo-type="dijit/layout/ContentPane" style="height:100%;width:100%"> -->
        <div class="widgetDescription" data-dojo-attach-point="widgetDescription" tabIndex=0></div>
        <form data-dojo-attach-point="inputForm">
        <div class="divCheckPlot">
        	<table>
        		<tr>
        			<td class="optionStyle"><input type="checkbox" id="chkboxPlotOnly" data-dojo-attach-point="chkboxPlotOnly" tabIndex=0  aria-label="${nls.plotOnly}"><label>${nls.plotOnly}</label></td>
        		</tr>
        		<tr>
        			<td class="optionStyle">
		        		<label class="labelPad" aria-label="${nls.projectionChoice}" tabIndex=0>${nls.projectionChoice}</label>
		        		<input type="radio" class="jimu-radio-btn" name="rdProjection" id="rdProjectionLat" data-dojo-attach-point="rdProjection" value="latlon" checked tabIndex=0  aria-label="${nls.projectionLat}"><label class="labelPad">${nls.projectionLat}</label>
		        		<input type="radio" class="jimu-radio-btn" name="rdProjection" id="rdProjectionMap" data-dojo-attach-point="rdProjection" value="map" tabIndex=0  aria-label="${nls.projectionMap}"><label>${nls.projectionMap}</label>
        			</td>
        		</tr>
				<tr>
					<td>
						<table border=0>
							<tr>
								<td class="tdClearButton" nowrap><div class="clear-CSVresult" data-dojo-attach-point="clearResultsBtn" data-dojo-attach-event="click:clearCSVResults" tabIndex=0 role="button">${nls.clearResults}</div></td>
					      <td class="tdDownloadButton" nowrap><div class="download-CSVresult" data-dojo-attach-point="downloadResultsBtn" data-dojo-attach-event="click:downloadCSVResults" tabIndex=0 role="button">${nls.downloadResults}</div></td>
							</tr>
						</table>
					</td>

		        </tr>
        	</table>
<!--
        	<div class="plotChoice"><input type="checkbox" id="chkboxPlotOnly" data-dojo-attach-point="chkboxPlotOnly"><label>${nls.plotOnly}</label></div>
        	<div class="projectionChoice">
        		<label class="labelPad">${nls.projectionChoice}</label>
        		<input type="radio" name="rdProjection" id="rdProjectionLat" data-dojo-attach-point="rdProjection" value="latlon" checked><label class="labelPad">${nls.projectionLat}</label>
        		<input type="radio" name="rdProjection" id="rdProjectionMap" data-dojo-attach-point="rdProjection" value="map"><label>${nls.projectionMap}</label>
        	</div>
-->
        </div>
        <table data-dojo-attach-point="actionButtonsContainer" cellspacing="0" class="tblActionContainer">
        <tr>
        	<td width="100%" class="tdCSVButton">
        		<input type="file" id="csvFileInput" data-dojo-attach-point="csvFileInput" data-dojo-attach-event="change:fileSelected" accept=".csv" role="button" tabIndex=0>
				    <div class="jimu-btn hide" data-dojo-attach-point="showFileDialogBtn" data-dojo-attach-event="click:showFileDialog" tabIndex=0>${nls.selectCSV}</div>
			</td>
		</tr>
        </table>
        </form>
        <div data-dojo-attach-point="results" class="hide">
        	<div class="results-header">${nls.messages}</div>
            <table class="widgets-results-table" data-dojo-attach-point="widgetsResultsTable" cellspacing="0">
                <tbody data-dojo-attach-point="widgetsResultsTableBody">

                    <tr class="controls">

                        <td class="tdProcessing">
                            <div data-dojo-attach-point="resultsLoadingImage" id="resultsLoadingImage" class="status processing" />
                        </td>
                        <td>
                            <div class="result-text" data-dojo-attach-point="resultsLoading" tabIndex=0>${nls.loadingCSV}</div>
                        </td>
                    </tr>

                    <tr class="controls">

                        <td class="tdProcessing">
                            <div data-dojo-attach-point="resultsPlottingImage" id="resultsPlottingImage" class="status processing" />

                        </td>
                        <td>
                            <div class="result-text" data-dojo-attach-point="resultsPlotting" tabIndex=0>${nls.plottingRows}</div>
                        </td>
                    </tr>

                </tbody>

            </table>
            <div class="errorLink" data-dojo-attach-point="enrichErrors" data-dojo-attach-event="click:showErrorTable"></div>
            <div class="hide errorList" id="enrichErrorsList" data-dojo-attach-point="enrichErrorsList" tabIndex=0></div>
        </div>
        <!--  </div>-->
        <div data-dojo-attach-point="loading" data-dojo-type="jimu/dijit/LoadingIndicator" data-dojo-props='hidden:true'></div>
        <div data-dojo-attach-point="lastNode508" tabIndex=0></div>
   <!-- </div> -->
</div>