<div>
  <div data-dojo-attach-point="tabDiv">
    <div>
      <div class="esriCTTabs" data-dojo-attach-point="lineOfSightTab">
  <div class="url-section">
    <div class="label jimu-float-leading" title="${nls.portalURL}">${nls.portalURL}</div>
    <div class="service-browser jimu-float-trailing">
      <table cellpadding="0" cellspacing="0" style="width:100%;border-collapse:collapse;">
        <tbody>
          <tr>
            <td style="width:auto;">
              <div data-dojo-attach-point="urlTextBox" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='required:true, spellcheck:false, regExp: dojox.validate.regexp.url'
                style="width:100%;height:35px;padding-top:0px;"></div>
            </td>
            <td style="width:75px;">
              <div data-dojo-attach-point="setButton" class="jimu-btn jimu-float-trailing">${nls.setTask}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="error-section hide-section" data-dojo-attach-point="errorNode"></div>
  <div class="esriCTWrapper">
    <div class="esriCTDijitWrapper" style="padding: 5px 0px 5px 0px;">
      <input class="switch-toggle" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="angleUnits" checked="false" />
    </div>
    <div class="esriCTLabel">${nls.defaultMilsForAnglesLabel}</div>
  </div>

  <div class="esriCTWrapper">
    <div class="esriCTLabel">${nls.defaultObserverHeightLabel}</div>
    <div class="esriCTDijitWrapper">
      <div style="width: 100%">
        <select style="width: 250px" data-dojo-type="dijit/form/Select" data-dojo-attach-point="observerHeightUnit">
        </select>
      </div>
    </div>
  </div>

  <div class="esriCTWrapper">
    <div class="esriCTLabel">${nls.defaultObservableDistanceLabel}</div>
    <div class="esriCTDijitWrapper">
      <div style="width: 100%">
        <select style="width: 250px" data-dojo-type="dijit/form/Select" data-dojo-attach-point="observableDistanceUnit">
        </select>
      </div>
    </div>
  </div>
  <div class="esriCTWrapper">
    <div class="opLayerlabelSettings">${nls.selectOperationalLayerLabel}</div>
          <select class="opLayerSelectSettings" data-dojo-attach-point="opLayerList"
            aria-label="selectOpLayerLabel"></select>
          <div title="${nls.helpIconTooltip}" class="jimu-icon helpBtn" data-dojo-attach-point="helpBtn"
            aria-label="${nls.helpIconTooltip}" tabindex="0" role="tooltip"></div>
        </div>
      </div>
      <div class="esriCTTabs" data-dojo-attach-point="symbologyTab">
       <div data-dojo-attach-point="symbologySettingsNode"></div>
      </div>
    </div>
  </div>
</div>