
<div class = 'container-widget'>

	<!-- basic modal for displaying messages -->
	<div data-dojo-type='dijit/Dialog' data-dojo-id='dijit_basic_modal'>
		<div id = 'dojo_modal_content'></div>
	</div>

	<!-- modal for displaying planning boundaries -->
	<div id = 'dojo_planning_content' data-dojo-type='dijit/Dialog' data-dojo-id='dijit_planning_modal' style="width:600px;">
		
		<div id = 'modal_existing_plans' class = 'modal_div'>
			<h4>Update an existing plan</h4>
			<p>
				The entities listed below are existing plans that have already been entered. In order to
				correct or provide additional information to a plan, select that plan by clicking on it.
			</p>
			<table id = 'modal_existing_plans_table' class = 'table'></table>
		</div>
		
		<div id = 'modal_new_plans' class = 'modal_div'>
			<h4>Submit a new plan</h4>
			<p>
				The entities listed below have boundaries that overlap with your map click selection. 
				Click on the entity from the list below for which you would like to submit plan information.
			</p>
			<table id = 'modal_new_plans_table' class = 'table'></table>
		</div>

		<div id = 'modal_custom_boundary' class = 'modal_div'>
			<h4>Create a custom Planning Area Boundary</h4>
			<p>Draw a polygon on the map to create a customized Planning Area Boundary for your project.</p>
			<button id = 'add_polygon' class = 'btn btn-secondary' data-dojo-attach-point = 'add_polygon' onclick="draw_polygon();">Draw Custom Planning Area Boundary</button>
		</div>

	</div>

	<!-- modal for loading -->
	<div data-dojo-type='dijit/Dialog' data-dojo-id='dijit_loading_modal' style="width:600px;">
		<div class="spinner-border" style="width: 10rem; height: 10rem;" role="status">
			<span class="sr-only">Loading...</span>
		  </div>
	</div>


	<!-- map click instructions -->
	<div id = 'instructions' class = 'h-100 instructions'>
		<h5>Welcome to the Texas Active Transportation Plan Submission Portal!</h5>

		<div class = 'd-flex flex-column justify-content-between'>
			<p class = 'pt-1'>
				Use this self-service tool to add or update entries in the Texas Active Transportation Plan Inventory. 
			</p>

			<p class = 'pt-1'>
				To begin, click on the map near the area applicable to the plan being added or updated. 
				After selecting the appropriate Planning Area Boundary from the list of existing entity 
				boundaries (or drawing your own), enter the plan details, then submit the information 
				to TxDOT for review. Once the plan information is validated, the plan information will 
				be available to view on the Texas Active Transportation Plan Inventory.
			</p>

			<p class = 'pt-1'> 
				Click on the "Layers List" icon in the upper right to view layer options. 
				Toggle layers on and off until the desired Planning Area Boundary appears in the list. 
			</p>

			<p class = 'pt-1'>
				Existing plans in the Plan Inventory layer may cover large areas like MPOs or smaller areas 
				such as corridors. Larger geographies may overlap with small ones. To update existing subarea 
				plans or to draw boundaries for new ones, zoom into the map and click on the location. For plans 
				with smaller areas, it is important to be as precise as possible when clicking on the location. 
				All existing plans in the inventory for that region will appear in the popup box. 
				Turn layers off and/or change the basemap to experiment with visibility.
			</p>
		
			<p class = 'pt-1'>For more information, refer to the <a class="link-color" href = '../custom/documentation/documentation.pdf' download>user guide</a>.</p>

			<p class = 'pt-1'>To explore the Active Transportation Plan Inventory, <span><a class="link-color" id = 'plans_link_1'>click here</a></span>.</p>

			<img src="../custom/images/austin_instructions.png" alt="Instructions" class = 'p-0'>

			<footer class="text-center">
				Support services are available to accommodate the communication needs of individuals with disabilities. 
				Support is available via BikePed@txdot.gov
			</footer>

		</div>


	</div>
	
	<!-- data form -->
	<form  id = 'form' class = 'form'>

		<!-- header -->
		<h4>Enter your plan information below</h4>

		<!-- reset form-->
		<div class = 'form-group'>
			<button onclick="reset_form_function();" id = 'reset_form' type = 'button' class = 'btn btn-warning mt-2 mr-2 btn-sm' data-dojo-attach-point="reset_form">Reset</button>
		</div>

		<!-- entity name and create date -->
		<hr>
		<div class = 'form-group'>
			<!-- entity name -->
			<label class = 'mt-2' for = 'enty_nm'><b>Entity Name</b> (required)</label>
			<input type = 'text' class = 'form-control mb-1' id = 'enty_nm' placeholder = 'Example: City of Pleasantville' required readonly>

			<!-- department name -->
			<label class = 'mt-2' for = 'dept_nm'><b>Department Name</b></label>
			<input type = 'text' class = 'form-control mb-1' id = 'dept_nm' placeholder = 'Example: Public Works' data-toggle='tooltip' data-placement='top' title='Optional. Name of the department or division principally responsible for plan.'>

			<!-- created date -->
			<label hidden for="create_dt">Date</label>
			<input hidden id = 'create_dt' class = 'form-control' readonly>
		</div>
		<!-- contact information -->
		<hr>
		<div id = 'contact_information' class = 'form-group'>

			<!-- <p><b>Contact information is for internal TxDOT use only and will not be published publicly.</b></p> -->
			<div class = 'alert alert-dark'><b>Contact information is for internal TxDOT use only and will not be published publicly.</b></div>

			<!-- contact name -->
			<label class = 'mt-2' for = 'cntct_nm'><b>Contact Name</b></label>
			<input type = 'text' class = 'form-control mb-1' id = 'cntct_nm' placeholder = 'Example: Jane Planner'>

			<!-- contact email -->
			<label class = 'mt-2' for = 'cntct_eml'><b>Contact Email</b> (required)</label>
			<input onkeyup="check_cntct_eml();" type = 'email' class = 'form-control mb-1' id = 'cntct_eml' placeholder = 'Example: jane.p@pleasantville.gov' data-toggle='tooltip' data-placement='right' title='For notifications. Your email address will not be published.'>

			<!-- contact phone and ext -->
			<div class = 'form-row'>
				<div class = 'col-8'>
					<label class = 'mt-2' for = 'cntct_phn_nbr'><b>Contact Phone</b> (required)</label>
					<input type = 'text' maxlength="12" onkeyup = "configure_phone_number()" class = 'form-control mb-1' id = 'cntct_phn_nbr' placeholder = 'Example: 512-215-5555' data-toggle='tooltip' data-placement='right' title='Department or direct.'>
				</div>
				<div class = 'col-4'>
					<label class = 'mt-2' for = 'cntct_phn_ext'><b>Extension</b></label>
					<input min="1" type = 'number' onkeydown="input_maxlength_test(elm = this, maxlength = 3, min_value = 1, max_value = 999)" class = 'form-control mb-1' id = 'cntct_phn_ext' placeholder = 'Example: 255' data-toggle='tooltip' data-placement='right' title='Department or direct.'>
				</div>
			</div>
		
		</div>

		<!-- plan details -->
		<hr>
		<div class = 'form-group'>

			<!-- plan name -->
			<label class = 'mt-2' for = 'plan_nm'><b>Plan Name</b> (required)</label>
			<input type = 'text' class = 'form-control mb-1' id = 'plan_nm' placeholder = 'Example: Pleasantville Bicycle Master Plan' data-toggle='tooltip' data-placement='right' title='Full name of plan.'>

			<!-- plan url -->
			<label class = 'mt-2' for = 'plan_url'><b>Plan URL</b> (required)
			<br> To avoid broken links, please provide a URL to either the plan website or document, whichever is less likely to change.
			</label>
			<input onkeyup = "check_url('plan_url')" type = 'url' class = 'form-control mb-1' id = 'plan_url' placeholder = 'Example: www.pleasantville.gov/bikeplan' data-toggle='tooltip' data-placement='right' title='Stable URL for the plan landing page or the PDF plan itself.'>
			
			<!-- year plan adoption publication -->
			<label class = 'mt-2' for = 'adpt_pblctn_yr'><b>Year of Plan Adoption or Publication (YYYY)</b></label>
			<input onkeyup = "input_maxlength_test(elm = this, maxlength = 4, min_value = 1950, max_value = today.getFullYear(), flash = true);" type = 'number' class = 'form-control mb-1' id = 'adpt_pblctn_yr' placeholder = 'Example: 2016' data-placement='right' title='Year plan was written or adopted (not planning horizon year).'>

			<!-- plan gis url -->
			<label class = 'mt-2' for = 'plan_gis'><b>Plan GIS URL</b>
			<br> Provide the URL to the plan GIS Layer or Map.
			</label>
			<input onkeyup = "check_url('plan_gis')" type = 'url' class = 'form-control mb-1' id = 'plan_gis' placeholder = 'Example: www.pleasantville.gov/server/rest/services/l/0' data-toggle='tooltip' data-placement='right' title='Stable URL for the plan GIS layer or Map.'>

			<!-- plan description -->
			<label class = 'mt-2' for = 'plan_dscr'><b>Plan Description</b> (required)</label>
			<p>Please include as many details as possible, such as page numbers for active transportation specific information, network maps, horizon year, and design guidelines.</p>
			<textarea id = 'plan_dscr' class = 'form-control' rows = 5 placeholder = 'Example: The Pleasantville Bicycle Master Plan is a blueprint for promoting the safety and convenience of bicycling in Pleasantville. See page 45 for bicycle infrastructure design guidelines and 52 for a map of the Pleasantville bicycling network. This plan covers a 10-year planning horizon.' data-toggle='tooltip' data-placement='right' title='Short description of the plan. Include keywords for search, e.g. "ADA," "Vision Zero".'></textarea>

			<!-- plan page numbers -->
			<label class = 'mt-2' for = 'plan_page_numbrs'><b>Active Transportation Specific Page Numbers</b></label>
			<p>If your document is not dedicated entirely to active transportation, add the page numbers or range of pages that discuss active transportation.</p>
			<input type = 'text' id = 'plan_page_numbrs' class = 'form-control mb-1'>
			
			<!-- tags -->
			<label class = 'mt-2' for = 'tag_input'><b>Plan Tags and Keywords</b></label>
			<p>
				Add searchable, informative tags or keywords to indicate the content of the document. Remove unwanted tags by clicking on the bolded word underneath the text box. Examples include countermeasure, ADA, equity, and shared-use path..
			</p>
			<div class = 'row'>
				<div class = 'col-9'>
					<input type = 'text' class = 'form-control mb-1' id = 'tag_input' placeholder = 'Add Tags and Keywords' data-toggle='tooltip' data-placement='right' title='Enter tags'>
				</div>
				<div class = 'col'>
					<button type = 'button' onclick="add_tag();" class = 'btn btn-dark'>Add Tag</button>
				</div>
			</div>
			<div id = 'tag_row' class = 'row'>
				<div id = 'plan_tags' class = 'col'></div>
			</div>

		</div>

		<!-- mode -->
		<hr>
		<div class = 'form-group'>
			<label class = 'mt-2' for = 'mode'>
				<b>Modes Covered</b> (required)
				<br>Hold down the control key for Windows or Command key for Mac to select multiple options.
			</label>
			<select multiple class = 'form-control' id = 'mode'>
				<option>Bicycle</option>
				<option>Pedestrian</option>
				<option>Micromobility</option>
				<option>Other</option>
			</select>
		</div>

		<!-- submit plan -->
		<hr>
		<div class = 'row mb-3'>
			<button type = 'button' id = 'submit_plan' class = 'btn btn-dark' data-dojo-attach-point="submit_plan">Submit Plan</button>
		</div>

		<!-- support services -->
		<hr>
		<footer class="text-center">
			Support services are available to accommodate the communication needs of individuals with disabilities. 
			Support is available via BikePed@txdot.gov
		</footer>

	</form>

</div>
