<div class="GRGDrafterMainContainer GRGDrafterFullHeight" data-dojo-attach-point="mainNode">
  <div class="GRGDrafterFullHeight GRGDrafterFullWidth" data-dojo-attach-point="widgetMainNode">
    <!---------------
      Main Page Node
    ----------------->
    <div class="esirCTMainPage" data-dojo-attach-point="mainPageNode">
      <!-- Create From Area -->
      <div class="GRGDrafterMainPageRowBlock">
        <div class="GRGDrafterMainPageRow">
          <div class="GRGDrafterMainButtonIcon GRGNewRightButton GRGDrafterPointer"
            title="${nls.newGRGFromAreaButtonLabel}" data-dojo-attach-point="newGRGAreaButton" tabindex="0"
            role="button" aria-label="${nls.newGRGFromAreaButtonLabel}">
          </div>
          <div class="GRGDrafterInputLabel GRGDrafterEllipsis SubTitle" title="${nls.newGRGFromAreaButtonLabel}">
            ${nls.newGRGFromAreaButtonLabel}
          </div>
        </div>

        <!-- Create From Area Options -->
        <div class="controlGroupHidden" data-dojo-attach-point="fromAreaContainer">
          <!-- Define by size -->
          <div class="GRGDrafterMainPageRowItem">
            <div class="GRGDrafterButtonIcon GRGDrafterNewGRGByDimension GRGDrafterPointer"></div>
            <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.newGRGBySizeButtonLabel}">
              ${nls.newGRGBySizeButtonLabel}
            </div>
            <div class="GRGDrafterMainButtonIcon GRGNewRightButton GRGDrafterPointer GRGFloatRight"
              title="${nls.newGRGBySizeButtonLabel}" data-dojo-attach-point="newAreaGRGBySizeButton" tabindex="0"
              role="button" aria-label="${nls.newGRGBySizeButtonLabel}">
            </div>
          </div>
          <!-- Define from reference system -->
          <div class="GRGDrafterMainPageRowItem">
            <div class="GRGDrafterButtonIcon GRGDrafterNewGRGByRefSystemButton GRGDrafterPointer"></div>
            <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.newGRGFromRefSystemButtonLabel}">
              ${nls.newGRGFromRefSystemButtonLabel}
            </div>
            <div class="GRGDrafterMainButtonIcon GRGNewRightButton GRGDrafterPointer GRGFloatRight"
              title="${nls.newGRGFromRefSystemButtonLabel}" data-dojo-attach-point="newAreaGRGFromRefSystemButton"
              tabindex="0" role="button" aria-label="${nls.newGRGFromRefSystemButtonLabel}">
            </div>
          </div>
        </div>
      </div>
      <!-- Create From Point -->
      <div class="GRGDrafterMainPageRowBlock">
        <div class="GRGDrafterMainPageRow">
          <div class="GRGDrafterMainButtonIcon GRGNewRightButton GRGDrafterPointer"
            title="${nls.newGRGFromPointButtonLabel}" data-dojo-attach-point="newGRGPointButton" tabindex="0"
            role="button" aria-label="${nls.newGRGFromPointButtonLabel}">
          </div>
          <div class="GRGDrafterInputLabel GRGDrafterEllipsis SubTitle" title="${nls.newGRGFromPointButtonLabel}">
            ${nls.newGRGFromPointButtonLabel}
          </div>
        </div>

        <!-- Create From Point Options -->
        <div class="controlGroupHidden" data-dojo-attach-point="fromPointContainer">
          <!-- Define by size -->
          <div class="GRGDrafterMainPageRowItem">
            <div class="GRGDrafterButtonIcon GRGDrafterNewGRGByDimension GRGDrafterPointer"></div>
            <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.newGRGBySizeButtonLabel}">
              ${nls.newGRGBySizeButtonLabel}
            </div>
            <div class="GRGDrafterMainButtonIcon GRGNewRightButton GRGDrafterPointer GRGFloatRight"
              title="${nls.newGRGBySizeButtonLabel}" data-dojo-attach-point="newPointGRGBySizeButton" tabindex="0"
              role="button" aria-label="${nls.newGRGBySizeButtonLabel}">
            </div>
          </div>
          <!-- Define from reference system -->
          <div class="GRGDrafterMainPageRowItem">
            <div class="GRGDrafterButtonIcon GRGDrafterNewGRGByRefSystemButton GRGDrafterPointer"></div>
            <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.newGRGFromRefSystemButtonLabel}">
              ${nls.newGRGFromRefSystemButtonLabel}
            </div>
            <div class="GRGDrafterMainButtonIcon GRGNewRightButton GRGDrafterPointer GRGFloatRight"
              title="${nls.newGRGFromRefSystemButtonLabel}" data-dojo-attach-point="newPointGRGFromRefSystemButton"
              tabindex="0" role="button" aria-label="${nls.newGRGFromRefSystemButtonLabel}">
            </div>
          </div>
          <!-- Define from reference system -->
          <div class="GRGDrafterMainPageRowItem">
            <div class="GRGDrafterButtonIcon GRGDrafterNewGRGByTimeButton GRGDrafterPointer"></div>
            <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.newGRGByTimeLabel}">
              ${nls.newGRGByTimeLabel}</div>
            <div class="GRGDrafterMainButtonIcon GRGNewRightButton GRGDrafterPointer GRGFloatRight"
              title="${nls.newGRGByTimeLabel}" data-dojo-attach-point="newPointGRGFromTimeButton" tabindex="0"
              role="button" aria-label="${nls.newGRGByTimeLabel}">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!---------------------------
      GRG From Area By Size Node
    ----------------------------->
    <div class="GRGDrafterFullHeight GRGDrafterHidden" data-dojo-attach-point="grgAreaBySizePageNode">
      <div class="GRGDrafterFullWidth GRGDrafterNewGRGHeader">
        <!-- Back to Main Menu Icon -->
        <div class="GRGDrafterBackButton GRGDrafterPointer" title="${nls.common.back}"
          data-dojo-attach-point="grgAreaBySizePanelBackButton" tabindex="0" role="button"
          aria-label="${nls.common.back}">
          <div class="GRGDrafterItemLeftArrow"></div>
        </div>
        <!-- Panel Title -->
        <div class="GRGDrafterTitleDiv GRGDrafterEllipsis" title="${nls.newGRGAreaBySizeTitle}">
          ${nls.newGRGAreaBySizeTitle}
        </div>
        <!-- Settings Icon -->
        <div class="GRGDrafterSettingsIcon GRGDrafterPointer" title="${nls.settingsTitle}"
          data-dojo-attach-point="grgAreaBySizeSettingsButton" tabindex="0" role="button"
          aria-label="${nls.settingsTitle}"></div>
        <!-- GRG Area Form -->
        <div class="GRGDrafterPanelRow">
          <!-- Draw GRG Area Tool -->
          <div class="GRGDrafterFullWidth GRGDrafterSettingRowPaddingTop20"
            data-dojo-attach-point="grgAreaBySizeDrawContainer">
            <div class="GRGDrafterFullWidth">
              <div>
                <div class="GRGDrafterDoubleButtonLabel GRGDrafterEllipsis"
                  title="${nls.newGRGAreaBySizeDefineAreaLabel}">${nls.newGRGAreaBySizeDefineAreaLabel}</div>
                <div title="${nls.addGRGAreaPolygonToolTip}" class="jimu-icon polygonBtn"
                  data-dojo-attach-point="grgAreaBySizeDrawPolygonIcon" tabindex="0" role="button"
                  aria-label="${nls.addGRGAreaPolygonToolTip}"></div>
                <div title="${nls.addGRGAreaExtentToolTip}" class="jimu-icon extentBtn"
                  data-dojo-attach-point="grgAreaBySizeDrawExtentIcon" tabindex="0" role="button"
                  aria-label="${nls.addGRGAreaExtentToolTip}"></div>
              </div>
            </div>
          </div>
          <!-- Set number of cells checkbox -->
          <div class="GRGDrafterFullWidthAndPadding">
            <input class="switch-toggle" data-dojo-type="dijit/form/CheckBox"
              data-dojo-attach-point="setNumberRowsColumns" checked="false"
              aria-label="${nls.numberRowsColumnsLabel}" />
            <label data-dojo-attach-point="interactiveLabel">${nls.numberRowsColumnsLabel}</label>
          </div>
          <!-- Nummber of Cells Horizontal and Vertical -->
          <div class="GRGDrafterHalfWidthContainer" data-dojo-attach-point="numberOfCellsContainer">
            <div class="GRGDrafterHalfWidthLeft GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.numberOfCellsHorizontal}">
                ${nls.numberOfCellsHorizontal}</div>
              <input class="jimu-input textInput" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:1,places:0},
                          invalidMessage:"${nls.invalidNumberMessage}",
                          rangeMessage:"${nls.invalidRangeMessage}"' data-dojo-attach-point="cellHorizontal" value="10"
                disabled='true' aria-label='${nls.numberOfCellsHorizontal}'></input>
            </div>
            <div class="GRGDrafterHalfWidthRight GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.numberOfCellsVertical}">
                ${nls.numberOfCellsVertical}</div>
              <input class="jimu-input textInput" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:1,places:0},
                          invalidMessage:"${nls.invalidNumberMessage}",
                          rangeMessage:"${nls.invalidRangeMessage}"' data-dojo-attach-point="cellVertical" value="10"
                disabled='true' aria-label='${nls.numberOfCellsVertical}'></input>
            </div>
          </div>
          <!-- GRG Cell Width & Height -->
          <div class="GRGDrafterHalfWidthContainer">
            <!-- GRG Cell Width -->
            <div class="GRGDrafterHalfWidthLeft GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.cellWidth}">${nls.cellWidth}</div>
              <input class="jimu-input dijitNumberTextBox" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:0,places:2},
                          invalidMessage:"${nls.invalidNumberMessage}",
                          required: true,
                          rangeMessage:"${nls.invalidRangeMessage}"' data-dojo-attach-point="grgAreaBySizeCellWidth"
                value="1000" disabled='true' aria-label='${nls.cellWidth}'></input>
            </div>
            <!-- GRG Cell Height -->
            <div class="GRGDrafterHalfWidthRight GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.cellHeight}">${nls.cellHeight}</div>
              <input class="jimu-input dijitNumberTextBox" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:0,places:2},
                        invalidMessage:"${nls.invalidNumberMessage}",
                        required: true,
                        rangeMessage:"${nls.invalidRangeMessage}"' data-dojo-attach-point="grgAreaBySizeCellHeight"
                value="1000" disabled='true' aria-label='${nls.cellHeight}'></input>
            </div>
          </div>
          <!-- Rotation -->
          <div class="GRGDrafterHalfWidthContainer">
            <div class="GRGDrafterHalfWidthLeft GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.rotation}">${nls.rotation}</div>
              <input class="jimu-input textInput" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:-89.9,max:89.9},
                          invalidMessage:"${nls.invalidNumberMessage}",
                          required: true,
                          rangeMessage:"${nls.gridAngleInvalidRangeMessage}"'
                data-dojo-attach-point="grgAreaBySizeRotation" value="0" disabled='true'
                aria-label='${nls.rotation}'></input>
            </div>
          </div>
          <!-- Create & Clear GRG Buttons -->
          <div class="GRGDrafterHalfWidthContainer">
            <div class="GRGDrafterBtnContainer GRGDrafterHalfWidthLeft">
              <div class='jimu-btn' data-dojo-attach-point='grgAreaBySizeCreateGRGButton' tabindex="0" role="button"
                aria-label="${nls.createGRGBtn}">${nls.createGRGBtn}</div>
            </div>
            <div class="GRGDrafterBtnContainer GRGDrafterHalfWidthRight">
              <div class='jimu-btn' data-dojo-attach-point='grgAreaBySizeClearGRGButton' tabindex="0" role="button"
                aria-label="${nls.clearGRGBtn}">${nls.clearGRGBtn}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!----------------------------------
      GRG From Area By Reference System
    ------------------------------------>
    <div class="GRGDrafterFullHeight GRGDrafterHidden" data-dojo-attach-point="grgAreaByRefSystemPageNode">
      <div class="GRGDrafterFullWidth GRGDrafterNewGRGHeader">
        <!-- Back to Main Menu Icon -->
        <div class="GRGDrafterBackButton GRGDrafterPointer" title="${nls.common.back}"
          data-dojo-attach-point="grgAreaByRefSystemPanelBackButton" tabindex="0" role="button"
          aria-label="${nls.common.back}">
          <div class="GRGDrafterItemLeftArrow"></div>
        </div>
        <!-- Panel Title -->
        <div class="GRGDrafterTitleDiv GRGDrafterEllipsis" title="${nls.newGRGAreaByRefSystemTitle}">
          ${nls.newGRGAreaByRefSystemTitle}
        </div>
        <!-- Settings Icon -->
        <div class="GRGDrafterSettingsIcon GRGDrafterPointer" title="${nls.settingsTitle}"
          data-dojo-attach-point="grgAreaByRefSystemSettingsButton" tabindex="0" role="button"
          aria-label="${nls.settingsTitle}"></div>
        <!-- GRG Area Form -->
        <div class="GRGDrafterPanelRow">
          <!-- Draw GRG Area Tool -->
          <div class="GRGDrafterFullWidth GRGDrafterSettingRowPaddingTop20">
            <div class="GRGDrafterFullWidth" data-dojo-attach-point="grgAreaByRefSystemDrawContainer">
              <div>
                <div class="GRGDrafterButtonLabel GRGDrafterEllipsis" title="${nls.newGRGAreaBySizeDefineAreaLabel}">
                  ${nls.newGRGAreaBySizeDefineAreaLabel}</div>
                <div title="${nls.addGRGAreaExtentToolTip}" class="jimu-icon extentBtn"
                  data-dojo-attach-point="grgAreaByRefSystemDrawIcon" tabindex="0" role="button"
                  aria-label="${nls.addGRGAreaExtentToolTip}"></div>
              </div>
            </div>
          </div>
          <!-- Grid Size DropDown -->
          <div class="GRGDrafterFullWidth GRGDrafterSettingRow">
            <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.gridSize}">${nls.gridSize}</div>
            <select style="width: 100%" class="GRGGridSizeSelect" data-dojo-type="jimu/dijit/formSelect"
              data-dojo-attach-point="grgAreaByRefSystemGridSize" aria-label="${nls.gridSize}">
              <option value="UTM" selected="selected">${nls.UTMZoneandBand}</option>
              <option value="100000">${nls.100000m}</option>
              <option value="10000">${nls.10000m}</option>
              <option value="1000">${nls.1000m}</option>
              <option value="100">${nls.100m}</option>
              <option value="10">${nls.10m}</option>
            </select>
          </div>
          <!-- Clip Grid to GRG Area Toggle -->
          <div class="GRGDrafterFullWidth GRGDrafterSettingRow">
            <div>
              <div class="GRGDrafterToggleLabel GRGDrafterEllipsis" title="${nls.clipGrid}">${nls.clipGrid}</div>
              <input class="switch-toggle" data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="grgAreaByRefSystemClipToggle" checked="false" aria-label="${nls.clipGrid}" />
            </div>
          </div>
          <!-- Label Format-->
          <div class="GRGDrafterFullWidth GRGDrafterSettingRow" data-dojo-attach-point="grgAreaByRefSystemLabelFormat">
            <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.labelFormat}">${nls.labelFormat}</div>
            <input class="jimu-input textInput" style="width: calc(100% - 20px)"
              data-dojo-attach-point="grgAreaByRefLabelFormat" value="Z" aria-label="${nls.labelFormat}"></input>
            <div title="${nls.helpIconTooltip}" class="jimu-icon helpBtn" data-dojo-attach-point="helpBtnForArea"
              tabindex="0" role="tooltip" aria-label="${nls.helpIconTooltip}"></div>
          </div>
          <!-- Create & Clear GRG Buttons -->
          <div class="GRGDrafterHalfWidthContainer">
            <div class="GRGDrafterBtnContainer GRGDrafterHalfWidthLeft">
              <div class='jimu-btn' data-dojo-attach-point='grgAreaByRefSystemCreateGRGButton' tabindex="0"
                role="button" aria-label="${nls.createGRGBtn}">${nls.createGRGBtn}</div>
            </div>
            <div class="GRGDrafterBtnContainer GRGDrafterHalfWidthRight">
              <div class='jimu-btn' data-dojo-attach-point='grgAreaByRefSystemClearGRGButton' tabindex="0" role="button"
                aria-label="${nls.clearGRGBtn}">${nls.clearGRGBtn}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-------------------------------------
      GRG From Area From Non Standard Grid
    -------------------------------------->
    <div class="GRGDrafterFullHeight GRGDrafterHidden" data-dojo-attach-point="grgAreaFromNonStandardPageNode">
      <div class="GRGDrafterFullWidth GRGDrafterNewGRGHeader">
        <!-- Back to Main Menu Icon -->
        <div class="GRGDrafterBackButton GRGDrafterPointer" title="${nls.common.back}"
          data-dojo-attach-point="grgAreaByNonStandardPanelBackButton">
          <div class="GRGDrafterItemLeftArrow"></div>
        </div>
        <!-- Panel Title -->
        <div class="GRGDrafterTitleDiv GRGDrafterEllipsis" title="${nls.newGRGAreaFromNonStandardTitle}">
          ${nls.newGRGAreaFromNonStandardTitle}
        </div>
        <!-- Settings Icon -->
        <div class="GRGDrafterSettingsIcon GRGDrafterPointer" title="${nls.settingsTitle}"
          data-dojo-attach-point="grgAreaByNonStandardSettingsButton"></div>
        <!-- GRG Area Form -->
        <div class="GRGDrafterPanelRow">
          <!-- GRG Layer Name -->
          <div class="GRGDrafterFullWidth GRGDrafterSettingRow">
            <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="Area GRG by Reference System">Area GRG from Non
              Standard Grid To Do</div>
          </div>
        </div>
      </div>
    </div>
    <!----------------------------
      GRG From Point by Size Node
    ------------------------------>
    <div class="GRGDrafterFullHeight GRGDrafterHidden" data-dojo-attach-point="grgPointBySizePageNode">
      <div class="GRGDrafterFullWidth GRGDrafterNewGRGHeader">
        <!-- Back to Main Menu Icon -->
        <div class="GRGDrafterBackButton GRGDrafterPointer" title="${nls.common.back}"
          data-dojo-attach-point="grgPointBySizePanelBackButton" tabindex="0" role="button"
          aria-label="${nls.common.back}">
          <div class="GRGDrafterItemLeftArrow"></div>
        </div>
        <!-- Panel Title -->
        <div class="GRGDrafterTitleDiv GRGDrafterEllipsis" title="${nls.newGRGPointBySizeTitle}">
          ${nls.newGRGPointBySizeTitle}
        </div>
        <!-- Settings Icon -->
        <div class="GRGDrafterSettingsIcon GRGDrafterPointer" title="${nls.settingsTitle}"
          data-dojo-attach-point="grgPointBySizeSettingsButton" tabindex="0" role="button"
          aria-label="${nls.settingsTitle}"></div>
        <!-- GRG Point Form -->
        <div class="GRGDrafterPanelRow">
          <!-- Draw GRG Point Coordinate Input -->
          <div class="GRGDrafterFullWidth GRGDrafterSettingRow">
            <div data-dojo-attach-point="newGRGPointBySizeOriginCoordsContainer"></div>
          </div>
          <!-- Nummber of Cells Horizontal and Vertical -->
          <div class="GRGDrafterHalfWidthContainer">
            <div class="GRGDrafterHalfWidthLeft GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.numberOfCellsHorizontal}">
                ${nls.numberOfCellsHorizontal}</div>
              <input class="jimu-input textInput" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:1,places:0},
                          invalidMessage:"${nls.invalidNumberMessage}",
                          rangeMessage:"${nls.invalidRangeMessage}"'
                data-dojo-attach-point="grgPointBySizeCellHorizontal" value="5"
                aria-label="${nls.numberOfCellsHorizontal}"></input>
            </div>
            <div class="GRGDrafterHalfWidthRight GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.numberOfCellsVertical}">
                ${nls.numberOfCellsVertical}</div>
              <input class="jimu-input textInput" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:1,places:0},
                          invalidMessage:"${nls.invalidNumberMessage}",
                          rangeMessage:"${nls.invalidRangeMessage}"'
                data-dojo-attach-point="grgPointBySizeCellVertical" value="5"
                aria-label="${nls.numberOfCellsVertical}"></input>
            </div>
          </div>
          <!-- GRG Cell Width & Height -->
          <div class="GRGDrafterHalfWidthContainer">
            <!-- GRG Cell Width -->
            <div class="GRGDrafterHalfWidthLeft GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.cellWidth}">${nls.cellWidth}</div>
              <input class="jimu-input dijitNumberTextBox" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:0},
                          invalidMessage:"${nls.invalidNumberMessage}",
                          required: true,
                          rangeMessage:"${nls.invalidRangeMessage}"' data-dojo-attach-point="grgPointBySizeCellWidth"
                value="1000" aria-label="${nls.cellWidth}"></input>
            </div>
            <!-- GRG Cell Height -->
            <div class="GRGDrafterHalfWidthRight GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.cellHeight}">${nls.cellHeight}</div>
              <input class="jimu-input dijitNumberTextBox" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:0},
                        invalidMessage:"${nls.invalidNumberMessage}",
                        required: true,
                        rangeMessage:"${nls.invalidRangeMessage}"' data-dojo-attach-point="grgPointBySizeCellHeight"
                value="1000" aria-label="${nls.cellHeight}"></input>
            </div>
          </div>
          <!-- Grid Angle -->
          <div class="GRGDrafterFullWidth GRGDrafterSettingRow">
            <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.gridAngle}">${nls.gridAngle}</div>
            <input class="jimu-input textInput" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
              data-dojo-props='constraints:{min:-89.9,max:89.9,places:1},
                        invalidMessage:"${nls.invalidNumberMessage}",
                        required: true,
                        rangeMessage:"${nls.gridAngleInvalidRangeMessage}"' data-dojo-attach-point="gridAnglePoint"
              value="0" aria-label="${nls.gridAngle}"></input>
          </div>
          <!-- Create & Clear GRG Buttons -->
          <div class="GRGDrafterHalfWidthContainer">
            <div class="GRGDrafterBtnContainer GRGDrafterHalfWidthLeft">
              <div class='jimu-btn jimu-state-disabled' data-dojo-attach-point='grgPointBySizeCreateGRGButton'
                tabindex="-1" role="button" aria-label="${nls.createGRGBtn}">${nls.createGRGBtn}</div>
            </div>
            <div class="GRGDrafterBtnContainer GRGDrafterHalfWidthRight">
              <div class='jimu-btn' data-dojo-attach-point='grgPointBySizeClearGRGButton' tabindex="0" role="button"
                aria-label="${nls.clearGRGBtn}">${nls.clearGRGBtn}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-----------------------------------
      GRG From Point By Reference System
    ------------------------------------->
    <div class="GRGDrafterFullHeight GRGDrafterHidden" data-dojo-attach-point="grgPointByRefSystemPageNode">
      <div class="GRGDrafterFullWidth GRGDrafterNewGRGHeader">
        <!-- Back to Main Menu Icon -->
        <div class="GRGDrafterBackButton GRGDrafterPointer" title="${nls.common.back}"
          data-dojo-attach-point="grgPointByRefSystemPanelBackButton" tabindex="0" role="button"
          aria-label="${nls.common.back}">
          <div class="GRGDrafterItemLeftArrow"></div>
        </div>
        <!-- Panel Title -->
        <div class="GRGDrafterTitleDiv GRGDrafterEllipsis" title="${nls.newGRGPointByRefSystemTitle}">
          ${nls.newGRGPointByRefSystemTitle}
        </div>
        <!-- Settings Icon -->
        <div class="GRGDrafterSettingsIcon GRGDrafterPointer" title="${nls.settingsTitle}"
          data-dojo-attach-point="grgPointByRefSystemSettingsButton" tabindex="0" role="button"
          aria-label="${nls.settingsTitle}"></div>
        <!-- GRG Point Form -->
        <div class="GRGDrafterPanelRow">
          <!-- Draw GRG Point Coordinate Input -->
          <div class="GRGDrafterFullWidth GRGDrafterSettingRow">
            <div data-dojo-attach-point="newGRGPointByRefSystemOriginCoordsContainer"></div>
          </div>
          <!-- Grid Size DropDown -->
          <div class="GRGDrafterFullWidth GRGDrafterSettingRow">
            <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.gridSize}">${nls.gridSize}</div>
            <select style="width: 100%" data-dojo-type="jimu/dijit/formSelect"
              data-dojo-attach-point="grgPointByRefSystemGridSize" aria-label="${nls.gridSize}">
              <option value="UTM" selected="selected">${nls.UTMZoneandBand}</option>
              <option value="100000">${nls.100000m}</option>
              <option value="10000">${nls.10000m}</option>
              <option value="1000">${nls.1000m}</option>
              <option value="100">${nls.100m}</option>
              <option value="10">${nls.10m}</option>
            </select>
          </div>
          <!-- Nummber of Cells Horizontal and Vertical -->
          <div class="GRGDrafterHalfWidthContainer">
            <div class="GRGDrafterHalfWidthLeft GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.numberOfCellsHorizontal}">
                ${nls.numberOfCellsHorizontal}</div>
              <input class="jimu-input textInput" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:1,places:0},
                          invalidMessage:"${nls.invalidNumberMessage}",
                          rangeMessage:"${nls.invalidRangeMessage}"'
                data-dojo-attach-point="grgPointByRefCellHorizontal" value="5"
                aria-label="${nls.numberOfCellsHorizontal}"></input>
            </div>
            <div class="GRGDrafterHalfWidthRight GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.numberOfCellsVertical}">
                ${nls.numberOfCellsVertical}</div>
              <input class="jimu-input textInput" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:1,places:0},
                          invalidMessage:"${nls.invalidNumberMessage}",
                          rangeMessage:"${nls.invalidRangeMessage}"' data-dojo-attach-point="grgPointByRefCellVertical"
                value="5" aria-label="${nls.numberOfCellsVertical}"></input>
            </div>
          </div>
          <!-- Label Format-->
          <div class="GRGDrafterFullWidth GRGDrafterSettingRow" data-dojo-attach-point="grgPointByRefSystemLabelFormat">
            <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.labelFormat}">${nls.labelFormat}</div>
            <input class="jimu-input textInput" style="width: calc(100% - 20px)"
              data-dojo-attach-point="grgPointByRefLabelFormat" value="Z" aria-label="${nls.labelFormat}"></input>
            <div title="${nls.helpIconTooltip}" class="jimu-icon helpBtn" data-dojo-attach-point="helpBtnForPt"
              tabindex="0" role="button" aria-label="${nls.helpIconTooltip}"></div>
          </div>
          <!-- Create & Clear GRG Buttons -->
          <div class="GRGDrafterHalfWidthContainer">
            <div class="GRGDrafterBtnContainer GRGDrafterHalfWidthLeft">
              <div class='jimu-btn jimu-state-disabled' data-dojo-attach-point='grgPointByRefSystemCreateGRGButton'
                tabindex="-1" role="button" aria-label="${nls.createGRGBtn}">${nls.createGRGBtn}
              </div>
            </div>
            <div class="GRGDrafterBtnContainer GRGDrafterHalfWidthRight">
              <div class='jimu-btn' data-dojo-attach-point='grgPointByRefSystemClearGRGButton' tabindex="0"
                role="button" aria-label="${nls.clearGRGBtn}">${nls.clearGRGBtn}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---------------------------------
      GRG From Point By Time and Speed
    ----------------------------------->
    <div class="GRGDrafterFullHeight GRGDrafterHidden" data-dojo-attach-point="grgPointByTimePageNode">
      <div class="GRGDrafterFullWidth GRGDrafterNewGRGHeader">
        <!-- Back to Main Menu Icon -->
        <div class="GRGDrafterBackButton GRGDrafterPointer" title="${nls.common.back}"
          data-dojo-attach-point="grgPointByTimeBackButton" tabindex="0" role="button" aria-label="${nls.common.back}">
          <div class="GRGDrafterItemLeftArrow"></div>
        </div>
        <!-- Panel Title -->
        <div class="GRGDrafterTitleDiv GRGDrafterEllipsis" title="${nls.newGRGPointByTimeTitle}">
          ${nls.newGRGPointByTimeTitle}
        </div>
        <!-- Settings Icon -->
        <div class="GRGDrafterSettingsIcon GRGDrafterPointer" title="${nls.settingsTitle}"
          data-dojo-attach-point="grgPointByTimeSettingsButton" tabindex="0" role="button"
          aria-label="${nls.settingsTitle}"></div>
        <!-- GRG Point Form -->
        <div class="GRGDrafterPanelRow">
          <!-- Draw GRG Point Coordinate Input -->
          <div class="GRGDrafterFullWidth GRGDrafterSettingRow">
            <div data-dojo-attach-point="newGRGPointByTimeOriginCoordsContainer"></div>
          </div>
          <!-- Time -->
          <div class="GRGDrafterHalfWidthContainer" data-dojo-attach-point="timeContainer">
            <div class="GRGDrafterHalfWidthLeft GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.time}">${nls.time}</div>
              <input class="jimu-input textInput" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:1,places:2},
                          invalidMessage:"${nls.invalidNumberMessage}",
                          rangeMessage:"${nls.invalidRangeMessage}"' data-dojo-attach-point="grgPointByTimeTime"
                value="1" disabled='false' aria-label="${nls.time}"></input>
            </div>
            <div class="GRGDrafterHalfWidthRight GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="">&nbsp;</div>
              <select style="width: 100%" data-dojo-type="jimu/dijit/formSelect"
                data-dojo-attach-point="grgPointByTimeTimeUnits">
                <option value="3600" selected="selected">${nls.hours}</option>
                <option value="60">${nls.minutes}</option>
                <option value="1">${nls.seconds}</option>
              </select>
            </div>
          </div>
          <!-- Rate -->
          <div class="GRGDrafterHalfWidthContainer" data-dojo-attach-point="rateContainer">
            <div class="GRGDrafterHalfWidthLeft GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.rate}">${nls.rate}</div>
              <input class="jimu-input textInput" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:1,places:2},
                          invalidMessage:"${nls.invalidNumberMessage}",
                          rangeMessage:"${nls.invalidRangeMessage}"' data-dojo-attach-point="grgPointByTimeRate"
                value="10" disabled='false' aria-label="${nls.rate}"></input>
            </div>
            <div class="GRGDrafterHalfWidthRight GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="">&nbsp;</div>
              <select style="width: 100%" data-dojo-type="jimu/dijit/formSelect"
                data-dojo-attach-point="grgPointByTimeRateUnits">
                <option value="0.3048;1">${nls.ftPerSec}</option>
                <option value="0.3048;3600">${nls.ftPerHour}</option>
                <option value="1000;1">${nls.kmPerSec}</option>
                <option value="1000;3600" selected="selected">${nls.kmPerHour}</option>
                <option value="1;1">${nls.mPerSec}</option>
                <option value="1;3600">${nls.mPerHour}</option>
                <option value="1609.344;1">${nls.miPerSec}</option>
                <option value="1609.344;3600">${nls.miPerHour}</option>
                <option value="1852;1">${nls.nMPerSec}</option>
                <option value="1852;3600">${nls.nMPerHour}</option>
              </select>
            </div>
          </div>
          <!-- Set number of cells checkbox -->
          <div class="GRGDrafterFullWidthAndPadding">
            <input class="switch-toggle" data-dojo-type="dijit/form/CheckBox"
              data-dojo-attach-point="setNumberRowsColumnsTime" checked="true"
              aria-label="${nls.numberRowsColumnsLabel}" />
            <label class="GRGCellsLabel" data-dojo-attach-point="interactiveLabel">${nls.numberRowsColumnsLabel}</label>
          </div>
          <!-- Number of Cells Horizontal and Vertical -->
          <div class="GRGDrafterHalfWidthContainer" data-dojo-attach-point="numberOfCellsContainer">
            <div class="GRGDrafterHalfWidthLeft GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.numberOfCellsHorizontal}">
                ${nls.numberOfCellsHorizontal}</div>
              <input class="jimu-input textInput" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:1,places:0},
                          invalidMessage:"${nls.invalidNumberMessage}",
                          rangeMessage:"${nls.invalidRangeMessage}"'
                data-dojo-attach-point="grgPointByTimeCellHorizontal" value="10" disabled='false'
                aria-label="${nls.numberOfCellsHorizontal}"></input>
            </div>
            <div class="GRGDrafterHalfWidthRight GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.numberOfCellsVertical}">
                ${nls.numberOfCellsVertical}</div>
              <input class="jimu-input textInput" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:1,places:0},
                          invalidMessage:"${nls.invalidNumberMessage}",
                          rangeMessage:"${nls.invalidRangeMessage}"'
                data-dojo-attach-point="grgPointByTimeCellVertical" value="10" disabled='false'
                aria-label="${nls.numberOfCellsVertical}"></input>
            </div>
          </div>
          <!-- GRG Cell Width & Height -->
          <div class="GRGDrafterHalfWidthContainer">
            <!-- GRG Cell Width -->
            <div class="GRGDrafterHalfWidthLeft GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.cellWidth}">${nls.cellWidth}</div>
              <input class="jimu-input dijitNumberTextBox" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:0,places:2},
                          invalidMessage:"${nls.invalidNumberMessage}",
                          required: true,
                          rangeMessage:"${nls.invalidRangeMessage}"' data-dojo-attach-point="grgPointByTimeCellWidth"
                value="1000" disabled='true' aria-label="${nls.cellWidth}"></input>
            </div>
            <!-- GRG Cell Height -->
            <div class="GRGDrafterHalfWidthRight GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.cellHeight}">${nls.cellHeight}</div>
              <input class="jimu-input dijitNumberTextBox" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:0,places:2},
                        invalidMessage:"${nls.invalidNumberMessage}",
                        required: true,
                        rangeMessage:"${nls.invalidRangeMessage}"' data-dojo-attach-point="grgPointByTimeCellHeight"
                value="1000" disabled='true' aria-label="${nls.cellHeight}"></input>
            </div>
          </div>
          <!-- Rotation -->
          <div class="GRGDrafterHalfWidthContainer">
            <div class="GRGDrafterHalfWidthLeft GRGDrafterSettingRow">
              <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.rotation}">${nls.rotation}</div>
              <input class="jimu-input textInput" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:-89.9,max:89.9,places:1},
                          invalidMessage:"${nls.invalidNumberMessage}",
                          required: true,
                          rangeMessage:"${nls.gridAngleInvalidRangeMessage}"'
                data-dojo-attach-point="grgPointByTimeRotation" value="0" disabled='false'
                aria-label="${nls.rotation}"></input>
            </div>
          </div>

          <!-- Create & Clear GRG Buttons -->
          <div class="GRGDrafterHalfWidthContainer">
            <div class="GRGDrafterBtnContainer GRGDrafterHalfWidthLeft">
              <div class='jimu-btn jimu-state-disabled' data-dojo-attach-point='grgPointByTimeCreateGRGButton'
                tabindex="-1" role="button" aria-label="${nls.createGRGBtn}">${nls.createGRGBtn}</div>
            </div>
            <div class="GRGDrafterBtnContainer GRGDrafterHalfWidthRight">
              <div class='jimu-btn' data-dojo-attach-point='grgPointByTimeClearGRGButton' tabindex="0" role="button"
                aria-label="${nls.clearGRGBtn}">${nls.clearGRGBtn}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---------
      Settings
    ----------->
    <div class="GRGDrafterHidden GRGDrafterFullHeight" data-dojo-attach-point="settingsPageNode">
      <div class="GRGDrafterFullWidth GRGDrafterSettingHeader">
        <div class="GRGDrafterBackButton GRGDrafterPointer" title="${nls.common.back}"
          data-dojo-attach-point="gridSettingsPanelBackButton" tabindex="0" role="button"
          aria-label="${nls.common.back}">
          <div class="GRGDrafterItemLeftArrow">
          </div>
        </div>
        <div class="GRGDrafterTitleDiv GRGDrafterEllipsis" title="${nls.settingsTitle}">
          ${nls.settingsTitle}
        </div>
      </div>
      <div class="GRGDrafterSettingsNode" data-dojo-attach-point="gridSettingsNode"></div>
    </div>
    <!--------
      Publish
    ---------->
    <div class="GRGDrafterHidden GRGDrafterFullHeight" data-dojo-attach-point="publishPageNode">
      <div class="GRGDrafterFullWidth GRGDrafterSettingHeader">
        <div class="GRGDrafterBackButton GRGDrafterPointer" title="${nls.common.back}"
          data-dojo-attach-point="publishPanelBackButton" tabindex="0" role="button" aria-label="${nls.common.back}">
          <div class="GRGDrafterItemLeftArrow">
          </div>
        </div>
        <div class="GRGDrafterTitleDiv GRGDrafterEllipsis" title="${nls.publishTitle}">
          ${nls.publishTitle}
        </div>
        <div class="GRGDrafterPanelRow">
          <!-- GRG Layer Name -->
          <div class="GRGDrafterFullWidth GRGDrafterSettingRow">
            <div class="GRGDrafterInputLabel GRGDrafterEllipsis" title="${nls.GRGLayerName}">${nls.GRGLayerName}</div>
            <input class="jimu-input textInput controlGroupHidden" style="width: 100%;"
              data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="addGRGNameArea"
              data-dojo-props="regExp:'[a-zA-Z0-9_ -]*', missingMessage:'${nls.missingLayerNameMessage}'" required="true"
              aria-label="${nls.GRGLayerName}" trim="true"></input>
            <select class="SelectStyle" aria-label="${nls.GRGLayerName}" data-dojo-type="jimu/dijit/formSelect"
              tabindex="0" data-dojo-attach-point="featureLayerList"></select>
          </div>
          <!-- Publish to new layer -->
          <div class="GRGDrafterFullWidth GRGDrafterSettingRow" data-dojo-attach-point="checkBoxParentContainer">
            <div class="GRGDrafterToggleLabel GRGDrafterEllipsis" title="${nls.publishToNewLayer}">
              ${nls.publishToNewLayer}</div>
            <input class="switch-toggle" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="publishNewLayer"
              aria-label="${nls.publishToNewLayer}" />
          </div>
          <!-- Show Labels Toggle -->
          <div class="GRGDrafterFullWidth GRGDrafterSettingRow">
            <div>
              <div class="GRGDrafterToggleLabel GRGDrafterEllipsis" title="${nls.gridSettings.showLabels}">
                ${nls.gridSettings.showLabels}</div>
              <input class="switch-toggle" data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="settingsShowLabelsToggle" checked="true"
                aria-label="${nls.gridSettings.showLabels}" />
            </div>
          </div>
          <!-- Publish GRG Button -->
          <div class="GRGDrafterBtnContainer">
            <div class='jimu-btn' data-dojo-attach-point='grgAreaBySizePublishGRGButton' tabindex="0" role="button"
              aria-label="${nls.publishGRGBtn}">${nls.publishGRGBtn}</div>
          </div>
          <!-- Publishing Message -->
          <div class="GRGDrafterPublishMessage" data-dojo-attach-point="publishMessage"></div>
        </div>
      </div>
    </div>
  </div>
</div>