<div style="width:100%; height:100%;">
    <div style="height:100%;" data-dojo-attach-point="tabDiv">

        <div data-dojo-attach-point="layerSettingTabNode" class="esriCTTabNode" style="height: 100%;">
            <div data-dojo-attach-point="layerSettingsContainer" class="" style="margin-bottom: 10px;">
                <div class="esriCTRadioBtn">
                    <input data-dojo-type="jimu/dijit/RadioBtn" id="webmapSettingsRadioBtn"
                        data-dojo-props="group: 'g2'" type="radio" name="jimusettingradiobtn"
                        data-dojo-attach-point="webmapSettingsRadioBtn">
                    <label class="esriCTRadioLabel" for="webmapSettingsRadioBtn">
                        ${nls.layersPage.webmapSettingsRadioBtnLabel}
                    </label>
                </div>
                <div class="esriCTRadioBtn">
                    <input data-dojo-type="jimu/dijit/RadioBtn" id="customSettingsRadioBtn"
                        data-dojo-props="group: 'g2'" type="radio" name="jimusettingradiobtn"
                        data-dojo-attach-point="customSettingsRadioBtn">
                    <label class="esriCTRadioLabel" for="customSettingsRadioBtn">
                        ${nls.layersPage.customSettingsRadioBtnLabel}
                    </label>
                </div>
            </div>
            <div data-dojo-attach-point="breadCrumbContainer" class="breadCrumbContainer">
            </div>
            <div class="layerTable" data-dojo-attach-point="tableLayerInfos" style="clear: both;height:100%;"></div>
            <div class="esriCTMainLayerCheckBox">
                <input data-dojo-attach-point="expandMainLayerNode" id="expandMainTable" data-dojo-type="dijit/form/CheckBox"
                    title="${nls.layersPage.expandMainTable}"/>
                <label class="checkLabel" for="expandMainTable"
                    title="${nls.layersPage.expandMainTable}">${nls.layersPage.expandMainTable}</label>
            </div>
            <div class="esriCTRelatedLayerCheckBox">
                <input  data-dojo-attach-point="expandRelatedTableNode" id="expandRelatedTable"
                    data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.expandRelatedTable}" />
                <label class="checkLabel" for="expandRelatedTable"
                    title="${nls.layersPage.expandRelatedTable}">${nls.layersPage.expandRelatedTable}</label>
            </div>
        </div>

        <div data-dojo-attach-point="smartActionsTabNode" class="esriCTTabNode esriCTSmartActionsTabNode">
            <div>
                <fieldset style="padding:10px;" class="esriCTFieldSet">
                    <legend class="esriCTLegendTitle">${nls.smartActionsPage.definedActions}</legend>
                    <div class="">
                        <div class="add-with-icon" data-dojo-attach-point="addNewSmartAction" title="${nls.smartActionsPage.addNewSmartActionLinkText}">
                            <span class="jimu-icon jimu-icon-add"></span>
                            <span class="add-label">
                                ${nls.smartActionsPage.addNewSmartActionLinkText}</span>
                        </div>
                    </div>
                    <div class="esriCTSmartActionsTableParent">
                        <div data-dojo-attach-point="smartActionsTableNode">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <!-- Attribute Actions Tab Settings Starts -->
        <div data-dojo-attach-point="attributeActionsTabNode" class="esriCTTabNode esriCTAttributeActionsTabNode">
            <!-- intersection actions Table starts -->
            <div class="esriCTAttributeActions">
                <fieldset style="padding:10px;" class="esriCTFieldSet">
                    <legend class="esriCTLegendTitle">${nls.actionPage.copyAction.intersection}</legend>
                    <div class="">
                        <div class="add-with-icon" data-dojo-attach-point="addIntersectionAction" title="${nls.smartActionsPage.addNewSmartActionLinkText}"
                            data-dojo-attach-event="onClick:_onIntersectionBtnClick">
                            <span class="jimu-icon jimu-icon-add"></span>
                            <span class="add-label">
                                ${nls.smartActionsPage.addNewSmartActionLinkText}</span>
                        </div>
                    </div>
                    <div class="esriCTAttributeActionsTableParent">
                        <div data-dojo-attach-point="intersectionActionsTableNode">
                        </div>
                    </div>
                </fieldset>
            </div>
            <!-- intersection actions Table ends -->
            <!-- Address actions Table starts -->
            <div class="esriCTAttributeActions">
                <fieldset style="padding:10px;" class="esriCTFieldSet">
                    <legend class="esriCTLegendTitle">${nls.actionPage.copyAction.address}</legend>
                    <div class="">
                        <div class="add-with-icon" data-dojo-attach-point="addAddressAction" title="${nls.smartActionsPage.addNewSmartActionLinkText}"
                        data-dojo-attach-event="onClick:_onAddressBtnClick">
                            <span class="jimu-icon jimu-icon-add"></span>
                            <span class="add-label">
                                ${nls.smartActionsPage.addNewSmartActionLinkText}</span>
                        </div>
                    </div>
                    <div class="esriCTAttributeActionsTableParent">
                        <div data-dojo-attach-point="addressActionsTableNode">
                        </div>
                    </div>
                </fieldset>
            </div>
            <!-- Address actions Table ends -->
            <!-- Coordinates actions Table starts -->
            <div class="esriCTAttributeActions">
                <fieldset style="padding:10px;" class="esriCTFieldSet">
                    <legend class="esriCTLegendTitle">${nls.actionPage.copyAction.coordinates}</legend>
                    <div class="">
                        <div class="add-with-icon" data-dojo-attach-point="addCoordinateAction" title="${nls.smartActionsPage.addNewSmartActionLinkText}"
                        data-dojo-attach-event="onClick:_onCoordinateBtnClick">
                            <span class="jimu-icon jimu-icon-add"></span>
                            <span class="add-label">
                                ${nls.smartActionsPage.addNewSmartActionLinkText}</span>
                        </div>
                    </div>
                    <div class="esriCTAttributeActionsTableParent">
                        <div data-dojo-attach-point="coordinatesActionsTableNode">
                        </div>
                    </div>
                </fieldset>
            </div>
            <!-- Coordinates actions Table ends -->
            <!-- Preset actions Table starts -->
            <div class="esriCTAttributeActions">
                <fieldset style="padding:10px;" class="esriCTFieldSet">
                    <legend class="esriCTLegendTitle">${nls.actionPage.copyAction.preset}</legend>
                    <div class="">
                        <div class="add-with-icon" data-dojo-attach-point="addPresetAction" title="${nls.smartActionsPage.addNewSmartActionLinkText}"
                            data-dojo-attach-event="onClick:_onPresetBtnClick">
                            <span class="jimu-icon jimu-icon-add"></span>
                            <span class="add-label">
                                ${nls.smartActionsPage.addNewSmartActionLinkText}</span>
                        </div>
                    </div>
                    <div class="esriCTAttributeActionsTableParent">
                        <div data-dojo-attach-point="presetActionsTableNode">
                        </div>
                    </div>
                </fieldset>
            </div>
            <!-- Preset actions Table starts -->
        </div>
            <!-- Attribute Actions Tab Settings Ends -->

				<div data-dojo-attach-point="generalSettingTabNode" class="esriCTTabNode esriCTGeneralSettingTabNode">
                <div class="buttonSection">
                    <div class="jimu-btn jimu-trailing-margin1" data-dojo-attach-point="geocoderSettings">${nls.layersPage.geocoderSettingsText}</div>
                </div>
                <div style="overflow: hidden">
                    <fieldset class="esriCTFieldSet">
                        <legend class="esriCTFieldSetLegend">${nls.layersPage.featureTemplateLegendLabel}</legend>
                        <div class="checkOption">

                            <input class="check" data-dojo-attach-point="displayShapeSelector" id="displayShapeSelector"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.displayShapeSelectorTip}" />
                            <label class="checkLabel" for="displayShapeSelector" title="${nls.layersPage.displayShapeSelectorTip}">${nls.layersPage.displayShapeSelector}</label>

                        </div>
                        <div class="checkOption">

                            <input class="check" data-dojo-attach-point="displayPresetTop" id="displayPresetTop"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.displayPresetTopTip}" />
                            <label class="checkLabel" for="displayPresetTop" title="${nls.layersPage.displayPresetTopTip}">${nls.layersPage.displayPresetTop}</label>

                        </div>
                        <div class="checkOption">

                            <input class="check" data-dojo-attach-point="useFilterEditor" id="useFilterEditor"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.useFilterEditorTip}" />
                            <label class="checkLabel" for="useFilterEditor" title="${nls.layersPage.useFilterEditorTip}">${nls.layersPage.useFilterEditor}</label>

                        </div>
                        <div class="checkOption" style="text-indent: 25px;">
                            <input class="check" data-dojo-attach-point="groupFilteredTemplates" id="groupFilteredTemplates"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.groupFilteredTemplatesTip}" />
                            <label class="checkLabel" for="groupFilteredTemplates" title="${nls.layersPage.groupFilteredTemplatesTip}">${nls.layersPage.groupFilteredTemplates}</label>
                        </div>
                        <div class="checkOption">

                            <input class="check" data-dojo-attach-point="keepTemplateSelected" id="keepTemplateSelected"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.keepTemplateActiveTip}" />
                            <label class="checkLabel" for="keepTemplateSelected" title="${nls.layersPage.keepTemplateActiveTip}">${nls.layersPage.keepTemplateActive}</label>

                        </div>
                        <div class="checkOption">

                            <input class="check" data-dojo-attach-point="listenToGF" id="listenToGF" data-dojo-type="dijit/form/CheckBox"
                                title="${nls.layersPage.listenToGroupFilterTip}" />
                            <label class="checkLabel" for="listenToGF" title="${nls.layersPage.listenToGroupFilterTip}">${nls.layersPage.listenToGroupFilter}</label>

                        </div>
                        <div class="checkOption">
                            <input class="check" data-dojo-attach-point="editAddDataLayers" id="editAddDataLayers" data-dojo-type="dijit/form/CheckBox"
                                title="${nls.layersPage.editLayerAddedFromAddDataTip}" />
                            <label class="checkLabel" for="editAddDataLayers" title="${nls.layersPage.editLayerAddedFromAddDataTip}">${nls.layersPage.editLayerAddedFromAddData}</label>
                        </div>


                    </fieldset>

                     <!--Copy and Append feature-->

                    <fieldset class="esriCTFieldSet">

                        <legend class="esriCTFieldSetLegend">${nls.layersPage.copyAndAppendFeatureLabel}</legend>

                        <!--Allow copy polygon to point-->

                        <div class="checkOption">
                            <input class="check" data-dojo-attach-point="createNewFeaturesFromExisting"
                                id="createNewFeaturesFromExisting" data-dojo-type="dijit/form/CheckBox"
                                title="${nls.layersPage.createNewFeaturesFromExistingTip}" />
                            <label class="checkLabel" for="createNewFeaturesFromExisting"
                                title="${nls.layersPage.createNewFeaturesFromExistingTip}">${nls.layersPage.createNewFeaturesFromExisting}</label>
                        </div>

                        <div class="checkOption" style="text-indent: 25px;">
                            <input class="check" data-dojo-attach-point="allowCopyPolygonNode" id="allowCopyPolygonToPoint"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.allowCopyPolygonTooltip}"/>
                            <label class="checkLabel" for="allowCopyPolygonToPoint"
                                title="${nls.layersPage.allowCopyPolygonTooltip}">${nls.layersPage.allowCopyPolygonLabel}</label>
                        </div>
                        <!--Allow copy line to point-->

                        <div class="checkOption" style="text-indent: 25px;">
                            <input class="check" data-dojo-attach-point="allowCopyLineNode" id="allowCopyLineToPoint"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.allowCopyLineLabel}" />
                            <label class="checkLabel" for="allowCopyLineToPoint"
                                title="${nls.layersPage.allowCopyLineTooltip}">${nls.layersPage.allowCopyLineLabel}</label>
                        </div>

                        <div class="esriCTRadioBtnContainer esriCTRadioButtonParentContainer">
                            <div class="esriCTRadioBtn">
                                <input data-dojo-type="jimu/dijit/RadioBtn" id="copyPointAtStart"
                                    data-dojo-props="group: 'allowCopyLine'" type="radio" name="allowCopyLine"
                                    checked="true" data-dojo-attach-point="copyPointAtStart" title="${nls.layersPage.pointAtStartTooltip}">
                                <label class="esriCTRadioLabel" for="copyPointAtStart" title="${nls.layersPage.pointAtStartTooltip}">
                                    ${nls.layersPage.pointAtStartLabel}
                                </label>
                            </div>
                            <div class="esriCTRadioBtn">
                                <input data-dojo-type="jimu/dijit/RadioBtn" id="copyPointAtEnd"
                                    data-dojo-props="group: 'allowCopyLine'" type="radio" name="allowCopyLine"
                                    data-dojo-attach-point="copyPointAtEnd" title="${nls.layersPage.pointAtEndTooltip}">
                                <label class="esriCTRadioLabel" for="copyPointAtEnd" title="${nls.layersPage.pointAtEndTooltip}">
                                    ${nls.layersPage.pointAtEndLabel}
                                </label>
                            </div>
                        </div>

                        <div class="checkOption" style="text-indent: 25px;">
                            <input class="check" data-dojo-attach-point="overrideDefaultsByCopiedFeature"
                                id="overrideDefaultsByCopiedFeature" data-dojo-type="dijit/form/CheckBox"
                                title="${nls.layersPage.copiedFeaturesOverrideDefaultsTip}" />
                            <label class="checkLabel" for="overrideDefaultsByCopiedFeature"
                                title="${nls.layersPage.copiedFeaturesOverrideDefaultsTip}">${nls.layersPage.copiedFeaturesOverrideDefaults}</label>
                        </div>

                    </fieldset>


                    <fieldset class="esriCTFieldSet">
                        <legend class="esriCTFieldSetLegend">${nls.layersPage.saveSettingsLegendLabel}</legend>

                        <div class="esriCTButtonPositionsLabel">${nls.layersPage.buttonPositionsLabel}</div>
                        <div class="esriCTRadioBtnContainer">
                            <div class="esriCTRadioBtn">
                                <input data-dojo-type="jimu/dijit/RadioBtn" id="positionOfSaveButtonBelow"
                                    data-dojo-props="group: 'g1'" type="radio" name="jimuradiobtn" checked="true"
                                    data-dojo-attach-point="positionOfSaveButtonBelow">
                                <label class="esriCTRadioLabel" for="positionOfSaveButtonBelow">
                                    ${nls.layersPage.belowEditLabel}
                                </label>
                            </div>
                            <div class="esriCTRadioBtn">
                                <input data-dojo-type="jimu/dijit/RadioBtn" id="positionOfSaveButtonAbove"
                                    data-dojo-props="group: 'g1'" type="radio" name="jimuradiobtn"
                                    data-dojo-attach-point="positionOfSaveButtonAbove">
                                <label class="esriCTRadioLabel" for="positionOfSaveButtonAbove">
                                    ${nls.layersPage.aboveEditLabel}
                                </label>
                            </div>


                        </div>

                        <div class="checkOption">

                            <input class="check" data-dojo-attach-point="displayPromptOnSave" id="displayPromptOnSave"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.promptOnSaveTip}" />
                            <label class="checkLabel" for="displayPromptOnSave" title="${nls.layersPage.promptOnSaveTip}">${nls.layersPage.promptOnSave}</label>

                        </div>
                        <div class="checkOption">

                            <input class="check" data-dojo-attach-point="displayPromptOnDelete" id="displayPromptOnDelete"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.promptOnDeleteTip}" />
                            <label class="checkLabel" for="displayPromptOnDelete" title="${nls.layersPage.promptOnDeleteTip}">${nls.layersPage.promptOnDelete}</label>

                        </div>
                        <div class="checkOption">

                            <input class="check" data-dojo-attach-point="autoSaveEdits" id="autoSaveEdits"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.autoSaveEdits}" />
                            <label class="checkLabel" for="autoSaveEdits" title="${nls.layersPage.autoSaveEdits}">${nls.layersPage.autoSaveEdits}</label>

                        </div>
                        <div class="checkOption">

                            <input class="check" data-dojo-attach-point="autoSaveAttrUpdates" id="autoSaveAttrUpdates"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.autoSaveAttrUpdates}" />
                            <label class="checkLabel" for="autoSaveAttrUpdates" title="${nls.layersPage.autoSaveAttrUpdates}">${nls.layersPage.autoSaveAttrUpdates}</label>

                        </div>

                        <div class="checkOption">

                            <input class="check" data-dojo-attach-point="removeOnSave" id="removeOnSave" data-dojo-type="dijit/form/CheckBox"
                                title="${nls.layersPage.removeOnSaveTip}" />
                            <label class="checkLabel" for="removeOnSave" title="${nls.layersPage.removeOnSaveTip}">${nls.layersPage.removeOnSave}</label>

                        </div>
                        <div class="checkOption" style="display: inline-block;">

                            <input class="check" data-dojo-attach-point="switchToMultilineInput" id="multilineCheckBox" data-dojo-type="dijit/form/CheckBox"
                                title="${nls.layersPage.switchToMultilineInput}" />
                            <label class="checkLabel" for="multilineCheckBox" title="${nls.layersPage.switchToMultilineInput}">${nls.layersPage.switchToMultilineInput}</label>
                            <div class="esriCTMaxCharacterLimitTextBox">
                                <div data-dojo-attach-point="maxCharacter" data-dojo-type="dijit/form/NumberTextBox" trim="true"
                                    value="35" data-dojo-props="constraints: {min:0}" required="true" style="width:100%"></div>
                            </div>
                        </div>

                    </fieldset>
                    <fieldset class="esriCTFieldSet">
                        <legend class="esriCTFieldSetLegend">${nls.layersPage.geometrySettingsLegendLabel}</legend>
                        <div class="checkOption">

                            <input class="check" data-dojo-attach-point="editGeometryDefault" id="editGeometryDefault"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.geometryEditDefault}" />
                            <label class="checkLabel" for="editGeometryDefault" title="${nls.layersPage.geometryEditDefault}">${nls.layersPage.geometryEditDefault}</label>

                        </div>

                        <div class="checkOption">

                            <input class="check" data-dojo-attach-point="enableLockingMapNavigation" id="enableLockingMapNavigation"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.enableLockingMapNavigation}" />
                            <label class="checkLabel" for="enableLockingMapNavigation" title="${nls.layersPage.enableLockingMapNavigation}">${nls.layersPage.enableLockingMapNavigation}</label>

                        </div>

                        <div class="checkOption">

                            <input class="check" data-dojo-attach-point="enableMovingSelectedFeatureToGPS" id="enableMovingSelectedFeatureToGPS"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.enableMovingSelectedFeatureToGPS}" />
                            <label class="checkLabel" for="enableMovingSelectedFeatureToGPS" title="${nls.layersPage.enableMovingSelectedFeatureToGPS}">${nls.layersPage.enableMovingSelectedFeatureToGPS}</label>

                        </div>


                        <div class="checkOption">

                            <input class="check" data-dojo-attach-point="enableMovingSelectedFeatureToXY" id="enableMovingSelectedFeatureToXY"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.enableMovingSelectedFeatureToXY}" />
                            <label class="checkLabel" for="enableMovingSelectedFeatureToXY" title="${nls.layersPage.enableMovingSelectedFeatureToXY}">${nls.layersPage.enableMovingSelectedFeatureToXY}</label>

                        </div>
                        <div class="checkOption" title="${nls.layersPage.featuresSelectionToleranceTooltip}">
                            <div class="esriCTGlobalTleranceParentDiv">
                                <div class="esriCTGlobalToleranceTextbox">
                                    <div data-dojo-attach-point="featuresSelectionTolerance" value="5"
                                    data-dojo-type="dijit/form/NumberSpinner"
                                    data-dojo-props="smallDelta:5, constraints:{min:0,max:1000,places:0}" style="width:100%"></div>
                                </div>
                                <div style="width: 75%; margin-left: 10px; margin-right: 10px;" class="esriCTLabel">
                                    ${nls.layersPage.featuresSelectionTolerance}</div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="esriCTFieldSet">
                        <legend class="esriCTFieldSetLegend">${nls.layersPage.actionsSettingsLegendLabel}</legend>
                        <div class="checkOption">
                            <input class="check" data-dojo-attach-point="valuePicker" id="valuePickerEnable" data-dojo-type="dijit/form/CheckBox"
                                title="${nls.layersPage.enableValuePickerHint}" />
                            <label class="checkLabel" for="valuePickerEnable" title="${nls.layersPage.enableValuePickerHint}">${nls.layersPage.enableValuePicker}</label>

                        </div>
                        <div class="checkOption">

                            <input class="check" data-dojo-attach-point="enableAttributeUpdates" id="enableAttributeUpdates"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.enableAttributeUpdates}" />
                            <label class="checkLabel" for="enableAttributeUpdates" title="${nls.layersPage.enableAttributeUpdates}">${nls.layersPage.enableAttributeUpdates}</label>

                        </div>
                        <div class="checkOption" style="text-indent: 25px;">

                            <input class="check" data-dojo-attach-point="enableAutomaticAttributeUpdates" id="enableAutomaticAttributeUpdates"
                                data-dojo-type="dijit/form/CheckBox" title="${nls.layersPage.enableAutomaticAttributeUpdates}" />
                            <label class="checkLabel" for="enableAutomaticAttributeUpdates" title="${nls.layersPage.enableAutomaticAttributeUpdates}">${nls.layersPage.enableAutomaticAttributeUpdates}</label>
                        </div>
                        <div class="checkOption">
                            <div class="esriCTGlobalTleranceParentDiv">
                              <div class="esriCTGlobalToleranceTextbox">
                                  <div data-dojo-attach-point="globalTolerance" data-dojo-type="dijit/form/NumberTextBox" trim="true"
                                      value="0" data-dojo-props="constraints: {min:0}" required="true" style="width:100%"></div>
                              </div>
  
                              <div class="esriCTGlobalToleranceDropbox">
                                  <select style="width: 100%;" data-dojo-attach-point="globalToleranceUnit" data-dojo-type="dijit/form/Select">
                                      <option value="miles">${nls.units.miles}</option>
                                      <option value="kilometers">${nls.units.kilometers}</option>
                                      <option value="meters">${nls.units.meters}</option>
                                      <option value="feet">${nls.units.feet}</option>
                                  </select>
                              </div>
  
                              <div class="esriCTLabel esriCTIntersectionToleranceLabel">${nls.intersectionTolerance.intersectionTitle}</div>
                            </div>
                          </div>
                          <div class="checkOption">
                            <div class="esriCTGlobalTleranceParentDiv">
                                <div class="esriCTGlobalToleranceTextbox">
                                    <div data-dojo-attach-point="globalPixelsTolerance" data-dojo-type="dijit/form/NumberTextBox" trim="true"
                                        value="20" data-dojo-props="constraints: {min:0}" required="true" style="width:100%"></div>
                                </div>
                                <div style="width: 75%; margin-left: 10px; margin-right: 10px;" class="esriCTLabel">
                                    ${nls.intersectionTolerance.pixelsToleranceTitle}</div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="edit-description-title" title="${nls.layersPage.editDescriptionTip}">${nls.layersPage.editDescription}</div>

                <div class="edit-description-box">
                    <div data-dojo-attach-point="editorDescription"></div>
                </div>

            </div>

        </div>
    <div class="tableInfos-loading" data-dojo-attach-point="tableInfosLoading"></div>
</div>