<div>
  <div>Select route name: </div>
  <div type="select" data-dojo-type="dijit/form/Select" data-dojo-props="name:'route'"
  data-dojo-attach-point="routeSelect">
    <option value="Route 1" selected="selected">Route 1</option>
    <option value="Route 2">Route 2</option>
    <option value="Route 3">Route 3</option>
  </div>
  <div>to:</div>

  <div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'clearIcon'"
    data-dojo-attach-point="addStopsBtn">Add Stops</div>

  <div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'clearIcon'"
    data-dojo-attach-point="clearStopsBtn">Clear Stops</div>

  <div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'clearIcon'"
    data-dojo-attach-point="addBarriersBtn">Add Barriers</div>

  <div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'clearIcon'"
    data-dojo-attach-point="clearBarriersBtn">Clear Barriers</div>

  <div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'clearIcon'"
    data-dojo-attach-point="addpolygonBarriersBtn">Add Polygon Barriers</div>

  <div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'clearIcon'"
    data-dojo-attach-point="clearpolygonBarriersBtn">Clear Polygon Barriers</div>


  <div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'clearIcon'"
    data-dojo-attach-point="solveRoutesBtn">Solve Routes</div>

  <div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'clearIcon'"
    data-dojo-attach-point="clearRoutesBtn">Clear Routes</div>
    <br /><br />
     <ul>
      <li>Select a route name from the drop down.</li>
      <li>Click 'Add stops', then click on map to add stops to route.</li>
      <li>Click the 'Add Barriers', then click on map to add barriers.</li>
      <li>Optionally, repeat the above steps to add more routes.</li>
      <li>Click the 'Solve Routes' to solve.</li>
    </ul>
    <p>Any server error messages will be displayed in an alert box.</p>
</div>
