*{
    font-family: 'Carrois Gothic', sans-serif;
}
html,body{
    overflow-x: hidden;
}
.logo{
    width: 100px;
}
h1.font-weight-bold {
	font-size: 30px;
	margin: 0;
}
.input-group button {
	background-color: #0C385A;
	color: white;
	border: unset;
	padding: 5px 15px !important;
	border-radius: 0 5px 5px 0;
	font-size: 20px;
}
.btn.btn-outline-dark {
	padding: 5px 15px !important;
	background-color: transparent !important;
	color: #0C385A !important;
}
.btn.btn-outline-dark .w-25.ml-5 {
	width: 28px !important;
}

.header {
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1) !important;
	position: fixed;
	top: 0;
	width: 100%;
}
.card h6{
    font-weight: 900;
    margin: 0;
}
.fs-14{
    font-size: 14px;
}
.img img {
	width: 30px;
}
.card-body{
    position: relative;
}
.img {
	position: absolute;
	right: 15px;
	bottom: 15px;
}
.card {
	box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
}
.main {
	padding-top: 95px;
	height: 99.8vh;
	/* overflow: hidden; */
}
.main .col-xl-3{
    height: 99.8vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.img-fluid.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.image-buttons button {
	border: 0;
	background-color: #0C385A;
	color: white;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}
/* .image-buttons {
	position: absolute;
	z-index: 2;
} */
.one {
	position: absolute;
	left: 44%;
	top: 24%;
	transform: translate(-50%,-22%);
}
.two {
	position: absolute;
	top: 47%;
	left: 52%;
	transform: translate(-50%,-50%);
}

.four {
	position: absolute;
	top: 52%;
	left: 40%;
	transform: translate(-50%,-40%);
}
.five {
	position: absolute;
	left: 56%;
	top: 62%;
	transform: translate(-56%,-60%);
}
.six {
	position: absolute;
	left: 67%;
	top: 59%;
	transform: translate(-67%,-57%);
}
.three {
	position: absolute;
	left: 61%;
	top: 43%;
	transform: translate(-61%,-41%);
}

a:hover{
    text-decoration: none !important;
}
.modal-body {
	padding: 10px;
}
.modal-body .text-white.bg-secondary {
	background-color: #0C385A !important;
	padding: 5px 10px;
}

.modal-dialog {
	max-width: 750px;
	margin: 1.75rem auto;
}
.modal p.text-white.bg-secondary span {
	margin: 0 20px;
}
.modal p.text-white.bg-secondary span:nth-child(1) {
	margin-left: 0;
}
.text-warning{
    color: #cc7b29 !important;
}
.filter {
	position: absolute;
	background: white;
	z-index: 2000;
	width: 500px;
	padding: 20px;
	left: 60%;
	top: 3.5%;
	transform: translate(-60%,20%);
	border: 1px solid #0F3B5C;
    display: none;
}
.triangle {
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	height: 20px;
	width: 50px;
	background-color: #5D7B91;
	position: absolute;
	z-index: 1900;
	left: 65%;
	top: 9%;
	transform: translate(-65%,-17%);
	box-shadow: 0 0 5px 10px gray;

    display: none;
}
.header {
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1) !important;
	position: fixed;
	top: 0;
	width: 100%;
	padding-bottom: 30px;
}
.btn.btn-primary {
	background-color: #0C385A !important;
	border: unset;
}
.modal-header.bg-primary.text-center {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.modal-header .close {
	position: absolute;
	right: 16px;
	top: 10px;
}
.modal{
	display:block!important;
	z-index:-1;
  }
  .modal-open .modal{
	z-index:1080;
  }
  .modal-header.bg-primary{
	  background-color: #0C385A !important;
  }
  .btn.btn-prev.slick-arrow {
	background: transparent;
	left: -100px;
	top: 40%;
	z-index: 1;
	position: absolute;
	transform: translate(-50%,-50%);
}
.btn.btn-next.slick-arrow {
	background: transparent;
	right: -175px;
	top: 40%;
	z-index: 1;
	position: absolute;
	transform: translate(-50%,-50%);
}
.btn:focus{
	outline: unset !important;
	box-shadow: unset !important;
}
@media screen and (max-width:1300px){
	h1.font-weight-bold {
		font-size: 25px;
		margin: 0;
	}
}

@media screen and (max-width:1100px){
	h1.font-weight-bold {
		font-size: 20px;
		margin: 0;
	}
	.header {
		padding: 10px 20px;
	}
	.main {
		padding-top: 60px;
		height: 99.8vh;
		/* overflow: hidden; */
	}
}
@media screen and (max-width:992px){
.header.col-md-3 {
	display: none;
}
.header .col-md-5 {
	width: 50% !important;
	flex: 0 0 50% !important;
	max-width: 50%;
}
.header .col-md-2.m-auto {
	max-width: 25%;
	flex: 0 0 25%;
}
.main .container.m-4 {
	max-width: 99%;
	margin: 20px 0 !important;
}
.map{
	margin-bottom: 20px;
}
}

@media screen and (max-width:768px){
	.header .col-md-5 {
		width: 100% !important;
		flex: 0 0 100% !important;
		max-width: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin-bottom: 20px;
	}
	.header .col-md-2.m-auto {
		max-width: 50%;
		flex: 0 0 50%;
	}
	.col-md-2 .btn.btn-outline-dark.filtrbtn {
		width: 100%;
	}
	.main {
		padding-top: 110px;
		height: 99.8vh;
		/* overflow: hidden; */
	}
	.modal-dialog.modal-dialog-centered {
		margin: 0 20px;
	}
}

@media screen and (max-width:576px){
	h1.font-weight-bold {
		font-size: 15px;
		margin: 0;
	}
	.image-buttons button {
		width: 25px;
		height: 26px;
		font-size: 10px;
	}
	.main {
		padding-top: 95px;
		height: 99.8vh;
		/* overflow: hidden; */
	}
}
