.jimu-widget-SAT {
  color: #ffffff !important;
  background-color: #4c4c4c;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 155px !important;
  display: block;
  z-index: 100 !important;
}

/* Classes */

.action2 {
  padding-left: 10px;
}

.jimu-widget-SAT .innerBL {
  display: none;
  width: 10px; 
  height: 20px; 
  background-image: url('images/nav_left.png');
  background-repeat: no-repeat;
  background-size:cover;
  position: fixed;           
  bottom: 45px;
  left: 0px;
  z-index: 2;
  background-size:cover;
  opacity: .6;
}

.jimu-rtl .jimu-widget-SAT .innerBL {
  right: 0px;
}

.jimu-widget-SAT .innerBL:hover {
  width: 20px; 
  height: 35px; 
  opacity: 1;
  cursor: pointer;
  bottom: 30px;
}

.jimu-widget-SAT .innerBR {
  display: none;
  width: 10px; 
  height: 20px; 
  background-image: url('images/nav_right.png');
  background-repeat: no-repeat;
  background-size:cover;
  position: fixed;
  bottom: 45px;
  right: 0px;
  z-index: 2;
  opacity: .6;
}

.jimu-rtl .jimu-widget-SAT .innerBR {
  left: 0px;
}

.jimu-widget-SAT .innerBR:hover { 
  width: 20px; 
  height: 35px; 
  opacity: 1;
  cursor: pointer;
  bottom: 30px;
}

.jimu-widget-SAT .rounded {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.jimu-widget-SAT .roundedL {
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}

.jimu-widget-SAT .roundedR {
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}
/* Start ST */

.jimu-widget-SAT .reversedAddressDIV {
  width:100%;
}

.jimu-widget-SAT .spinnerValue {
  width: 80px;
  align: left;
}

.jimu-widget-SAT .panelBottom {
  position: absolute;
  width: 100%;
  height: 155px;
  left: 0px;
  top: 0px;
  text-align: center;
  color: #ffffff;
  padding: 0px;
}

.jimu-widget-SAT .SA_panelMessage {
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: none;
}

.jimu-widget-SAT .SA_panelFooter {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  /*for the darker color*/
  border-bottom: 1px solid #353535;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  /*for the lighter color*/
  /*border-bottom: 1px solid #d2dae2;*/
}

.jimu-widget-SAT .SA_panelFooterContent {
  position: absolute;
  left: 0px;
  right: 24px;
  height: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
}

.jimu-rtl .jimu-widget-SAT .SA_panelFooterContent {
  position: absolute;
  left: 24px;
  right: 0px;
}

.jimu-widget-SAT .SA_panelClose {
  position: absolute;
  left: auto;
  right: 0px;
  width: 24px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  cursor: pointer;
  background-image: url('images/x.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px;
}

.jimu-widget-SAT .SA_panelRight {
  display: none;
  position: absolute;
  left: auto;
  right: 24px;
  width: 34px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  background-image: url('images/nav_right.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px;
  opacity: .4;
}

.jimu-widget-SAT .SA_panelRight:hover {
  opacity: 1;
  background-size: 16px;
}

.jimu-rtl .jimu-widget-SAT .SA_panelRight {
 right: 0px;
 left: auto;
 width: 0px;
}
.jimu-widget-SAT .SA_panelLeft {
  display: none;
  position: absolute;
  left: 0px;
  right: auto;
  /*width: 18px;*/
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  background-image: url('images/nav_left.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px;
  opacity: .4;
}
.jimu-rtl .jimu-widget-SAT .SA_panelLeft {
  left: 24px;
  width: 34px;
  right: auto;
}

.jimu-widget-SAT .SA_panelLeft:hover {
  opacity: 1;
  background-size: 16px;
}

.jimu-rtl .jimu-widget-SAT .SA_panelClose {
  position: absolute;
  left: 0px;
  right: auto;
}

.jimu-widget-SAT .panelContainer {
  position: absolute;
  top: 30px;
  width: 100%;
  /*height: 110px;*/
  height: 125px;
  overflow: hidden;
  display: block;
}

.jimu-widget-SAT .SAT_tabPanel {
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;
  /*height: 100px;*/
  height: 115px;
  display: none;
  overflow: auto;
}

.jimu-widget-SAT .SAT_tabPanelContent {
  position: absolute;
  top: 0px;
  /*height: 80px;*/
  height: 100px;
  white-space: nowrap;
  display: block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/*table will allign to the bottom rather than the top*/
.jimu-widget-SAT .locateIncidentContainer {
  display: flex;
  float: left;
  margin-top: 20px;
}

.jimu-rtl .jimu-widget-SAT .locateIncidentContainer {
  display: flex;
  float: right;
  margin-top: 20px;
}

.jimu-widget-SAT .bufferIncidentContainer {
  display: table-cell;
}

.jimu-widget-SAT .bufferControlsContainer {
  float: left; 
  padding-left: 20px;
}

/* TABS */

.jimu-widget-SAT .SA_SAT_tabs {
  white-space: nowrap;
  height: 30px;
  padding: 0px;
  overflow-x: visible;
  overflow-y: hidden;
}
/* FOR EDGE */
@supports (-ms-ime-align:auto) {
  .SA_SAT_tabs {
  position: absolute;
  white-space: nowrap;
  height: 30px;
  padding: 0px;
  overflow-x: visible;
  overflow-y: hidden;
  }
  }
  /* FOR IE11 */
  _:-ms-fullscreen, :root .SA_SAT_tabs {
  position: absolute;
  white-space: nowrap;
  height: 30px;
  padding: 0px;
  overflow-x: visible;
  overflow-y: hidden;
}

.jimu-widget-SAT .SATTab {
  width: auto;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  float: left;
  line-height: 30px;
  font-size: 13px;
  padding: 0 30px 0 30px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  opacity: .85;
  /*border-right: 1px solid rgba(255, 255, 255, 0.5);*/
  /*border-right: 1px solid rgba(0, 0, 0, 0.3)*/
  /*according to the attached spec sheet*/
  border-right: 1px solid #d2dae2;
  border-top: 2px solid transparent;
}

.jimu-widget-SAT .active .SATTab:focus {
  border-top: 2px solid #15a4fa;
  opacity: 1;
}

.jimu-rtl .jimu-widget-SAT .SATTab {
  float: right;
}

.jimu-widget-SAT .active {
  /*color: #ffffff;*/
  background-color: #353535;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  border-top: 2px solid #15a4fa;
}

.jimu-widget-SAT .activeBlack {
  /*color: #ffffff;*/
  background-color: #353535;
  opacity: 1;
  border-top: 2px solid #15a4fa;
}
/* INCIDENTS */

.jimu-widget-SAT .SATcol {
  float: left;
  height: 100px;
  width: 220px;
  border-left: none;
  margin-left: 0;
  padding: 0 10px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  overflow: hidden;
}

.jimu-rtl .jimu-widget-SAT .SATcol {
  float: right;
  border-right: none;
  overflow: hidden;
}

.jimu-widget-SAT .SATcolExport {
  float: left;
  height: 100px;
  width: 65px;
  border-left: none;
  margin-left: 0;
  padding: 0 10px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  overflow: hidden;
}

.jimu-rtl .jimu-widget-SAT .SATcolExport {
  float: right;
  border-right: none;
  overflow: hidden;
}

.jimu-widget-SAT .lightThemeBorder{
  border-right: 1px solid #353535;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.jimu-widget-SAT .darkThemeBorder{
  border-right: 1px solid #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.jimu-rtl .jimu-widget-SAT .lightThemeBorder{
  border-left: 1px solid #353535;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.jimu-rtl .jimu-widget-SAT .darkThemeBorder{
  border-left: 1px solid #ffffff;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.jimu-widget-SAT .SATcolLocate {
  float: left;
  height: 100px;
  width: 220px;
  border-left: none;
  margin-left: 0;
  padding: 0 30px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  overflow: hidden;
}

.jimu-rtl .jimu-widget-SAT .SATcolLocate {
  float: right;
  border-right: none;
  overflow: hidden;
}

.jimu-widget-SAT .SATcolWrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}

.jimu-widget-SAT .SATcol2 {
  float: left;
  height: 100px;
  border-left: none;
  margin-left: 5px;
  padding: 0 10px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  overflow: hidden;
  display: table;
}

.jimu-rtl .jimu-widget-SAT .SATcol2 {
  float: right;
  border-right: none;
  overflow: hidden;
  margin-right: 5px;
}

.jimu-widget-SAT .borderCol {
  height: 100px;
  float: left;
}

.jimu-rtl .jimu-widget-SAT .borderCol {
  float: right;
  border-right: none;
}
/*TODO see what this is form not sure iframe it's height needs to change*/
.jimu-widget-SAT .SATcolSmall {
  float: left;
  height: 90px;
  width: 165px;
  border-left: none;
  margin-left: 0;
  padding: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jimu-rtl .jimu-widget-SAT .SATcolSmall {
  float: right;
  border-right: none;
}

.jimu-widget-SAT .SATcolLast {
  border-left: none;
  border-right: none;
}

.jimu-widget-SAT .SATcol .label,
.jimu-widget-SAT .SATcolSmall .label {
  font-size: 13px;
  padding: 2px 0;
}

.jimu-widget-SAT .SATcol .colBar {
  height: 32px;
  display: table-cell;
  width: 130px;
}

.jimu-widget-SAT .SATdrawCol {
  display: block;
  float: left;
}

.jimu-rtl .jimu-widget-SAT .SATdrawCol {
  display: block;
  float: right;
}

.jimu-widget-SAT .displayTC{
  display: table-cell;
}

.jimu-widget-SAT .displayTR{
  display: table-row;
}

.jimu-widget-SAT .displayT{
  display: table;
}

.jimu-widget-SAT .display-on{
  display: block;
}

.jimu-widget-SAT .display-off{
  display: none;
}

.jimu-widget-SAT .btnOn {
  border: 1px solid #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.75);
  background-color: #262626;
  background-color: rgba(0, 0, 0, 0.5);
}

.jimu-widget-SAT .btn32 {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  margin-right: 5px;
  cursor: pointer;
}

.jimu-widget-SAT .btn32img {
  padding: 8px;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.jimu-widget-SAT .lightThemeBackground{
  background-color: #353535;
  background-color: rgba(0, 0, 0, 0.3);
}

.jimu-widget-SAT .darkThemeBackground{

}

.jimu-widget-SAT .btn32img:hover {
  background-color: #262626;
  background-color: rgba(0, 0, 0, 0.5);
}

.jimu-widget-SAT .btn32imgBlack {
  padding: 8px;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.jimu-widget-SAT .btn32imgBlack:hover {
  background-color: #262626;
  /*background-color: rgba(0, 0, 0, 0.7);*/
}

.jimu-widget-SAT .dijitTextBox,
.jimu-widget-SAT .dijitTextBoxHover,
.jimu-widget-SAT .dijitTextBoxFocused,
.jimu-widget-SAT .dijitTextBoxHoverFocused {
  background-color: #393939;
  background-color: rgba(0, 0, 0, 0.25) !important;
  color: #ffffff !important;
  border: 1px solid #a6a6a6;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  height: 26px !important;
  line-height: 26px !important;
}

.jimu-widget-SAT .dijitInputInner,
.jimu-widget-SAT .dijitInputContainer {
  background: transparent !important;
  color: #ffffff !important;
  height: 26px !important;
  line-height: 26px !important;
}

.jimu-widget-SAT .dijitInputField {
  padding: 0px 10px !important;
}

.jimu-widget-SAT .btnExport {
  /*background-color: #393939;
  background-color: rgba(0, 0, 0, 0.25);*/
  border-radius: 2px;
  padding: 10px 10px 10px 10px;
  background-image: url('images/download.png');
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
  height: 40px;
}

.jimu-widget-SAT .btnExport:hover {
  background-color: #262626;
  background-color: rgba(0, 0, 0, 0.5);
}

.jimu-widget-SAT .btnExport:focus, .jimu-widget-SAT .directionsButton:focus {
  outline: #15a4fa solid 2px !important;
  outline-offset: -2px;
}

.jimu-widget-SAT .btnExportBlack {
  /*background-color: #353535;*/
  /*background-color: rgba(0, 0, 0, 1);*/
  border-radius: 2px;
  padding: 10px 10px 10px 10px;
  background-image: url('images/download.png');
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
  height: 40px;
}

.jimu-widget-SAT .btnExportBlack:hover {
  background-color: #262626;
  /*background-color: rgba(0, 0, 0, 0.7);*/
}

.jimu-widget-SAT .download {
  background-image: url('images/download.png');
  background-repeat: no-repeat;
  background-position: right 0px center;
}

.jimu-widget-SAT .processing {
  background-image: url('images/processing.gif');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.jimu-widget-SAT .loading {
  background-image: url('images/loading.gif');
  background-repeat: no-repeat;
  background-position: center 10px;
}

.jimu-widget-SAT .btnDisabled {
  opacity: .5;
  cursor: default;
}

/* SUMMARY */

.jimu-widget-SAT .colSummary {
  font-size: 28px;
  padding-top: 10px;
}

.jimu-widget-SAT .colGroupedSummary {
  font-size: 28px;
  padding-top: 3px;
}
/* REC */

.jimu-widget-SAT .SATcolRec {
  float: left;
  height: 100%;
  border-left: none;
  margin-left: 0;
  padding: 0 10px;
  text-align: left;
  text-overflow: ellipsis;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  min-width: 220px;
  max-width: 300px;
}

.jimu-rtl .jimu-widget-SAT .SATcolRec {
  float: right;
  border-right: none;
  text-align: right;
}

.jimu-widget-SAT .SATcolRecBar {
  position: relative;
  height: 26px;
  width: 100%;
  display: block;
}

.jimu-widget-SAT .SATcolRecNum {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #393939;
  background-color: rgba(0, 0, 0, 0.25);
  line-height: 26px;
  text-align: center;
  border-radius: 13px;
  font-size: 11px;
  cursor: pointer;
}

.jimu-widget-SAT .SATcolRecNum:focus{
  outline: #15a4fa solid 2px !important;
  outline-offset: -2px;
}

.jimu-widget-SAT .SATcolDir {
  position: absolute;
  right: 0px;
  width: 26px;
  height: 26px;
  background-image: url('images/car.png');
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.jimu-rtl .jimu-widget-SAT .SATcolDir {
  position: absolute;
  left: 0px;
  right: auto;
}

.jimu-widget-SAT .SATcolDistance {
  position: absolute;
  left: 30px;
  right: 30px;
  height: 26px;
  font-size: 11px;
  line-height: 26px;
}

.jimu-widget-SAT .SATcolInfo {
  position: relative;
  margin-top: 5px;
  width: 100%;
  display: block;
  overflow: hidden;
}

.jimu-widget-SAT .noFeaturesActive {
  opacity: .5;
  cursor: default;
}

.jimu-widget-SAT .noFeatures {
  display: none;
}

.jimu-widget-SAT .locateIncident{
  float: left;
}

.jimu-rtl .jimu-widget-SAT .locateIncident{
  float: right;
}

.jimu-widget-SAT .clearIncident{
  float: right; 
  text-decoration: underline; 
  cursor: pointer;
}

.jimu-rtl .jimu-widget-SAT .clearIncident{
  float: left; 
  text-decoration: underline; 
  cursor: pointer;
}

.jimu-widget-SAT .imgContainer{
  display: table;
  width: 130px;
  padding-top: 10px;
}

.jimu-widget-SAT .bufferLabel{
  /*display: table-row;
  margin-top: 10px;*/
}

.jimu-widget-SAT .spinnerValueDIV{
  float: right;
  margin-top: 8px;
  margin-left: 4px; 
  display: table-row;
}

.jimu-rtl .jimu-widget-SAT .spinnerValueDIV{
  float: left;
  margin-top: 8px;
  margin-right: 4px; 
  display: table-row;
}

.jimu-widget-SAT .bufferUnit{
  display: inline;
  margin-left: 4px; 
  margin-top: 7px;
}

.jimu-widget-SAT .saveIncidentDiv{
  position: absolute;
  top: 0px;
  left: 270px;
  line-height: 26px;
  font-size: 13px;
}

.jimu-rtl .jimu-widget-SAT .saveIncidentDiv{
  position: absolute;
  top: 0px;
  right: 270px;
  line-height: 26px;
  font-size: 13px;
}

.jimu-widget-SAT .downlaodAllDiv{
  position: absolute;
  top: 35px;
  left: 270px;
  line-height: 26px;
  font-size: 13px;
}

.jimu-rtl .jimu-widget-SAT .downlaodAllDiv{
  position: absolute;
  top: 35px;
  right: 270px;
  line-height: 26px;
  font-size: 13px;
}

.jimu-widget-SAT .createSnapshotDiv{
  position: absolute;
  top: 70px;
  left: 270px;
  line-height: 26px;
  font-size: 13px;
}

.jimu-rtl .jimu-widget-SAT .createSnapshotDiv{
  position: absolute;
  top: 70px;
  right: 270px;
  line-height: 26px;
  font-size: 13px;
}

.jimu-widget-SAT .pad-top-5{
  padding-top: 5px;
}

.jimu-widget-SAT .pad-top-10{
  padding-top: 10px;
}

.jimu-popup .SAT-warning-icon {
  width: 25px;
  height: 25px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/warning.png');
  margin-top: 8px;
}

.jimu-popup .SAT-warning-hint {
  color: #898989;
  font-size: 11px;
  margin-bottom: 10px;
}

.jimu-widget-SAT-property-helper .pad-top-5{
  padding-top: 5px;
}

.jimu-widget-SAT-property-helper .pad-top-10{
  padding-top: 10px;
}

.jimu-widget-SAT-property-helper .pad-right-5{
  padding-right: 5px;
}

.jimu-rtl .jimu-widget-SAT-property-helper .pad-right-5{
  padding-left: 5px;
}

.jimu-widget-SAT-property-helper .commentTextArea{
  width: 100%;
}

.jimu-widget-SAT-property-helper .width-all{
  width: 100%;
}

.jimu-widget-SAT-property-helper .display-on{
  display: block;
}

.jimu-widget-SAT-property-helper .display-off{
  display: none;
}

.jimu-widget-SAT-property-helper .dijitSelectLabel {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 153px;
}

@media screen and (max-width: 420px ) {
  .jimu-widget-SAT-property-helper .dijitSelectLabel {
    max-width: 133px;
  }
}

@media screen and (max-width: 400px ) {
  .jimu-widget-SAT-property-helper .dijitSelectLabel {
    max-width: 113px;
  }
}

@media screen and (max-width: 360px ) {
  .jimu-widget-SAT-property-helper .dijitSelectLabel {
    max-width: 105px;
  }
}

@media screen and (max-width: 320px) {
  .jimu-widget-SAT-property-helper .dijitSelectLabel {
    max-width: 87px;
  }
}

.jimu-widget-SAT-property-helper .hintText {
  font-size: 12px;
  color: #a0acbf;
  font-style: oblique;
}

/* class added to solve SA#38  Done button overlapping issue */
.esriMobileInfoViewItem .esriAttributeInspector .esriCTAIDeleteButtonWidth {
  width: 60px !important;
  background-image: none !important;
}
/* class added to handle in RTL delete button  position*/
.jimu-rtl .esriMobileInfoViewItem .esriAttributeInspector .atiDeleteButton {
  float: right;
}
/*********about attributeInspector**********/

.jimu-widget-SAT-ai .esriAttributeInspector .atiRichTextField{ 

}

.jimu-widget-SAT-ai .esriAttributeInspector div.dijitEditorIFrameContainer {
  height: 78px;
  width: 100%;
}

.jimu-widget-SAT-ai .esriAttributeInspector .dijitTextBox.dijitTextArea {
  height: 32px;
}

.jimu-widget-SAT-ai .esriAttributeInspector .atiButton {
     padding-top:2px;
     margin-right: 10px;
     display: inline-table;
     background-image: none;
}

.jimu-widget-SAT-ai .esriAttributeInspector .atiButtons {
     height:30px;
     width:100%;
     display:inline-block;
     width:100%;
}

.jimu-widget-SAT-ai .esriAttributeInspector {
    display:inline-block;
}

.jimu-widget-SAT-ai .esriAttributeInspector .dijitArrowButtonContainer {
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  width:18px;
}

.jimu-widget-SAT-ai .esriAttributeInspector .atiNavButtons {
    display:none;
    visibility:hidden;
    height: 0px;
}

.jimu-widget-SAT-ai .esriPopup .spinner {
    display: none;
}

/* Override for Dashboard Theme (Light) */
.DashboardTheme.light .jimu-widget-SAT .panelBottom {
  color: #000000 !important;
}
/*********end attributeInspector**********/