<div class="ERGMainContainer ERGFullHeight" data-dojo-attach-point="mainNode">
  <div class="ERGFullHeight ERGFullWidth" data-dojo-attach-point="widgetMainNode">

    <!---------------------
          ERG Main Page Node
        ---------------------->

    <div class="ERGFullHeight" data-dojo-attach-point="ergMainPageNode">
      <div class="ERGFullWidth ERGNewERGHeader">
        <!-- Panel Title -->
        <div class="ERGMainTitleDiv ERGEllipsis" title="${nls.ergMainPageTitle}">
          ${nls.ergMainPageTitle}
        </div>
        <!-- Settings Icon -->
        <div class="ERGSettingsIcon ERGPointer" title="${nls.settingsTitle}" tabindex="0" role='button'
          aria-label='${nls.settingsTitle}' data-dojo-attach-point="ERGSettingsButton"></div>
        <!-- ERG Point Form -->
        <div class="ERGMainPageRow">
          <!-- Draw ERG Point Coordinate Input -->
          <div class="ERGFullWidth ERGSettingRow">
            <div data-dojo-attach-point="inputcoordcontainer"></div>
          </div>
          <!-- Material Input -->
          <div class="ERGFullWidth ERGSettingRow">
            <div class="ERGInputLabel ERGEllipsis" style="width: 100%" title="${nls.material}">${nls.material}</div>
            <input role="textbox" aria-autocomplete="list" style="width: 100%" class="ERGEllipsis"
              aria-label="${nls.material}" data-dojo-attach-point="materialType" tabindex="0"></input>
          </div>
          <!-- Spill Size & Fire Risk -->
          <div class="ERGHalfWidthContainer">
            <div class="ERGHalfWidthLeft ERGSettingRow">
              <div class="ERGInputLabel ERGEllipsis" title="${nls.spillSize}">${nls.spillSize}</div>
              <select style="width: calc(100% - 20px)" aria-label="${nls.spillSize}"
                data-dojo-type="jimu/dijit/formSelect" data-dojo-attach-point="spillSize" tabindex="0">
                <option value="SM">${nls.small}</option>
                <option value="LG">${nls.large}</option>
              </select>
              <div role="tooltip" title="${nls.helpIconTooltip}" class="jimu-icon helpBtn" tabindex="0"
                aria-label="${nls.helpIconTooltip}" data-dojo-attach-point="helpBtn"></div>
            </div>
            <div class="ERGHalfWidthRight ERGSettingRow">
              <div class="ERGInputLabel ERGEllipsis" title="${nls.fireLabel}">${nls.fireLabel}</div>
              <input class="switch-toggle" aria-label="${nls.fireLabel}" data-dojo-type="dijit/form/CheckBox"
                data-dojo-attach-point="fire" tabindex="0" checked="false" />
            </div>
          </div>
          <!-- Current Weather -->
          <div class="ERGFullWidth ERGSettingRow ERGHidden" data-dojo-attach-point="weatherContainer">
            <div class="ERGInputLabel ERGEllipsis" style="width: 100%" title="${nls.weatherLabel}">${nls.weatherLabel}
            </div>
            <div>
              <div class="weatherPanel" data-dojo-attach-point="weather"></div>
            </div>
          </div>
          <!-- Wind Direction & Time of Day-->
          <div class="ERGHalfWidthContainer">
            <div class="ERGHalfWidthLeft ERGSettingRow">
              <div class="ERGInputLabel ERGEllipsis" title="${nls.windDirection}">${nls.windDirection}</div>
              <input class="jimu-input textInput" style="width: 100%" data-dojo-type="dijit/form/NumberTextBox"
                data-dojo-props='constraints:{min:0,max: 359, places:1},
                invalidMessage:"${nls.invalidNumberMessage}",
                rangeMessage:"${nls.invalidRangeMessage}"' data-dojo-attach-point="windDirection" value="0"
                tabindex="0" aria-label="${nls.windDirection}"></input>
            </div>
            <div class="ERGHalfWidthRight ERGSettingRow">
              <div class="ERGInputLabel ERGEllipsis" title="${nls.timeOfSpill}">${nls.timeOfSpill}</div>
              <select style="width: 100%" data-dojo-type="jimu/dijit/formSelect" data-dojo-attach-point="spillTime"
                tabindex=0 aria-label="${nls.timeOfSpill}">
                <option value="DY">${nls.day}</option>
                <option value="NTE">${nls.night}</option>
              </select>
            </div>
          </div>
          <!-- Wind Speed & Container -->
          <div class="ERGHalfWidthContainer ERGHidden" data-dojo-attach-point="table3Container">
            <div class="ERGHalfWidthLeft ERGSettingRow">
              <div class="ERGInputLabel ERGEllipsis" title="${nls.windSpeed}">${nls.windSpeed}</div>
              <select style="width: 100%" data-dojo-type="jimu/dijit/formSelect" disabled='true'
                data-dojo-attach-point="windSpeed" tabindex="-1" aria-label="${nls.windSpeed}">
                <option value="LOW">${nls.low}</option>
                <option value="MOD">${nls.moderate}</option>
                <option value="HI">${nls.high}</option>
              </select>
            </div>
            <div class="ERGHalfWidthRight ERGSettingRow">
              <div class="ERGInputLabel ERGEllipsis" title="${nls.transportContainer}">${nls.transportContainer}</div>
              <select class="noResize" style="width: 100%" data-dojo-type="jimu/dijit/formSelect" disabled='true'
                data-dojo-attach-point="transportContainer" tabindex="0" aria-label="${nls.transportContainer}">
                <option value="RAIL">${nls.rail}</option>
                <option value="SEMI">${nls.semi}</option>
                <option value="MTON">${nls.mton}</option>
                <option value="STON">${nls.ston}</option>
                <option value="AG">${nls.ag}</option>
                <option value="MSM">${nls.msm}</option>
              </select>
            </div>
          </div>
          <!-- BLEVE-->
          <div class="ERGHalfWidthContainer ERGHidden" data-dojo-attach-point="bleveContainer">
            <div class="ERGHalfWidthLeft ERGSettingRow">
              <div class="ERGInputLabel ERGEllipsis" title="${nls.bleveLabel}">${nls.bleveLabel}</div>
              <input class="switch-toggle" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="useBleve"
                checked="false" disabled='true' tabindex="-1" aria-label="${nls.bleveLabel}" />
            </div>
            <div class="ERGHalfWidthRight ERGSettingRow">
              <div class="ERGInputLabel ERGEllipsis" title="${nls.capacity}">${nls.capacity}</div>
              <select class="noResize" style="width: 100%" data-dojo-type="jimu/dijit/formSelect" disabled='true'
                data-dojo-attach-point="tankCapacity" tabindex="0" aria-label="${nls.capacity}">
                <option value="BLV100L">100</option>
                <option value="BLV400L">400</option>
                <option value="BLV2000L">2000</option>
                <option value="BLV4000L">4000</option>
                <option value="BLV8000L">8000</option>
                <option value="BLV22000L">22000</option>
                <option value="BLV42000L">42000</option>
                <option value="BLV82000L">82000</option>
                <option value="BLV140000L">140000</option>
              </select>
            </div>
          </div>
          <!-- Create & Clear ERG Buttons -->
          <div class="ERGHalfWidthContainer">
            <div class="ERGBtnContainer ERGHalfWidthLeft">
              <div class='jimu-btn jimu-state-disabled' data-dojo-attach-point='CreateERGButton' tabindex="-1"
                aria-label='${nls.createERGBtn}' role='button'>${nls.createERGBtn}</div>
            </div>
            <div class="ERGBtnContainer ERGHalfWidthRight">
              <div class='jimu-btn' data-dojo-attach-point='ClearERGButton' tabindex="0" aria-label='${nls.clearERGBtn}'
                role='button'>${nls.clearERGBtn}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!---------------------
          Settings
        ---------------------->

    <div class="ERGHidden ERGFullHeight" data-dojo-attach-point="settingsPageNode">
      <div class="ERGFullWidth ERGSettingHeader">
        <div class="ERGBackButton" title="${nls.common.back}">
          <div class="ERGItemLeftArrow" data-dojo-attach-point="SettingsPanelBackButton" aria-label="${nls.common.back}"
            tabindex="0" role="button"></div>
          <div class="ERGTitleDiv ERGEllipsis" title="${nls.settingsTitle}">${nls.settingsTitle}</div>
        </div>
      </div>
      <div class="ERGSettingsNode" data-dojo-attach-point="SettingsNode"></div>
    </div>

    <!---------------------
          Publish
        ---------------------->

    <div class="ERGHidden ERGFullHeight" data-dojo-attach-point="resultsPageNode">
      <div class="ERGFullWidth ERGSettingHeader">
        <div class="ERGBackButton" title="${nls.common.back}">
          <div class="ERGItemLeftArrow" data-dojo-attach-point="resultsPanelBackButton" tabindex="0"
            aria-label="${nls.common.back}" role="button"></div>
          <div class="ERGTitleDiv ERGEllipsis" title="${nls.resultsTitle}">${nls.resultsTitle}</div>
        </div>
        <div class="ERGMainPageRow">
          <!-- ERG Layer Name -->
          <div class="ERGFullWidth ERGSettingRow">
            <div class="ERGInputLabel ERGEllipsis" title="${nls.ERGLayerName}">${nls.ERGLayerName}</div>
            <input aria-label="${nls.ERGLayerName}" class="jimu-input textInput controlGroupHidden" style="width: 100%;"
              data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="addERGNameArea"
              data-dojo-props="regExp:'[a-zA-Z0-9_ -]*', invalidMessage:'${nls.invalidERGLayerName}', missingMessage:'${nls.missingLayerNameMessage}'"
              required="true" tabindex="0" trim="true"></input>
            <select class="SelectStyle" aria-label="${nls.ERGLayerName}" data-dojo-type="jimu/dijit/formSelect"
              tabindex="0" data-dojo-attach-point="featureLayerList"></select>
            <div class="ERGCheckBoxNode" data-dojo-attach-point="checkBoxParentContainer"></div>
          </div>
          <!-- Publish ERG Button -->
          <div class="ERGBtnContainer">
            <div class='jimu-btn' data-dojo-attach-point='ERGAreaBySizePublishERGButton' tabindex="0"
              aria-label="${nls.publishERGBtn}" role="button">${nls.publishERGBtn}</div>
          </div>

          <!-- Publishing Message -->
          <div class="ERGPublishMessage" data-dojo-attach-point="publishMessage"></div>
        </div>
      </div>
    </div>
  </div>
</div>