﻿<div class="esriCTMainContainer">
  <div data-dojo-attach-point="tabDiv" class="esriCTFullHeight">
    <!-- location icon -->
    <div class="esriCTlabel" data-dojo-attach-point="graphicLocationPointSymbolLabelNode"
        title="${nls.locationSymbol}">
        ${nls.locationSymbol}
    </div>
    <div class="esriCTLayerField">
      <div class="esriCTPreviewField" data-dojo-attach-point="pointSymbolNode">
      </div>
      <div class="esriCTHint esriCTPreviewHintField">
          ${nls.locationSymbolHintText}</div>
    </div>
    
    <!-- Scale -->
    <div class="esriCTlabel" title="${nls.scaleLabel}">${nls.scaleLabel}</div>
    <div class="config-group">
        <span class="esriCTlabel">1: </span>
        <input type="text" data-dojo-type="dijit/form/NumberTextBox" required="true" placeHolder="50000"
               data-dojo-attach-point="scale" data-dojo-props='style:{width:"120px"},
               constraints:{min:1,pattern:"##############0.################"}' />
    </div>
    <div style="width: 100%;">
      <div class="esriCTlabel">${nls.inputNotation}</div>
      <select style="width: 150px" data-dojo-type="dijit/form/Select" data-dojo-attach-point="inputNotationDropdown">
      </select>   
      <input type="text" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="inputFormatTextBox"
        style="width:200px" />
    </div>
    <div class="esriCTChkWrapper esriCTHidden" data-dojo-attach-point="addSignChkBoxWrapper">
      <div data-dojo-attach-point="addSignChkBox"
        label="${nls.posNegPrefixLabel}" data-dojo-type="jimu/dijit/CheckBox"></div>
    </div>
      
    <!-- Notations Table -->
    <div data-dojo-attach-point="notationsTable" class="table-notations-infos"></div>
  </div>
</div>
