.box-bgcolor {
  background-color: #ff9b00;
}

.box-simple-panel {
  background-color: #ffffff;
}

.esriSimpleSlider {
  text-align: center;
  color: #ffffff;
  background-color: #ff9b00;
  cursor: pointer;
  border-radius: 0px;
}

/*.jimu-widget-zoomslider,
.jimu-widget-homebutton,
.jimu-widget-mylocation {
  background-color: #ff9b00;
}
.esriPopup .titlePane {
  background-color: #ff9b00;
}*/

.jimu-main-background,
.jimu-widget-home,
.jimu-widget-navigate,
.jimu-widget-zoom .esri-zoom .esri-widget,
.jimu-widget-mylocation,
.jimu-widget-compass,
.jimu-widget-fullScreen,
.jimu-widget-search .esri-search-button.esri-submit,
.jimu-widget-placeholder{
  background-color: #ff9b00;
}