﻿<div class="pad-left-5 no-select">
  <table class="page-table" cellpading="0">
    <tbody>
      <tr>
        <td class="panel-title-td">
          <div class="panel-title-text" tabindex="0" role="region" aria-label="${nls.mapping.locationMapping} ${nls.address.addressPageHint}">${nls.mapping.locationMapping}</div>
        </td>
      </tr>
      <tr class="bottom-border-bold task-instruction-row" data-dojo-attach-point="mainInstructionRow">
        <td colspan="2" class="panel-title-hint-td">
          <div class="instruction">${nls.address.addressPageHint}</div>
        </td>
      </tr>
      <tr class="task-row task-instruction-row" data-dojo-attach-point="singleAddressRow">
        <td colspan="2" data-dojo-attach-point="singleFieldHintTd">
          <!--table for single field-->
          <table class="page-table" cellpading="0">
            <tbody>
              <tr class="task-row task-instruction-row" data-dojo-attach-point="singleRadioRow">
                <td colspan="2" class="pad-left-10 field-control-td">
                  <input name="addr" data-dojo-type="dijit/form/RadioButton" class="jimu-radio-btn" id="rdo-single"
                    type="radio" data-dojo-attach-point="rdoSingleAddress" title="${nls.address.singleField}"
                    tabindex="0" aria-label="${nls.address.singleField} ${nls.address.singleFieldHint}" role="radio"
                    data-dojo-attach-event="onClick:_rdoSingleAddressClick"/>
                  <label class="main-text" for="rdo-single">${nls.address.singleField}</label>
                </td>
              </tr>
              <tr class="bottom-border-bold sub-task-hint panel-title-hint"
                data-dojo-attach-point="singleSubTaskHintTr">
                <td colspan="2" class="pad-left-20 panel-title-hint-td float-left"
                  data-dojo-attach-point="singleSubTaskHintTd">
                  <span class="instruction">${nls.address.singleFieldHint}</span>
                </td>
              </tr>
              <tr class="bottom-border">
                <td data-dojo-attach-point="singleFieldTableRow">
                  <table class="page-table" cellpading="0">
                    <colgroup>
                      <col width="40%" />
                      <col width="60%" />
                    </colgroup>
                    <tbody data-dojo-attach-point="singleFieldTable">
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr data-dojo-attach-point="multiAddressRow">
        <td colspan="2" data-dojo-attach-point="multiFieldHintTd">
          <!--table for multi field-->
          <table class="page-table" cellpading="0">
            <tbody>
              <tr class="task-row task-instruction-row" data-dojo-attach-event="onClick:_rdoMultiAddressClick"
                data-dojo-attach-point="multiRadioRow">
                <td colspan="2" class="pad-left-10 field-control-td">
                  <input name="addr" data-dojo-type="dijit/form/RadioButton" class="jimu-radio-btn" id="rdo-multi"
                    type="radio" data-dojo-attach-point="rdoMultiAddress" title="${nls.address.multiField}" 
                    tabindex="0" aria-label="${nls.address.multiField} ${nls.address.multiFieldHint}" role="radio"/>
                  <label class="main-text" for="rdo-multi">${nls.address.multiField}</label>
                </td>
              </tr>
              <tr class="bottom-border sub-task-hint panel-title-hint">
                <td colspan="2" class="pad-left-20 panel-title-hint-td float-left"
                  data-dojo-attach-point="multiSubTaskHintTd">
                  <span class="instruction">${nls.address.multiFieldHint}</span>
                </td>
              </tr>
              <tr>
                <td data-dojo-attach-point="multiFieldTableRow">
                  <table class="page-table" cellpading="0">
                    <colgroup>
                      <col width="40%" />
                      <col width="60%" />
                    </colgroup>
                    <tbody data-dojo-attach-point="multiFieldTable"></tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>