@import url("../../../../libs/goldenlayout/goldenlayout-dark-theme.css");
@import url('./dojo-override.css');
@import url('./api-override.css');
@import url('./sprite.css');
@import url('./jimu-theme-override.css');
@import url('./widgets/print.css');
@import url('./widgets/add-data.css');
@import url('./widgets/nearme.css');
@import url('./widgets/layer-list.css');
@import url('./widgets/edit.css');
@import url('./widgets/select.css');
@import url('./widgets/share.css');
@import url('./widgets/analysis.css');
@import url('./widgets/filter.css');
@import url('./widgets/measurement.css');
@import url('./widgets/geolookup.css');
@import url('./widgets/gp.css');
@import url('./widgets/stream.css');
@import url('./widgets/group-filter.css');
@import url('./widgets/oblique-viewer.css');
@import url('./widgets/screening.css');
@import url('./widgets/review-dashboard.css');
@import url('./widgets/zoomslider.css');
@import url('./widgets/suitability-modeler.css');
@import url('./widgets/info-summary.css');
@import url('./widgets/batch-edit.css');
@import url('./widgets/at.css');
@import url('./widgets/parcel-drafter.css');
@import url('./widgets/related-table-chart.css');
@import url('./widgets/home-button.css');
@import url('./widgets/extent-navi.css');
@import url('./widgets/my-location.css');
@import url('./widgets/bookmark.css');
@import url('./widgets/draw.css');
@import url('./widgets/fullscreen.css');
@import url('./widgets/swipe.css');
@import url('./widgets/chart.css');
@import url('./widgets/query.css');
@import url('./widgets/ig.css');
@import url('./widgets/coordinate-conversion.css');
@import url('./widgets/search.css');
@import url('./widgets/grid-overlay.css');
@import url('./widgets/infographic.css');
@import url('./widgets/distance-direction.css');
@import url('./widgets/grided-reference-graphic.css');
@import url('./widgets/emergency-response-guide.css');
@import url('./widgets/direction.css');
a {
  color: #FFFFFF;
}

.jimu-main-background{
  background-color: #222222;
}

.jimu-widget-dnd-header{
  background: #444444;
}

.jimu-widget-dnd-header .logo{
  border-color: rgba(255,255,255,0.5);
}

.jimu-widget-dnd-header .titles{
  height: 100%;
  overflow: hidden;
}

.jimu-widget-dnd-header .jimu-title,
.jimu-widget-dnd-header .links,
.jimu-widget-dnd-header .links .jimu-link,
.jimu-widget-dnd-header .signin-section .jimu-link{
  color: #FFFFFF;
}
.jimu-widget-dnd-header .jimu-subtitle {
  opacity: 0.8;
  color: #FFFFFF;
}

.lm_header {
  background: #222222;
}

.lm_content {
  border: none;
}

.lm_header .lm_tab,
.lm_header .lm_tab.lm_active {
  background: #222222;
  margin-top: 0;
  margin-right: 0;
  border: none;
  box-shadow: none;
  padding-bottom: 4px;
}

.lm_header .lm_tabdropdown_list .lm_tab {
  background: #333;
}

.lm_header .lm_tab {
  color: #666;
}

.lm_header .lm_tab:hover,
.lm_header .lm_tab.lm_active {
  color: #999;
}

.lm_header .lm_tab .lm_left,
.lm_header .lm_tab .lm_right {
  display: none;
}

.lm_stack_highlight {
  width: 100%;
  height: 100%;
  border: 3px solid #49BDCA;
  box-sizing: border-box;
  background: transparent;
  display: none;
  position: relative;
  top: -100%;
}

.lm_header .lm_tab.highlight {
  background: transparent;
  box-shadow: 0px 0px 2px 2px #e84b4b inset;
}

.lm_splitter {
  background: #000;
  opacity: 1;
  transition: none;
}

.lm_splitter:hover,
.lm_splitter.lm_dragging {
  background: #333;
}

.jimu-dnd-layout.config .lm_splitter:hover,
.jimu-dnd-layout.config .lm_splitter.lm_dragging {
  background: #000;
}

.jimu-dnd-mobile-panel .splitter {
  background: #000000;
}

/*.jimu-dnd-mobile-panel .splitter .splitter_handler{
  background: url(images/more-horiz.svg) no-repeat;
}*/

.jimu-dnd-mobile-panel .widget-area .panel-header {
  background: #000000;
  color: #FFFFFF;
}

.jimu-dnd-mobile-panel .widget-area .panel-header .count {
  color: #999999;
}

.jimu-dashboard-panel .title{
  background: #000000;
  color: #FFFFFF;
}

.jimu-dnd-mobile-controller .icon-section {
  width: 30px;
  height: 30px;
  background: url(images/menu.svg) center no-repeat;
  background-size: 14px;
}

.jimu-dnd-layout, .jimu-edit-layout .layout-container {
  border: 5px solid #000;
}

/**********calendar styles***************/
.dijitCalendarPopup .dijitCalendar {
  background: #333;
}
.dijitCalendarPopup .dijitCalendarHover,
.dijitCalendarPopup .dijitCalendar:hover,
.dijitCalendarPopup .dijitCalendarActive {
  background-color: #333;
}

.dijitCalendarPopup .dijitCalendar .dijitDropDownButton .dijitButtonNode,
.dijitPopup .dijitCalendarMonthMenu {
  background-color: #333;
}
.dijitCalendarPopup .dijitCalendar .dijitDropDownButton .dijitButtonNode .dijitCalendarMonthLabel,
.dijitPopup .dijitCalendarMonthMenu .dijitCalendarMonthLabel {
  color: #fff;
}
.dijitPopup .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover,
.dijitPopup .dijitCalendarMonthMenu .dijitCalendarMonthLabelActive {
  background-color: #666;
}
.dijitCalendarPopup .dijitCalendarDecrementArrow {
  float: left;
  background: url(images/arrow_left_light.svg) no-repeat center center transparent;
}
.dijitCalendarPopup .dijitCalendarIncrementArrow {
  background: url(images/arrow_right_light.svg) no-repeat center center transparent;
}
.jimu-rtl .dijitCalendarPopup .dijitCalendarDecrementArrow {
  float: right;
  background: url(images/arrow_right_light.svg) no-repeat center center transparent;
}
.jimu-rtl .dijitCalendarPopup .dijitCalendarIncrementArrow {
  background: url(images/arrow_left_light.svg) no-repeat center center transparent;
}
.dijitCalendarPopup .dijitCalendarDecrementArrow.dijitCalendarArrowHover,
.dijitCalendarPopup .dijitCalendarIncrementArrow.dijitCalendarArrowHover {
  background-color: #666;
}
.dijitCalendarPopup .dijitDropDownButton .dijitArrowButtonInner {
  background: url(images/arrow_down_light.svg) no-repeat center center transparent;
}

.dijitCalendarPopup .dijitCalendar table .dijitCalendarDayLabelTemplate{
  border-bottom: 1px solid #4c4c4c;
}
.dijitCalendarPopup .dijitCalendar table .dijitCalendarDayLabel{
  color: #fff;
}
.dijitCalendarPopup .dijitCalendarDateTemplate .dijitCalendarDateLabel {
  color: #fff;
  border: solid 1px #333;
}
.dijitCalendarPopup .dijitCalendarDateTemplate,
.dijitCalendarPopup .dijitCalendarPreviousMonth,
.dijitCalendarPopup .dijitCalendarNextMonth {
  background-color: #333;
}
.dijitCalendarPopup .dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.dijitCalendarPopup .dijitCalendarNextMonth .dijitCalendarDateLabel {
  color: #999 !important;
  border: 1px solid #333;
}
.dijitCalendarPopup .dijitCalendarEnabledDate.dijitCalendarPreviousMonth:hover .dijitCalendarDateLabel,
.dijitCalendarPopup .dijitCalendarEnabledDate.dijitCalendarNextMonth:hover .dijitCalendarDateLabel {
  background-color: #666;
  color: #999;
}
.dijitCalendarPopup .dijitCalendarHoveredDate .dijitCalendarDateLabel,
.dijitCalendarPopup .dijitCalendarEnabledDate:hover .dijitCalendarDateLabel {
  background-color: #666;
  border: 1px solid #333;
  color: #fff;
}
.dijitCalendarPopup .dijitCalendarSelectedDate .dijitCalendarDateLabel,
.dijitCalendarPopup .dijitCalendarSelectedDate.dijitCalendarHoveredDate .dijitCalendarDateLabel {
  color: #fff;
  background-color: #999;
  border-color: #333;
}

/*year prev-next*/
.dijitCalendarYearContainer .dijitCalendarYearLabel{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.dijitCalendarYearContainer .dijitCalendarSelectedYear{
  color:#fff;
}
.dijitCalendarYearContainer .dijitCalendarNextYear,
.dijitCalendarYearContainer .dijitCalendarPreviousYear {
  color: #999;
}
.dijitCalendarYearContainer .dijitCalendarNextYearHover,
.dijitCalendarYearContainer .dijitCalendarNextYear:hover,
.dijitCalendarYearContainer .dijitCalendarPreviousYearHover,
.dijitCalendarYearContainer .dijitCalendarPreviousYear:hover {
  color: #fff;
  /* border: none; */
  background-color: #666;
}


/*time picker*/
.jimu-dateTimeBox {
  background: #333;
}
.jimu-dateTimeBox .timeTextContainer .dijitTextBox{
  background-color: #333;
}
.jimu-dateTimeBox .timeTextContainer .timeTextIcon{
  background-image: url(images/schedule.svg);
}
.dijitTimePickerPopup .dijitTimePicker{
  background-color: #333;
}
.dijitTimePickerPopup .dijitTimePickerItem{
  color: #fff;
  border-top: solid 1px #333;
  border-bottom: solid 1px #333;
}
.dijitTimePickerPopup .dijitTimePickerTick {
  background-color: #333;
}
.dijitTimePickerPopup .dijitTimePickerMarker {
  background-color: #2d2c2c;
}

.dijitTimePickerPopup .dijitTimePickerTickHover,
.dijitTimePickerPopup .dijitTimePickerMarkerHover {
  background-color: #666;
}
.dijitTimePickerPopup .dijitTimePickerMarkerSelected,
.dijitTimePickerPopup .dijitTimePickerTickSelected {
  background-color: #999;
}
.dijitTimePickerPopup .dijitTimePickerMarkerSelected.dijitTimePickerMarkerHover,
.dijitTimePickerPopup .dijitTimePickerTickSelected.dijitTimePickerTickHover {
  background-color: #999;
}

.jimu-popup.jimu-popup-date-time-picker .button-container .jimu-btn-vacation{
  color: #fff;
  background: #333 !important;
  border: 1px solid #999 !important;
}
