<div class="custom-widget-page">
	<div data-dojo-attach-point="queryFromSection" class="hidden">
		<label>
			<input data-dojo-attach-point="subscribedWidgets" data-dojo-type="dijit/form/RadioButton" name="widgetChoose"
				type="radio" checked="true" class="jimu-radio-btn" data-dojo-attach-event="change:_onWidgetFromTypeChange"/>
			${nls.subscribed}
		</label>
		<label style="margin-left: 20px;">
			<input data-dojo-attach-point="providedWidgets" data-dojo-type="dijit/form/RadioButton" name="widgetChoose"
				type="radio" class="jimu-radio-btn"/>
			${nls.provided}
		</label>
	</div>

	<div data-dojo-attach-point="list" class="list widget-list" data-dojo-attach-event="onclick:_onClick"></div>
	<div data-dojo-type="jimu/dijit/LoadingIndicator" data-dojo-attach-point="loading" data-dojo-props='hidden:true'></div>
</div>