<div class="widget-choose-page hide-custom-widgets">
  <div data-dojo-attach-point="officialSection" class="official-section">
    <div class="section search" data-dojo-attach-point="searchSectionNode">
      <div data-dojo-attach-point="searchInputNode"></div>
      <div class="list widget-list" data-dojo-attach-point="widgetListNode"></div>
    </div>
  </div>
  <div data-dojo-attach-point="customSection" class="custom-section">
    <div data-dojo-attach-point="customSearchInputNode"></div>
  </div>
</div>