﻿<div>
    <!-- Input table node -->
    <div class="esriCTClearBoth esriCTInputTableParentContainer">
        <div data-dojo-attach-point="inputTableNode">
        </div>
    </div>
    <!-- Summary text -->
    <div class="esriCTClearBoth esriCTSummaryTextParentContainer">${nls.inputOutputTab.summaryTextTitle}</div>
    <!-- Summary text container -->
    <div class="esriCTClearBoth esriCTInputEditorParentContainer">
        <div data-dojo-attach-point="inputEditorContainer"></div>
    </div>
</div>