.jimu-widget-IMT-setting .btn-add-section {
  display: inline-block;
  overflow: hidden;
  height: 24px;
  margin-left: 1px;
  margin-bottom: 3px;
  cursor: pointer;
  font-size: 13px;
  color: #538ec8;
  margin-top: 8px;
}

.jimu-widget-IMT-setting .btn-add-section .btn-add-icon {
  height: 100%;
  width: 14px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/add.png);
  display: inline-block;
  vertical-align: top;
}

.jimu-widget-IMT-setting .btn-add-section .btn-add-label {
  height: 100%;
  line-height: 24px;
  vertical-align: middle;
  margin-left: 7px;
  text-decoration: underline;
  display: inline-block;
  vertical-align: top;
}

.claro .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectWrapper {
  border: none !important;
  background-color: transparent !important;
}

.footer {
  text-align: right;
}

.removeButtonWithIcon {
  background-image: url("../images/filterdialog_icons.png");
  background-repeat: no-repeat;
  background-position: -30px 0;
  width: 15px;
  height: 15px;
  margin: 0px 0px;
  display: block;
}

.upButton {
  background-image: url("../../../../jimu.js/css/images/up_enabled.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin: 0px 0px;
  display: block;
}

.downButton {
  background-image: url("../../../../jimu.js/css/images/down_enabled.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin: 0px 0px;
  display: block;
}

.colorButton {
  width: 15px;
  height: 15px;
  margin: 0px 0px;
  display: block;
  background-color: #00ff00;
}

.footer {
  padding-top: 5px;
  width: 100%;
  height: 30px;
}

.dojoxCheckedMultiSelect .dojoxCheckedMultiSelectWrapper {
  height: 400px;
}

.dojoxMultiSelectItem {
  padding-bottom: 5px;
  padding-top: 5px;
}

.dijitSelectLabel {
  text-align:left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.layer .dijitSelectLabel {
    max-width:350px;
}

.type .dijitSelectLabel {
  max-width:180px;
}
