.jimu-widget-visibility-control .controls {
  margin: 20px 0 0 0;
}

.jimu-widget-visibility-control .inputNumberTextbox {
  width: calc(100% - 120px) !important;
  margin: 0px;
}

.jimu-widget-visibility-control .controlGroup {
  padding: 4px 2px;
}

.jimu-widget-visibility-control .buttonContainer {
  display: flex;
}

.jimu-widget-visibility-control .controlSpace {
  margin-left: unset;
}

.jimu-widget-visibility-control .titleLabel {
  padding-bottom: 5px;
  display: block;
}

.jimu-widget-visibility-control .noResize .dijitSelectLabel,
.jimu-widget-visibility-control .noResize .dijitTextBox .dijitInputInner,
.jimu-widget-visibility-control .noResize.dijitValidationTextBox .dijitValidationContainer {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 60px;
  text-align: initial;
  padding-top: 5px;
}

.jimu-widget-visibility-control .claro .dijitSelect {
  background-color: rgba(255, 255, 255, 0);
}

.jimu-widget-visibility-control .dijitSelect .dijitButtonContents {
  border-style: none none none none;
  background-color: #ffffff;
}

.jimu-widget-visibility-control .dijitSelect .dijitButtonContentsDartTheme {
  background-color: inherit;
}

.jimu-widget-visibility-control .dijitSelect .dijitArrowButton {
  background-color: #ffffff;
  background-image: none;
  border-color: #ffffff;
}

.jimu-widget-visibility-control .dijitSelect .dijitArrowButtonDartTheme {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.jimu-widget-visibility-control .dijitMenuItem {
  color: #7989a0;
}

.jimu-widget-visibility-control .dijitSelect .dijitInputField {
  margin-right: 8px;
}

.jimu-widget-visibility-control .cursortooltip {
  z-index: 10;
  position: fixed;
  border: 1px solid #777;
  color: black;
  background-color: white;
  margin: 2px;
  padding: 6px;
  border-radius: 6px;
}

.jimu-widget-visibility-control .center {
  display: table !important;
  margin: 0 auto;
}

/* Buttons */

.jimu-widget-visibility-control .btnContainer {
  text-align: right;
  margin-top: 15px;
  display: grid;
  padding: 15px 4px;
}

.jimu-widget-visibility-control .HalfWidthLeft {
  width: 50%;
}

.jimu-widget-visibility-control .HalfWidthRight {
  width: 50%;
}

.jimu-widget-visibility-control .jimu-coordinate-control textarea {
  width: 100%;
}

.jimu-widget-visibility-control .jimu-coordinate-control .add-with-icon.coordInput {
  width: calc(100% - 60px);
}

.jimu-widget-visibility-control .jimu-coordinate-control .coordLabel {
  font-size: 12px;
}

/* Toggle switch */

.jimu-widget-visibility-control .switch-toggle-group {
  padding: 5px;
}

.jimu-widget-visibility-control .switch-toggle-group .checkbox-inline {
  padding-left: 36px;
  vertical-align: top;
}

.jimu-widget-visibility-control .switch-toggle-group .switch-toggle.dijitCheckBox {
  margin-left: -36px;
}

.jimu-widget-visibility-control .switch-toggle.dijitCheckBox {
  height: 16px;
  width: 28px;
  border: 0 none;
  background: #adadad;
  position: relative;
  float: right;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.jimu-rtl .jimu-widget-visibility-control .switch-toggle.dijitCheckBox {
  float: left;
}

.jimu-widget-visibility-control .switch-toggle.dijitCheckBox:before {
  content: "";
  background: #f8f8f8;
  position: absolute;
  padding: 0;
  height: 12px;
  width: 12px;
  left: auto;
  right: 14px;
  top: 2px;
  z-index: 1;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.jimu-widget-visibility-control .switch-toggle.dijitCheckBox input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
}

.jimu-widget-visibility-control .switch-toggle.dijitCheckBox.dijitCheckBoxChecked {
  background: #50ad4e;
}

.jimu-widget-visibility-control .switch-toggle.dijitCheckBox.dijitCheckBoxChecked:before {
  right: 2px;
}


/**
 * Coordinate Format Dialog
 **/

.btnContainer {
  text-align: right;
  margin-top: 6px;
}

.settingsContainer {
  margin-top: 6px;
}

.checkBoxText {
  padding: 0 5px 0 5px;
}

.controlContainer {
  margin-top: 6px;
}

.customFormatTextbox {
  height: 30px;
  background-color: transparent;
  border: 1px solid #d2dae2;
  padding: 5px;
  margin: 0 3px 0 3px;
  width: 55%;
  font-family: 'Avenir Light', Verdana, Geneva, sans-serif;
}

.coordNotationSelect {
  background-color: transparent;
  height: 30px;
  user-select: none;
  width: 40%;
  float: left;
  border: 1px solid #d2dae2;
  font-family: 'Avenir Light', Verdana, Geneva, sans-serif;
  margin-bottom: 5px;
}

.jimu-rtl .coordNotationSelect {
  float: right;
}

/****** Dart Theme Overrides ******/

.DartTheme .jimu-widget-visibility-control .cusrortooltip {
  background-color: #4c4c4c;
}

.claro .dartThemeClaroDijitTooltipContainerOverride .dijitTooltipContainer {
  background-color: #4c4c4c;
  background-image: -webkit-linear-gradient(bottom, rgb(76, 76, 76) 0px, #4c4c4c 10px);
  border: 1px solid #ffffff;
  color: #ffffff;
}

.claro .dartThemeClaroDijitTooltipContainerOverride .jimu-widget-subtitle {
  color: #ffffff;
}

.claro .dartThemeClaroDijitTooltipContainerOverride .dijitTooltipConnector {
  background-image: url('images/tooltip.png');
}

.jimu-widget-visibility-control .jimu-coordinate-control .settingBtn {
  margin-left: 1px;
}

.jimu-widget-visibility-control .jimu-coordinate-control .drawPointBtn {
  margin-left: 2px;
}

/* publish panel starts*/
.jimu-widget-visibility-publish .esriCTFullHeight {
  height: 100%;
}

.jimu-widget-visibility-publish .esriCTFullWidth,
.jimu-widget-visibility-control .esriCTFullWidth {
  width: 100%;
}

.jimu-widget-visibility-publish .esriCTSettingHeader,
.jimu-widget-visibility-control .esriCTSettingHeader {
  height: 30px;
  border-bottom: 1px solid #464646;
}

.jimu-widget-visibility-publish .esriCTBackButton,
.jimu-widget-visibility-control .esriCTBackButton {
  display: table;
  width: 100%;
}

.jimu-widget-visibility-publish .esriCTItemLeftArrow,
.jimu-widget-visibility-control .esriCTItemLeftArrow {
  background-image: url('./images/left-arrow_black.png');
  display: table-cell;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.jimu-rtl .jimu-widget-visibility-publish .esriCTItemLeftArrow {
  transform: rotate(180deg);
}

.jimu-widget-visibility-publish .esriCTItemLeftArrow:hover {
  background-image: url('./images/left-arrow_black_hover.png');
}

.jimu-widget-visibility-publish .esriCTTitleDiv,
.jimu-widget-visibility-control .esriCTTitleDiv {
  line-height: 10px;
  font-weight: bold;
  text-align: center;
  width: calc(100% - 50px);
  height: 20px;
  padding-top: 6px;
}

.jimu-widget-visibility-publish .esriCTEllipsis,
.jimu-widget-visibility-control .esriCTEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jimu-widget-visibility-publish .esriCTMainPageRow,
.jimu-widget-visibility-control .esriCTMainPageRow {
  width: calc(100% - 20px);
  margin: 20px 10px 10px 10px;
  display: inline-block;
}

.jimu-widget-visibility-publish .esriCTInputLabel {
  float: left;
  line-height: 28px;
  padding: 5px 0px 0px 0px;
  width: 100%;
}

.jimu-widget-visibility-publish .SelectStyle {
  height: 30px;
  color: #7d7d7d;
  padding-left: 5px;
  font-size: 13px;
  width: 100%;
  margin: 1px 0 8px 0;
}

.jimu-widget-visibility-publish .publishSelect .dijitSelectLabel {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 288px;
  text-align: left;
}

.jimu-widget-visibility-publish .esriCTCheckBoxNode {
  padding-top: 10px;
}

.jimu-widget-visibility-publish .esriCTPublishBtnContainer {
  text-align: right;
  margin-top: 15px;
  display: grid;
}

.jimu-widget-visibility-publish .esriCTPublishMessage {
  float: left;
  line-height: 16px;
  padding: 18px 0px 0px 0;
  font-weight: bold;
  display: inline-block;
  word-break: break-all;
}

.jimu-rtl .jimu-widget-visibility-publish .esriCTPublishMessage {
  float: right;
}

.jimu-widget-visibility-publish .esriCTHidden {
  display: none;
}

.jimu-widget-visiblity .esriCTHidden {
  display: none;
}

.jimu-widget-visiblity .jimu-btn {
  width: 100%;
}

.jimu-widget-visibility-publish .esriCTPublishControl {
  float: right;
  min-width: 9px;
  line-height: 12px;
  padding-bottom: 3px;
  padding-top: 3px;
}

/* publish panel starts*/

.jimu-widget-visibility-control .esriCTMainTitleDiv {
  line-height: 10px;
  font-weight: bold;
  text-align: left;
  width: calc(100% - 50px);
  padding: 5px 3px 5px 3px;
  display: inline-block;
}

.jimu-rtl .jimu-widget-visibility-control .esriCTMainTitleDiv {
  text-align: right;
}

.jimu-widget-visibility-control .esriCTSaveToLayerIcon {
  background-image: url('./images/left-arrow_black.png');
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transform: rotate(180deg);
}

.jimu-rtl .jimu-widget-visibility-control .esriCTSaveToLayerIcon {
  float: left;
  transform: rotate(360deg);
}

.jimu-widget-visibility-control .esriCTSaveToLayerIcon:hover {
  background-image: url('./images/left-arrow_black_hover.png');
  background-repeat: no-repeat;
}

.jimu-widget-visibility-control .esriCTNewHeader {
  float: left;
  height: 30px;
  border-bottom: 1px solid #464646;
  padding: 0px 2px;
}

/*------------------------- Styles for esriCTColorPickerEditor  -----------------------*/
.jimu-widget-visibility-control .esriCTSliderWrapper {
  width: calc(100% - 278px);
  display: inline-block;
  margin: 5px;
}

.jimu-widget-visibility-control .dijitSlider {
  width: 100%;
}

.jimu-rtl .jimu-widget-visibility-control .dijitSlider {
  margin-left: auto;
  margin-right: 10px;
}

.jimu-widget-visibility-control .dijitSlider .dijitSliderImageHandleH {
  top: -10px;
  width: 20px;
  height: 20px;
}

.jimu-widget-visibility-control .esriCTColorPickerEditor {
  padding-top: 5px;
  padding-bottom: 8px;
  min-width: 350px;
  display: inline-table;
}

.jimu-widget-visibility-control .esriCTColorPickerEditor .jimu-color-picker {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.jimu-widget-visibility-control .esriCTColorPickerEditor .dijitSpinner.dijitNumberTextBox.dijitValidationTextBox {
  width: 70px;
  height: 30px;
}

.jimu-widget-visibility-control .dijitSliderImageHandleH {
  top: -7px;
}

.jimu-widget-visibility-control .dijitSliderThumbHover {
  background-image: url("../images/sliderball.svg");
  background-position: 0 0;
}

.jimu-widget-visibility-control .dijitSliderImageHandle.dijitSliderImageHandleH {
  background-image: url("../images/sliderball.svg");
  background-position: 0 0;
}

.jimu-widget-visibility-control .dijitSliderImageHandle.dijitSliderImageHandleH.dojoMoveItem {
  background-image: url("../images/sliderball.svg");
  background-position: 0 0;
}

/*left*/
.jimu-widget-visibility-control .dijitSlider .dijitSliderProgressBarH,
.jimu-widget-visibility-control .dijitSlider .dijitSliderLeftBumper {
  border-color: #000;
  background-color: #000;
  background-image: -webkit-linear-gradient(top, #000 0px, #000 1px, rgba(255, 255, 255, 0) 2px);
  background-image: -o-linear-gradient(top, #000 0px, #000 1px, rgba(255, 255, 255, 0) 2px);
  background-image: linear-gradient(top, #000 0px, #000 1px, rgba(255, 255, 255, 0) 2px);
}

.jimu-widget-visibility-control .dijitSlider .dijitSliderRemainingBarH,
.jimu-widget-visibility-control .dijitSlider .dijitSliderRightBumper {
  border-color: #d7d7d7;
  background-color: #d7d7d7;
}

.jimu-widget-visibility-control .esriCTColorPickerEditor .trans {
  font-family: "Avenir Light";
  font-size: 12px;
  padding: 0 5px 0 5px;
  letter-spacing: 0.33px;
}

.jimu-widget-visibility-control .sliderbar {
  width: 60px;
}

.dijitRuleLabelH {
  left: -12%;
}

.jimu-widget-visibility-control .esriCTOutFillSection {
  /* vertical-align: bottom;
  display: inline-flex;
  flex-direction: column;
  margin: 0px 0px 6px 3px; */
  vertical-align: middle;
  display: inline-flex;
  flex-direction: column;
  margin: 0px 0px 21px 3px;
}

.jimu-widget-visibility-symbologySettings .esriCTSettingsRow {
  width: 100%;
  display: inline-flex;
}

.jimu-widget-visibility-symbologySettings .esriCTLabelSettingsRightButton {
  background: url("../images/arrow-right_black.png") no-repeat;
}

.jimu-rtl .jimu-widget-visibility-symbologySettings .esriCTLabelSettingsRightButton {
  transform: rotate(180deg);
}

.jimu-widget-visibility-symbologySettings .esriCTLabelSettingsRightButton:hover {
  background: url("../images/arrow-right_black_hover.png") no-repeat;
}

.jimu-widget-visibility-symbologySettings .esriCTSettingsButtonIcon {
  margin-top: 13px;
  height: 16px;
  width: 16px;
}

.jimu-rtl .jimu-widget-visibility-symbologySettings .esriCTSettingsButtonIcon {
  margin: 10px 0px 0px 5px;
}

.jimu-widget-visibility-symbologySettings .esriCTPointer {
  cursor: pointer;
}

.jimu-widget-visibility-symbologySettings .esriCTInputLabelSettings {
  float: left;
  line-height: 28px;
  padding: 5px 0px 0px 0px;
}

.jimu-widget-visibility-symbologySettings .esriCTEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jimu-widget-visibility-symbologySettings .esriCTSubTitle {
  font-weight: bold;
}

.jimu-widget-visibility-symbologySettings .esriCTGroupHidden {
  display: none;
}

.jimu-widget-visibility-symbologySettings .esriCTLabelSettingsDownButton {
  background: url("../images/arrow-down_black.png") no-repeat;
  margin-top: 15px;
}

.jimu-rtl .jimu-widget-visibility-symbologySettings .esriCTLabelSettingsDownButton {
  margin: 15px 0px 0px 5px;
}

.jimu-widget-visibility-symbologySettings .esriCTLabelSettingsDownButton:hover {
  background: url("../images/arrow-down_black_hover.png") no-repeat;
}


.jimu-widget-visibility-control .esriCTSettingsIcon {
  background-image: url('./images/settings_black.png');
  height: 16px;
  width: 16px;
  background-size: 16px;
  background-repeat: no-repeat;
  margin-top: 2px;
  margin-right: 13px;
  display: inline-block;
}

.jimu-rtl .jimu-widget-visibility-control .esriCTSettingsIcon {
  float: left;
}

.jimu-widget-visibility-control .esriCTSettingsIcon:hover {
  background-image: url('./images/settings_black_hover.png');
  background-repeat: no-repeat;
}

/* Code for accessibility : inner focus css added*/
.jimu-widget-visibility-symbologySettings .esriCTSettingsButtonIcon:focus {
  outline: 2px solid #24B5CC !important;
  outline-offset: -2px;
}


.jimu-widget-visibility-control .esriCTRightSideButton {
  float: right;
  display: inline-flex;
}

.jimu-rtl .jimu-widget-visibility-control .esriCTRightSideButton {
  float: left;
}