<div>
  <div class="boxMenu box-bgcolor jimu-main-background" data-dojo-attach-point="menuNode"></div>
  <div class="box-controller-inner" data-dojo-attach-point="innerNode">
    <div class="boxMain box-bgcolor jimu-main-background" data-dojo-attach-point="mainNode">
      <h1 class="boxTitle" data-dojo-attach-point="titleNode"></h1>
      <h2 class="boxTitle" data-dojo-attach-point="labelNode" style="display: none;"></h2>
      <div class="boxToggle" data-dojo-attach-point="toggleNode"></div>
      <div class="boxBar">
        <div class="boxBarInner">
          <div class="boxContainer" data-dojo-attach-point="containerNode">
          </div>
        </div>
      </div>
      <div class="boxNav" data-dojo-attach-point="navNode">
        <ul id="pages" class="navigation"></ul>
      </div>
    </div>
    <div class="boxPanel" data-dojo-attach-point="panelNode"></div>
  </div>
</div>
