/*-------------------Styles for configuration panel --------------------*/

.jimu-widget-coordinateconversion-setting .esriCTMainContainer {
  width: 100%;
  height: 90%;
}

.jimu-widget-coordinateconversion-setting .table-notations-infos {
  width: 100%;
  height: 307px;
  margin-top: 15px;
}

.jimu-widget-coordinateconversion-setting .esriCTlabel {
  padding: 10px 0px 5px 0px;
  font-size: 16px;
  color: #353535;
  letter-spacing: 0.44px;
}

.jimu-widget-coordinateconversion-setting .esriCTColorPickerNode {
  float: left;
  margin: 0 10px 0 0;
}

.jimu-widget-coordinateconversion-setting .esriCTHintInline {
  line-height: 30px;
}

.jimu-widget-coordinateconversion-setting .esriCTHintLeftMargin {
  margin-left: 10px;
}

.jimu-widget-coordinateconversion-setting .esriCTDirectionTabNode .esriCTHintInline {
  margin-top: 2px;
}

.jimu-widget-coordinateconversion-setting .row {
  clear: both;
}

.jimu-widget-coordinateconversion .esriCTFullHeight {
  height: 100%;
}

/**-----------------------Styles for Layer selector-----------------------**/

.jimu-widget-coordinateconversion-setting .esriCTSelectedLayersDiv {
  height: 50px;
  overflow: auto;
  width: 88%;
  float: left;
  border: 1px solid #d2dae2;
  background: #e3ecf2;
  margin: 0 10px 0 0px;
}

.jimu-widget-coordinateconversion-setting .esriCTAddLayerButton {
  float: right;
  margin-top: 9px;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jimu-widget-coordinateconversion-setting .esriCTLayerSelectorNode {
  max-height: 200px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jimu-widget-coordinateconversion-setting .esriCTLayerSelectorNode .jimu-basic-layer-chooser-from-map .jimu-tree {
  position: relative !important;
}

.jimu-widget-coordinateconversion-setting .esriCTLayerListItem {
  height: 24px;
  color: #7989a0;
  padding: 0px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 22px;
  font-size: 14px;
}

.jimu-widget-coordinateconversion-setting .esriCTGeometryTypeIcon {
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  margin: 6px 2px 0px 10px;
  float: left;
}

.jimu-widget-coordinateconversion-setting .esriCTCheckBox {
  float: left;
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

/**------------------End of styles for Layer selector---------------------**/

.jimu-widget-coordinateconversion-setting .esriCTLayerContainer {
  width: 100%;
  float: left;
}

.jimu-widget-coordinateconversion-setting .esriCTLayerField {
  display: inline-flex;
}

.jimu-widget-coordinateconversion-setting .esriCTHint {
  font-size: 12px;
}

.jimu-widget-coordinateconversion-setting .esriCTSetRouteURL {
  width: 100%;
}

/**----------------------Styles for network service chooser----------------------**/

.jimu-widget-coordinateconversion-setting .esriCTHidden {
  display: none;
}

.jimu-widget-coordinateconversion-setting .buttonsDiv .jimu-popup .button-container {
  padding: 0px;
}

.jimu-widget-coordinateconversion-setting .jimu-float-leading {
  margin-right: 10px;
}

.jimu-widget-coordinateconversion-setting .esriCTServiceUrlDiv {
  float: left;
  width: 100%;
}

.jimu-widget-coordinateconversion-setting .esriCTRouteLayersDiv {
  float: left;
  width: 100%;
}

.jimu-widget-coordinateconversion-setting .esriCTItemSelectDiv {
  margin-top: 10px;
  float: left;
  height: 450px;
  width: 100%;
}

.jimu-widget-coordinateconversion-setting .esriCTExampleUrl {
  float: left;
  width: 100%;
}

.jimu-widget-coordinateconversion-setting .esriCTRouteListDiv {
  margin-top: 10px;
  float: left;
  width: 100%;
  height: 360px;
  overflow: auto;
  border: 1px solid #ccc;
}

.jimu-widget-coordinateconversion-setting .esriCTAgolRouteListDiv {
  margin-top: 10px;
  float: left;
  width: 100%;
  height: 450px;
  overflow: auto;
  border: 1px solid #ccc;
}

.jimu-widget-coordinateconversion-setting .esriCTSearchRadio {
  float: left;
  width: 100%;
}

.jimu-widget-coordinateconversion-setting .serviceUrlContainer {
  float: left;
  width: 100%;
  margin-top: 10px;
}

.jimu-widget-coordinateconversion-setting .esriCTServiceLable {
  float: left;
  width: 100px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jimu-widget-coordinateconversion-setting .esriCTServiceField {
  width: 85%;
  float: left;
}

.jimu-widget-coordinateconversion-setting .esriCTSetServiceURL {
  float: left;
  width: 85%;
}

.jimu-widget-coordinateconversion-setting .urlButton {
  line-height: 30px;
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*--------------override tree CSS starts here--------------*/

.claro .dijitTreeRowFocused {
  /*background-repeat: repeat;*/
}

/*---------- expando (open/closed) icon--------------- */

.claro .dijitTreeExpando {
  /*background-position: -93px -10px;*/
  /*display: none;*/
  /* for dijitTreeExpandoOpened */
}

.claro .dijitTreeExpando::first-child {
  /*    display: block;
    background-position: -35px 0;*/
}

/**-----------------End of Styles for network service chooser--------------------**/

/*----------------styles for symbol chooser node-----------------------*/

.jimu-widget-coordinateconversion-setting .esriCTSymbolChooserNode {
  text-align: center;
  cursor: pointer;
  min-width: 80px;
}

.jimu-widget-coordinateconversion-setting .esriCTSymbolPreviewText {
  font-size: 14px;
  color: #353535;
  letter-spacing: 0.39px;
}

.jimu-widget-coordinateconversion-setting .esriCTPreviewField {}

.jimu-widget-coordinateconversion-setting .esriCTPreviewHintField {
  padding-top: 10px;
  font-size: 12px;
  color: #232323;
  letter-spacing: 0.33px;
}

.jimu-widget-coordinateconversion-setting .esriCTSymbolPreviewHintField {
  width: 50%;
  line-height: 20px;
  margin-left: 5px;
  float: right;
}

.jimu-widget-coordinateconversion-setting .esriCTSymbolPreviewField {
  width: 35%;
  min-width: 250px;
  float: left;
}

.jimu-widget-coordinateconversion-setting .esriCTDirectionTabNode .dijitTextBox {
  width: 88% !important;
  float: left;
}

.jimu-widget-coordinateconversion-setting .dijitSelect .dijitButtonContents {
  border-style: none none none none;
  background-color: #fafafc;
}

.jimu-widget-coordinateconversion-setting .dijitTreeLabel {
  font-size: 14px;
  color: #596679;
}

.dijitInline.dijitIcon.dijitTreeIcon.dijitLeaf {
  margin-left: 2px;
}

.claro .dijitSelect .dijitInputField {
  font-size: 14px;
  margin-right: 8px;
}

.jimu-widget-coordinateconversion-setting .esriCTURLSetButton {
  line-height: 30px;
  margin: 0 0 0 10px;
  float: right;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jimu-widget-coordinateconversion-setting .esriCTSearchTabNode,
.jimu-widget-coordinateconversion-setting .esriCTDirectionTabNode {
  margin-top: 20px;
}

.jimu-widget-coordinateconversion-setting .esriCTSymbolChooserContainer {
  height: calc(100% - 50px);
  overflow: auto;
}

/*----------------End of styles for symbol chooser node-----------------------*/

/**-------------------End of styles for config panel ---------------------**/

/*start CSS override for RTL*/

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTColorPickerNode {
  float: right;
  margin: 0 0px 0 10px;
}

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTHint {
  margin: 0px 5px;
  float: right;
}

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTLayerField {
  float: none;
}

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTPreviewHintField {
  margin-right: 10px;
}

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTlabel {
  padding: 5px 0px 5px 10px;
  float: none;
}

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTSelectedLayersDiv {
  float: right;
  margin-left: 10px;
  margin-right: 0px;
}

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTPreviewField {
  float: right;
}

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTGeometryTypeIcon {
  float: right;
}

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTSetRouteURL {
  float: right;
  margin: 0;
}

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTURLSetButton {
  float: left;
  margin: 0;
}

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTSymbolPreviewField {
  float: right;
}

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTSymbolPreviewText {
  padding: 0 0 0 5px;
}

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTAddLayerButton {
  float: left;
}

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTServiceLable {
  float: right;
}

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTSetServiceURL {
  float: right;
}

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTSymbolPreviewHintField {
  float: left;
  margin-right: 5px;
  margin-left: 0px;
}

.esriRtl .jimu-widget-coordinateconversion-setting .esriCTCheckBox {
  float: right;
  margin-left: 10px;
  margin-right: 0px;
}

.esriRtl .jimu-widget-coordinateconversion-setting .jimu-float-leading {
  margin-left: 10px;
  margin-right: 0px;
}

.edit-default-notation-input {
  border: 1px solid #999999;
  color: #000000;
  font-size: 12px;
  height: 30px;
  background-color: transparent;
  padding: 5px;
  margin: 0;
  border-radius: 2px;
  width: 240px;
}
.jimu-widget-coordinateconversion-setting .esriCTChkWrapper {
  padding-top: 10px;
}
.jimu-widget-coordinateconversion-setting .esriCTChkWrapper .jimu-float-leading{
  margin-right: 0px;
}