.jimu-widget-grg-setting {
  margin: 0;
  padding: 0;
  font-size: 14px;
  position: absolute;
  overflow-y: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  letter-spacing: 0.38px;
}

.jimu-widget-grg-setting .instruction {
  margin-bottom: 10px;
}

.jimu-widget-grg-setting .tabs {
  font-family: "Avenir Light";
  color: #000000;
  height: 100%;
}

.jimu-widget-grg-setting .tabs .tab-description {
  margin: 10px 0;
}

.jimu-widget-grg-setting .tabs .jimu-radio-checked .jimu-radio-inner {
  width: 6px;
  height: 6px;
  margin: 4px;
  border-radius: 50%;
  background-color: #24B5CC;
}

.jimu-widget-grg-setting .tabs .jimu-radio {
  border: 1px solid #ccc;
  vertical-align: top;
}

.jimu-widget-grg-setting .jimu-tab>.control>.tab {
  background-color: #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #dedede;
  color: #898989;
  font-family: "Avenir Medium";
  font-size: 14px;
  /*letter-spacing: 0.38px;*/
}

.jimu-widget-grg-setting .jimu-tab>.control>.tab.jimu-state-selected {
  border-bottom: 3px solid #24b5cc;
  font-family: "Avenir Heavy";
  color: #000000;
}


.jimu-widget-grg-setting .tabs .titles {
  font-weight: bold;
  font-family: "Avenir Medium";
  font-size: 12px;
  /*color: #000000;
  letter-spacing: 0.38px;*/
  margin: 10px 0 5px 0;
}

.jimu-widget-grg-setting .tabs .hide {
  display: none;
}

/*.jimu-widget-grg-setting .dijitTextBox .dijitInputField {
	padding: 1px 14px 1px 10px;
}*/
.jimu-widget-grg-setting .tabs .indent {
  margin-left: 20px;
  margin-top: 10px;
}

.jimu-widget-grg-setting .tabs .unit-item {
  margin: 15px 5px 5px 5px;
  line-height: 18px;
  height: 18px;
  vertical-align: middle;
}

.jimu-widget-grg-setting .tabs .jimu-widget-grg-settingearFix {
  *overflow: hidden;
  *zoom: 1;
}

.jimu-widget-grg-setting .tabs .jimu-widget-grg-settingearFix:after {
  display: table;
  content: "";
  width: 0;
  clear: both;
}

.jimu-widget-grg-setting .tabs .view {
  height: 100%;
  overflow-y: auto;
}

.jimu-widget-grg-setting .tabs .jimu-tab>.jimu-viewstack {
  /*	min-height: 100000px;
	overflow-y: auto;*/
  padding-bottom: 30px;
}

/*.colorPickerEditor*/
.jimu-widget-grg-setting .tabs .colorPickerEditor {
  /*display: inline-block;
	width: 25px;
	height: 25px;*/
}

.jimu-widget-grg-setting .tabs .colorPickerEditor .jimu-color-picker {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.jimu-widget-grg-setting .tabs .colorPickerEditor .dijitSpinner.dijitNumberTextBox.dijitValidationTextBox {
  width: 75px;
  height: 30px;
}

.jimu-widget-grg-setting .dijitSliderImageHandleH {
  top: -10px;
  width: 20px;
  height: 20px;
}

.jimu-widget-grg-setting .dijitSliderImageHandle.dijitSliderImageHandleH {
  background-image: url("../../css/images/sliderball.svg");
  background-position: 0 0;
}

.jimu-widget-grg-setting .tabs .dijitSliderThumbHover {
  background-image: url("../../css/images/sliderball.svg");
  background-position: 0 0;
}

/*left*/
.jimu-widget-grg-setting .dijitSlider .dijitSliderProgressBarH,
.jimu-widget-grg-setting .dijitSlider .dijitSliderLeftBumper {
  border-color: #000;
  background-color: #000;
  background-image: -webkit-linear-gradient(top, #000 0px, #000 1px, rgba(255, 255, 255, 0) 2px);
  background-image: -o-linear-gradient(top, #000 0px, #000 1px, rgba(255, 255, 255, 0) 2px);
  background-image: linear-gradient(top, #000 0px, #000 1px, rgba(255, 255, 255, 0) 2px);
}

.jimu-widget-grg-setting .dijitSlider .dijitSliderRemainingBarH,
.jimu-widget-grg-setting .dijitSlider .dijitSliderRightBumper {
  border-color: #d7d7d7;
  background-color: #d7d7d7;
}


.jimu-widget-grg-setting .tabs .colorPickerEditor .trans {
  font-family: "Avenir Light";
  font-size: 12px;
  padding: 0 10px 0 20px;
  letter-spacing: 0.33px;
}

.jimu-widget-grg-setting .tabs .sliderbar {
  width: 80px;
}


/* 1 content */
.jimu-widget-grg-setting .content-tab .editor-container .dijitEditorIFrameContainer textarea {
  resize: none;
}

/* 2 appearance */
.jimu-widget-grg-setting .appearance-tab {
  overflow-y: auto;
  height: 490px;
}

.jimu-widget-grg-setting .appearance-tab .size-selector .size-box-container {
  display: inline-block;
  text-align: center;
  margin: 0 10px 0 0;
  width: 80px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.jimu-widget-grg-setting .appearance-tab .size-selector .size-box {
  width: 80px;
  height: 60px;
  background: no-repeat;
  margin-bottom: 5px;
}

.jimu-widget-grg-setting .appearance-tab .size-selector .custom-label {
  vertical-align: top;
  line-height: 20px;
}

.jimu-rtl .jimu-widget-grg-setting .appearance-tab .sizes>:first-child {
  margin-right: 0;
}

.jimu-widget-grg-setting .appearance-tab .size-selector .wh {
  margin: 0 14px;
}

.jimu-widget-grg-setting .appearance-tab .size-selector .wh .wh-item {
  display: inline-block;
  margin-right: 10px;
}

.jimu-widget-grg-setting .appearance-tab .size-selector .wh .wh-item .lable {
  font-family: "Avenir Medium";
  font-size: 12px;
  color: #353535;
  /*letter-spacing: 0.33px;*/
  margin: 0 0 5px 0;
  width: 96px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.jimu-widget-grg-setting .appearance-tab .size-selector .wh .inputs {
  width: 96px;
  border: 1px solid #d9dde0;
}

.jimu-widget-grg-setting .appearance-tab .size-selector .wh .inputs .text-box {
  width: 70px;
  border: none;
}

.jimu-widget-grg-setting .appearance-tab .size-selector .wh .inputs .unit {
  color: #898989;
  letter-spacing: 0;
}

/* alignment */
.jimu-widget-grg-setting .appearance-tab .align-selector .align-box-container {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
  width: 50px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.jimu-widget-grg-setting .appearance-tab .align-selector .align-box {
  width: 40px;
  height: 36px;
  background: no-repeat;
  margin: 0 5px 5px 5px;
}

.jimu-widget-grg-setting .appearance-tab .align-selector .top {
  background: url("../../css/images/top.svg") center center no-repeat;
  border: none;
}

.jimu-widget-grg-setting .appearance-tab .align-selector .top.selected {
  background: url("../../css/images/top_selected.svg") center center no-repeat;
  border: 1px #24B5CC solid;
}

.jimu-widget-grg-setting .appearance-tab .align-selector .middle {
  background: url("../../css/images/middle.svg") center center no-repeat;
  border: none;
}

.jimu-widget-grg-setting .appearance-tab .align-selector .middle.selected {
  background: url("../../css/images/middle_selected.svg") center center no-repeat;
  border: 1px #24B5CC solid;
}


.jimu-widget-grg-setting .appearance-tab .jimu-image-chooser {
  height: 30px;
  width: 124px;
  background: #24B5CC;
  border: 1px solid #24B5CC;
}

.jimu-widget-grg-setting .appearance-tab .file-name {
  font-size: 12px;
  line-height: 33px;
  height: 33px;
  color: #000000;
  margin: 0 20px 0 20px;
}

.jimu-widget-grg-setting .appearance-tab .types>:first-child {
  margin-left: 0;
}

.jimu-rtl .jimu-widget-grg-setting .appearance-tab .types>:first-child {
  margin-right: 0;
}

.jimu-widget-grg-setting .appearance-tab .fillstype {
  margin: 10px 20px 0 20px;
}

.jimu-widget-grg-setting .appearance-tab .buttonText {
  width: 290px;
  margin-bottom: 10px;
}


.jimu-widget-grg-setting .instruction span {
  color: #596679;
}

.jimu-widget-grg-setting .editor-container {
  position: absolute;
  top: 34px;
  bottom: 165px;
  left: 0;
  right: 0;
  border: 1px solid #d2dae2;
  background-color: #fafafc;
}

.jimu-widget-grg-setting .editor-container .dijitEditorIFrameContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.jimu-widget-grg-setting .editor-container .dijitEditorIFrameContainer {
  padding-top: 0;
}

.jimu-widget-grg-setting .editor-container .uploaderInsideNode embed {
  display: none;
}

.jimu-widget-grg-setting .splash-footer {
  /*position: absolute;
	bottom: 5px;*/
  color: #596679;
  /*	left: 0;
	right: 0;*/
  height: 155px;
  margin-top: 20px;
}

.jimu-widget-grg-setting .splash-footer .require-continue {
  position: absolute;
  top: 0;
}

.jimu-widget-grg-setting .splash-footer .require-item {
  margin-bottom: 10px;
}

.jimu-widget-grg-setting .splash-footer .option-text {
  display: none;
  margin: 10px 0 15px 23px;
}

.jimu-widget-grg-setting .splash-footer .confirm-container {
  display: none;
  margin-left: 20px;
  margin-bottom: 10px;
}

.jimu-widget-grg-setting .splash-footer .confirm-text,
.jimu-widget-grg-setting .splash-footer .confirm-option {
  width: 100%;
  margin-top: 10px;
}

.jimu-widget-grg-setting .splash-footer .spinner-label {
  line-height: 30px;
  margin-right: 10px;
  display: inline-block;
}

.jimu-widget-grg-setting .splash-footer .set-background,
.jimu-widget-grg-setting .splash-footer .set-background * {
  vertical-align: middle;
}

.jimu-widget-grg-setting .splash-footer input {
  width: 755px;
  color: #7989a0;
}

.jimu-widget-grg-setting .dojoxEditorUploadNorm.dijitButtonDisabled {
  background: #ccc url(../../css/images/uploadImageIcon_disabled.gif) no-repeat 2px 2px;
}

/*------------------------- Styles for Settings Font Styles  -----------------------*/

.jimu-widget-grg-setting .style-selector .jimu-widget-grg-settingearFix {
  *overflow: hidden;
  *zoom: 1
}

.jimu-widget-grg-setting .style-selector .jimu-widget-grg-settingearFix:after {
  display: table;
  content: "";
  width: 0;
  clear: both
}

.jimu-widget-grg-setting .style-selector .hide {
  display: none
}

.jimu-widget-grg-setting .settings-container {}

.jimu-widget-grg-setting .settings-container .title {
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.39px;
  margin-bottom: 20px;
}

.jimu-widget-grg-setting .settings-container .label {
  font-size: 12px;
  color: #282828;
  letter-spacing: 0.33px;
  line-height: 30px;
}

.jimu-widget-grg-setting .style-selector .label {
  margin: 0 0;
  max-width: 160px;
  line-height: 30px;
  font-size: 12px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jimu-widget-grg-setting .style-selector .dijitTextBox,
.jimu-widget-grg-setting .style-selector .dijitSelect {
  width: 100%;
  height: 30px;
  border: 1px solid #D7D7D7;
}

.jimu-widget-grg-setting .style-selector .jimu-color-picker {
  width: 40px !important;
  height: 30px !important;
  border: 1px solid #D7D7D7 !important;
}

.jimu-widget-grg-setting .style-selector .dijitSelect .dijitArrowButtonContainer {
  border: none;
}

.jimu-widget-grg-setting .style-selector .dijitDownArrowButton .dijitButtonContents,
.jimu-widget-grg-setting .style-selector .dijitComboBox .dijitDownArrowButton {
  border: none;
}

.jimu-widget-grg-setting .style-selector .dijitTextBox .dijitInputInner {
  padding: 1px 0 0 0 !important;
  font-size: 12px;
  font-style: normal !important;
  height: 28px;
  line-height: 28px !important;
}

.jimu-widget-grg-setting .style-selector .dijitSelectLabel {
  font-size: 12px;
}

.jimu-widget-grg-setting .style-selector .dijitSelect,
.jimu-widget-grg-setting .style-selector .dijitSelect .dijitButtonContents,
.jimu-widget-grg-setting .style-selector .dijitTextBox,
.jimu-widget-grg-setting .style-selector .dijitTextBox .dijitButtonNode {
  background-color: transparent;
}

.jimu-widget-grg-setting .style-selector .dijitSelect .dijitArrowButton {
  background-color: transparent;
}

.jimu-widget-grg-setting .style-selector .dijitSelect .dijitInputField {
  padding: 0px 10px;
}

.jimu-widget-grg-setting .dijitSelectLabel {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 400px;
  text-align: left;
}

.jimu-widget-grg-setting .jimu-image-chooser .display-text {
  width: 100%;
  font-size: 12px;
  color: #4A4A4A;
  letter-spacing: 0.33px;
  background-color: #FFF;
  text-align: center;
}

.jimu-image-chooser:hover .hint .display-text {
  color: #FFF;
}

.jimu-widget-grg-setting .dijitTextBoxFocused {
  border: 1px solid #D7D7D7 !important;
  box-shadow: 0 0 0 0 !important;
}

.jimu-widget-grg-setting .dijitTextBox .dijitInputField {
  padding: 0px 10px;
}

.jimu-widget-grg-setting .dijitSelectFocused .dijitArrowButton .dijitArrowButtonInner {
  background-position: -35px 53%;
}

.jimu-widget-grg-setting .text-size .text-size-group>.dijitComboBox.dijitValidationTextBox {
  width: 80px;
}

.jimu-widget-grg-setting .text-size .text-size-group>table {
  width: 140px;
}

.jimu-widget-grg-setting .halo-size .halo-size-group>.dijitComboBox.dijitValidationTextBox {
  width: 80px;
}

.jimu-widget-grg-setting .text-size .text-size-group>table {
  width: 140px;
}

.jimu-widget-grg-setting .style-selector .setting-items {
  height: 30px;
  width: 100%;
  margin: 10px 0;
  vertical-align: middle;
  white-space: nowrap;
}

.jimu-widget-grg-setting .style-selector .setting-wapper {
  width: 230px;
}

.jimu-widget-grg-setting .style-selector .background-btn,
.jimu-widget-grg-setting .style-selector .text-color-btn {
  width: 40px;
  height: 30px;
  overflow: hidden;
}

.jimu-widget-grg-setting .style-selector .halo-color-btn {
  width: 50px;
  height: 30px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
}

.jimu-widget-grg-setting .style-selector .align-group {
  margin-right: 8px;
  margin-left: -3px;
}

.jimu-rtl .jimu-widget-grg-setting .style-selector .align-group {
  margin-right: -3px;
  margin-left: 8px;
}

.jimu-widget-grg-setting .style-selector .font-group-btns {
  margin-left: 6px;
  margin-right: 6px;
}

.jimu-widget-grg-setting .style-selector .align-btn,
.jimu-widget-grg-setting .style-selector .font-btn {
  height: 30px;
  margin: 0 3px;
}

.jimu-widget-grg-setting .style-selector .font-btn {
  width: 30px;
}

.jimu-widget-grg-setting .style-selector .align-btn {
  width: 30px;
}

.jimu-widget-grg-setting .style-selector .image-btn {
  width: 120px;
  height: 30px;
  border: 1px solid #D7D7D7;
}

.jimu-widget-grg-setting .style-selector .bold {
  background: url("../../css/images/font_B.svg") no-repeat;
}

.jimu-widget-grg-setting .style-selector .bold.selected {
  background: url("../../css/images/font_B_selected.svg") no-repeat;
}

.jimu-widget-grg-setting .style-selector .italic {
  background: url("../../css/images/font_I.svg") no-repeat;
}

.jimu-widget-grg-setting .style-selector .italic.selected {
  background: url("../../css/images/font_I_selected.svg") no-repeat;
}

.jimu-widget-grg-setting .style-selector .underline {
  background: url("../../css/images/font_U.svg") no-repeat;
}

.jimu-widget-grg-setting .style-selector .underline.selected {
  background: url("../../css/images/font_U_selected.svg") no-repeat;
}

.jimu-widget-grg-setting .switch-toggle-group {
  padding: 5px;
}

.jimu-widget-grg-setting .switch-toggle-group .checkbox-inline {
  padding-left: 36px;
  vertical-align: top;
}

.jimu-widget-grg-setting .switch-toggle-group .switch-toggle.dijitCheckBox {
  margin-left: -36px;
}

.jimu-widget-grg-setting .switch-toggle.dijitCheckBox {
  height: 16px;
  width: 28px;
  border: 0 none;
  background: #adadad;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.jimu-widget-grg-setting .switch-toggle.dijitCheckBox:before {
  content: "";
  background: #f8f8f8;
  position: absolute;
  padding: 0;
  height: 12px;
  width: 12px;
  left: auto;
  right: 14px;
  top: 2px;
  z-index: 1;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.jimu-widget-grg-setting .switch-toggle.dijitCheckBox input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
}

.jimu-widget-grg-setting .switch-toggle.dijitCheckBox.dijitCheckBoxChecked {
  background: #50ad4e;
}

.jimu-widget-grg-setting .switch-toggle.dijitCheckBox.dijitCheckBoxChecked:before {
  right: 2px;
}

.jimu-widget-grg-setting .halo-toggle-group {
  padding: 5px;
}

.jimu-widget-grg-setting .halo-toggle-group .checkbox-inline {
  padding-left: 36px;
  vertical-align: top;
}

.jimu-widget-grg-setting .halo-toggle-group .halo-toggle.dijitCheckBox {
  margin-left: -36px;
}

.jimu-widget-grg-setting .halo-toggle.dijitCheckBox {
  height: 16px;
  width: 28px;
  border: 0 none;
  background: #adadad;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 6px;
  margin-left: 5px;
}

.jimu-widget-grg-setting .halo-toggle.dijitCheckBox:before {
  content: "";
  background: #f8f8f8;
  position: absolute;
  padding: 0;
  height: 12px;
  width: 12px;
  left: auto;
  right: 14px;
  top: 2px;
  z-index: 1;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.jimu-widget-grg-setting .halo-toggle.dijitCheckBox input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
}

.jimu-widget-grg-setting .halo-toggle.dijitCheckBox.dijitCheckBoxChecked {
  background: #50ad4e;
}

.jimu-widget-grg-setting .halo-toggle.dijitCheckBox.dijitCheckBoxChecked:before {
  right: 2px;
}

.jimu-widget-grg-setting .helpBtn {
  background: url(./images/help_black.png);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.jimu-rtl .jimu-widget-grg-setting .helpBtn {
  float: none;
  transform: rotateY(180deg);
}

.jimu-widget-grg-setting .helpBtn:hover {
  background: url(./images/help_black_hover.png);
}

.jimu-widget-grg-setting .dijitSelect .dijitArrowButton {
  background-color: #ffffff;
  border: 0.75px solid #e2e5e9;
  border-left-style: none;
}

.jimu-widget-grg-setting .dijitSelect {
  background-color: #ffffff;
}

.jimu-widget-grg-setting .dijitSelect .dijitButtonContents {
  border-style: none;
}