.jimu-widget-about{
  width: 100%;
  height: 100%;
  word-break: normal;
  word-wrap: break-word;
  /*margin: -12px auto; stop scrolling for accessibility*/
}
.jimu-widget-about .about-envelope{
  height: 100%;
}
.jimu-widget-about .about-container{
  height: 100%;
}
.jimu-widget-about .about-content{ /*stop scrolling for accessibility - new*/
  margin: -12px auto;
  margin-bottom: 2px;
  padding-top: 12px;
}
.jimu-widget-about-desktop .about-envelope{
  min-height: 300px;
  max-height: 500px;
  min-width: 350px;
  max-width: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.jimu-widget-about-desktop .about-container{
  min-width: 350px;
  max-width: 800px;
  position: absolute;
  display: inline-block;
  background-color: #485566;
  box-shadow: 0 0 4px rgba(160, 160, 160, 0.4);
}
.jimu-widget-about-desktop .about-content{
  width: 560px;
  margin: 20px 40px;
  overflow: auto;
  color: #fff;
  max-height: 388px;
}

/* TxDOT Logo at bottom of About widget */
.about-image{
  height: 85px;
}