﻿<div style="height: calc(100% - 15px); overflow: hidden !important;">
    <div class="url-section">
        <div class="label jimu-float-leading esriCTFontStyle" title="${nls.taskUrl}">
            ${nls.taskUrl}</div>
        <div class="service-browser jimu-float-trailing">
            <table cellpadding="0" cellspacing="0" style="width: 100%; border-collapse: collapse;">
                <tbody>
                    <tr>
                        <td>
                            <div class="esriCTTaskURL">
                                <div data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="txtURL"
                                    data-dojo-props='required:true,trim:true,disabled:true' title="${nls.taskUrl}">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div data-dojo-attach-event="onclick:_onChooseTaskClicked" id="validateUrl"
                                class="jimu-btn jimu-float-trailing esriSetButton" title="${nls.validate}"
                                style="width: 80px;">
                                ${nls.validate}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div data-dojo-attach-point="mainContainer" class="esriCTMainContainer esriCTHidden">
        <div style="width: 100%; height:100%" data-dojo-attach-point="tabDiv">
            <div data-dojo-attach-point="projectSettingTabNode" class="esriCTTabNode">
                <div class="esriCTProjectSettingsContainer">
                    <div data-dojo-attach-point="ProjectSettingsDiv"></div>
                    <div class="esriCTProjectSettingsNote">${nls.projectSetting.note}</div>
                    <div data-dojo-attach-point="projectSettingWarning" class="esriCTProjectSettingsNote esriCTHidden"
                        style="color: red;">
                        ${nls.invalidOutputGeometry}</div>
                </div>
            </div>
            <div data-dojo-attach-point="inputOutputTabNode" class="esriCTTabNode">
                <div class="esriCTtaskDataContainer" data-dojo-attach-point="inputOutputSettingsNode"></div>
            </div>
            <div data-dojo-attach-point="summaryTabNode" class="esriCTTabNode">
                <div class="summaryData esriCTtaskDataContainer" data-dojo-attach-point="summaryTextData">
                </div>
            </div>
            <div data-dojo-attach-point="generalSettingsTabNode" class="esriCTTabNode">
                <div class="othersData esriCTtaskDataContainer" data-dojo-attach-point="othersData">
                </div>
            </div>
        </div>
    </div>
</div>