﻿<div class="ParameterDiv">
    <div class="esriCTSummaryParentDiv">
        <!-- Table -->
        <div class="esriCTOutPutSettingsParent esriCTClearBoth">
            <div data-dojo-attach-point="outputTableNode">
            </div>
        </div>
        <!-- Summary text -->
        <div class="esriCTClearBoth esriCTSummaryTextParentContainer">
            ${nls.summaryTab.summaryTextTitle}
        </div>
        <!-- Summary hint -->
        <div class="esriCTSummaryHintField">
            ${nls.hintText.inputTextHint}
        </div>
        <!-- Summary editor -->
        <div class="esriCTSummaryEditor esriCTClearBoth">
            <div data-dojo-attach-point="editorContainer">
            </div>
            <div class="esriCTButtonContainer">
                <div style="float: left;margin-top: 5px;" title="${nls.summaryTab.expressionVerifyButtonText}"
                    data-dojo-attach-event="onclick:_onClickVerifyExpressionBtn"
                    data-dojo-attach-point="verifySummaryExpression"
                    class="jimu-state-disabled jimu-btn jimu-float-trailing esriSetButton jimu-leading-margin1">
                    ${nls.summaryTab.expressionVerifyButtonText}
                </div>
            </div>
        </div>
        <!-- Auto zoom checkbox -->
        <div class="esriCTSummaryAutoZoom esriCTClearBoth">
            <div data-dojo-type="jimu/dijit/CheckBox" data-dojo-attach-point="autoZoomAfterTrace" class="jimu-checkbox"
                title="${nls.summaryTab.zoomText}" label="${nls.summaryTab.zoomText}">
            </div>
        </div>
    </div>
</div>