.jimu-widget-visibility-control .controls {
  display: table;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-top: 12px;
}

/* Buttons */

.jimu-widget-visibility-control .dijitSelect .dijitButtonContents {
  border-style: none;
  background-color: transparent;
}

.jimu-widget-visibility-control .inputNumberTextbox {
  width: calc(100% - 105px);
}

/*dojo dialog box*/

.claro .dijitDialog {
  background-color: #4c4c4c;
}

.claro .dijitDialogTitle {
  color: #fff;
}

.claro .dijitDialogPaneActionBar {
  background-color: #4c4c4c;
  border-top: none;
}

.claro .jimu-widget-subtitle {
  color: #ffffff;
}

.claro .dijitDialogTitleBar {
  border: 0px solid #222;
  border-bottom: 1px solid #000;
  background-color: #222;
  background-image: none;
}

.claro .dijitDialogPaneContent {
  background-color: #4c4c4c;
  border: 0px solid #222;
  color: #fff;
}

.claro .dijitDialogPaneContent {
  float: right;
}

.claro .dijitButton .dijitButtonNode {
  color: #ffffff !important;
  border: 0px solid #000000;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.5) !important;
  padding: 5px 18px 8px 18px;
  font-size: 14px;
}

.claro .dijitButtonHover .dijitButtonNode {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

/**
 * Coordinate Format Dialog
 **/

.customFormatTextbox {
  background-color: transparent;
  border: 1px solid #7f8183;
  color: #ffffff;
}

.coordNotationSelect {
  margin-bottom: 5px;
  background-color: #4c4c4c;
}

.jimu-widget-visibility-publish .esriCTItemLeftArrow {
  background-image: url('./images/left-arrow_white.png');
}

.jimu-widget-visibility-publish .esriCTItemLeftArrow:hover {
  background-image: url('./images/left-arrow_white_hover.png');
}

.jimu-widget-visibility-control .esriCTSaveToLayerIcon {
  background-image: url('./images/left-arrow_black.png');
}

.jimu-widget-visibility-control .esriCTSaveToLayerIcon:hover {
  background-image: url('./images/left-arrow_white_hover.png');
}

.jimu-widget-visibility-control .esriCTSettingsIcon {
  background-image: url('./images/settings_white.png');
}

.jimu-widget-visibility-control .esriCTSettingsIcon:hover {
  background-image: url('../images/settings_white_hover.png');
  background-repeat: no-repeat;
}

.jimu-widget-visibility-symbologySettings .esriCTLabelSettingsRightButton {
  background: url("../images/arrow-right_white.png") no-repeat;
}

.jimu-widget-visibility-symbologySettings .esriCTLabelSettingsRightButton:hover {
  background: url("../images/arrow-right_white_hover.png") no-repeat;
}

.jimu-widget-visibility-symbologySettings .esriCTLabelSettingsDownButton {
  background: url("../images/arrow-down_white.png") no-repeat;
}

.jimu-widget-visibility-symbologySettings .esriCTLabelSettingsDownButton:hover {
  background: url("../images/arrow-down_white_hover.png") no-repeat;
}

.jimu-widget-visibility-symbologySettings .dijitSliderThumbHover {
  background-image: url("../images/sliderball_white.svg");
  background-position: 0 0;
}

.jimu-widget-visibility-symbologySettings .dijitSliderImageHandle.dijitSliderImageHandleH {
  background-image: url("../images/sliderball_white.svg");
  background-position: 0 0;
}

.jimu-widget-visibility-symbologySettings .dijitSliderImageHandle.dijitSliderImageHandleH.dojoMoveItem {
  background-image: url("../images/sliderball_white.svg");
  background-position: 0 0;
}

.jimu-widget-visibility-control .cursortooltip {
  color: black !important;
}