.jimu-widget-header {
  display: flex;
  max-width: calc(100% - 300px);
}

.jimu-widget-header .hide-logo{
  display: none;
}

.jimu-widget-header .logo {
  margin-right: auto;
  padding: 0 10px;
  margin-top: -2px;
  flex: 0 0 auto;
}

.jimu-widget-header .logo img {
  margin: 0 auto;
  max-height: 40px;
}

.jimu-widget-header .titles{
  height: 100%;
  min-width: 10px;
  display: flex;
}

.jimu-widget-header .jimu-title{
  padding: 0 5px;
  text-align: center;
  height: 100%;
  margin: 0;
}

.jimu-widget-header .jimu-subtitle{
  padding: 0 5px;
  text-align: center;
  height: 100%;
  margin: 0;
}

.jimu-widget-header .search-bar {
  width: auto;
  margin-left: auto;
  height: 100%;
  flex: 0 0 auto;
}

.jimu-widget-header .search-bar .jimu-widget-search {
  margin: 8px 0 !important;
}

.jimu-widget-header .links{
  background-color: #fff;
  position: absolute;
}

.jimu-widget-header .links.hidden {
  display: none;
}
.jimu-widget-header .links-icon{
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  flex: 0 0 auto;
}

.jimu-widget-header .links-icon img{
  width: 16px;
}

.jimu-widget-header .links .link{
  height: 100%;
  display: block;
}
.jimu-rtl .jimu-widget-header .links .link{
  margin-left: auto;
}
.jimu-widget-header .signin-section .link{
  color: #d9dde0;
}

.jimu-widget-header .group-icon-node{
  float: right;
  cursor: pointer;
  opacity: 0.4;
  text-align: center;
  border-right: 1px solid #323e4f;
}
.jimu-widget-header .group-icon-node:first-child{
  border: none;
}
.jimu-widget-header .group-icon-node:hover{
  opacity: 1;
}
.jimu-widget-header .group-icon-node.jimu-state-selected{
  background-color: #697a8c;
  opacity: 1;
  border: none;
  border-top: 2px solid #8491a1;
}

/**the popup link panel is not appended to container, so, don't add .jimu-widget-header here**/
.popup-links{
  background-color: #252824;
}
.popup-links .popup-title{

}
.popup-links .title{
  color:#fff;
  text-align: center;
  font-size: 24px;
}
.popup-links .line{
  width: 100%;
  height: 4px;
  border-top: 1px solid #14161a;
  border-bottom: 1px solid #393c40;
}
.popup-links .link-section{
  width: 100%;
  height: 66px;
  background-color: #252824;
}
.popup-links a{
  color: #6d7685;
  margin-left: 20px;
  font-size: 14px;
  height: 100%;
  width: 95%;
  display: inline-block;
}
.jimu-rtl .popup-links a {
  margin-right: 20px;
  margin-left: auto;
}
.popup-links .link-section.signin a{
  color: #d9dde0;
}