@import url("relativeDatesStyle.css");
.jimu-widget-smartEditor-setting {
    margin: 0;
    padding: 0;
    font-size: 15px;
    overflow: hidden;
}

.esriCTEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jimu-widget-smartEditor-setting-address .esriCTHint {
    margin-top: 10px;
    float: left;
    font-size: 13px;
    color: #a0acbf;
    font-style: oblique;
}

.jimu-widget-smartEditor-setting .esriCTHint {
    float: left;
    font-size: 12px;
    color: #a0acbf;
    font-style: oblique;
    width: 100%;
    margin-left: 40px;
    padding-bottom: 5px;
}

.jimu-widget-smartEditor-setting .edit-description-box {
    width: calc(100% - 4px);
    height: 215px;
    position: relative;
    padding-top: 5px;
}

.jimu-widget-smartEditor-setting .edit-description-title {
    padding-top: 10px;
    width: calc(100% - 4px);
}

.jimu-widget-smartEditor-setting .dijitEditorIFrameContainer,
.jimu-widget-smartEditor-edit-description .dijitEditorIFrameContainer {
    background-color: #ffffff;
    border: none !important;
    width: 100% !important;
    height: 145px !important;
}

.jimu-widget-smartEditor-setting .warningIcon {
    background-image: url(../images/warning.png);
    width: 18px;
    height: 18px;
    margin-right: 30px;
    float: right;
    background-size: 18px;
    margin-top: 7px;
    cursor: pointer;
}

.jimu-rtl .jimu-widget-smartEditor-setting .warningIcon {
    margin-right: 0px;
    margin-left: 30px;
    float: left;
}

.jimu-widget-smartEditor-setting .table-field-icon {
    background-image: url(../images/table.png);
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.jimu-widget-smartEditor-setting .table-field-icon:hover {
    background-image: url(../images/tableHover.png);
}

.jimu-rtl .jimu-widget-smartEditor-setting .table-field-icon {
    margin-left: 0;
    margin-right: 5px;
}


/*CSS for Layers config tables*/

.jimu-widget-smartEditor-setting .editable {
    width: 100px;
}

.jimu-widget-smartEditor-setting .layer {
    width: 200px;
}

.jimu-widget-smartEditor-setting .update {
    width: 135px;
    padding-left: 0px;
}

.jimu-widget-smartEditor-setting .disable {
    width: 220px;
    padding-left: 0px;
}

.jimu-widget-smartEditor-setting .actions {
    width: 75px;
    padding-right: 1px !important;
}

.jimu-widget-smartEditor-setting .layersTableAction {
    width: 70px;
}

.jimu-widget-smartEditor-setting .description {
    width: 90px;
}


/*CSS for fields config tables*/

.jimu-widget-smartEditor-setting-fields .required {
    width: 7px;
    color: red;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.jimu-widget-smartEditor-setting-fields .editable {
    width: 120px;
}

.jimu-widget-smartEditor-setting-fields .visible {
    width: 90px;
}

.jimu-widget-smartEditor-setting-fields .preset {
    width: 120px;
}

.jimu-widget-smartEditor-setting-fields .fieldName {
    width: 190px;
}

.jimu-widget-smartEditor-setting-fields .fieldLabel {}

.jimu-widget-smartEditor-setting-fields .settingsDesc {
    padding-bottom: 10px;
    font-size: 14px;
}

.jimu-widget-smartEditor-setting-fields .settingsNotes {
    padding-top: 10px;
    font-size: 14px;
}

.jimu-widget-smartEditor-setting-fields .actions {
    width: 80px;
    padding-right: 2px !important;
}

.jimu-widget-smartEditor-setting-fields .attachmentsDesc {
    color: #24B5CC;
    font-size: small;
    max-width: 100%;
    cursor: pointer;
    padding-top: 10px;
    float: left;
}

.jimu-rtl .jimu-widget-smartEditor-setting-fields .attachmentsDesc {
    float: right;
}


/*CSS for fields rule tables*/

.jimu-widget-smartEditor-rule-table .rule {
    width: 185px;
}

.jimu-widget-smartEditor-rule-table .expression {
    overflow: hidden;
}

.jimu-widget-smartEditor-rule-table .actions {
    width: 100px;
}

.jimu-widget-smartEditor-rule-table .settingsDesc {
    font-size: 14px;
    padding-bottom: 10px;
}

.jimu-widget-smartEditor-rule-table .settingsNotes {
    padding-top: 10px;
    font-size: 14px;
}

.jimu-widget-smartEditor-rule-table .editGroupHint {
    margin-top: 5px;
    padding-top: 5px;
    float: left;
    font-size: 12px;
    color: #a0acbf;
    font-style: oblique;
    width: 100%;
    padding-bottom: 5px;
}

.jimu-widget-smartEditor-setting .setting-table {
    width: 100%;
}

.jimu-widget-smartEditor-setting .setting-table > thead > tr > th, .jimu-widget-smartEditor-setting .setting-table > tbody > tr > td {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.jimu-widget-smartEditor-setting .input-table > tbody > tr > .first {
    width: auto;
    min-width: 160px;
    text-align: left;
}

.jimu-rtl .jimu-widget-smartEditor-setting .input-table > tbody > tr > .first {
    text-align: right;
}

.jimu-widget-smartEditor-setting .input-table > tbody > tr > .second {
    width: auto;
}

.jimu-widget-smartEditor-setting .input-table > tbody > tr > .second > span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.jimu-widget-smartEditor-setting .dijitArrowButtonContainer {
    width: 17px;
}

.jimu-widget-smartEditor-setting .dijitSelect {
    height: 30px;
    width: 100%;
}

.jimu-widget-smartEditor-setting .checkOption {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.jimu-widget-smartEditor-setting .check {
    margin-left: 15px;
    margin-right: 5px;
}

.jimu-widget-smartEditor-setting .esriCTRelatedLayerCheckBox {
    margin: 0;
    position: absolute;
    bottom: 0px;
}

.jimu-widget-smartEditor-setting .esriCTMainLayerCheckBox {
    margin: 0;
    position: absolute;
    bottom: 20px;
}

.jimu-widget-smartEditor-setting .esriCTFieldSet {
    height: auto;
    width: calc(100% - 4px);
    border: 1px solid #a0acbf;
    border-radius: 5px;
    font-size: 14px;
    color: #596679;
    margin: 10px 0px 10px 0px;
}

.jimu-widget-smartEditor-setting .esriCTFieldSetLegend {
    margin-left: 15px;
    font-weight: bold;
}

.jimu-widget-smartEditor-setting .esriCTButtonPositionsLabel {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 15px;
    width: 100%;
}

.jimu-widget-smartEditor-setting .esriCTRadioBtnContainer {
    margin-left: 20px;
    display: inline-flex
}

.jimu-widget-smartEditor-setting .esriCTRadioButtonParentContainer {
    margin-left: 70px;
    padding: 5px 0px;
}

.jimu-widget-smartEditor-setting .esriCTRadioLabel {
    vertical-align: top;
    padding-right: 40px;
}


/*Required for the image uploader in the editor rich text*/

.jimu-widget-smartEditor-setting .jimu-image-chooser {
    right: inherit !important;
}

.jimu-widget-smartEditor-setting .editor-container .uploaderInsideNode embed {
    display: none;
}

jimu-widget-smartEditor-edit-description .jimu-image-chooser {
    right: inherit !important;
}

jimu-widget-smartEditor-edit-description .editor-container .uploaderInsideNode embed {
    display: none;
}

.jimu-widget-smartEditor-setting a.attDescrip {
    width: 20px;
    height: 20px;
    display: block;
    background: transparent url(../images/desc.png) center center no-repeat;
    text-align: center;
    vertical-align: middle;
    z-index: 9999;
}

jimu-widget-smartEditor-setting a.attDescrip:hover {
    background-image: url(../images/descHover.png);
}

.jimu-widget-smartEditor-filter-page .submithide {
    padding-left: 4px;
    font-size: 12px;
}

.jimu-widget-smartEditor-filter-page {
    height: 100%;
}

.jimu-widget-smartEditor-filter-page > div:nth-child(2) {
    height: calc(100% - 65px);
}

/* Increase the height to prevent text from cutting below */

.jimu-widget-smartEditor-filter-page .jimu-single-filter .dijit-form-Select>tbody>tr>td>.dijitButtonText {
    height: 22px !important;
}


/* New Classes*/

.jimu-widget-smartEditor-setting .nextArrowIcon {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url(../images/nextArrow.png);
    float: left;
}

.jimu-widget-smartEditor-setting .breadCrumbTitle {
    float: left;
}

.jimu-rtl .jimu-widget-smartEditor-setting .nextArrowIcon {
    float: right;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.jimu-rtl .jimu-widget-smartEditor-setting .breadCrumbTitle {
    float: right;
}

.jimu-widget-smartEditor-setting .breadCrumbTitleActive {
    color: #24B5CC;
    cursor: pointer;
}

.jimu-widget-smartEditor-setting .breadCrumbContainer {
    padding: 0 0 5px 0;
    width: 100%;
    float: left;
    color: #898989;
    font-family: "Avenir Medium";
}

.jimu-widget-smartEditor-setting .tableInfos-loading {
    top: 65px;
    position: relative;
}


/* End of New Classes*/

.esriCTCopyAction {
    height: 15px;
    width: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    background-image: url(../images/copy.png);
    float: left;
    cursor: pointer;
    margin-left: 1px;
}

.esriCTCopyAction:hover {
    background-image: url(../images/copyHover.png);
}

.jimu-rtl .esriCTCopyAction {
    float: right;
    margin-right: 5px;
}

.jimu-widget-smartEditor-setting .buttonSection {
    margin-bottom: 10px;
}

.jimu-widget-smartEditor-setting-coordinates .esriCTSelectTitle {
    padding-top: 5px;
    padding-bottom: 5px;
}


/* Start of section for intersection */

.jimu-widget-smartEditor-setting-intersection .esriCTIntersectionMainContainer,
.jimu-widget-smartEditor-setting-address .esriCTAddressMainContainer{
     max-height: 500px;
     padding: 0 5px;
}

.claro .jimu-widget-smartEditor-setting-intersection .esriCTDropDownContainer .dijitSelect {
    height: 27px;
    margin-top: 1px;
    width: 100%;
    float: left;
}

.jimu-widget-smartEditor-setting-intersection .esriCTDropDownContainer {
    float: left;
}

.jimu-widget-smartEditor-setting-intersection .esriCTIntersectionTableMaxHeight .jimu-simple-table{
    max-height: 200px;
}

.jimu-widget-smartEditor-setting-intersection .jimu-popup > .content {
    overflow-y: hidden;
}

.jimu-widget-smartEditor-setting-intersection .esriCTDropDownContainer .dijitSelectLabel {
    overflow: hidden;
    width: 200px;
    float: left;
}

.jimu-widget-smartEditor-setting-intersection .esriCTDropDownContainer .dijitSelect .dijitInputField {
    overflow: hidden;
}

.jimu-widget-smartEditor-setting-intersection .esriCTDropDownContainer .dijitSelectLabel {
    text-align: left;
}

.jimu-rtl .jimu-widget-smartEditor-setting-intersection .esriCTDropDownContainer .dijitSelectLabel {
    text-align: right;
}

.jimu-widget-smartEditor-setting-address .esriCTRowContainer, .jimu-widget-smartEditor-setting-intersection .esriCTRowContainer {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.jimu-widget-smartEditor-setting-address .esriCTlabel, .jimu-widget-smartEditor-setting-intersection .esriCTlabel {
    width: 30%;
    padding: 0px 10px 0px 0px;
    word-break: break-word;
    float: left;
    font-size: 14px;
    color: #596679;
    line-height: 30px;
}

.jimu-widget-smartEditor-setting-address .esriCTGroupInfoContainer{
    padding-left: 25px;
    width: 70%;
    float: right;
    display: inline-block;
}

.jimu-widget-smartEditor-setting-intersection .esriCTGroupInfoContainer {
    padding-left: 25px;
    width: 70%;
    float: right;
}

.jimu-rtl .jimu-widget-smartEditor-setting-address .esriCTGroupInfoContainer {
    float: left
}
.jimu-widget-smartEditor-setting-address .esriCTCreditWarningContainer {
    font-size: 13px;
    margin-bottom: 5px;
}

.jimu-widget-smartEditor-setting-intersection .esriCTDataTypeDropdown .dijitSelectLabel {
    width: 198px;
}

.claro .jimu-widget-smartEditor-setting-intersection .esriCTDataTypeDropdown .dijitSelect {
    height: 30px;
}

.jimu-widget-smartEditor-setting-intersection .esriCTIgnoreLayerRankingLabel {
    width: 100%;
    padding: 0px;
    float: none;
    line-height: normal;
}

.jimu-widget-smartEditor-setting-address .esriCTFieldset, .jimu-widget-smartEditor-setting-intersection .esriCTFieldset,
.jimu-widget-smartEditor-setting-presetPopup .esriCTFieldset, .jimu-widget-smartEditor-setting-coordinates .esriCTFieldset,
 .jimu-widget-smartEditor-setting-address .esriCTFieldset, .jimu-widget-smartEditor-setting-relativeDomains .esriCTFieldset
{
    height: auto;
    width: 100%;
    border: 1px solid #a0acbf! important;
    border-radius: 5px;
    font-size: 14px;
    color: #596679;
    min-width: 0px;
    padding: 10px;
}

.jimu-widget-smartEditor-setting-address .esriCTLegendTitle, .jimu-widget-smartEditor-setting-intersection .esriCTLegendTitle,
.jimu-widget-smartEditor-setting-presetPopup .esriCTLegendTitle, .jimu-widget-smartEditor-setting .esriCTLegendTitle,
.jimu-widget-smartEditor-setting-coordinates .esriCTLegendTitle, .jimu-widget-smartEditor-setting-address .esriCTLegendTitle {
    margin-left: 5px;
    font-weight: bold;
}

.jimu-rtl .jimu-widget-smartEditor-setting-address .esriCTLegendTitle, .jimu-rtl .jimu-widget-smartEditor-setting-intersection .esriCTLegendTitle,
.jimu-rtl .jimu-widget-smartEditor-setting-presetPopup .esriCTLegendTitle, .jimu-rtl .jimu-widget-smartEditor-setting .esriCTLegendTitle,
.jimu-rtl  .jimu-widget-smartEditor-setting-coordinates .esriCTLegendTitle, .jimu-rtl .jimu-widget-smartEditor-setting-address .esriCTLegendTitle  {
    margin-left: 0px;
    margin-right: 5px;
}

.jimu-widget-smartEditor-setting-intersection .esriCTToleranceSettingsIcon {
    background-image: url(../images/settings.png);
    cursor: pointer;
    width: 16px;
    height: 16px;
    float: right;
}

.jimu-rtl .jimu-widget-smartEditor-setting-intersection .esriCTToleranceSettingsIcon {
    float: left;
}

.jimu-widget-smartEditor-setting-intersection .esriCTToleranceValueText {
    height: 25px;
    width: 85%;
    float: left;
    cursor: pointer;
}

.jimu-rtl .jimu-widget-smartEditor-setting-intersection .esriCTToleranceValueText {
    float: right;
}

.jimu-widget-smartEditor-setting-intersection .esriCTpopupFieldContent {
    height: auto;
    width: 200px;
    min-height: 160px;
}

.jimu-widget-smartEditor-setting-intersection .esriCTPopupLabels {
    font-size: 14px;
    color: #596679;
}

.jimu-widget-smartEditor-setting-intersection .esriCTMargin {
    margin-top: 10px;
}

.jimu-widget-smartEditor-setting-intersection .esriCTToleranceUnitDropdown {
    width: 100%;
}

.claro .jimu-widget-smartEditor-setting-intersection .esriCTToleranceParentDiv .dijitDropDownButton {
    margin: 0px;
}

.claro .jimu-widget-smartEditor-setting-intersection .esriCTToleranceParentDiv .dijitDropDownButton .dijitButtonNode {
    background: none;
    border: none;
    width: 25px;
    box-shadow: none;
    padding: 0;
}

.claro .jimu-widget-smartEditor-setting-intersection .esriCTToleranceParentDiv .dijitArrowButtonInner {
    display: none;
}

.jimu-widget-smartEditor-setting-intersection .esriCTIntersectionHint {
    font-size: 13px;
    color: #a0acbf;
    font-style: oblique;
    margin-bottom: 5px;
}

/* End of section for intersection */


/* Start of section for preset */

.jimu-widget-smartEditor-setting-preset .esriCTFieldTitle {
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    width: calc(100% - 20px);
}

.jimu-rtl .jimu-widget-smartEditor-setting-preset .esriCTFieldTitle {
    float: right;
}

.jimu-widget-smartEditor-setting-preset .esriCTDeletePreset {
    float: right;
    margin-top: 7px;
}

.jimu-widget-smartEditor-setting-preset .ee-presetValue-label-header-field, .jimu-widget-smartEditor-setting-preset .field-alias-label {
    width: 40%;
}

.jimu-widget-smartEditor-setting-preset .ee-presetValue-value-header-field, .jimu-widget-smartEditor-setting-preset .preset-value-editable {
    width: 100%;
    margin-bottom: 6px;
}

.jimu-widget-smartEditor-setting-preset .ee-inputField {
    width: 100%;
}

.jimu-widget-smartEditor-setting-preset .ee-inputFieldTextArea {
    width: 100%!important;
    resize: vertical;
    overflow: auto;
    font-family: inherit;
    line-height: 20px !important;
    font-size: 14px;
    min-height: 70px;
}

.jimu-widget-smartEditor-setting-preset .ee-inputFieldRichText {
    width: 100%!important;
    margin: 5px auto;
}

.jimu-widget-smartEditor-setting-preset .esriCTPresetContent {
    overflow-y: auto;
    padding-right: 5px;
    max-height: 500px;
}

.jimu-rtl .jimu-widget-smartEditor-setting-preset .esriCTPresetContent {
    padding-right: 0px;
    padding-left: 5px;
}

.jimu-widget-smartEditor-setting-preset .esriCTPresetHint {
    padding-bottom: 10px;
    font-size: 14px;
}


/* End of section for preset */


/*Fieldset RTL section css starts */

.jimu-rtl .jimu-widget-smartEditor-setting .esriCTFieldSet {
    width: 100%;
}

.jimu-rtl .jimu-widget-smartEditor-setting .esriCTFieldSetLegend {
    margin-right: 20px;
}

.jimu-rtl .jimu-widget-smartEditor-setting .checkOption {
    padding-right: 5px;
}

.jimu-rtl .jimu-widget-smartEditor-setting .esriCTRadioBtnContainer {
    margin-right: 20px;
}

.jimu-rtl .jimu-widget-smartEditor-setting .esriCTRadioButtonParentContainer {
    margin-right: 70px;
    margin-left: 0px;
}

.jimu-rtl .jimu-widget-smartEditor-setting .esriCTRadioLabel {
    padding-right: 0px;
    padding-left: 40px;
}

.jimu-rtl .jimu-widget-smartEditor-setting .esriCTButtonPositionsLabel {
    margin-right: 20px;
    padding-right: 5px;
}

.jimu-rtl .jimu-widget-smartEditor-setting .esriCTHint {
    text-indent: 70px;
    margin-left: 0px;
}

.jimu-rtl .jimu-widget-smartEditor-setting .check {
    margin-right: 15px;
    margin-left: 5px;
}


/*Fieldset RTL section css ends */


/*Start General Setting - Default intersection tolerance*/

.jimu-widget-smartEditor-setting .esriCTLabel {
    width: 25%;
    float: left;
    margin-top: 6px;
    font-size: 14px;
    color: #596679;
}

.jimu-rtl .jimu-widget-smartEditor-setting .esriCTLabel,
.jimu-rtl .jimu-widget-smartEditor-setting-address .esriCTlabel,
.jimu-rtl .jimu-widget-smartEditor-setting-intersection .esriCTlabel  {
    float: right;
}

.jimu-widget-smartEditor-setting .esriCTGlobalTleranceParentDiv {
    width: calc(100% - 4px);
    overflow: hidden;
    clear: both;
    margin-top: 3px;
    padding-bottom: 3px;
}

.jimu-widget-smartEditor-setting .esriCTGlobalToleranceTextbox {
    width: 10%;
    float: left;
    margin-left: 15px;
}

.jimu-rtl .jimu-widget-smartEditor-setting .esriCTGlobalToleranceTextbox {
    float: right;
    margin-right: 15px;
}

.jimu-widget-smartEditor-setting .esriCTMaxCharacterLimitTextBox {
    float: right;
    margin-left: 10px;
}
.jimu-rtl .jimu-widget-smartEditor-setting .esriCTMaxCharacterLimitTextBox {
    float: left;
    margin-left: 0px;
    margin-right: 10px;
}
.jimu-widget-smartEditor-setting .esriCTGlobalToleranceDropbox {
    width: 25%;
    float: left;
    font-size: 14px;
    color: #596679;
    padding-right: 10px;
}

.jimu-rtl .jimu-widget-smartEditor-setting .esriCTGlobalToleranceDropbox {
    float: right;
    padding-right: 10px;
}

.jimu-widget-smartEditor-setting-intersection .esriCTToleranceParentDiv {
    width: 100%;
}


/*End General Setting - Default intersection tolerance*/


/* Start Smart action group*/

.jimu-widget-smartEditor-setting .esriCTAddNewSmartActionLink {
    margin: 0px 10px;
}

.jimu-rtl .jimu-widget-smartEditor-setting .esriCTAddNewSmartActionLink {
    float: right;
}

.jimu-widget-smartEditor-setting .esriCTSmartActionsTableParent {
    width: 100%;
}

.jimu-widget-smartEditor-setting-smartActionGroup .row {
    clear: both;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTlabel {
    width: 40%;
    padding: 0px 10px 0px 0px;
    word-break: break-word;
    float: left;
    min-width: 250px;
    font-size: 14px;
    color: #596679;
    line-height: 30px;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTlabel {
    padding: 0px 0px 0px 10px;
    float: right;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTSmartActionsGroupContainer {
    max-height: 550px;
    padding: 0 5px;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTLayerFieldDropBox {
    width: 59%;
    float: left;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTLayerFieldDropBox {
    float: right;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTFieldset {
    height: 235px;
    width: 100%;
    border: 1px solid #a0acbf! important;
    border-radius: 5px;
    font-size: 14px;
    color: #596679;
    min-width: 0px;
    padding: 10px;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTHintCheck {
    float: left;
    font-size: 13px;
    color: #a0acbf;
    font-style: oblique;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTHintCheck {
    float: right;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTExpression {
    width: 59%;
    float: left;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTExpression {
    float: right;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTLegendTitle,
.jimu-widget-smartEditor-setting-presetPopup .esriCTLegendTitle {
    margin-left: 5px;
    font-weight: bold;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTLegendTitle,
.jimu-widget-smartEditor-setting-presetPopup .esriCTLegendTitle {
    margin-left: 0px;
    margin-right: 5px;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTHeaderIcon {
    height: 30px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    cursor: pointer;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTHideCol {
    background-image: url(../images/hide.png);
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTRequiredCol {
    background-image: url(../images/required.png);
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTDisableIcon {
    background-image: url(../images/disable.png);
}


/* Apply on Table component starts */

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTTableParentContainer,
.jimu-widget-smartEditor-setting-presetPopup .esriCTTableParentContainer,
.jimu-widget-smartEditor-setting-address .esriCTTableParentContainer,
.jimu-widget-smartEditor-setting-relativeDomains .esriCTTableParentContainer {
    width: 100%;
}
.jimu-widget-smartEditor-setting-relativeDomains .esriCTDomainFieldsHint{
    padding-bottom: 10px;
    font-size: 14px;
}
.jimu-widget-smartEditor-setting-smartActionGroup .esriCTTableMainNode {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTTableRow {
    width: 100%;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTLayerNameRow {
    line-height: 28px;
    width: 100%;
    display: table;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTLayerNameRowParent {
    background-color: #eee;
    width: 44%;
    height: 28px;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTLayerFieldRow:hover {
    background-color: #eee;
    color: #7989a0;
  }

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTTableTH {
    background-color: #888888;
    padding: 0 5px;
    border-left: 2px solid #fff;
    height: 58px;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTTableHeaderTitle {
    float: left;
    font-weight: bold;
    color: white;
    text-align: left;
    width: calc(100% - 20px);
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTTablePriorityTitle {
    float: left;
    text-align: left;
    width: calc(100% - 20px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTTablePriorityTitle {
    text-align: right;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTTableHeaderTitle {
    float: right;
    text-align: right;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTTableHeaderIcon {
    float: right;
    height: 30px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: top;
    cursor: pointer;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTPriorityPopupIcon {
    float: left;
    height: 30px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: top;
    cursor: pointer;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTPriorityPopupIcon {
    float: right;
}

.jimu-widget-smartEditor-setting-smartActionGroup tr.esriCTSmartActionGroupRow.esriCTLayerFieldRow {
    width: 100%;
    float: left;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTLayerFields {
    padding-left: 25px;
    width: 45.9%;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTCheckBoxTD {
    padding: 0 5px;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTCheckBoxTD {
    padding: 0;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTCheckBoxMainDiv {
    float: left;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTCheckBoxMainDiv {
    float: right;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTPriorityIconMainDiv, .jimu-widget-smartEditor-setting .esriCTPriorityIconMainDiv {
    width: 100%;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTPriorityIcons, .jimu-widget-smartEditor-setting .esriCTPriorityIcons {
    float: left;
    width: 12px;
    height: 12px;
    background-size: 12px;
    background-repeat: no-repeat;
    margin: 0 10px;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTPriorityIcons, .jimu-rtl .jimu-widget-smartEditor-setting .esriCTPriorityIcons {
    float: right;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTPriorityEditIcon {
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTPriorityEditIcon {
    float: left;
}

.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTSearchFieldNode,
.jimu-widget-smartEditor-setting-smartActionGroup .esriCTSearchFieldNode {
    margin-bottom: 10px;
}


.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTExistingExpressionDiv,
.jimu-widget-smartEditor-setting-smartActionGroup .esriCTExistingExpressionDiv {
    background-image: url(../images/warning.png);
    width: 18px;
    height: 18px;
    float: left;
    background-size: 18px;
    cursor: pointer;
}
.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTDomainlistDiv {
    color: #0000ff;
    width: 10px;
    height: 15px;
    float: left;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.jimu-rtl .jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTDomainlistDiv,
.jimu-rtl .jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTExistingExpressionDiv,
.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTExistingExpressionDiv {
    float: right;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTHide, .jimu-widget-smartEditor-setting .esriCTHide {
    background-image: url(../images/hide.png);
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTRequired, .jimu-widget-smartEditor-setting .esriCTRequired {
    background-image: url(../images/required.png);
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTDisabled, .jimu-widget-smartEditor-setting .esriCTDisabled {
    background-image: url(../images/disable.png);
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTExpandAllNode,
.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTExpandAllNode {
    margin: 5px 0;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTToggleLayerIcon,
.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTToggleLayerIcon{
    height: 15px;
    width: 15px;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    cursor: pointer;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTToggleLayerIcon,
.jimu-rtl .jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTToggleLayerIcon{
    float: right;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTToggleLayerCollapsed,
.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTToggleLayerCollapsed {
    background-image: url('../images/collapse.png');
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTToggleLayerExpanded,
.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTToggleLayerExpanded{
    background-image: url('../images/expand.png');
}

.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTDojoCheckBoxLabel {
    margin-left: 5px;
    vertical-align: middle;
}

.jimu-rtl .jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTDojoCheckBoxLabel {
    margin-left: 0px;
    margin-right: 5px;
    vertical-align: inherit;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTLayerTitle {
    float: left;
    margin-left: 5px;
    font-weight: bold;
    width: 94%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTLayerTitle {
    float: right;
    margin-left: 0px;
    margin-right: 5px;
}

.jimu-widget-smartEditor-setting-address .esriCTHidden, .jimu-widget-smartEditor-setting-intersection .esriCTHidden, .jimu-widget-smartEditor-setting-smartActionGroup .esriCTHidden, .jimu-widget-smartEditor-setting .esriCTHidden,
.jimu-widget-smartEditor-setting-presetPopup .esriCTHidden, .jimu-widget-smartEditor-setting-coordinates .esriCTHidden {
    display: none;
}

.jimu-widget-smartEditor-setting .esriCTVisibility {
    visibility: hidden;
}


/* Apply on  Table component ends */

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTExpressionTextBoxNode {
    float: left;
    width: calc(100% - 26px);
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTExpressionTextBoxNode {
    float: right;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTTextBoxNode {
    width: 100%;
}

.jimu-widget-smartEditor-setting-smartActionGroup .editExpressionIconNode {
    float: left;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-top: 3px;
    cursor: pointer;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .editExpressionIconNode {
    float: right;
    padding-left: 0px;
    padding-right: 10px;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTLayerField {
    float: left;
    width: 59%;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTLayerField {
    float: right;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTGroupNameTextBox {
    width: 100%;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTRowContainer {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTlabelParentContainer {
    width: 100%;
    clear: both;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTPriorityColumnParentContainer {
    width: 100%;
    overflow: hidden;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTPriorityColumnParentDiv {
    clear: both;
    width: 100%;
    overflow: hidden;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTPriorityNumberDiv {
    width: 100%;
    overflow: hidden;
    height: 17px;
    color: white;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTSAHeaderCheckbox {
    padding-left: 4px;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTPriorityOneDiv, .jimu-widget-smartEditor-setting-smartActionGroup .esriCTPriorityTwoDiv, .jimu-widget-smartEditor-setting-smartActionGroup .esriCTPriorityThreeDiv {
    width: 32px;
    float: left;
    padding-left: 8px;
}

.jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTPriorityOneDiv, .jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTPriorityTwoDiv, .jimu-rtl .jimu-widget-smartEditor-setting-smartActionGroup .esriCTPriorityThreeDiv {
    float: right;
    padding-left: 0px;
    padding-right: 8px;
}

.jimu-widget-smartEditor-setting-smartActionGroup .esriCTSubmitAttributeDataText {
    width: 100%;
    padding: 0px;
    float: none;
    line-height: normal;
}

.jimu-widget-smartEditor-setting .esriCTDefinedFor {
    margin-left: 0px;
}

.jimu-rtl .jimu-widget-smartEditor-setting .esriCTDefinedFor {
    margin-right: 0px;
    margin-left: 10px;
}

/* smart action group ends */

/*Start attribute actions tab setting*/

.jimu-widget-smartEditor-setting  .esriCTAttributeActionsTableParent {
    width: 100%;
}

.jimu-widget-smartEditor-setting  .esriCTAttributeActions {
    margin-top: 10px;
}

.jimu-widget-smartEditor-setting .esriCTAttributeActionContainer{
    margin-bottom: 10px;
    height: 30px;
}

/*End attribute actions tab setting*/

/* Tab Scroll*/

.jimu-widget-smartEditor-setting .jimu-tab3 {
    height: 100%;
    overflow: hidden;
}

.jimu-widget-smartEditor-setting .esriCTSmartActionsTabNode {
    overflow-y: auto;
}

.jimu-widget-smartEditor-setting .esriCTAttributeActionsTabNode,
.jimu-widget-smartEditor-setting .esriCTGeneralSettingTabNode {
    height: calc(100% - 45px);
    overflow: auto;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .jimu-widget-smartEditor-setting .jimu-viewstack {
        height: calc(100% - 45px);
    }
}

.jimu-widget-smartEditor-setting .esriCTTabNode {
    padding: 10px;
}
/* Tab Scroll*/

/* Preset poup css Starts */

.jimu-widget-smartEditor-setting-presetPopup .esriCTPresetPopUpDiv
 {
    max-height: 445px;
    padding: 0 5px;
}

.jimu-widget-smartEditor-setting-presetPopup .esriCTWrapper,
.jimu-widget-smartEditor-setting-coordinates .esriCTWrapper,
.jimu-widget-smartEditor-setting-address .esriCTWrapper{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.jimu-widget-smartEditor-setting-presetPopup .esriCTPresetPopUpLabel
{
    width: 30%;
    padding: 0px 10px 0px 0px;
    word-break: break-word;
    float: left;
    font-size: 14px;
    color: #596679;
    line-height: 30px;
}

.jimu-rtl .jimu-widget-smartEditor-setting-presetPopup .esriCTPresetPopUpLabel,
.jimu-rtl .jimu-widget-smartEditor-setting-coordinates .esriCTCoordinatePopUpLabel,
.jimu-rtl.jimu-widget-smartEditor-setting-address .esriCTAddressPopuplabel {
    float: right;
}

.jimu-widget-smartEditor-setting-presetPopup .esriCTPresetPopupdijitWrapper {
    width: 50%;
    float: left;
    padding-bottom: 5px;
}

.jimu-widget-smartEditor-setting-presetPopup .esriCTPresetValueTime{
    margin-top: 2px;
}

.jimu-rtl .jimu-widget-smartEditor-setting-presetPopup .esriCTPresetPopupdijitWrapper,
.jimu-rtl  .jimu-widget-smartEditor-setting-coordinates .esriCTCoordinatePopupdijitWrapper {
    float: right;
}

.jimu-widget-smartEditor-setting-presetPopup .esriCTSelectValueBtn {
    float: left;
    margin-left: 10px;
    line-height: 28px;
}

.jimu-rtl .jimu-widget-smartEditor-setting-presetPopup .esriCTSelectValueBtn {
    float: right;
    margin-right: 10px;
}

.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTOverrideForPreset {
    max-height: 205px;
    overflow-y: auto;
}
.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTLayerMainDiv{
    padding-top: 5px;
    background-color: #eee;
}

.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTLayercheckBox{
    padding-left: 25px;
    font-weight: bold;
}

.jimu-rtl .jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTLayercheckBox{
    padding-right: 25px
}

.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTFieldsDiv{
    padding-left: 5px;
    padding-top: 5px;
}

.jimu-rtl .jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTFieldsDiv{
    padding-right: 5px
}

.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTDomainlistDiv,
.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTExistingExpressionDiv {
    margin-right: 4px;
}
.jimu-rtl .jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTDomainlistDiv,
.jimu-rtl .jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTExistingExpressionDiv {
    margin-left: 4px;
}
.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .esriCTVisibilityHidden {
    visibility: hidden;
}


/* Preset poup css Ends */

/* chooseFromLayer poup css Starts */

.jimu-widget-smartEditor-setting-chooseFromLayer .esriCTPopUpLabel {
    width: 30%;
    padding: 0px 10px 0px 0px;
    word-break: break-word;
    float: left;
    font-size: 14px;
    color: #596679;
    line-height: 30px;
}

.jimu-rtl .jimu-widget-smartEditor-setting-chooseFromLayer .esriCTPopUpLabel{
    float: right
}

.jimu-widget-smartEditor-setting-chooseFromLayer .esriCTDomainFieldHint {
    font-size: 13px;
    color: #a0acbf;
    font-style: oblique;
    margin-top: 5px;
}
.jimu-widget-smartEditor-setting-chooseFromLayer .esriCTWrapper {
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.jimu-widget-smartEditor-setting-chooseFromLayer .esriCTPopupSelect {
    width: 70%;
    float:right;
}

.jimu-rtl .jimu-widget-smartEditor-setting-chooseFromLayer .esriCTPopupSelect{
    float: left;
}

.jimu-widget-smartEditor-setting-coordinates .esriCTCoordianteDijitMainWrapper{
    width: 100%;
}

.jimu-widget-smartEditor-setting-coordinates .esriCTCoordinatePopUpLabel {
    width: 40%;
    padding: 0px 10px 0px 0px;
    word-break: break-word;
    float: left;
    font-size: 14px;
    color: #596679;
    line-height: 30px;
}

.jimu-widget-smartEditor-setting-coordinates .esriCTCoordinatePopupdijitWrapper{
    width: 60%;
    float: left;
    padding-bottom: 5px;
}

.jimu-widget-smartEditor-setting-intersection .esriCTIntersectionGroupName {
    width: 50%;
    float: left;
}

.jimu-rtl .jimu-widget-smartEditor-setting-intersection .esriCTIntersectionGroupName {
    float: right;
}

.jimu-widget-smartEditor-setting-intersection .esriCTIntersectionDatatype {
    width: 50%;
    float: right;
}

.jimu-rtl .jimu-widget-smartEditor-setting-intersection .esriCTIntersectionDatatype {
    float: left;
}
.jimu-widget-smartEditor-setting-coordinates .esriCTCoordinateWidth,
.jimu-widget-smartEditor-setting-address .esriCTAddressWidth {
    width: 70%;
}

.jimu-widget-smartEditor-setting-coordinates .esriCTFullWidth,
.jimu-widget-smartEditor-setting-address .esriCTFullWidth,
.jimu-widget-smartEditor-setting-intersection esriCTFullWidth{
    width: 100%;
}
/* chooseFromLayer poup css Ends */

/*Switch Toggle starts*/
.jimu-widget-smartEditor-setting-smartActionGroup .switch-toggle-group,
.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .switch-toggle-group {
    padding: 5px;
}

.jimu-widget-smartEditor-setting-smartActionGroup .switch-toggle-group .checkbox-inline,
.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .switch-toggle-group .checkbox-inline {
    padding-left: 36px;
    vertical-align: top;
}

.jimu-widget-smartEditor-setting-smartActionGroup .switch-toggle-group .switch-toggle.dijitCheckBox,
.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .switch-toggle-group .switch-toggle.dijitCheckBox {
    margin-left: -36px;
}

.jimu-widget-smartEditor-setting-smartActionGroup .switch-toggle.dijitCheckBox,
.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .switch-toggle.dijitCheckBox {
    height: 16px;
    width: 28px;
    border: 0 none;
    background: #adadad;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-left: 2px;
}

.jimu-widget-smartEditor-setting-smartActionGroup .switch-toggle.dijitCheckBox:before,
.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .switch-toggle.dijitCheckBox:before {
    content: "";
    background: #f8f8f8;
    position: absolute;
    padding: 0;
    height: 12px;
    width: 12px;
    left: auto;
    right: 14px;
    top: 2px;
    z-index: 1;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    -o-transition: right 0.3s;
    transition: right 0.3s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.jimu-widget-smartEditor-setting-smartActionGroup .switch-toggle.dijitCheckBox input,
.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .switch-toggle.dijitCheckBox input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
}

.jimu-widget-smartEditor-setting-smartActionGroup .switch-toggle.dijitCheckBox.dijitCheckBoxChecked,
.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .switch-toggle.dijitCheckBox.dijitCheckBoxChecked {
    background: #50ad4e;
}

.jimu-widget-smartEditor-setting-smartActionGroup .switch-toggle.dijitCheckBox.dijitCheckBoxChecked:before,
.jimu-widget-smartEditor-setting-layersAndFieldsApplyOn .switch-toggle.dijitCheckBox.dijitCheckBoxChecked:before {
    right: 2px;
}

/*Switch Toggle ends*/

.jimu-widget-smartEditor-setting .esriCTIntersectionToleranceLabel {
    width: 60%;
}

.jimu-rtl .jimu-widget-smartEditor-setting .esriCTIntersectionToleranceLabel {
    margin-right: 10px;
}

.jimu-widget-smartEditor-setting .head-section {
    position: sticky;
    top:0;
}

.jimu-widget-smartEditor-setting .esriCTSmartActionsTableParent .jimu-simple-table .body-section {
    height: calc(100% - 36px);
}

.jimu-widget-smartEditor-setting .layerTable .jimu-simple-table .body-section {
    /*overflow-y: auto;
    max-height: calc(100% - 36px);
    height: 266px;*/
    /*Commenting the code as we giving the height programmatically*/
}

.jimu-widget-smartEditor-setting .layerTable td.checkbox-td {
    padding-left: 0px;
}

.jimu-widget-smartEditor-setting .layerTable td.checkbox-td.edit {
    padding-left: 8px;
}

.jimu-widget-smartEditor-setting .esriCTSmartActionsTableParent .jimu-simple-table {
    max-height: 250px;
    overflow-y: auto;
}

.jimu-widget-smartEditor-setting-smartActionGroup tr.esriCTTableRow > th {
    position: sticky;
    top: 0;
}
.jimu-widget-smartEditor-setting-smartActionGroup .esriCTTableParentContainer {
    height: 100%;
    width: 100%;
}

.jimu-widget-smartEditor-setting-smartActionGroup .tableBodyScroll table {
    clear: both;
    display: inline-table;
}

.jimu-widget-smartEditor-setting-smartActionGroup .tableBodyScroll tbody {
    position: absolute;
    overflow-y: auto;
    clear: both;
    height: 142px;
}

.claro .dijitSelectLabel {
    text-overflow: ellipsis;
    text-align: justify;
    overflow: hidden;
    vertical-align: middle;
}

/* data type select in intersection popup, data type select in preset popup,
Default intersection tolerance for all features select in general settings */
.jimu-widget-smartEditor-setting-intersection .esriCTGroupInfoContainer .dijitSelectLabel,
.jimu-widget-smartEditor-setting-presetPopup .esriCTPresetPopupdijitWrapper .dijitSelectLabel,
.jimu-widget-smartEditor-setting  .esriCTGlobalToleranceDropbox .dijitSelectLabel {
    width: 175px;
}

/* data type select in address popup at group level, data type select in coordinates popup at group level */
.jimu-widget-smartEditor-setting-address .esriCTAddressWidth .esriCTGroupInfoContainer .dijitSelectLabel,
.jimu-widget-smartEditor-setting-coordinates .esriCTCoordinateWidth .esriCTWrapper .dijitSelectLabel {
    width: 200px;
}

/* Field select in select value popup */
.jimu-widget-smartEditor-setting-chooseFromLayer .esriCTPopupSelect .dijitSelectLabel {
    width: 255px;
}

/* Tolerance Unit select in Tolerance settings */
.jimu-widget-smartEditor-setting-intersection .esriCTpopupFieldContent .dijitSelectLabel {
    width: 160px;
}

/* data type select in coordinates popup at field level */
.jimu-widget-smartEditor-setting-coordinates .esriCTFullWidth .esriCTWrapper .dijitSelectLabel {
    width: 165px;
}

/* data type select in address popup at field level */
.jimu-widget-smartEditor-setting-address .esriCTFullWidth .esriCTGroupInfoContainer .dijitSelectLabel {
    width: 275px;
}