.grid-overlay-widget {
  margin: -8px -8px 0 -8px;
}

.grid-overlay-setting .sectionTitle {
  font-size: 13px;
}

.grid-overlay-setting .settings-section>tbody>tr:nth-child(2n+1) {
  font-size: 12px;
}

.grid-overlay-setting .esriCTColumnTitle {
  font-size: 12px;
}

.grid-overlay-setting .grid-overlay-setting-style td {
  padding: 3px;
}

.grid-overlay-setting .grid-overlay-setting-style table {
  font-size: 12px;
}

.grid-overlay-setting .grid-overlay-setting-color-picker {
  width: 70%;
  height: 30px;
}

.grid-overlay-setting .grid-overlay-setting-color-picker-text {
  font-size: 12px;
}

.grid-overlay-setting .dijitTextBox {
  width: 70%;
  margin: 0 2px;
}

.grid-overlay-setting .labelHeaderGridCompCol {
  width: 32%;
}

.grid-overlay-setting .jimu-ellipsis {
  white-space: normal;
}