/*.jimu-main-background,
.jimu-widget-homebutton,
.jimu-widget-mylocation,
.jimu-widget-onscreen-icon,
.jimu-widget-onscreen-icon.jimu-state-selected,
.jimu-widget-zoomslider .zoom,
.jimu-widget-homebutton .HomeButton .home,
.jimu-widget-mylocation .place-holder{
  background-color: #2f70e4;
}
.esriPopup .titlePane {
  background-color: #2f70e4;
}*/

.jimu-main-background,
.jimu-widget-home,
.jimu-widget-navigate,
.jimu-widget-zoom .esri-zoom .esri-widget,
.jimu-widget-mylocation,
.jimu-widget-compass,
.jimu-widget-fullScreen,
.jimu-widget-search .esri-search-button.esri-submit,
.jimu-widget-placeholder,
.jimu-widget-onscreen-icon{
  background-color: #2f70e4 !important;
}