#main-loading{
	background-color:#cc7b29;
	position:relative;
}
#main-loading #app-loading{
	position: absolute;
	background-repeat: no-repeat;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main-loading #loading-gif{
	position: absolute;
	background-image: url('images/predefined_loading_2.gif');
	background-repeat: no-repeat;
	width:58px;
	height:10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
