.jimu-widget-threatAnalysis-setting {
  margin: 0;
  padding: 0;
  font-size: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  letter-spacing: 0.38px;
}

.jimu-widget-threatAnalysis-setting .SettingsRow {
  width: 100%;
  display: inline-flex;
  margin-left: 10px;
}

.jimu-rtl .jimu-widget-threatAnalysis-setting .SettingsRow {
  margin-right: 10px;
}

.jimu-widget-threatAnalysis-setting .SymbologyContainer {
  width: 100%;
  padding: 0px 0px 20px 0px;
  overflow: hidden;
}

.jimu-widget-threatAnalysis-setting .HalfWidthContainer {
  display: flex;
  width: 50%;
}

.jimu-widget-threatAnalysis-setting .InputLabel {
  float: left;
  line-height: 28px;
  padding: 5px 5px 0px 0;
}

.jimu-widget-threatAnalysis-setting .InputLabelSettings {
  float: left;
  line-height: 28px;
  padding: 5px 0px 0px 0px;
}

.jimu-widget-threatAnalysis-setting .opLayerlabelSettings {
  padding: 0px;
  font-size: initial;
}

.jimu-widget-threatAnalysis-setting .opLayerSelectSettings {
  height: 30px;
  color: #7d7d7d;
  padding: 0 5px 0 5px;
  font-size: 13px;
  width: 96%;
  font-family: 'Avenir Medium';
  margin: 7px 0px 20px 0px;
}

.jimu-widget-threatAnalysis-setting .DropdownLabel {
  line-height: 28px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.jimu-widget-threatAnalysis-setting .Ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jimu-widget-threatAnalysis-setting.SubTitle {
  font-weight: bold;
}

.jimu-widget-threatAnalysis-setting .SubTitleRed {
  line-height: 28px;
  font-weight: bold;
  color: #ff0000;
  padding: 5px 0px 0px 10px;
}

.jimu-widget-threatAnalysis-setting .styleSelectSection {
  display: inline-grid;
  vertical-align: bottom;
  width: 38%;
}

.jimu-widget-threatAnalysis-setting .styleSelect {
  width: 100%;
  background-color: #fff;
}

.jimu-widget-threatAnalysis-setting .dijitSelectLabel {
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-align: justify;
  overflow: hidden;
  width: 100px;
  padding: 5px 0px 0px 0px;
}

.jimu-widget-threatAnalysis-setting .dijitSelect .dijitArrowButton {
  background-color: #fff;
  background-image: none;
  border-color: #fff;
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
  .jimu-widget-threatAnalysis-setting .styleSelectSection {
    display: inline-grid;
    vertical-align: bottom;
    margin: 8px 10px 0 10px;
  }
}

.jimu-widget-threatAnalysis-setting .Pointer {
  cursor: pointer;
}

.jimu-widget-threatAnalysis-setting .SettingsButtonIcon {
  margin-top: 13px;
  height: 16px;
  width: 16px;
}

.jimu-rtl .jimu-widget-threatAnalysis-setting .SettingsButtonIcon {
  margin-top: 9px;
}

.jimu-widget-threatAnalysis-setting .LabelSettingsDownButton {
  background: url("./images/arrow-down_black.png") no-repeat;
  margin-top: 15px;
}

.jimu-widget-threatAnalysis-setting .LabelSettingsDownButton:hover {
  background: url("./images/arrow-down_black_hover.png") no-repeat;
}

.jimu-widget-threatAnalysis-setting .LabelSettingsRightButton {
  background: url("./images/arrow-right_black.png") no-repeat;
}

.jimu-rtl .jimu-widget-threatAnalysis-setting .LabelSettingsRightButton {
  transform: rotate(180deg);
}

.jimu-widget-threatAnalysis-setting .LabelSettingsRightButton:hover {
  background: url("./images/arrow-right_black_hover.png") no-repeat;
}

.jimu-widget-threatAnalysis-setting .controlGroupHidden,
.jimu-widget-threatAnalysis-defaultThreatTypePopup .controlGroupHidden {
  display: none;
}

.jimu-widget-threatAnalysis-setting .instruction {
  margin-bottom: 10px;
}

.jimu-widget-threatAnalysis-setting .tabs {
  font-family: "Avenir Light";
  color: #000000;
  height: 100%;
}

.jimu-widget-threatAnalysis-setting .tabs .tab-description {
  margin: 10px 0;
}

.jimu-widget-threatAnalysis-setting .tabs .jimu-radio-checked .jimu-radio-inner {
  width: 6px;
  height: 6px;
  margin: 4px;
  border-radius: 50%;
  background-color: #24B5CC;
}

.jimu-widget-threatAnalysis-setting .tabs .jimu-radio {
  border: 1px solid #ccc;
  vertical-align: top;
}

.jimu-widget-threatAnalysis-setting .jimu-tab>.control>.tab {
  background-color: #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #dedede;
  color: #898989;
  font-family: "Avenir Medium";
  font-size: 14px;
  /*letter-spacing: 0.38px;*/
}

.jimu-widget-threatAnalysis-setting .jimu-tab>.control>.tab.jimu-state-selected {
  border-bottom: 3px solid #24b5cc;
  font-family: "Avenir Heavy";
  color: #000000;
}

.jimu-widget-threatAnalysis-setting .tabs .titles {
  font-weight: bold;
  font-family: "Avenir Medium";
  font-size: 12px;
  /*color: #000000;
  letter-spacing: 0.38px;*/
  margin: 20px 0 10px 0;
}

.jimu-widget-threatAnalysis-setting .tabs .hide {
  display: none;
}

/*.jimu-widget-threatAnalysis-setting .dijitTextBox .dijitInputField {
	padding: 1px 14px 1px 10px;
}*/
.jimu-widget-threatAnalysis-setting .tabs .indent {
  margin-left: 20px;
  margin-top: 10px;
}

.jimu-widget-threatAnalysis-setting .tabs .unit-item {
  margin: 15px 5px 5px 5px;
  line-height: 18px;
  height: 18px;
  vertical-align: middle;
}

.jimu-widget-threatAnalysis-setting .tabs .jimu-widget-threatAnalysis-settingearFix {
  *overflow: hidden;
  *zoom: 1;
}

.jimu-widget-threatAnalysis-setting .tabs .jimu-widget-threatAnalysis-settingearFix:after {
  display: table;
  content: "";
  width: 0;
  clear: both;
}

.jimu-widget-threatAnalysis-setting .tabs .view {
  height: 100%;
  overflow-y: auto;
}

.jimu-widget-threatAnalysis-setting .tabs .jimu-tab>.jimu-viewstack {
  padding-bottom: 20px;
}

/*.colorPickerEditor*/

.jimu-widget-threatAnalysis-setting .sliderWrapper {
  width: 235px;
  display: inline-block;
  margin: 5px;
}

.jimu-widget-threatAnalysis-setting .dijitSlider {
  width: 100%;
}

.jimu-widget-threatAnalysis-setting .colorPickerEditor {
  padding-top: 5px;
  padding-bottom: 8px;
  width: 100%;
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
  .jimu-widget-threatAnalysis-setting .colorPickerEditor {
    padding-top: 5px;
    padding-bottom: 8px;
    width: 100%;
    display: inline-flex;
  }
}

.jimu-widget-threatAnalysis-setting .colorPickerEditor .jimu-color-picker {
  display: inline-block;
  width: 25px;
  height: 25px;
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
  .jimu-widget-threatAnalysis-setting .colorPickerEditor .jimu-color-picker {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 26px;
  }
}

.jimu-widget-threatAnalysis-setting .colorPickerEditor .dijitSpinner.dijitNumberTextBox.dijitValidationTextBox {
  width: 66px;
  height: 30px;
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
  .jimu-widget-threatAnalysis-setting .colorPickerEditor .dijitSpinner.dijitNumberTextBox.dijitValidationTextBox {
    width: 66px;
    height: 30px;
    margin-top: 25px;
  }
}

.jimu-widget-threatAnalysis-setting .dijitSlider .dijitSliderImageHandleH {
  top: -10px;
  width: 20px;
  height: 20px;
}

.jimu-widget-threatAnalysis-setting .dijitSliderImageHandleH {
  top: -7px;
}

.jimu-widget-threatAnalysis-setting .dijitSliderImageHandle.dijitSliderImageHandleH {
  background-image: url("../../images/sliderball.svg");
  background-position: 0 0;
}

.jimu-widget-threatAnalysis-setting .dijitSliderThumbHover {
  background-image: url("../../images/sliderball.svg");
  background-position: 0 0;
}

/*left*/
.jimu-widget-threatAnalysis-setting .dijitSlider .dijitSliderProgressBarH,
.jimu-widget-threatAnalysis-setting .dijitSlider .dijitSliderLeftBumper {
  border-color: #000;
  background-color: #000;
  background-image: -webkit-linear-gradient(top, #000 0px, #000 1px, rgba(255, 255, 255, 0) 2px);
  background-image: -o-linear-gradient(top, #000 0px, #000 1px, rgba(255, 255, 255, 0) 2px);
  background-image: linear-gradient(top, #000 0px, #000 1px, rgba(255, 255, 255, 0) 2px);
}

.jimu-widget-threatAnalysis-setting .dijitSlider .dijitSliderRemainingBarH,
.jimu-widget-threatAnalysis-setting .dijitSlider .dijitSliderRightBumper {
  border-color: #d7d7d7;
  background-color: #d7d7d7;
}

.jimu-widget-threatAnalysis-setting .tabs .colorPickerEditor .trans {
  font-family: "Avenir Light";
  font-size: 12px;
  padding: 0 10px 0 20px;
  letter-spacing: 0.33px;
}

.jimu-widget-threatAnalysis-setting .tabs .sliderbar {
  width: 60px;
}

.dijitRuleLabelH {
  left: -12%;
}

/* 1 content */
.jimu-widget-threatAnalysis-setting .layers-tab {}

.jimu-widget-threatAnalysis-setting .layers-tab .editor-container {}

.jimu-widget-threatAnalysis-setting .layers-tab .editor-container .dijitEditorIFrameContainer textarea {
  resize: none;
}

/* 2 appearance */
.jimu-widget-threatAnalysis-setting .symbology-tab {
  overflow-y: auto;
  height: 490px;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .size-box-container {
  display: inline-block;
  text-align: center;
  margin: 0 10px 0 0;
  width: 80px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .size-box {
  width: 80px;
  height: 60px;
  background: no-repeat;
  margin-bottom: 5px;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .percent25 {
  background: url("../../images/percent25.svg") center center no-repeat;
  ;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .percent25.selected {
  background: url("../../images/percent25_selected.svg") center center no-repeat;
  ;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .percent50 {
  background: url("../../images/percent50.svg") center center no-repeat;
  ;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .percent50.selected {
  background: url("../../images/percent50_selected.svg") center center no-repeat;
  ;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .percent75 {
  background: url("../../images/percent75.svg") center center no-repeat;
  ;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .percent75.selected {
  background: url("../../images/percent75_selected.svg") center center no-repeat;
  ;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .percent100 {
  background: url("../../images/percent100.svg") center center no-repeat;
  ;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .percent100.selected {
  background: url("../../images/percent100_selected.svg") center center no-repeat;
  ;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .custom {
  background: url("../../images/custom.svg") center center no-repeat;
  ;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .custom.selected {
  background: url("../../images/custom_selected.svg") center center no-repeat;
  ;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .custom-label {
  vertical-align: top;
  line-height: 20px;
}

.jimu-rtl .jimu-widget-threatAnalysis-setting .symbology-tab .sizes>:first-child {
  margin-right: 0;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .wh {
  margin: 0 14px;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .wh .wh-item {
  display: inline-block;
  margin-right: 10px;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .wh .wh-item .lable {
  font-family: "Avenir Medium";
  font-size: 12px;
  color: #353535;
  /*letter-spacing: 0.33px;*/
  margin: 0 0 5px 0;
  width: 96px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .wh .inputs {
  width: 96px;
  border: 1px solid #d9dde0;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .wh .inputs .text-box {
  width: 70px;
  border: none;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .size-selector .wh .inputs .unit {
  color: #898989;
  letter-spacing: 0;
}

/* alignment */
.jimu-widget-threatAnalysis-setting .symbology-tab .align-selector .align-box-container {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
  width: 50px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .align-selector .align-box {
  width: 40px;
  height: 36px;
  background: no-repeat;
  margin: 0 5px 5px 5px;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .align-selector .top {
  background: url("../../images/top.svg") center center no-repeat;
  border: none;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .align-selector .top.selected {
  background: url("../../images/top_selected.svg") center center no-repeat;
  border: 1px #24B5CC solid;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .align-selector .middle {
  background: url("../../images/middle.svg") center center no-repeat;
  border: none;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .align-selector .middle.selected {
  background: url("../../images/middle_selected.svg") center center no-repeat;
  border: 1px #24B5CC solid;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .jimu-image-chooser {
  height: 30px;
  width: 124px;
  background: #24B5CC;
  border: 1px solid #24B5CC;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .file-name {
  font-size: 12px;
  line-height: 33px;
  height: 33px;
  color: #000000;
  margin: 0 20px 0 20px;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .types>:first-child {
  margin-left: 0;
}

.jimu-rtl .jimu-widget-threatAnalysis-setting .symbology-tab .types>:first-child {
  margin-right: 0;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .fillstype {
  margin: 10px 20px 0 20px;
}

.jimu-widget-threatAnalysis-setting .symbology-tab .buttonText {
  width: 290px;
  margin-bottom: 10px;
}

.jimu-widget-threatAnalysis-setting .instruction span {
  color: #596679;
}

.jimu-widget-threatAnalysis-setting .editor-container {
  position: absolute;
  top: 34px;
  bottom: 165px;
  left: 0;
  right: 0;
  border: 1px solid #d2dae2;
  background-color: #fafafc;
}

.jimu-widget-threatAnalysis-setting .editor-container .dijitEditorIFrameContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.jimu-widget-threatAnalysis-setting .editor-container .dijitEditorIFrameContainer {
  padding-top: 0;
}

.jimu-widget-threatAnalysis-setting .editor-container .uploaderInsideNode embed {
  display: none;
}

.jimu-widget-threatAnalysis-setting .splash-footer {
  /*position: absolute;
	bottom: 5px;*/
  color: #596679;
  /*	left: 0;
	right: 0;*/
  height: 155px;
  margin-top: 20px;
}

.jimu-widget-threatAnalysis-setting .splash-footer .require-continue {
  position: absolute;
  top: 0;
}

.jimu-widget-threatAnalysis-setting .splash-footer .require-item {
  margin-bottom: 10px;
}

.jimu-widget-threatAnalysis-setting .splash-footer .option-text {
  display: none;
  margin: 10px 0 15px 23px;
}

.jimu-widget-threatAnalysis-setting .splash-footer .confirm-container {
  display: none;
  margin-left: 20px;
  margin-bottom: 10px;
}

.jimu-widget-threatAnalysis-setting .splash-footer .confirm-text,
.jimu-widget-threatAnalysis-setting .splash-footer .confirm-option {
  width: 100%;
  margin-top: 10px;
}

.jimu-widget-threatAnalysis-setting .splash-footer .spinner-label {
  line-height: 30px;
  margin-right: 10px;
  display: inline-block;
}

.jimu-widget-threatAnalysis-setting .splash-footer .set-background,
.jimu-widget-threatAnalysis-setting .splash-footer .set-background * {
  vertical-align: middle;
}

.jimu-widget-threatAnalysis-setting .splash-footer input {
  width: 755px;
  color: #7989a0;
}

.jimu-widget-threatAnalysis-setting .dojoxEditorUploadNorm.dijitButtonDisabled {
  background: #ccc url(.././images/uploadImageIcon_disabled.gif) no-repeat 2px 2px;
}

/*------------------------- Styles for Settings Font Styles  -----------------------*/
.jimu-widget-threatAnalysis-setting .style-selector .jimu-widget-threatAnalysis-settingearFix {
  *overflow: hidden;
  *zoom: 1
}

.jimu-widget-threatAnalysis-setting .style-selector .jimu-widget-threatAnalysis-settingearFix:after {
  display: table;
  content: "";
  width: 0;
  clear: both
}

.jimu-widget-threatAnalysis-setting .style-selector .hide {
  display: none
}

.jimu-widget-threatAnalysis-setting .settings-container {}

.jimu-widget-threatAnalysis-setting .settings-container .title {
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.39px;
  margin-bottom: 20px;
}

.jimu-widget-threatAnalysis-setting .settings-container .label {
  font-size: 12px;
  color: #282828;
  letter-spacing: 0.33px;
  line-height: 30px;
}

.jimu-widget-threatAnalysis-setting .style-selector .label {
  margin: 0 0;
  max-width: 160px;
  line-height: 30px;
  font-size: 12px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jimu-widget-threatAnalysis-setting .style-selector .dijitTextBox,
.jimu-widget-threatAnalysis-setting .style-selector .dijitSelect {
  width: 100%;
  height: 30px;
  border: 1px solid #D7D7D7;
}

.jimu-widget-threatAnalysis-setting .style-selector .jimu-color-picker {
  width: 40px !important;
  height: 30px !important;
  border: 1px solid #D7D7D7 !important;
}

.jimu-widget-threatAnalysis-setting .style-selector .dijitSelect .dijitArrowButtonContainer {
  border: none;
}

.jimu-widget-threatAnalysis-setting .style-selector .dijitDownArrowButton .dijitButtonContents,
.jimu-widget-threatAnalysis-setting .style-selector .dijitComboBox .dijitDownArrowButton {
  border: none;
}

.jimu-widget-threatAnalysis-setting .style-selector .dijitTextBox .dijitInputInner {
  padding: 1px 0 0 0 !important;
  font-size: 12px;
  font-style: normal !important;
  height: 28px;
  line-height: 28px !important;
}

.jimu-widget-threatAnalysis-setting .style-selector .dijitSelectLabel {
  font-size: 12px;
}

.jimu-widget-threatAnalysis-setting .style-selector .dijitSelect,
.jimu-widget-threatAnalysis-setting .style-selector .dijitSelect .dijitButtonContents,
.jimu-widget-threatAnalysis-setting .style-selector .dijitTextBox,
.jimu-widget-threatAnalysis-setting .style-selector .dijitTextBox .dijitButtonNode {
  background-color: transparent;
}

.jimu-widget-threatAnalysis-setting .style-selector .dijitSelect .dijitArrowButton {
  background-color: transparent;
}

.jimu-widget-threatAnalysis-setting .style-selector .dijitSelect .dijitInputField {
  padding: 0px 10px;
}

.jimu-widget-threatAnalysis-setting .jimu-image-chooser .display-text {
  width: 100%;
  font-size: 12px;
  color: #4A4A4A;
  letter-spacing: 0.33px;
  background-color: #FFF;
  text-align: center;
}

.jimu-image-chooser:hover .hint .display-text {
  color: #FFF;
}

.jimu-widget-threatAnalysis-setting .dijitTextBoxFocused {
  border: 1px solid #D7D7D7 !important;
  box-shadow: 0 0 0 0 !important;
}

.jimu-widget-threatAnalysis-setting .dijitTextBox .dijitInputField {
  padding: 0px 10px;
}

.jimu-widget-threatAnalysis-setting .dijitSelectFocused .dijitArrowButton .dijitArrowButtonInner {
  background-position: -35px 53%;
}

.jimu-widget-threatAnalysis-setting .text-size .text-size-group>.dijitComboBox.dijitValidationTextBox {
  width: 80px;
}

.jimu-widget-threatAnalysis-setting .text-size .text-size-group>table {
  width: 140px;
}

.jimu-widget-threatAnalysis-setting .halo-size .halo-size-group>.dijitComboBox.dijitValidationTextBox {
  width: 80px;
}

.jimu-widget-threatAnalysis-setting .text-size .text-size-group>table {
  width: 140px;
}

.jimu-widget-threatAnalysis-setting .style-selector .setting-items {
  height: 30px;
  width: 100%;
  margin: 10px 0;
  vertical-align: middle;
  white-space: nowrap;
}

.jimu-widget-threatAnalysis-setting .style-selector .setting-wapper {
  width: 230px;
}

.jimu-widget-threatAnalysis-setting .style-selector .background-btn,
.jimu-widget-threatAnalysis-setting .style-selector .text-color-btn {
  width: 40px;
  height: 30px;
  overflow: hidden;
}

.jimu-widget-threatAnalysis-setting .style-selector .halo-color-btn {
  width: 50px;
  height: 30px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
}

.jimu-widget-threatAnalysis-setting .style-selector .align-group {
  margin-right: 8px;
  margin-left: -3px;
}

.jimu-rtl .jimu-widget-threatAnalysis-setting .style-selector .align-group {
  margin-right: -3px;
  margin-left: 8px;
}

.jimu-widget-threatAnalysis-setting .style-selector .font-group-btns {
  margin-left: 6px;
  margin-right: 6px;
}

.jimu-widget-threatAnalysis-setting .style-selector .align-btn,
.jimu-widget-threatAnalysis-setting .style-selector .font-btn {
  height: 30px;
  margin: 0 3px;
}

.jimu-widget-threatAnalysis-setting .style-selector .font-btn {
  width: 30px;
}

.jimu-widget-threatAnalysis-setting .style-selector .align-btn {
  width: 30px;
}

.jimu-widget-threatAnalysis-setting .style-selector .image-btn {
  width: 120px;
  height: 30px;
  border: 1px solid #D7D7D7;
}

.jimu-widget-threatAnalysis-setting .style-selector .bold {
  background: url("../../images/B.svg") no-repeat;
}

.jimu-widget-threatAnalysis-setting .style-selector .bold.selected {
  background: url("../../images/B_selected.svg") no-repeat;
}

.jimu-widget-threatAnalysis-setting .style-selector .italic {
  background: url("../../images/I.svg") no-repeat;
}

.jimu-widget-threatAnalysis-setting .style-selector .italic.selected {
  background: url("../../images/I_selected.svg") no-repeat;
}

.jimu-widget-threatAnalysis-setting .style-selector .underline {
  background: url("../../images/U.svg") no-repeat;
}

.jimu-widget-threatAnalysis-setting .style-selector .underline.selected {
  background: url("../../images/U_selected.svg") no-repeat;
}

.jimu-widget-threatAnalysis-setting .switch-toggle-group {
  padding: 5px;
}

.jimu-widget-threatAnalysis-setting .switch-toggle-group .checkbox-inline {
  padding-left: 36px;
  vertical-align: top;
}

.jimu-widget-threatAnalysis-setting .switch-toggle-group .switch-toggle.dijitCheckBox {
  margin-left: -36px;
}

.jimu-widget-threatAnalysis-setting .switch-toggle.dijitCheckBox {
  height: 16px;
  width: 28px;
  border: 0 none;
  background: #e04f1d;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.jimu-widget-threatAnalysis-setting .switch-toggle.dijitCheckBox:before {
  content: "";
  background: #f8f8f8;
  position: absolute;
  padding: 0;
  height: 12px;
  width: 12px;
  left: auto;
  right: 2px;
  top: 2px;
  z-index: 1;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.jimu-widget-threatAnalysis-setting .switch-toggle.dijitCheckBox input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
}

.jimu-widget-threatAnalysis-setting .switch-toggle.dijitCheckBox.dijitCheckBoxChecked {
  background: #50ad4e;
}

.jimu-widget-threatAnalysis-setting .switch-toggle.dijitCheckBox.dijitCheckBoxChecked:before {
  right: 14px;
}

.jimu-widget-threatAnalysis-setting .halo-toggle-group {
  padding: 5px;
}

.jimu-widget-threatAnalysis-setting .halo-toggle-group .checkbox-inline {
  padding-left: 36px;
  vertical-align: top;
}

.jimu-widget-threatAnalysis-setting .halo-toggle-group .halo-toggle.dijitCheckBox {
  margin-left: -36px;
}

.jimu-widget-threatAnalysis-setting .halo-toggle.dijitCheckBox {
  height: 16px;
  width: 28px;
  border: 0 none;
  background: #e04f1d;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 6px;
  margin-left: 5px;
}

.jimu-widget-threatAnalysis-setting .halo-toggle.dijitCheckBox:before {
  content: "";
  background: #f8f8f8;
  position: absolute;
  padding: 0;
  height: 12px;
  width: 12px;
  left: auto;
  right: 2px;
  top: 2px;
  z-index: 1;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.jimu-widget-threatAnalysis-setting .halo-toggle.dijitCheckBox input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
}

.jimu-widget-threatAnalysis-setting .halo-toggle.dijitCheckBox.dijitCheckBoxChecked {
  background: #50ad4e;
}

.jimu-widget-threatAnalysis-setting .halo-toggle.dijitCheckBox.dijitCheckBoxChecked:before {
  right: 14px;
}

.jimu-widget-threatAnalysis-setting .btn-add-section {
  display: inline-block;
  overflow: hidden;
  height: 24px;
  margin-left: 1px;
  margin-bottom: 3px;
  cursor: pointer;
  font-size: 13px;
  color: #538ec8;
  margin-top: 8px;
}

.jimu-widget-threatAnalysis-setting .btn-add-section .btn-add-icon {
  height: 100%;
  width: 14px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/add.png);
  display: inline-block;
  vertical-align: top;
}

.jimu-widget-threatAnalysis-setting .btn-add-section .btn-add-label {
  height: 100%;
  line-height: 24px;
  margin-left: 7px;
  text-decoration: underline;
  display: inline-block;
  vertical-align: top;
}

.jimu-widget-threatAnalysis-setting .helpBtn {
  float: right;
  background: url(./images/help_black.png);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 16px;
  height: 16px;
  margin-top: 13px;
  vertical-align: middle;
}

/* Safari 11+ */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .jimu-widget-threatAnalysis-setting .helpBtn.safari_only {
      margin-top: 8px;
    }
  }
}

.jimu-rtl .jimu-widget-threatAnalysis-setting .helpBtn {
  float: left;
  transform: rotateY(180deg);
}

.jimu-widget-threatAnalysis-setting .helpBtn:hover {
  background: url(./images/help_black_hover.png);
}

.jimu-widget-threatAnalysis-setting .esriCTFullHeight {
  height: 100%;
}

.jimu-widget-threatAnalysis-setting .esriCTWrapper {
  padding: 10px;
}

.jimu-widget-threatAnalysis-setting .esriCTMiscTabWrapperWidth {
  width: 600px;
}

.jimu-widget-threatAnalysis-setting .esriCTAddThreatTypeBtn {
  display: inline-block;
  height: 20px;
  cursor: pointer;
  font-size: 13px;
  color: rgb(83, 142, 200);
  overflow: hidden;
  float: right;
}

.jimu-rtl .jimu-widget-threatAnalysis-setting .esriCTAddThreatTypeBtn {
  float: left;
}

.jimu-widget-threatAnalysis-setting .esriCTBtnAddIcon {
  height: 100%;
  width: 14px;
  background-image: url(images/add.png);
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center center;
}

.jimu-widget-threatAnalysis-setting .esriCTBtnAddLabel {
  height: 100%;
  line-height: 20px;
  margin-left: 7px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}

.jimu-rtl .jimu-widget-threatAnalysis-setting .esriCTBtnAddLabel {
  margin-right: 7px;
  margin-left: 0px;
  ;
}

.jimu-widget-threatAnalysis-setting .esriCTAddBtnWrapper {
  width: 100%;
  padding: 5px;
  overflow: hidden;
  height: 25px;
}

.jimu-widget-threatAnalysis-setting .esriCTThreatTypeWrapper {
  width: 100%;
  padding: 5px;
  overflow: hidden;
  margin-top: 10px;
  height: calc(100% - 30px);
  overflow: auto;
}

.jimu-widget-threatAnalysis-newThreatTypePopup .esriCTWrapper {
  width: 100%;
  overflow: hidden;
  padding: 5px;
}

.jimu-rtl .jimu-widget-threatAnalysis-defaultThreatTypePopup .esriCTDijitContent {
  padding-right: 0px;
}

.jimu-widget-threatAnalysis-newThreatTypePopup .esriCTWrapper {
  width: 100%;
  overflow: hidden;
  padding: 5px;
}

.jimu-widget-threatAnalysis-newThreatTypePopup .esriCTLabel {
  width: 40%;
  padding: 0px 10px 0px 0px;
  word-break: break-word;
  float: left;
  font-size: 14px;
  color: #596679;
  line-height: 30px;
}

.jimu-rtl .jimu-widget-threatAnalysis-newThreatTypePopup .esriCTLabel {
  float: right;
}

.jimu-rtl .jimu-widget-threatAnalysis-defaultThreatTypePopup .esriCTDijitControlLabel {
  float: right;
  padding: 0px 0px 0px 5px;
}

.jimu-widget-threatAnalysis-newThreatTypePopup .esriCTDijitControl,
.jimu-widget-threatAnalysis-defaultThreatTypePopup .esriCTDijitControl {
  width: 60%;
  float: right;
}

.jimu-rtl .jimu-widget-threatAnalysis-newThreatTypePopup .esriCTDijitControl {
  float: left;
}

.jimu-widget-threatAnalysis-newThreatTypePopup .esriCTDijitWrapper,
.jimu-widget-threatAnalysis-defaultThreatTypePopup .esriCTDijitWrapper {
  width: 100%;
}

.jimu-widget-threatAnalysis-newThreatTypePopup .esriCTDefaultIcon {
  height: 25px;
  width: 25px;
  background-image: url(images/default-threat-type.png);
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.jimu-widget-threatAnalysis-newThreatTypePopup .esriCTDefaultLabel {
  padding: 0px 10px 0px 0px;
  word-break: break-word;
  float: left;
  font-size: 14px;
  color: #596679;
  line-height: 30px;
  width: 40%;
}

.jimu-rtl .jimu-widget-threatAnalysis-newThreatTypePopup .esriCTDefaultLabel {
  float: right;
}

.jimu-widget-threatAnalysis-defaultThreatTypePopup .esriCTThreatTypesContainer {
  word-break: break-word;
  font-size: 14px;
  width: 100%;
  border: 1px solid #596679;
  margin-top: 10px;
  clear: both;
  height: auto;
  overflow: auto;
}

.jimu-widget-threatAnalysis-defaultThreatTypePopup .esriCTDefaultThreats {
  clear: both;
  line-height: 30px;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  text-indent: 5px;
  cursor: pointer;
}

.jimu-widget-threatAnalysis-defaultThreatTypePopup .esriCTDefaultThreats:hover {
  background-color: #eee;
  color: #7989a0;
}

.jimu-widget-threatAnalysis-defaultThreatTypePopup .esriCTMainContainer {
  height: 300px;
  margin-right: 5px;
}

.jimu-widget-threatAnalysis-defaultThreatTypePopup .esriCTWrapper {
  height: 250px;
  width: 100;
}

.jimu-widget-threatAnalysis-defaultThreatTypePopup .esriCTLabel {
  width: 100%;
  clear: both;
  height: 19px;
}

.jimu-widget-threatAnalysis-defaultThreatTypePopup .selectedThreat {
  background-color: #ddd;
  color: #596679;
}

.jimu-widget-threatAnalysis-setting .esriCTTabsDiv {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.jimu-widget-threatAnalysis-setting .jimu-viewstack {
  height: calc(100% - 45px);
  overflow: auto;
}

.jimu-widget-threatAnalysis-setting .unitMeasureLabel {
  color: #7989a0;
  padding: 0 5px 0 5px;
  font-weight: bold;
  font-style: italic;
}

.jimu-widget-threatAnalysis-defaultThreatTypePopup .esriCTDijitControlLabel {
  width: 40%;
  padding: 0px 10px 5px 0px;
  word-break: break-word;
  float: left;
}

.jimu-widget-threatAnalysis-Setting .esriCTFieldSet {
  height: auto;
  width: calc(100% - 4px);
  border: 1px solid #a0acbf;
  border-radius: 5px;
  font-size: 14px;
  color: #596679;
  margin: 10px 0px 10px 0px;
}

.jimu-widget-threatAnalysis-setting .esriCTFieldSetLegend {
  margin-left: 15px;
  font-weight: bold;
}

.jimu-widget-threatAnalysis-setting .container {
  margin-left: 10px;
}

.jimu-rtl .jimu-widget-threatAnalysis-setting .container {
  margin-right: 10px;
}

.jimu-widget-threatAnalysis-setting .styleSelect {
  width: 200px;
}