
<div class = 'container'>

	<!-- modal -->
	<div data-dojo-type="dijit/Dialog" data-dojo-id="dojo_modal" title="Plan Management Portal">
		<div id = 'dojo_modal_content'>
	
		</div>
	</div>

	<!-- instructions -->
	<div class = 'row mb-3'>
		Validate a candidate plan or delete it
	</div>

	<!-- buttons -->
	<div class = 'row mb-3'>

		<!-- cancel -->
		<div class = 'col'>
			<button data-dojo-attach-point = 'cancel' id = 'cancel' class = 'btn btn-warning btn-sm mb-2'>Clear Form</button>
		</div>

		<!-- next -->
		<div class = 'col'>
			<button data-dojo-attach-point = 'next' id = 'next' class = 'btn btn-primary btn-sm mb-2'>Next Plan</button>
		</div>

	</div>

	<!-- form -->
	<form id = 'plan_form'>
		<div class = 'form-group'>

			<!-- plan type -->
			<label for = 'plan_type'>Plan Type (required)</label>
			<input id = 'plan_type' class = 'form-control bg-warning' type = 'text' readonly>

			<!-- objectid -->
			<label for = 'production_objectid'>Production Objectid</label>
			<input id = 'production_objectid' class = 'form-control bg-warning' type = 'text' readonly>

			<!-- objectid -->
			<label for = 'temporary_objectid'>Temporary Objectid (required)</label>
			<input id = 'temporary_objectid' class = 'form-control bg-warning' type = 'text' readonly>

			<!-- entity identifier -->
			<label for = 'entity_identifier'>Entity Identifier (required)</label>
			<input id = 'entity_identifier' class = 'form-control bg-warning' type = 'text' readonly>

			<!-- plan identifier -->
			<label for = 'plan_identifier'>Plan Identifier (required)</label>
			<input id = 'plan_identifier' class = 'form-control bg-warning' type = 'text' readonly>

			<!-- created date -->
			<label for = 'created_date'>Created Date (required)</label>
			<input id = 'created_date' class = 'form-control bg-warning' type = 'text' readonly>

			<!-- plan name -->
			<label for = 'entity_name'>Entity Name (required)</label>
			<input id = 'entity_name' class = 'form-control' type = 'text' readonly>

			<!-- plan name -->
			<label for = 'plan_name'>Plan Name (required)</label>
			<input id = 'plan_name' class = 'form-control' type = 'text'>

			<!-- plan url -->
			<label for = 'url'>Plan URL (required)</label>
			<input id = 'url' class = 'form-control' type = 'text'>


		</div>
	</form>

	<!-- validate plan -->
	<div class = 'row mb-3'>

		<div class = 'col'>
			<button data-dojo-attach-point = 'validate' id = 'validate' class = 'btn btn-primary btn-sm mb-2'>Validate Plan</button>
		</div>

		<div class = 'col'>
			<button data-dojo-attach-point = 'reject' id = 'reject' class = 'btn btn-danger btn-sm'>Reject Plan</button>
		</div>
		
	</div>




</div>

