
<div class = 'container'>

	<!-- basic modal for displaying messages -->
	<div data-dojo-type='dijit/Dialog' data-dojo-id='dijit_basic_modal'>
		<div id = 'dojo_modal_content'></div>
	</div>

	<!-- modal for displaying planning boundaries -->
	<div id = 'dojo_planning_content' data-dojo-type='dijit/Dialog' data-dojo-id='dijit_planning_modal' style="width:600px;">
		
		<div id = 'modal_existing_plans' class = 'modal_div'>
			<h4>Update a validated plan</h4>
			<p>
				The entities listed below are existing plans that have already been validated.
			</p>
			<table id = 'modal_existing_plans_table' class = 'table'></table>
		</div>
		
		<div id = 'modal_new_plans' class = 'modal_div'>
			<h4>Validate a new plan</h4>
			<p>
				The entities below are either new plans or updates to existing plans that have been submitted by
				and external entity.
			</p>
			<table id = 'modal_new_plans_table' class = 'table'></table>
		</div>
		
	</div>

	<!-- modal for loading -->
	<div data-dojo-type='dijit/Dialog' data-dojo-id='dijit_loading_modal' style="width:600px;">
		<div class="spinner-border" style="width: 2rem; height: 2rem;" role="status"></div>
		<div class="sr-only">Loading...</div>
	</div>

	<!-- instructions -->
	<div class = 'row mb-3 instructions'>

		<h4>Welcome to the Texas Active Transportation Plan Management Portal!</h4>

		<p>Use this tool to validate, reject, or edit candidate plan information.</p>

		<p>There are three ways to populate plan information into the form for review:</p>

		<ul>
			<li>Select a highlighted area on the map and choose the plan you wish to review from the list in the pop-up window.</li>
			<li>Select a plan from the drop-down menu.</li>
			<li>Click the "Next Plan" button and iterate through candidate plans.</li>
		</ul>
		
		<p>
			For each plan submission, make any edits to the information in the form fields before validating. 
			When a candidate plan is validated, it will be moved from the Inventory Updates feature layer to the Plan Inventory feature layer 
			and displayed in the Texas Active Transportation Plan Inventory. Validating a plan that already exists in the Plan Inventory will update 
			the layer with the newly submitted information.
		</p>

		<p>
			Rejecting candidate plan information will remove it from the Inventory Updates feature layer and it will not be visible in the 
			Texas Active Transportation Plan Inventory. When a plan submission is rejected, a notification will be sent to the email address 
			provided on the submission form.
		</p>

		<p>
			If you need to edit validated plan information in the Plan Inventory feature layer, open the “Layers” widget in the upper right and 
			toggle on the Plan Inventory feature layer. On the map, select the highlighted Planning Area Boundary of the validated plan you wish 
			to edit and choose the plan from the pop-up window. Make your edits in the form and click the “Validate Plan” button.
		</p>
		
	</div>


	<!-- move through plans -->
	<hr>
	<div class = 'row form-group'>
		<!-- drop down plan selection -->
		<div class = 'col'>
			<select id = 'plan_select' class = 'form-control'>
				<option value = 'default' selected default disabled>Select A Plan to Review</option>
			</select>
		</div>
		<!-- next -->
		<div class = 'col'>
			<button data-dojo-attach-point = 'next' id = 'next' class = 'btn btn-primary btn-sm mb-2 form-control'>Next Plan</button>
		</div>
	</div>

	<!-- form -->
	<hr>
	<form  id = 'form'>

		<div class = 'form-group'>
			<!-- entity name -->
			<label class = 'mt-2' for = 'enty_nm'><b>Entity Name</b> (required)</label>
			<input type = 'text' class = 'form-control mb-1' id = 'enty_nm' placeholder = 'City of Pleasantville' required>

			<!-- department name -->
			<label class = 'mt-2' for = 'dept_nm'><b>Department Name</b></label>
			<input type = 'text' class = 'form-control mb-1' id = 'dept_nm' placeholder = 'Public Works' data-toggle='tooltip' data-placement='top' title='Optional. Name of the department or division principally responsible for plan.'>

			<!-- created date -->
			<input hidden id = 'create_dt' class = 'form-control' readonly>
		</div>

		<!-- contact information -->
		<hr>
		<div class = 'form-group'>
			<!-- contact name -->
			<label class = 'mt-2' for = 'cntct_nm'><b>Contact Name</b></label>
			<input type = 'text' class = 'form-control mb-1' id = 'cntct_nm' placeholder = 'Jane Planner'>

			<!-- contact email -->
			<label class = 'mt-2' for = 'cntct_eml'><b>Contact Email</b> (required)</label>
			<input onkeyup="check_cntct_eml();" type = 'email' class = 'form-control mb-1' id = 'cntct_eml' placeholder = 'jane.p@pleasantville.gov' data-toggle='tooltip' data-placement='right' title='For notifications. Your email address will not be published.'>

			<!-- contact phone and ext -->
			<div class = 'form-row'>
				<div class = 'col-8'>
					<label class = 'mt-2' for = 'cntct_phn_nbr'><b>Contact Phone</b></label>
					<input type = 'text' maxlength="12" onkeyup = "configure_phone_number()" class = 'form-control mb-1' id = 'cntct_phn_nbr' placeholder = '512-215-5555' data-toggle='tooltip' data-placement='right' title='Department or direct.'>
				</div>
				<div class = 'col-4'>
					<label class = 'mt-2' for = 'cntct_phn_ext'><b>Extension</b></label>
					<input type = 'number' onkeydown="input_maxlength_test(elm = this, maxlength = 3, min_value = 001, max_value = 999)" class = 'form-control mb-1' id = 'cntct_phn_ext' placeholder = '255' data-toggle='tooltip' data-placement='right' title='Department or direct.'>
				</div>
			</div>
		
		</div>

		<!-- plan details -->
		<hr>
		<div class = 'form-group'>
			<!-- plan name -->
			<label class = 'mt-2' for = 'plan_nm'><b>Plan Name</b> (required)</label>
			<input type = 'text' class = 'form-control mb-1' id = 'plan_nm' placeholder = 'Pleasantville Bicycle Master Plan' data-toggle='tooltip' data-placement='right' title='Full name of plan.'>

			<!-- plan url -->
			<label class = 'mt-2' for = 'plan_url'><b>Plan URL</b> (required)
			<br> To avoid broken links, please provide a URL to either the plan website or document, whichever is less likely to change.
			</label>
			<input onkeyup = "check_url('plan_url')" type = 'url' class = 'form-control mb-1' id = 'plan_url' placeholder = 'Example: www.pleasantville.gov/bikeplan' data-toggle='tooltip' data-placement='right' title='Stable URL for the plan landing page or the PDF plan itself.'>
			
			<!-- year plan adoption publication -->
			<label class = 'mt-2' for = 'adpt_pblctn_yr'><b>Year of Plan Adoption or Publication (YYYY)</b></label>
			<input onkeyup = "input_maxlength_test(elm = this, maxlength = 4, min_value = 1950, max_value = today.getFullYear(), flash = true);" type = 'number' class = 'form-control mb-1' id = 'adpt_pblctn_yr' placeholder = '2016' data-placement='right' title='Year plan was written or adopted (not planning horizon year).'>

			<!-- plan gis url -->
			<label class = 'mt-2' for = 'plan_gis'><b>Plan GIS URL</b>
			<br> Provide the URL to the plan GIS Layer or Map.
			</label>
			<input onkeyup = "check_url('plan_gis')" type = 'url' class = 'form-control mb-1' id = 'plan_gis' placeholder = 'Example: www.pleasantville.gov/server/rest/services/l/0' data-toggle='tooltip' data-placement='right' title='Stable URL for the plan GIS layer or Map.'>
	
			<!-- plan description -->
			<label class = 'mt-2' for = 'plan_dscr'><b>Plan Description</b></label>
			<p>Please include as many details as possible, such as page numbers for active transportation specific information, network maps, horizon year, and design guidelines.</p>
			<textarea id = 'plan_dscr' class = 'form-control' rows = 5 placeholder = 'Example: The Pleasantville Bicycle Master Plan is a blueprint for promoting the safety and convenience of bicycling in Pleasantville. See page 45 for bicycle infrastructure design guidelines and 52 for a map of the Pleasantville bicycling network. This plan covers a 10-year planning horizon.' data-toggle='tooltip' data-placement='right' title='Short description of the plan. Include keywords for search, e.g. "ADA," "Vision Zero".'></textarea>

			<!-- plan page numbers -->
			<label class = 'mt-2' for = 'plan_page_numbrs'><b>Active Transportation Specific Page Numbers</b></label>
			<p>If your document is not dedicated entirely to active transportation, add the page numbers or range of pages that discuss active transportation.</p>
			<input type = 'text' id = 'plan_page_numbrs' class = 'form-control mb-1'>
		
			<!-- tags -->
			<label class = 'mt-2' for = 'tag_input'><b>Plan Tags and Keywords</b></label>
			<p>
				Add searchable, informative tags or keywords to indicate the content of the document. Remove unwanted tags by clicking on the bolded word underneath the text box. Examples include pedestrian, walk, bicycle, design, safety, and infrastructure.
			</p>
			<div class = 'row'>
				<div class = 'col-9'>
					<input type = 'text' class = 'form-control mb-1' id = 'tag_input' placeholder = 'Add Tags and Keywords' data-toggle='tooltip' data-placement='right' title='Enter tags'>
				</div>
				<div class = 'col'>
					<button type = 'button' onclick="add_tag();" class = 'btn btn-primary'>Add Tag</button>
				</div>
			</div>
			<div id = 'tag_row' class = 'row'>
				<div id = 'plan_tags' class = 'col'></div>
			</div>
		
		</div>

		<!-- mode -->
		<hr>
		<div class = 'form-group'>
			<label class = 'mt-2' for = 'mode'>
				<b>Modes Covered</b>
				<br>Hold down the control key for Windows or Command key for Mac to select multiple options.
			</label>
			<select multiple class = 'form-control' id = 'mode'>
				<option>Bicycle</option>
				<option>Pedestrian</option>
				<option>Micromobility</option>
				<option>Other</option>
			</select>
		</div>

		<!-- created date -->
		<input id = 'create_dt' hidden>

	</form>

	<!-- validate or reject plan -->
	<hr>

	<p>
		Validating a plan will move it to the Plan Inventory layer and make it available in the Active Transportation Plan Inventory. 
	</p>
	<p>
		Rejecting a plan will remove it from the Inventory Updates layer and the plan will not be available in the Active Transportation Plan Inventory 
		unless the information that is being rejected is an update to an existing plan. Then the older data and plan information will still be available. 
	</p>

	<div class = 'row mb-3'>

		<div class = 'col'>
			<button data-dojo-attach-point = 'validate' id = 'validate' class = 'btn btn-success btn-sm mb-2'>Validate Plan</button>
		</div>		

		<div class = 'col'>
			<button data-dojo-attach-point = 'reject' id = 'reject' class = 'btn btn-danger btn-sm'>Reject Plan</button>
		</div>
		
	</div>

	<!-- go nuclear -->
	<hr>

	<p>
		Delete all records in the Invetory Updates layer (temp) and the Plan Inventory layer (prod).
		You will be prompted to confirm that you actually want to delete all records.
	</p>
	<button id = 'go_nuclear' class = 'btn btn-danger btn-sm'>Delete All Records</button>

</div>

