
/* dom elements */

html,body{
	height:100%;
}

body{
	overflow: hidden;
}

ul.taglist li {
	display: inline-block;
	background: #eeeeee;
	border-left: 2px solid #000;
	padding: .1em .4em;
	margin: .3em;
}

/* classes */

.blue-banner{
	background-color:#0F385A;
}

.card {
	cursor: pointer;
	box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
	width: 100%;
	/* max-width: 90%; */
	/* margin-left: 7px; */
}

.card-body{
	width: 100%;
}

.card-col {
	min-width: 450px;
}

.container-fluid{
	height:100%;
}


.form-check-input{
	cursor: pointer;
}

.header {
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #fff;
	border-bottom: #c5c9cc;
	border-bottom-width: .5px;
	border-bottom-style: solid;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
	max-height: 500px;
	min-height: 75px;
}

.label-info{
	background-color: #c5c9cc;
	font-size: 16px;
	padding: 4px;
}

.list-unstyled{
	padding : 0px;
}

.modal-content-large { 
	height : 100%;
	width : 800px;
}

.modal-content-small{
	width: 500px;
	height: 100%;
} 

.multiple-selection-header{
	background-color: #0F385A;
	margin: 5px;
	padding: 5px;
}

.plan-card-modal-body{
	min-height: 500px;
}

.scrollable{
	/* position: absolute; */
    /* height: 80vh;
	height: 80vh; */
	height: auto;
	overflow: scroll;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
    /* overflow-y: scroll;
    overflow-x: hidden;
	padding: 0px; */
	/* overflow-y: auto;
	overflow-x: hidden; */
}

.text-blue{
	color: #0F385A;
}

.text-warning{
	color : #CC7B29;
}

.blue-background{
	background-color: #0F385A;;
}

.icon-image {
	width : 30px;
	margin-bottom: 2px;
}

.view-the-site {
	background-color: #CC7B29;
	width: 100%;
}


/* Header */
#application_name {
	font-size: 1.75rem;
}

#filter_image{
	height : 20px;
}

#info_img{
	width : 35px;
}

#logo{
	height: 50px;
	max-height: 50px;
}

/* Other */

#banner{
	width : 100%;
	margin: 5px;
	padding: 5px;
	background-color:rgb(248, 248, 248)
}

#download{
	width: 90%;
	text-align: center;
	margin: 5px;
	padding-top: 5px;
	align-content: center;
}

#export_button{
	width: 50%;	
}



#mapDiv{
    padding: 0px;
    height: 100%;
	/* cursor: pointer; */
}

#plan_info_map{
	min-height: 325px;
}

#viewDiv {
    width: 99%;
    height: 99%;
	cursor: pointer;
}

#extentDiv {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 2;
}

#overviewDiv {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 368px;
	height: 300px;
	border: 1px solid black;
	z-index: 1;
	overflow: hidden;
}

#filter_row {
	min-width: 150px;
	max-height: 100%;
}

#txdot_logo{
	width: 80%;
}
