
.panel-container {
  display: flex;
  flex-direction: row;
  /* avoid browser level touch actions */
  xtouch-action: none;
}

.panel-left {
  flex: 0 0 auto;
  padding: 10px;
  width: 300px;
  min-height: 200px;
  min-width: 150px;
  white-space: nowrap;
  background: #838383;
  color: white;
}


.panel-right {
  flex: 1 1 auto;
  /* resizable */
  /* padding: 10px;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
  background: #eee; */
}

