/*Start Main Section*/
.jimu-widget-setting-critical-facilities {
  height: 100%;
  overflow: hidden;
  font-size: 15px;
}


.jimu-widget-setting-critical-facilities .esriCTHidden
{
    display: none;
}

.jimu-widget-setting-critical-facilities .esriCTEditActionButton{
  float: right;
  margin-right: 10px;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .esriCTEditActionButton
{
  float: left;
  margin-left: 10px;
}

/*Hide scroll bar of simple table*/
.jimu-widget-setting-critical-facilities .jimu-simple-table .body-section
{
  overflow-y: hidden;
}

.jimu-widget-setting-critical-facilities .jimu-layer-chooser-from-map-withdropbox  
{
    height: 26px;
}

.jimu-widget-setting-critical-facilities .jimu-symbol-picker
{
  display: block;
}

.jimu-widget-setting-critical-facilities .main-section {
  width: 100%;
  height: 100%;
  color: #596679;
  font-size: 14px;
  overflow-x: auto
}

.jimu-widget-setting-critical-facilities .instruction {
  padding-top: 7px;
  margin-left: 10px;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .instruction {
  padding-top: 7px;
  margin-right: 10px;
}

.jimu-widget-setting-critical-facilities .hintText {
  font-size: 12px;
  color: #a0acbf;
  font-style: oblique;
}

.jimu-widget-setting-critical-facilities .hint-text-large {
  font-size: 14px;
  color: #596679;
}

.jimu-widget-setting-critical-facilities .display-none {
  display: none;
}

.jimu-widget-setting-critical-facilities .display-block {
  display: block;
}

.jimu-widget-setting-critical-facilities > tbody > tr > .second {
  width: auto;
}

.jimu-widget-setting-critical-facilities .dijitArrowButtonContainer {
  width: 17px;
}

.jimu-widget-setting-critical-facilities .dijitTextBoxFocused {
  border-color: #406b9b !important;
  box-shadow: 0 0 0;
}

.jimu-widget-setting-critical-facilities .jimu-checkbox .label {
  cursor: pointer;
}

.jimu-widget-setting-critical-facilities .layer-list {
  padding-left: 0px;
  vertical-align: top;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .layer-list {
  padding-right: 0px;
  vertical-align: top;
}

.jimu-widget-setting-critical-facilities .padding-left-10 {
  padding-left: 10px;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .padding-left-10 {
  padding-right: 10px;
}

.jimu-widget-setting-critical-facilities .pad-left-20 {
  padding-left: 20px;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .pad-left-20 {
  padding-right: 20px;
}

.jimu-widget-setting-critical-facilities .pad-bottom-20 {
  padding-bottom: 20px;
}
/*  Removed top 0px because symbol UI is not proper  */
.jimu-widget-setting-critical-facilities .jimu-symbol-picker .symbol-node {
  top: 0px;
}

.jimu-widget-setting-critical-facilities .layer-fields-edit-error {
  vertical-align: top;
}

.jimu-widget-setting-critical-facilities .locator-error {
  vertical-align: middle;
}

.jimu-widget-setting-critical-facilities .esriCTFullHeight{
  height: 100%;
}

.jimu-widget-setting-critical-facilities .esriCTTargetLayerTab, .jimu-widget-setting-critical-facilities .esriCTLocationSettingsTab,
.jimu-widget-setting-critical-facilities .esriCTGeneralSettingsTab
{
    height: calc(100% - 20px);
}

.jimu-widget-setting-critical-facilities .esriCTAddTargetLayerButton {
  margin: 8px 0;
  display: inline-block;
  position: relative;
  padding-left: 20px;
  color: #518dca;
  background: url(images/add.png) no-repeat left;
  cursor: pointer;
}

.jimu-widget-setting-critical-facilities .esriCTDisabledTargetLayerButton {
  color: #8d8d8d;
  cursor: default;
  background: url(images/add-disable.png) no-repeat left;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .esriCTAddTargetLayerButton {
  padding-right: 20px;
  background: url(images/add.png) no-repeat right;
}

.jimu-widget-setting-critical-facilities .esriCTProvideTextLabel {
  margin: 10px 0px 5px 0px;
}

.jimu-widget-setting-critical-facilities .esriCTNoValidLayerWarning {
  margin-top: 10px;
  color: red;
  font-style: italic;
}
/*End Main Section*/
/*------------------------------------------------------------------------------------------------------------*/

/*Start Layer Section*/
.jimu-widget-setting-critical-facilities .layer-table {
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.jimu-widget-setting-critical-facilities .layer-table > tbody > tr > td {
  padding: 5px;
}

.jimu-widget-setting-critical-facilities .layer-table > tbody > tr > td .edit-fields {
  padding-left: 10px;
  background-image: url(images/edit_default.png);
}

.jimu-rtl .jimu-widget-setting-critical-facilities .layer-table > tbody > tr > td .edit-fields {
  padding-right: 10px;
  background-image: url(images/edit_default.png);
}

.jimu-widget-setting-critical-facilities .layer-table > tbody > tr > td .edit-fields:hover {
  background-image: url(images/edit_hover.png);
}

.jimu-widget-setting-critical-facilities .layer-table > tbody > tr > td .edit-fields-disabled {
  display: block;
  width: 18px;
  height: 16px;
  background-image: url(images/edit_disabled.png);
  cursor: default;
}

.jimu-widget-setting-critical-facilities .search-radius {
  width: 40%;
}

.jimu-widget-setting-critical-facilities .dijitSelect {
  width: 40%;
  float: right;
}

.jimu-widget-setting-critical-facilities .dijitTextBox {
  width: 40%;
}

.jimu-widget-setting-critical-facilities .radiusSelect .dijitSelectLabel {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 120px;
}

.jimu-widget-setting-critical-facilities .symPick {
  padding-top: 1px;
  padding-bottom: 1px;
  border: 0px solid #D7D7D7;
}

.jimu-widget-setting-critical-facilities .edit-fields-disabled {
  display: block;
  width: 18px;
  height: 16px;
  background-image: url(images/edit_disabled.png);
  cursor: default;
}

.jimu-widget-setting-critical-facilities .layer-node {
  margin-bottom: 30px;
}

.jimu-widget-setting-critical-facilities .layer-symbol {
  padding-left: 25px;
  padding-top: 3px;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .layer-symbol {
  padding-right: 25px;
  padding-top: 3px;
}

/*End Layer Section*/
/*------------------------------------------------------------------------------------------------------------*/
/*Start Geocode Section*/
.jimu-widget-setting-critical-facilities .add-button {
  margin: 8px 0;
  display: inline-block;
  position: relative;
  padding-left: 16px;
  color: #518dca;
  background: url(images/add.png) no-repeat left;
  cursor: pointer;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .add-button {
  margin: 8px;
  margin-left: 0;
  display: inline-block;
  position: relative;
  padding-right: 16px;
  color: #518dca;
  background: url(images/add.png) no-repeat right;
  cursor: pointer;
}

.jimu-widget-setting-critical-facilities .add-button:hover {
  background: url(images/add_hover.png) no-repeat left;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .add-button:hover {
  background: url(images/add_hover.png) no-repeat right;
}

.jimu-widget-setting-critical-facilities .sources {
  height: 100%;
}

.jimu-widget-setting-critical-facilities .source-list {
  width: 270px; /*associated with xy-table*/
  height: 250px;
}

.jimu-widget-setting-critical-facilities .source-setting {
  width: 650px;
  position: relative;
  height: 100%;
  overflow: auto;
  border-bottom: 1px solid #a0acbf;
}

.jimu-widget-setting-critical-facilities .source-setting .source-tips {
  display: none;
  font-size: 12px;
  color: #999;
}

.jimu-widget-setting-critical-facilities .source-setting .source-tips-show{
  display: block;
}

.jimu-widget-setting-critical-facilities .source-table{
  width: 100%;
}

.jimu-widget-setting-critical-facilities .source-url-section .source-table > tbody > tr:first-child > td {
  padding-bottom: 5px;
}

.jimu-widget-setting-critical-facilities .source-url-section .source-table > tbody > tr > .second {
  width: 455px;
}

.jimu-widget-setting-critical-facilities .source-table > tbody > tr > td{
  padding-bottom: 10px;
}

.jimu-widget-setting-critical-facilities .source-table > tbody > tr > .first{
  width: auto;
  text-align: left;
  padding-right: 10px;
  white-space: nowrap;
}

.jimu-widget-setting-critical-facilities .source-table > tbody > tr > .second{
  width:550px;
}

.jimu-widget-setting-critical-facilities .source-table > tbody > tr > .third{
  width: 70px;
  padding-left: 10px;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .source-table > tbody > tr > .first{
  padding-left: 10px;
  padding-right: 0;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .source-table > tbody > tr > .first{
  text-align: right;
  padding-left: 10px;
  padding-right: auto;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .source-table > tbody > tr > .third{
  padding-left: 0;
  padding-right: 10px;
}

.jimu-widget-setting-critical-facilities .source-table .jimu-btn{
  padding: 0;
  line-height: 30px;
  width: 60px;
}

.jimu-widget-setting-critical-facilities .source-table > tbody > tr > .second .tip{
  font-size: 12px;
  color: #999;
  width: 100%;
  display: inline-block;
}

.jimu-widget-setting-critical-facilities .source-table .error-message{
  color: #e84b4b !important;
}

.jimu-widget-setting-critical-facilities .jimu-basic-service-chooser {
  width: auto;
}

.override-geocode-service-chooser-content {
  width: 580px !important;
  min-height: 150px !important;
}

.override-geocode-service-chooser-content .service-browser-container{
  display: none;
}

.jimu-widget-critical-facilities .jimu-widget-setting-critical-facilities .source-details-section .country-code-row td,
.jimu-widget-critical-facilities .jimu-widget-setting-critical-facilities .source-details-section .local-search-row td{
  padding-bottom: 35px;
  position: relative;
}

.jimu-widget-critical-facilities .jimu-widget-setting-critical-facilities .source-details-section .local-search-row .first{
  padding-left: 20px;
}

.jimu-widget-critical-facilities .jimu-widget-setting-critical-facilities .source-details-section .country-code-row .example,
.jimu-widget-critical-facilities .jimu-widget-setting-critical-facilities .source-details-section .local-search-row .example{
  position: absolute;
  top: 35px;
  left: 0;
  font-size: 12px;
  color: #999;
}

.jimu-rtl .jimu-widget-critical-facilities .jimu-widget-setting-critical-facilities .source-details-section .country-code-row .example{
  left: auto;
  right: 0;
}

.jimu-widget-critical-facilities .jimu-widget-setting-critical-facilities .source-details-section .hide-country-code-row,
.jimu-widget-critical-facilities .jimu-widget-setting-critical-facilities .hide-local-search-table {
  display: none;
}

.jimu-widget-setting-critical-facilities .xy-table-no-locator {
  position: relative;
  padding-left: 34px;
}

.jimu-widget-setting-critical-facilities .xy-table {
  width: 650px;
  position: relative;
  float: right;
  margin-bottom: 10px;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .xy-table {
  width: 650px;
  position: relative;
  float: left;
  margin-bottom: 10px;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .xy-table-no-locator {
  position: relative;
  padding-right: 34px;
}

.jimu-widget-setting-critical-facilities .xy-table > tbody > tr > td > .tip {
  font-size: 12px;
  color: #999;
  display: inline-block;
}

.jimu-widget-setting-critical-facilities .xy-table > tbody > tr {
  margin: 10px;
  cursor: default;
}

.jimu-widget-setting-critical-facilities .xy-table > tbody > tr > td .edit-fields {
  background-image: url(images/edit_default.png);
  margin-left: 15px;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .xy-table > tbody > tr > td .edit-fields {
  background-image: url(images/edit_default.png);
  margin-right: 15px;
}

.jimu-widget-setting-critical-facilities .xy-table > tbody > tr > td .edit-fields:hover {
  background-image: url(images/edit_hover.png);
}

.jimu-widget-setting-critical-facilities .xy-table > tbody > tr > td .edit-fields-disabled {
  display: block;
  width: 18px;
  height: 16px;
  background-image: url(images/edit_disabled.png);
  cursor: default;
  margin-left: 15px;
  float: left;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .xy-table > tbody > tr > td .edit-fields-disabled {
  display: block;
  width: 18px;
  height: 16px;
  background-image: url(images/edit_disabled.png);
  cursor: default;
  margin-right: 15px;
  float: right;
}

.jimu-widget-setting-critical-facilities .field-option-label {
  float: left;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .field-option-label {
  float: right;
}

.jimu-widget-setting-critical-facilities .store-table {
  width: 100%;
}

.jimu-widget-setting-critical-facilities .store-table > tbody > tr > td > .tip {
  font-size: 12px;
  color: #999;
  width: 100%;
}

.jimu-widget-setting-critical-facilities .geocode-node {
  margin: 0px 10px 0px 10px;
}

.jimu-widget-setting-critical-facilities .no-fields-alert {
  width: 16px;
  height: 16px;
  background-image: url(../../images/warning.png);
  cursor: default;
  margin-left: 15px;
  background-repeat: no-repeat;
  float: left;
  background-size: contain;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .no-fields-alert {
  width: 16px;
  height: 16px;
  background-image: url(../../images/warning.png);
  cursor: default;
  margin-right: 15px;
  background-repeat: no-repeat;
  float: right;
  background-size: contain;
}

.jimu-widget-setting-critical-facilities .pointer-events-none {
  pointer-events: none;
}

/*End Geocode Section*/
/*------------------------------------------------------------------------------------------------------------*/
/*Start Fields Section*/
.jimu-widget-setting-critical-facilities .is-recognized-add-button {
  margin: 8px 0;
  display: block;
  position: relative;
  padding-left: 16px;
  color: #518dca;
  background: url(images/add.png) no-repeat left;
  cursor: pointer;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .is-recognized-add-button {
  margin: 8px 0;
  display: block;
  position: relative;
  padding-right: 16px;
  color: #518dca;
  background: url(images/add.png) no-repeat right;
  cursor: pointer;
}

.jimu-widget-setting-critical-facilities .is-recognized-add-button:hover {
  background: url(images/add_hover.png) no-repeat left;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .is-recognized-add-button:hover {
  background: url(images/add_hover.png) no-repeat right;
}

.jimu-widget-setting-critical-facilities .is-recognized-source-list {
  height: 300px;
}

.jimu-widget-setting-critical-facilities .is-recognized-source-list {
  height: 300px;
}

.jimu-widget-setting-critical-facilities .edit-fields {
  display: block;
  width: 18px;
  height: 16px;
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .edit-fields {
  display: block;
  width: 18px;
  height: 16px;
  background-repeat: no-repeat;
  cursor: pointer;
  float: right;
}

.jimu-widget-setting-critical-facilities .fields-table {
  width: 100%;
  margin-bottom: 10px;
}

.jimu-widget-setting-critical-facilities .fields-table > tbody > tr {
  margin: 10px;
  cursor: default;
}

.jimu-widget-setting-critical-facilities .fields-table > tbody > tr > td .edit-fields {
  background-image: url(images/edit_default.png);
  margin-left: 15px;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .fields-table > tbody > tr > td .edit-fields {
  background-image: url(images/edit_default.png);
  margin-right: 15px;
}

.jimu-widget-setting-critical-facilities .fields-table > tbody > tr > td .edit-fields:hover {
  background-image: url(images/edit_hover.png);
}

.jimu-widget-setting-critical-facilities .fields-table > tbody > tr > td .edit-fields-disabled {
  display: block;
  width: 18px;
  height: 16px;
  background-image: url(images/edit_disabled.png);
  cursor: default;
  margin-left: 15px;
  float: left;
}

.jimu-rtl .jimu-widget-setting-critical-facilities .fields-table > tbody > tr > td .edit-fields-disabled {
  display: block;
  width: 18px;
  height: 16px;
  background-image: url(images/edit_disabled.png);
  cursor: default;
  margin-right: 15px;
  float: right;
}

.jimu-widget-setting-critical-facilities .edit-fields-disabled {
  display: block;
  width: 18px;
  height: 16px;
  background-repeat: no-repeat;
  cursor: default;
}

.jimu-widget-setting-critical-facilities .fields-table > tbody > tr > td > .tip {
  font-size: 12px;
  color: #999;
  width: 100%;
  display: inline-block;
}

.jimu-widget-setting-critical-facilities .settings-field-set {
  height: auto;
  width: 100%;
  border: 1px solid #a0acbf;
  border-radius: 5px;
  font-size: 14px;
  color: #596679;
  margin-bottom: 10px;
  min-width: 0px;
}

.jimu-widget-setting-critical-facilities .settings-field-set-legend {
  margin-left: 20px;
}

/*End Fields Section*/
/*------------------------------------------------------------------------------------------------------------*/

/*Start Dojo override section*/
.jimu-widget-setting-critical-facilities .dijitSelect .dijitArrowButton {
  background-color: #ffffff;
}

.jimu-widget-setting-critical-facilities .dijitSelect {
  background-color: #ffffff;
}

.jimu-widget-setting-critical-facilities .dijitSelect .dijitArrowButtonContainer {
  border: 0px solid #ffffff;
}

.jimu-widget-setting-critical-facilities .dijitSelect .dijitArrowButtonInner, .jimu-widget-setting-critical-facilities .dijitComboBox .dijitArrowButtonInner .jimu-widget-setting-critical-facilities .dijitButtonContents {
  border-style: none;
}

.jimu-widget-setting-critical-facilities .dijitSelect .dijitButtonContents {
  border-style: none;
}

.jimu-widget-setting-critical-facilities .dijitSelectFocused .dijitButtonContents {
  border-style: none;
}

.jimu-widget-setting-critical-facilities .dijitSelectFocused .dijitArrowButton {
 background-image: none;
}

.jimu-widget-setting-critical-facilities .claro .dijitSelectHover {
  border-color: #aaaaaa;
  background-color: #ffffff;
}

.jimu-widget-setting-critical-facilities .dijitValidationTextBoxHover {
  border-color: #aaaaaa;
  background-color: #ffffff;
}

.jimu-widget-setting-critical-facilities .dijitHover {
  border-color: #aaaaaa;
  background-color: #ffffff;
}

.jimu-widget-setting-critical-facilities .dijitTextBox {
  border-color: #aaaaaa;
}

/*End Dojo override section*/
/*------------------------------------------------------------------------------------------------------------*/

/*Start jimu override section*/
.jimu-widget-setting-critical-facilities .jimu-viewstack {
  overflow: auto;
  height: calc(100% - 85px);
}

.jimu-widget-setting-critical-facilities .jimu-tab3 {
  overflow: hidden;
  height: 100%;
}

.jimu-widget-setting-critical-facilities .jimu-symbol-picker {
  border: none;
}

.jimu-widget-setting-critical-facilities .jimu-simple-table .body-section {
  border-left: 1px solid #c5c9cc;
  border-right: 1px solid #c5c9cc;
  border-bottom: 1px solid #c5c9cc;
}

/*End jimu override section*/
/*------------------------------------------------------------------------------------------------------------*/