<div class="esriCTPolligPlaceContainer esriCTFullHeight">
    <div class="esriCTFullHeight" data-dojo-attach-point="widgetMainNode">
        <div class="esriCTSearchOuterContainer">
            <div class="esriCTSearchHeader firstFocusNode" data-dojo-attach-point="searchHeaderTextNode" tabindex="0"
                role="presentation" aria-label="${nls.searchHeaderText}">
                ${nls.searchHeaderText}</div>
            <div class="esriCTSearchContainer">
                <div class="esriCTSearchDiv">
                    <div data-dojo-attach-point="search">
                    </div>
                </div>
                <div role="button" tabindex="0" aria-label="${nls.mouseOverTooltip}" class="esriCTSelectLocationDiv esriCTImgButtons esriCTSelectLocation esriCTHidden"
                    data-dojo-attach-point="selectLocation" title="${nls.mouseOverTooltip}">
                </div>
            </div>
        </div>
        <div class="esriCTResultsPanel esriCTTopBorder esriCTHidden" data-dojo-attach-point="featuresListNode">
        </div>
        <div class="esriCTResultsPanel esriCTHidden" data-dojo-attach-point="resultsPanel">
            <div tabindex="0" aria-label="${nls.common.back}" role="button" class="esriCTBackButton esriCTTopBorder"
                data-dojo-attach-point="backButtonNode">
                <div class="esriCTItemLeftArrow ">
                </div>
                <div class="esriCTBackButtonText " title="${nls.common.back}">
                    ${nls.common.back}
                </div>
            </div>
            <div data-dojo-attach-point="tabContainerPanel">
            </div>
        </div>
    </div>
    <div class="esriCTWidgetErrorNode" data-dojo-attach-point="widgetErrorNode">
    </div>
</div>
