.distance-and-direction-setting .table-feedbacks {
  width: 100%;
  height: 197px;
  margin-top: 15px;
}

.distance-and-direction-setting .table-labels {
  width: 100%;
  height: 77px;
  margin-top: 15px;
}

.distance-and-direction-setting .simple-table-row {
  height: 40px;
}

.jimu-simple-table .body-section .table-div {
  background-image: url(./images/table_under_line.png) !important;
}

.distance-and-direction-setting {
  margin-left: 0px;
}

.distance-and-direction-setting-h3 {
  color: #596679;
}

.distance-and-direction-setting-style table {
  color: #333333;
  width: 100%;
  border-collapse: collapse;
}

.distance-and-direction-setting-style th {
  background-color: #518dca;
  padding: 8px;
  text-align: left;
  color: #ffffff;
}

.distance-and-direction-setting-style tr {
  background-color: #ffffff;
}

.distance-and-direction-setting-style td {
  padding: 8px;
}

.settings-section tr {
  vertical-align: top;
}

.distance-and-direction-setting-line-size {
  width: 70px;
}

.distance-and-direction-setting-color-picker {
  width: 70px;
}

.distance-and-direction-setting-interval-width {
  border-color: #000;
  border-style: hidden solid solid solid;
  border-width: 1px;
  height: 10px;
  margin: auto;
}

.distance-and-direction-setting-style-map {
  width: 500px;
  height: 550px;
  float: left;
}

.distance-and-direction-setting .tabs .titles {
  font-weight: bold;
  font-family: "Avenir Medium";
  font-size: 12px;
  margin: 10px 0 5px 0;
}

.distance-and-direction-setting .helpBtn {
  float: right;
  background: url(./images/help_black.png);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 16px;
  height: 16px;
  margin-top: 13px;
  vertical-align: middle;
}

/* Safari 11+ */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .distance-and-direction-setting .helpBtn.safari_only {
      margin-top: 8px;
    }
  }
}

.jimu-rtl .distance-and-direction-setting .helpBtn {
  float: left;
}

.distance-and-direction-setting .helpBtn:hover {
  background: url(./images/help_black_hover.png);
}

.distance-and-direction-setting .opLayerlabelSettings {
  padding: 0px;
  font-size: initial;
}

.distance-and-direction-setting .opLayerSelectSettings {
  height: 30px;
  color: #7d7d7d;
  padding: 0 5px 0 5px;
  font-size: 13px;
  width: 96%;
  font-family: 'Avenir Medium';
  margin: 7px 0px 20px 0px;
}

.distance-and-direction-setting .DropdownLabel {
  line-height: 28px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.distance-and-direction-setting .Ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.distance-and-direction-setting .miscellaneousTabContainer {
  margin: 20px;
  width: 50%;
}

.distance-and-direction-setting .miscellaneous-tab {
  height: 60%;
}

.distance-and-direction-setting .tabConfigurationContainer {
  width: 100%;
  height: 100%;
}

.distance-and-direction-setting .jimu-tab3 {
  height: 100%;
  overflow: hidden;
}

.distance-and-direction-setting .jimu-viewstack {
  height: calc(100% - 45px);
  overflow: auto;
}