
<div class = 'container'>


	<!-- enter data -->
	<div class = 'alert alert-info'>Create a new plan entry or edit an existing one</div>
	
	<!-- submit form -->
	<form id = 'plan_submit'>
		<div class = 'form-group'>

			<!-- plan drop down -->
			<lable for = 'plans'>Select a plan to modify</lable>
			<select class = 'form-control bg-dark'></select>
			<hr>

			<!-- contact name -->
			<label for = 'contact_name'>Contact Name</label>
			<input class = 'form-control' id = 'contact_name'>		

			<!-- contact email -->
			<label for = 'contact_email'>Contact Email</label>
			<input class = 'form-control' id = 'contact_email' type = 'email'>

			<!-- plan name -->
			<label for = 'plan_name'>Plan Name (required)</label>
			<input class = 'form-control' id = 'plan_name'>

			<!-- plan url -->
			<label for = 'url'>URL (required)</label>
			<input class = 'form-control' id = 'url'>

			<!-- publication date -->
			<label for = 'publication_date'>Publication Date</label>
			<input class = 'form-control' id = 'publication_date' type = 'date' required>

			<!-- notes -->
			<label for = 'note'>Plan Notes</label>
			<input class = 'form-control' type = 'textarea' id = 'note' rows = 5 cols = 20>

			<!-- click alert -->
			<div class = 'alert alert-info  mt-2'>Click on the planning area in the map to fill in the fields below</div>

			<!-- select geometry -->
			<lable for = 'geometry_option'>Select a geometry to attach to the plan</lable>
			<select id = 'geometry_option' class = 'form-control'>
				<option selected disabled>Select One</option>
				<!-- <option>District</option> -->
				<option>County</option>
				<!-- <option>Planning Agnecy</option>
				<option>City</option> -->
			</select>

			<!-- district -->
			<label for = 'district'>District (required)</label>
			<input class = 'form-control' id = 'district' required readonly>

			<!-- county -->
			<label for = 'county'>County (required)</label>
			<input class = 'form-control' id = 'county' required readonly>

			<!-- city -->
			<label for = 'city'>City</label>
			<input class = 'form-control' id = 'city' required readonly>

			<!-- planning_agency -->
			<label for = 'planning_agency'>Planning Agency</label>
			<input class = 'form-control' id = 'planning_agency' required readonly>

		</div>

		<!-- submit the form -->
		<button onclick="plan_submit();" class = 'btn btn-primary' type = 'button'>Submit</button>
	
	</form>

	<!-- warnings -->
	<div id = 'warning' class = 'alert alert-warning mt-2'>Please fill out all of the data items.</div>

</div>

