
/* dom elements */

html,body{
	height:100%;
}

body{
	overflow: hidden;
}

/* classes */

.blue-banner{
	background-color:#0F385A;
}

.card {
	cursor: pointer;
	box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
	width: 100%;
	/* max-width: 90%; */
	/* margin-left: 7px; */
}

.card-body{
	width: 100%;
}

.card-col {
	min-width: 450px;
	overflow-x: hidden;
}

.container-fluid{
	height:100%;
}

.filter-menu{
	margin-right: 50px;
	margin-top: 10px;
	width : 600px;
}

.form-check-input{
	cursor: pointer;
}

.header {
	background-color: #fff;
	border-bottom: #c5c9cc;
	border-bottom-width: .5px;
	border-bottom-style: solid;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

.label-info{
	background-color: #c5c9cc;
	font-size: 16px;
	padding: 4px;
}

.list-unstyled{
	padding : 0px;
}

.map-col {
	min-width: 200px;
}

.modal-content-large { 
	/* height : 500px; */
	height : 100%;
	width : 800px;
}

.modal-content-small{
	width: 500px;
} 

.multiple-selection-header{
	background-color: #0F385A;
	margin: 5px;
	padding: 5px;
}

.plan-card-modal-body{
	min-height: 500px;
}

.scrollable{
	/* position: absolute; */
    height: 90vh;
	overflow: scroll;
	margin: 0px;
	padding: 0px;
    /* overflow-y: scroll;
    overflow-x: hidden;
	padding: 0px; */
}

.text-blue{
	color: #0F385A;
}

.text-warning{
	color : #CC7B29;
}



.icon-image {
	width : 30px;
	margin-bottom: 2px;
}

.view-the-site {
	background-color: #CC7B29;
	width: 25%;
}

/* ids */

#cards_map {
	height: 100%;
}

#cards {
	min-width: 100%;
}

#filter_image{
	height : 40px;
}

#mapDiv{
    padding: 0px;
    height: 100%;
	/* cursor: pointer; */
}

#viewDiv {
    width: 100%;
    height: 100%;
	cursor: pointer;
}

#extentDiv {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 2;
}

#overviewDiv {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 400px;
	height: 300px;
	border: 1px solid black;
	z-index: 1;
	overflow: hidden;
}

#filter {
	position: absolute;
	background: white;
	z-index: 2000;
	width: 500px;
	padding: 20px;
	left: 60%;
	top: 15%;
	transform: translate(-60%,20%);
	border: 1px solid #0F3B5C;
    display: none;
}

/* #search{
	width:20px;

} */