.jimu-widget-SAT-setting .main-section {
  width: 100%;
  height: 100%;
}

.jimu-widget-SAT-setting .select-units {
  width: 70%;
}

.jimu-widget-SAT-setting .pad-row15 {
  padding-top: 15px;
}

.jimu-widget-SAT-setting .pad-row0 {
  padding-top: 0px;
}

.jimu-widget-SAT-setting .selectUnits {
  margin-left: 10px;
}

.jimu-widget-SAT-setting .chk_display {
  padding-top: 15px; 
  padding-bottom: 15px;
}

.jimu-widget-SAT-setting .display-checkbox {
  padding-bottom: 15px;
}

.jimu-widget-SAT-setting .chk_snapshot {

}

.jimu-widget-SAT-setting .maximum-distance-lbl {
  width: 60px;
}

.jimu-widget-SAT-setting .btn-add-section {
  display: inline-block;
  overflow: hidden;
  height: 24px;
  margin-left: 1px;
  margin-bottom: 3px;
  cursor: pointer;
  font-size: 13px;
  color: #538ec8;
  margin-top: 8px;
}

.jimu-widget-SAT-setting .btn-add-disabled {
  opacity: .6;
  cursor: default;
}

.jimu-widget-SAT .validationBox {

}

.jimu-widget-SAT .validationBox2 {

}


.jimu-widget-SAT-setting .btn-add-section .btn-add-icon {
  height: 100%;
  width: 14px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/add.png);
  display: inline-block;
  vertical-align: top;
}

.jimu-widget-SAT-setting .btn-add-section .btn-add-label {
  height: 100%;
  line-height: 24px;
  margin-left: 7px;
  text-decoration: underline;
  display: inline-block;
  vertical-align: top;
}

.jimu-widget-SAT-setting .settingAlign{
  padding-top: 4px; 
  margin-left: 80px;
}

.jimu-rtl .jimu-widget-SAT-setting .settingAlign{
  padding-top: 4px; 
  margin-right: 80px;
}

.jimu-widget-SAT-setting .claro .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectWrapper {
  border: none !important;
  background-color: transparent !important;
}

.jimu-widget-SAT-setting .footer {
  text-align: right;
}

.jimu-widget-SAT-setting .field-picker-footer {
  text-align: right;
}

.jimu-rtl .jimu-widget-SAT-setting .field-picker-footer {
  text-align: left;
}

.jimu-widget-SAT-setting .removeButtonWithIcon {
  background-image: url("../images/filterdialog_icons.png");
  background-repeat: no-repeat;
  background-position: -30px 0;
  width: 15px;
  height: 15px;
  margin: 0px 0px;
  display: block;
}

.jimu-widget-SAT-setting .upButton {
  background-image: url("../../../../jimu.js/css/images/up_enabled.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin: 0px 0px;
  display: block;
}

.jimu-widget-SAT-setting .downButton {
  background-image: url("../../../../jimu.js/css/images/down_enabled.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin: 0px 0px;
  display: block;
}

.jimu-widget-SAT-setting .colorButton {
  width: 15px;
  height: 15px;
  margin: 0px 0px;
  display: block;
  background-color: #00ff00;
}

/* Added this code, as the color node was getting min-height 20px from .jimu-r-row [class*="col"]*/
.jimu-widget-SAT-setting .jimu-color-picker-btn .color-node {
  min-height: 16px;
}
.jimu-widget-SAT-setting .footer {
  padding-top: 5px;
  width: 100%;
  height: 30px;
}

.jimu-widget-SAT-setting .field-picker-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.jimu-widget-SAT-setting .jimu-simple-table .simple-table-cell{
  line-height: 26px;
}

.jimu-widget-SAT-setting .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectWrapper {
  height: 400px;
}

.jimu-widget-SAT-setting .dojoxMultiSelectItem {
  padding-bottom: 5px;
  padding-top: 5px;
}

.jimu-widget-SAT-setting .longSelect .dijitSelectLabel {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 390px;
}

.jimu-widget-SAT-setting .medSelect .dijitSelectLabel {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 340px;
}

.jimu-widget-SAT-setting .shortSelect .dijitSelectLabel {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 190px;
}

.jimu-widget-SAT-setting .shortTypeSelect .dijitSelectLabel {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 155px;
    min-width: 155px;
}

.jimu-widget-SAT-setting .display-options{
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
}

.jimu-widget-SAT-setting .display-on{
  display: block;
}

.jimu-widget-SAT-setting .display-off{
  display: none;
}

.jimu-widget-SAT-setting .visDivLength {
  position: absolute;
  visibility: hidden;
  width: auto;
}

.jimu-widget-SAT-setting .field-picker-main {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.jimu-widget-SAT-setting .pad-top20 {
  padding-top: 20px;
}

.jimu-widget-SAT-setting .div_edit_options {
  padding-top: 5px;
}

.jimu-widget-SAT-setting .edit_options {
  padding-top: 15px;
}

.jimu-widget-SAT-setting .td-padding {
  padding-bottom: 5px;
  padding-left: 5px;
}

.jimu-rtl .jimu-widget-SAT-setting .td-padding {
  padding-bottom: 5px;
  padding-right: 5px;
}

.jimu-widget-SAT-setting .pad-right-10 {
  padding-right: 10px;
}

.jimu-rtl .jimu-widget-SAT-setting .pad-right-10 {
  padding-left: 10px;
}


.jimu-widget-SAT-setting .select-width {
  width: 250px;
}

.jimu-widget-SAT-setting .select-width .dijitSelectLabel {
  max-width: 250px;
  text-overflow: ellipsis;
  text-align: left;
  overflow: hidden;
}

.jimu-rtl .jimu-widget-SAT-setting .select-width .dijitSelectLabel {
  max-width: 250px;
  text-overflow: ellipsis;
  text-align: right;
  overflow: hidden;
}

.jimu-widget-SAT-setting .hintText {
  font-size: 12px;
  color: #a0acbf;
  font-style: oblique;
}

/*report*/
.jimu-widget-SAT-setting .fieldSet {
  height: auto;
  width: 100%;
  border: 1px solid #a0acbf;
  border-radius: 5px;
  font-size: 14px;
  color: #596679;
  margin-bottom: 10px;
  min-width: 0px;
}

.jimu-widget-SAT-setting .downloadTabFieldSet {
  padding: 15px 0px;
}

.jimu-widget-SAT-setting .fieldSetLegend {
  margin-left: 20px;
}

.jimu-widget-SAT-setting .col-pad-12 {
  padding-left: 12px;
}

.jimu-rtl .jimu-widget-SAT-setting .col-pad-12 {
  padding-right: 12px;
}


.jimu-widget-SAT-setting .settingsContainer {
  margin-left: auto;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 98%;
}

.jimu-rtl .jimu-widget-SAT-setting .settingsContainer {
  margin-right: auto;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 98%;
}

.jimu-widget-SAT-setting .downloadTabInputContainer {
  width: 100%;
  float: left;
  margin-bottom: 15px;
}

.jimu-widget-SAT-setting .downloadTabLabel {
  width: 35%;
  line-height: 30px;
  float: left;
  clear: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.jimu-rtl .jimu-widget-SAT-setting .downloadTabLabel {
  float: right;
}

.jimu-widget-SAT-setting .downloadTabTextbox {
  width: 55%;
  float: left;
}

.jimu-rtl .jimu-widget-SAT-setting .downloadTabTextbox {
  float: right;
}

.jimu-widget-SAT-setting .downloadTabSetButton {
  width: 8%;
  float: left;
  margin-left: 17px;
  line-height: 28px;
}

.jimu-rtl .jimu-widget-SAT-setting .downloadTabSetButton {
  float: right;
  margin-right: 17px;
  margin-left: 0px;;
}

.jimu-widget-SAT-setting .downloadTabLabel {
  width: 35%;
  line-height: 30px;
  float: left;
  clear: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.jimu-widget-SAT-setting .logoChooserDiv {
  width: 65%;
  float: left;
}

.jimu-rtl .jimu-widget-SAT-setting .logoChooserDiv {
  float: right;
}

.jimu-widget-SAT-setting .imageChooserPreviewContainer {
  position: relative;
}

.jimu-widget-SAT-setting .imageChooserPreview {
  position: absolute;
  height: 55px;
  background-position: center center;
  background-repeat: no-repeat;
}

.jimu-widget-SAT-setting .imageChooserContent {
  height: 50px !important;
  width: 50px !important;
}

.jimu-widget-SAT-setting .hint {
  margin: 5px 5px 10px 0px;
  float: left;
  font-size: 12px;
  color: #a0acbf;
  font-style: oblique;
}

.jimu-rtl .jimu-widget-SAT-setting .hint {
  float: right;
}

.jimu-widget-SAT-setting .footnoteTextArea {
  width: 65% !important;
  padding: 5px !important;
  float: right;
  color: #596679;
}

.jimu-rtl .jimu-widget-SAT-setting .footnoteTextArea {
  float: left;
}

.jimu-widget-SAT-setting .textColorContainer{
  padding-top: 10px;
}

/*report*/

/* field options */
.jimu-widget-SAT-setting .field-option-table {
  border-spacing: 20px;
}

.jimu-widget-SAT-setting .field-option-table {
  border-spacing: 20px;
}

.jimu-widget-SAT-setting .content-disabled {
  opacity: .6;
  cursor: default;
}

.jimu-widget-SAT-setting .content-enabled {

}

.jimu-widget-SAT-setting .field-options-footer {
  position: relative;
  float: right;
}

/* field options */

.jimu-popup .SAT-warning-icon {
  width: 25px;
  height: 25px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/warning.png');
  margin-top: 8px;
}

.jimu-popup .SAT-warning-hint {
  color: #898989;
  font-size: 11px;
  margin-bottom: 10px;
}

.jimu-widget-SAT-setting .float-right {
  float: right;
  margin-right: 20px;
}

.jimu-rtl .jimu-widget-SAT-setting .float-right {
  float: left;
  margin-left: 20px;
}

.jimu-widget-SAT-setting .edit-options {
  display: block;
  width: 18px;
  height: 16px;
  background-repeat: no-repeat;
}

.jimu-widget-SAT-setting .edit-fields-disabled {
  background-image: url('../css/images/edit_disabled.png');
  cursor: default;
}

.jimu-widget-SAT-setting .edit-fields {
  background-image: url('../css/images/edit_default.png');
  cursor: pointer;
}

.jimu-widget-SAT-setting .edit-fields:hover {
  background-image: url('../css/images/edit_hover.png');
}

.jimu-widget-SAT-setting .margin-left {
  margin-left: 20px;
}

.jimu-rtl .jimu-widget-SAT-setting .margin-left {
  margin-right: 20px;
}

.jimu-widget-SAT-setting .esriCTReportOptionsContainer {
  padding-top: 10px;
  width: 100%;
}

.jimu-widget-SAT-setting .esriCTReportOption {
  padding: 5px 0px 5px 0px;
  width: 100%;
}

.jimu-widget-SAT-setting .esriCTFieldTableParent .jimu-simple-table {
  max-height: 190px;
}

.jimu-widget-SAT-setting .esriCTPaddingBtm5 {
  padding-bottom: 5px;
}