
<div class = 'container'>

	<div class = 'alert alert-info'>${config.configHeader}</div>
	
	<form id = 'plan_submit'>
		<div class = 'form-group'>
			<label for = 'name'>Plan Name</label>
			<input class = 'form-control' id = 'name' name = 'name' required>

			<label for = 'url'>URL</label>
			<input class = 'form-control' id = 'url' name = 'url' required>

			<label for = 'district'>District</label>
			<input class = 'form-control' id = 'district' required readonly>

			<!-- <label for = 'county'>County</label>
			<input class = 'form-control' id = 'county' required> -->
		</div>

		<button onclick="plan_submit();" class = 'btn btn-primary' type = 'button'>Submit</button>
	
	</form>

	<div id = 'warning' class = 'alert alert-warning mt-2'>Please fill out all of the data items.</div>

</div>

