﻿<div class="ParameterDiv">
    <div>
        <fieldset class="esriCTFieldset">
            <legend class="esriCTLegendTitle"> ${nls.generalSettings.displayTextForButtonLegend}</legend>
            <div class="esriCTOthersData">
                <div class="field">
                    <label class="esriCTImg esriCTLayoutLeft" title="${nls.generalSettings.displayTextForButton}">
                        ${nls.generalSettings.displayTextForButton}</label>
                    <input data-dojo-attach-point="displayTextforRun" data-dojo-type="dijit/form/ValidationTextBox"
                        title="${nls.generalSettings.displayTextForButton}" class="common-input "
                        data-dojo-props="required: true"
                        value="${nls.generalSettings.displayTextforButtonDefaultValue}">
                </div>
            </div>
        </fieldset>
        <fieldset class="esriCTFieldset">
            <legend class="esriCTLegendTitle"> ${nls.generalSettings.autoZoomAfterTrace}</legend>
            <div class="esriCTOthersData">
                <div class="field">
                    <div data-dojo-type="jimu/dijit/CheckBox" data-dojo-attach-point="autoZoomAfterTrace"
                        class="jimu-checkbox" title="${nls.generalSettings.zoomText}"
                        label="${nls.generalSettings.zoomText}">
                    </div>
                </div>
            </div>
    </div>
</div>