@import url("SEFilterEditor.css");
@import url("drawingTools.css");
@import url("../setting/css/relativeDatesStyle.css");
.processing-indicator-panel {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 500;
    top: 0;
    left: 0;
    position: absolute;
    background-position: center center;
    background-image: url(../images/busy.gif);
    background-repeat: no-repeat;
}

    .processing-indicator-panel.busy {
        display: block;
    }

.jimu-widget-smartEditor {
    position: relative;
}
.autoSaveOptionDiv {
    display:none;
}
   .widgetIndicator {
        height: 4px;
        position:absolute;
        top:0;
        z-index:1;
        width:100%;
        overflow:hidden;
        overflow-x: hidden;
        /*width: 94%;
        border-radius: 3px;
        padding-left: 3px;
        padding-right: 3px;
        margin-left: 3%;
        margin-right: 3%;*/
    }

        .widgetActive {
            background: #73AD21;
        }

        .widgetNotActive {
            background: red;
            height: 6px;
        }
    /*.jimu-widget-smartEditor .widgetActive {
        width: 22px;
        height: 22px;
        background-position: center center;
        background-image: url(../images/widgetActive.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 1px;
        top: 1px;
    }

    .jimu-widget-smartEditor .widgetNotActive {
        width: 22px;
        height: 22px;
        background-position: center center;
        background-image: url(../images/widgetNotActive.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 1px;
        top: 1px;
    }*/

    .jimu-widget-smartEditor .hideField {
        display: none;
    }
    /***********about templatePicker**************/

    .jimu-widget-smartEditor .templatePicker {
        position: relative;
        height: 296px;
    }

    .jimu-widget-smartEditor .grid {
        height: 100% !important;
    }

    .jimu-widget-smartEditor .dojoxGridMasterHeader {
        height: 0 !important;
    }

    .jimu-widget-smartEditor .dojoxGridContent {
        width: 100% !important;
    }

        .jimu-widget-smartEditor .dojoxGridContent div[role=presentation] {
            right: 0;
        }

    .jimu-widget-smartEditor .dojoxGridRowTable {
        width: 100%;
    }

    .jimu-widget-smartEditor .dojoxGridRow {
        width: 100%;
    }

    .jimu-widget-smartEditor .dojoxGridView {
        width: 100% !important;
    }

    /********about attributeInspector*********/
    .jimu-widget-smartEditor .esriAttributeInspector {
        height: 20px;
        width: 100%;
    }

        /*.jimu-widget-smartEditor .esriAttributeInspector .atiLabel {
            color:midnightblue !important;
        }*/
        /*.jimu-widget-smartEditor .esriAttributeInspector .atiLabel {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            width: 100%;
        }*/

        .jimu-widget-smartEditor .esriAttributeInspector td {
            display: block;
            clear: both;
            height: auto;
            width: 100%;
            float: left;
        }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}
/* Hides from IE-mac \*/
.clearfix {
    display: block;
}

.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
/*tr td {
      padding: 20px 40px;
      border: 1px solid black;
      display: block;
    }*/
.jimu-widget-smartEditor .esriAttributeInspector .atiNavButtons {
    position: absolute;
    left: 50%;
    margin-left: -90px;
}

.jimu-widget-smartEditor .esriAttributeInspector .asteriskIndicator {
    color: red !important;
}


.jimu-widget-smartEditor .esriAttributeInspector .saveButton {
    float: right;
    display: inline;
    margin-bottom: 5px;
}
.jimu-rtl .jimu-widget-smartEditor .esriAttributeInspector .saveButton {
    float: left;
    display: inline;
}

.jimu-widget-smartEditor .esriAttributeInspector .saveButton.hide {
    display: none;
}

.jimu-widget-smartEditor .buttonHeader {
    float: right;
}

.jimu-rtl .jimu-widget-smartEditor .buttonHeader {
    float: left;
}

.jimu-widget-smartEditor .buttonHeader .saveButton {
    float: right;
    margin-left: 5px;
}
.jimu-rtl .jimu-widget-smartEditor .buttonHeader .saveButton {
    float: left;
    margin-left: 0px;
    margin-right: 5px;
}

.jimu-widget-smartEditor .buttonHeader .deleteButton {
    float: left;
}

.jimu-rtl .jimu-widget-smartEditor .buttonHeader .deleteButton {
    float: right;
}

.jimu-widget-smartEditor .cancelButton {
    float: left;
}

.jimu-rtl .jimu-widget-smartEditor .cancelButton {
    float: right;
}

.jimu-widget-smartEditor .noFeatureCancelBtnWrapper {
    text-align: center;
}

.jimu-widget-smartEditor .noFeatureCancelBtn {
    margin-top: 15px;
}

.jimu-widget-smartEditor .esriAttributeInspector .deleteButton {
    float: right;
    margin-right: 20px;
}
.jimu-rtl .jimu-widget-smartEditor .esriAttributeInspector .deleteButton {
    float: left;
    margin-left: 20px;
}
/*********about preset values table*********/

.jimu-widget-smartEditor .ee-presetValueTableDiv {
    height: 100%;
    width: 100%;
}

.jimu-widget-smartEditor .ee-presetValueHeaderTable {
    color: #000000;
    font-size: 14px;
    padding: 8px;
    background-color: #E3E3E3;
    vertical-align: middle;
    width: 100%;
}

.jimu-widget-smartEditor .ee-presetValueBodyTable td {
    display: block;
    clear: both;
    height: auto;
    width: 100%;
    float: left;
}

.jimu-widget-smartEditor .esriCTGroupInfoIcon {
    width: 16px;
    height: 20px;
    margin: 0px 2px 2px 0px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-image: url(../images/desc.png);
    cursor: pointer;
    float: left;
}


.jimu-rtl .jimu-widget-smartEditor .esriCTGroupInfoIcon {
    float: right;
}

.jimu-widget-smartEditor .ee-atiLabel {
    width: 100%;
    margin-bottom: 3px;
    line-height: 20px;
}

.jimu-widget-smartEditor .editRelativeDateIcon   {
    margin: 5px auto;
    height: 20px;
    width: 20px;
    float: right;
    cursor: pointer;
}

.jimu-rtl .jimu-widget-smartEditor .editRelativeDateIcon   {
    float: left;
}

.jimu-widget-smartEditor .atiLabel {
    width: 100%;
    margin-top: 6px !important;
    margin-bottom: 3px !important;
}

.jimu-widget-smartEditor .ee-presetValueBody {
    vertical-align: top;
}

.jimu-widget-smartEditor .ee-presetValueBodyTable {
    width: 100%;
}

.jimu-widget-smartEditor .ee-presetValue-label-header-field,
.jimu-widget-smartEditor .field-alias-label {
    width: 40%;
}

.jimu-widget-smartEditor .ee-presetValue-value-header-field,
.jimu-widget-smartEditor .preset-value-editable {
    width: 100%;
    margin-bottom: 6px;
}

.jimu-widget-smartEditor .ee-inputField,
.jimu-widget-smartEditor-requiredFields .ee-inputField {
    width: 100%;
}
.jimu-widget-smartEditor .ee-inputFieldTextArea {
    width: 100%!important;
    resize: vertical;
    overflow: auto;
    font-family: inherit;
    line-height: 20px !important;
    font-size: 14px;
    min-height: 70px;
}
.jimu-widget-smartEditor .ee-inputFieldRichText {
    width: 100%!important;
    margin: 5px auto;
}
.jimu-widget-smartEditor .spacer {
    height: 12px;
}

.jimu-widget-smartEditor .spacerSmall {
    height: 8px;
}

.jimu-widget-smartEditor .attributeInspectorDiv {
    padding-top: 8px;
}

.jimu-widget-smartEditor .esriAttributeInspector .atiField {
    width: 100%;
}

.jimu-widget-smartEditor .esriAttributeInspector .dijitTextBox {
    width: 100%!important;
}
.jimu-widget-smartEditor .esriAttributeInspector .dijitTextArea {
    width: 100%!important;
    min-height: 70px;
    resize: vertical;
    overflow: auto;
    font-family: inherit;
    line-height: 20px !important;
    font-size: 14px;
}
/*.jimu-widget-smartEditor .dijitTextBox {
    height: 28px !important;
}*/

.jimu-widget-smartEditor div.atiAttributes table {
    width: 98%;
}

.jimu-widget-smartEditor .processing-indicator {
    display: none;
    float: right;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-image: url(../images/busy.gif);
    background-repeat: no-repeat;
    z-index: 999;
}

    .jimu-widget-smartEditor .processing-indicator.busy {
        display: inline;
    }

.jimu-widget-smartEditor .processing-indicator-panel {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 500;
    top: 0;
    left: 0;
    position: absolute;
    background-position: center center;
    background-image: url(../images/busy.gif);
    background-repeat: no-repeat;
}

    .jimu-widget-smartEditor .processing-indicator-panel.busy {
        display: block;
    }



.jimu-widget-smartEditor .updateOnlyText {
    vertical-align: middle;
    padding: 10px;
}

.jimu-widget-smartEditor .attInput {
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
}

.jimu-widget-smartEditor .deleteAttachment {
    padding-right: 5px;
    cursor: pointer;
    color: red !important;
    font-weight: bold;
}

.jimu-widget-smartEditor .atiNavMessage {
    display: inline-block;
    float: none;
}

.jimu-widget-smartEditor .dijitButtonHover .dijitButtonNode {
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.jimu-widget-smartEditor .dijitButton .dijitButtonNode {
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.jimu-widget-smartEditor .dijitButton {
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}



.dijitCalendarDateTemplate.dijitCalendarCurrentDate .dijitCalendarDateLabel {
    color: red;
    border-color: red;
}

/* hover */

.dijitCalendarDateTemplate.dijitCalendarHoveredDate .dijitCalendarDateLabel,
.dijitCalendarDateTemplate.dijitCalendarEnabledDate:hover .dijitCalendarDateLabel {
    background-color: greenyellow;
}

/* active

.dijitCalendarDateTemplate.dijitCalendarActiveDate .dijitCalendarDateLabel,
.dijitCalendarDateTemplate.dijitCalendarEnabledDate:active .dijitCalendarDateLabel {
    background-color: darkslategray;
}
*/
/* selected */

.dijitCalendarDateTemplate.dijitCalendarSelectedDate .dijitCalendarDateLabel,
.dijitCalendarDateTemplate.dijitCalendarSelectedDate.dijitCalendarHoveredDate .dijitCalendarDateLabel {
    background-color: cyan;
}

.jimu-widget-smartEditor .dijitComboBox > div.dijitArrowButton.dijitDownArrowButton {
    width: 25px !important;
}

.jimu-widget-smartEditor .dijitTextBox .dijitInputField {
    height: 100% !important;
}

.jimu-widget-smartEditor .dijitComboBox > div.dijitArrowButton.dijitDownArrowButton > input {
    width: 100%;
}

.jimu-widget-smartEditor .attwarning {
    margin-top: 2px;
    color: brown;
}

.jimu-widget-smartEditor .presetFieldsTableDiv {
    display: none;
}


/* Newly Added Classes*/

.jimu-widget-smartEditor .buttonWrapper {
    text-align: center;
    margin-bottom: 5px;
    width: 100%;
    display: inline-block;
}

.jimu-widget-smartEditor .footerButton {
    text-align: center;
    margin-top: 5px;
}
.jimu-widget-smartEditor  .esriAttributeInspector .atiLayerName {
    display:none;
}

.jimu-widget-smartEditor .editDescription {
    padding : 5px 0 5px 0;
    outline-offset: -1px;
}
/* Styles for Item List Widget */

.jimu-widget-smartEditor .esriCTItemListContainer {
    float: left;
    width: 100%;
    height: calc(100% - 30px);
    overflow-y: auto;
  }

  .jimu-widget-smartEditor .esriCTItemTitleContainer {
    background-color: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    width: 100%;
    display: inline-block;
    float: left;
  }
  .jimu-widget-smartEditor .esriCTItemTitleContainer:focus {
      outline-offset: -2px;
  }

  .jimu-widget-smartEditor .esriCTItemTitle {
    padding: 15px 5px 15px 5px;
    text-align: left;
    border: none;
    outline: none;
    width: calc(100% - 35px);
    float: left;
    white-space: pre-wrap; /*Text will wrap when necessary, and on line breaks*/
  }

  .jimu-rtl .jimu-widget-smartEditor .esriCTItemTitle {
      float: right;
      text-align: right;
  }
  .jimu-rtl .jimu-widget-smartEditor .esriCTItemHighlighter {
      float: right;
  }
  .jimu-widget-smartEditor .esriCTEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .jimu-widget-smartEditor .esriCTItemContent {
      height: 0px;
      padding: 0 5px;
      overflow: hidden;
      border-right: 1px solid #d9d9d9;
      border-left: 1px solid #d9d9d9;
  }
  .jimu-widget-smartEditor .esriCTRelatedItemContent {
    border-bottom: 1px solid #d9d9d9;
  }

  .jimu-widget-smartEditor .esriCTItemContentActive {
     height: auto;
  }

  .jimu-widget-smartEditor .esriCTItemListImageLogo {
    height: 24px;
    width: 24px;
    margin-top: 10px;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
    margin-left: 5px;
  }

  .jimu-widget-smartEditor .esriCTItemListImageLogo {
    float: right;
    margin-left: auto;
    margin-right: 5px;
  }

  .jimu-widget-smartEditor .esriCTBorder {
    border: 1px solid grey;
  }


  .jimu-widget-smartEditor .esriAttributeInspector .atiNavButtons {
      float: none;
  }

  .jimu-widget-smartEditor .buttonContainer {
      text-align: center;
      margin-top: 5px;
  }

  .jimu-widget-smartEditor .attributeInspectorMainDiv {
      height: 100%;
  }

  .jimu-widget-smartEditor .detailsContainer {
    height:100%;
  }

  .jimu-widget-smartEditor .esriCTItemHighlighter {
    height: 44px;
    width: 5px;
    float: left;
  }

  .jimu-widget-smartEditor .itemTitleArrowIcon {
      height: 20px;
      width: 20px;
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: center;
      float: left;
      margin-top: 13px;
  }

  .jimu-rtl .jimu-widget-smartEditor .itemTitleArrowIcon {
    margin-left: 5px;
  }
  .jimu-widget-smartEditor .itemTitleUpArrow {
    background-image: url(../images/upArrow.png);
  }

  .jimu-widget-smartEditor .itemTitleDownArrow {
    background-image: url(../images/downArrow.png);
  }

  .jimu-widget-smartEditor .esriCTDisableToggling .esriCTItemTitleContainer {
    cursor: default;
  }

  .jimu-widget-smartEditor .esriCTDisableToggling .itemTitleUpArrow {
      background-image: none;
  }



  /* Tabels widget*/
  .jimu-widget-smartEditor .relatedTablesContainer {
    float: left;
    margin: 3px;
    width: 100%;
  }

  .jimu-rtl .jimu-widget-smartEditor .relatedTablesContainer {
      float: right;
  }
  .jimu-widget-smartEditor .relatedTableTitleContainer {
    padding: 7px 0px 7px 0px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #d9d9d9;
    cursor: pointer;
    line-height: 20px;
}

.jimu-widget-smartEditor .esriCTRelatedTableTitleDefaultCursor {
    cursor: default;
}

.jimu-widget-smartEditor .relatedTableTitle {
    float: left;
}

.jimu-rtl .jimu-widget-smartEditor .relatedTableTitle {
    float: right;
}

.jimu-widget-smartEditor .relatedTableIcons {
    height: 20px;
    width: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-left: 10px;
}

.jimu-widget-smartEditor .esriCTRelatedTableRecordsCount {
    float: left;
}

.jimu-widget-smartEditor .esriCTLoadingIcon {
    background-image: url('../images/loading-icon.gif');
    background-position: center center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}

.jimu-rtl .jimu-widget-smartEditor .esriCTRelatedTableRecordsCount {
    float: right;
}

.jimu-rtl .jimu-widget-smartEditor .esriCTLoadingIcon {
    float: right;
}

.jimu-widget-smartEditor .refreshAttributes {
    height: 35px;
    width: 35px;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    background-image: url(../images/refresh.png);
    cursor: pointer;
}

.jimu-widget-smartEditor .esriCTAutoUpdateOnMode {
    height: 35px;
    width: 35px;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    background-image: url(../images/auto-update-on-mode.png);
    cursor: pointer;
}

.jimu-widget-smartEditor .esriCTAutoUpdateOffMode {
    height: 35px;
    width: 35px;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    background-image: url(../images/auto-update-off-mode.png);
    cursor: pointer;
}

.jimu-widget-smartEditor .esriCTMapNavigationLocked {
    height: 35px;
    width: 35px;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    background-image: url(../images/map-navigation-locked.png);
    cursor: pointer;
}

.jimu-widget-smartEditor .esriCTMapNavigationUnLocked {
    height: 35px;
    width: 35px;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    background-image: url(../images/map-navigation-unlocked.png);
    cursor: pointer;
}

.jimu-widget-smartEditor .esriCTLocateButtonContainer {
    height: 35px;
    width: 35px;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    background-image: url(../images/locate.png);
    cursor: pointer;
}

.jimu-widget-smartEditor .esriCTXYCoordinates {
    height: 35px;
    width: 35px;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    background-image: url(../images/xy-coordinates.png);
    cursor: pointer;
}

.jimu-widget-smartEditor .esriCTGeometryEditor {
    margin-right: 5px;
}

.jimu-rtl .jimu-widget-smartEditor .refreshAttributes {
    float: right;
}

.jimu-rtl .jimu-widget-smartEditor .esriCTAutoUpdateOnMode {
    float: right;
}

.jimu-rtl .jimu-widget-smartEditor .esriCTAutoUpdateOffMode {
    float: right;
}

.jimu-rtl .jimu-widget-smartEditor .esriCTMapNavigationLocked {
    float: right;
}

.jimu-rtl .jimu-widget-smartEditor .esriCTMapNavigationUnLocked {
    float: right;
}

.jimu-rtl .jimu-widget-smartEditor .esriCTLocateButtonContainer {
    float: right;
}

.jimu-rtl .jimu-widget-smartEditor .esriCTXYCoordinates {
    float: right;
}

.jimu-rtl .jimu-widget-smartEditor .esriCTGeometryEditor {
    margin-left: 5px;
    margin-right: 0px;
}

.jimu-widget-smartEditor .itemTitleCreateNew {
    background-image: url(../images/newFeature.png);
    cursor: pointer;
}
.jimu-rtl .jimu-widget-smartEditor .itemTitleCreateNew {
    float: right;
    margin-right: 5px;
    margin-left: 0px;
}

.jimu-widget-smartEditor .itemTitleNextArrow {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    background-image: url(../images/upArrow.png);
  }

  .jimu-rtl .jimu-widget-smartEditor .itemTitleNextArrow {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
      margin-right: 5px;
      margin-left: 0px;
  }
  .jimu-widget-smartEditor .hidden {
      display: none;
}
  /* Tabels widget*/
  /* Start dart theme*/
.dart-panel .jimu-widget-smartEditor .esriCTItemTitleContainer:hover {
    background-color: #808080;
  }
  .dart-panel .jimu-widget-smartEditor .esriCTItemListContainer {
    border: 1px solid #808080;
  }
  .dart-panel .jimu-widget-smartEditor .esriCTItemTitleContainer {
    background-color: #646464;
    border-bottom: 1px solid #808080;
  }
  /* End of dart theme */

  /* Style for tab theme */
.esriCTOverridePanelStyle {
    height: calc(100% - 20px) !important;
  }

  /* End of style for tab theme */

  /* Start of XYCoordinate styles*/

  .jimu-widget-smartEditor-XYCoordinates .esriCTHidden {
    display: none !important;
  }

  .jimu-widget-smartEditor-XYCoordinates .esriCTSelectTitle {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
  }

  .jimu-widget-smartEditor-XYCoordinates .esriCTFieldDropdownContainer .claro .dijitSelect {
    background-color: #f0f0f0;
    height: 30px;
  }

  .jimu-popup .title-label {
    width: calc(100% - 30px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* End of XYCoordinate styles*/

  /* Copy Features Starts */

  .jimu-widget-smartEditor .esriCTCopyFeaturesMainContainer {
      border: 1px solid #d9d9d9;
      position: absolute;
      top: 0;
      background-color: #fff;
      height: calc(100% + 5px);
      width: 100%;
  }

  .jimu-widget-smartEditor .esriCTSelectFeaturesContainer {
      padding: 5px;
      height: calc(100% - 10px);
      width: 100%;
  }

  .jimu-widget-smartEditor .esriCTCopyFeaturesListTitle {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
  }

  .jimu-widget-smartEditor .esriCTCopyFeaturesHint {
    margin-bottom: 5px;
    /* font-style: italic; */
    font-weight: bold;
    color: red;
  }

  .jimu-widget-smartEditor .esriCTCopyFeaturesListContent {
    height: calc(100% - 114px);
    width: 100%;
    overflow: auto;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    padding: 5px;
  }

  .jimu-widget-smartEditor .esriCTCopyFeaturesListContent .jimu-checkbox {
      align-items: start;
  }

  .jimu-widget-smartEditor .esriCTCopyFeaturesNode {
      margin-bottom: 8px;
  }

  .jimu-widget-smartEditor .esriCTCopyFeaturesNode:after {
      content: "";
      display: table;
      clear: both;
  }

  .jimu-widget-smartEditor .esriCTCopyFeaturesChildNode {
      margin-left: 35px;
  }

  .jimu-rtl .jimu-widget-smartEditor .esriCTCopyFeaturesChildNode {
    margin-right: 35px;
  }

  .jimu-widget-smartEditor .esriCTCopyFeaturesBtn {
      margin-top: 10px;
      margin-right: 5px;
      margin-left: 5px;
      max-width: 150px;
      width: 45%;
  }

  .jimu-widget-smartEditor .esriCTCopyFeaturesBtnContainer {
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    padding-bottom: 5px;
  }

  .jimu-widget-smartEditor .esriCTExpandCollapseNode {
      float: left;
      height: 20px;
      width: 20px;
      background-size: 20px;
      background-position: center;
      background-repeat: no-repeat;
  }

  .jimu-rtl .jimu-widget-smartEditor .esriCTExpandCollapseNode {
      float: right;
  }

  .jimu-widget-smartEditor .esriCTCopyFeaturesListContent .expanded {
    background-image: url(../images/upArrow.png);
    transform: rotate(180deg);
    -moz-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
    -moz-transition: -webkit-transform 00.2s linear;
    -o-transition: -webkit-transform 00.2s linear;
    -webkit-transition: -webkit-transform 00.2s linear;
    transition: transform 00.2s linear;
}

  .jimu-widget-smartEditor .esriCTCopyFeaturesListContent .collapsed {
    background-image: url(../images/upArrow.png);
    transform: rotate(90deg);
    -moz-transform: rotate(90deg) !important;
    -o-transform: rotate(90deg) !important;
    -webkit-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
    -moz-transition: -webkit-transform 00.2s linear;
    -o-transition: -webkit-transform 00.2s linear;
    -webkit-transition: -webkit-transform 00.2s linear;
    transition: transform 00.2s linear;
}

  .jimu-rtl .jimu-widget-smartEditor .esriCTCopyFeaturesListContent .collapsed {
    transform: rotate(270deg);
    -moz-transform: rotate(270deg) !important;
    -o-transform: rotate(270deg) !important;
    -webkit-transform: rotate(270deg) !important;
    transform: rotate(270deg) !important;
    -moz-transition: -webkit-transform 00.2s linear;
    -o-transition: -webkit-transform 00.2s linear;
    -webkit-transition: -webkit-transform 00.2s linear;
    transition: transform 00.2s linear;
  }

  .jimu-widget-smartEditor .esriCTHidden {
      display: none !important;
  }

  .jimu-widget-smartEditor .esriCTCopyFeaturesMainDiv {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffffff;
  }

  .jimu-widget-smartEditor .esriCTCanCreateOnlyOneFeature {
      display: none;
    }

  /* Copy Features ends */

  .jimu-widget-smartEditor-XYCoordinates .esriCTPopupContainer {
    padding: 1px;
  }

  .jimu-widget-smartEditor-XYCoordinates .esriCTControlWidth {
    width: 100%
  }

  /* CSS to show focus on preset message box contents */
  .jimu-popup .content .presetMessageContentDiv:focus {
    outline: 2px solid #24B5CC !important;
    outline-offset: -2px;
}

/* CSS for Value picker functionality */

.jimu-widget-smartEditor .esriCTValuePickerButton {
    height: 25px;
    width: 25px;
    float: right;
    background-image: url(../images/value-picker.png);
    background-size: 25px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 5px;
}

.jimu-widget-smartEditor .esriCTValuePickerButton.disabled {
    opacity: 0.4;
}

.jimu-rtl .jimu-widget-smartEditor .esriCTValuePickerButton {
    float: left;
}

.jimu-widget-smartEditor .esriAttributeInspector .multipleValueDijit {
    width: calc(100% - 35px) !important;
}

.jimu-widget-smartEditor .esriCTValuePickerHint,
.jimu-widget-smartEditor-requiredFields .esriCTValuePickerHint {
    font-size: 12px;
    color: #a0acbf;
    font-style: oblique;
    margin: 5px 0;
}

.jimu-widget-smartEditor .esriCTFieldContainer,
.jimu-widget-smartEditor-requiredFields .esriCTFieldContainer {
    margin-bottom: 10px;
}

.jimu-widget-smartEditor .esriCTFieldName,
.jimu-widget-smartEditor-requiredFields .esriCTFieldName {
    margin-bottom: 3px;
    font-size: 12px;
}

.jimu-widget-smartEditor .esriCTFieldName .asteriskIndicator {
    display: none !important;
}

.jimu-widget-smartEditor-multiple-value-picker .content-static {
    margin: 10px 10px 0;
}

.jimu-widget-smartEditor-multiple-value-picker .esriCTFieldContainer .dijitSelectLabel {
    overflow: hidden;
    width: 220px;
    float: left;
}

.jimu-widget-smartEditor-multiple-value-picker .esriCTFieldContainer .dijitSelect .dijitInputField {
    overflow: hidden;
}

.jimu-widget-smartEditor-multiple-value-picker .esriCTFieldContainer .dijitSelectLabel {
    text-align: left;
}

.jimu-rtl .jimu-widget-smartEditor-multiple-value-picker .esriCTFieldContainer .dijitSelectLabel {
    text-align: right;
}

/* CSS for Value picker functionality */

.jimu-widget-smartEditor-requiredFields .ee-error {
    border-color: #d46464 !important;
    box-shadow: 0px 0px 5px #d46464;
}

.jimu-widget-smartEditor-requiredFields .esriCTMarginLeft15 {
    margin-left: 15px;
}

.jimu-rtl .jimu-widget-smartEditor-requiredFields .esriCTMarginLeft15 {
    margin-right: 15px;
    margin-left: 0px;
}

.claro .dijitSelectLabel,
.jimu-widget-smartEditor-fieldsMapping .textLabelEllipsis {
    text-overflow: ellipsis;
    text-align: justify;
    overflow: hidden;
    vertical-align: middle;
}

/* Coordinate System select in move to xy location popup */
.jimu-widget-smartEditor-XYCoordinates .esriCTFieldInput .dijitSelectLabel {
    width: 290px;
}

/* select in value picker popup */
.jimu-widget-smartEditor-multiple-value-picker .esriCTFieldContainer .dijitSelectLabel {
    width: 225px;
}

/* select in required Fields popup */
.jimu-widget-smartEditor-requiredFields .esriCTFieldContainer .dijitSelectLabel {
    width: 200px;
}

/*Fields Mapping*/

.jimu-widget-smartEditor-fieldsMapping .esriCTFieldsMappingContainer {
    width: 100%;
    height: 100%;
    max-height: 350px;
    overflow-y: auto;
    padding-right: 5px;
}

.jimu-rtl .jimu-widget-smartEditor-fieldsMapping .esriCTFieldsMappingContainer {
    padding-left: 5px;
    padding-right: 0;
}

.jimu-widget-smartEditor-fieldsMapping .esriCTParentNode {
    border: 1px solid #a0acbf;
    border-radius: 3px;
}

.jimu-widget-smartEditor-fieldsMapping .esriCTHeader {
    display: inline-block;
    width: 100%;
}

.jimu-widget-smartEditor-fieldsMapping .esriCTBottomSpacing {
    margin-bottom: 8px;
}

.jimu-widget-smartEditor-fieldsMapping .esriCTLayerName {
    float: left;
    margin: 6px 0px;
    width: calc(100% - 30px);
    cursor: pointer;
    word-break: break-all;
}

.jimu-widget-smartEditor-fieldsMapping .esriCTLayerNameWidthReduced {
    max-width: calc(100% - 90px);
}

.jimu-rtl .jimu-widget-smartEditor-fieldsMapping .esriCTLayerName {
    float: right;
}

.jimu-widget-smartEditor-fieldsMapping .esriCTResetButton {
    float: left;
    margin: 4px;
    height: 22px;
    width: 22px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-image: url(../images/reset.png);
    cursor: pointer;
}

.esriRtl .jimu-widget-smartEditor-fieldsMapping .esriCTResetButton {
    float: right;
}

.jimu-widget-smartEditor-fieldsMapping .esriCTClearButton {
    float: left;
    margin: 4px;
    height: 22px;
    width: 22px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-image: url(../images/clear.png);
    cursor: pointer;
}

.esriRtl .jimu-widget-smartEditor-fieldsMapping .esriCTClearButton {
    float: right;
}

.jimu-widget-smartEditor-fieldsMapping .esriCTIconParentNode {
    float: right;
}

.esriRtl .jimu-widget-smartEditor-fieldsMapping .esriCTIconParentNode {
    float: left;
}

.jimu-widget-smartEditor-fieldsMapping .esriCTFiledsContainer {
    max-height: 150px;
    overflow: auto;
    width: 100%;
}

.jimu-widget-smartEditor-fieldsMapping .esriCTHidden {
    display: none;
}

.jimu-popup>.content {
    font-size: 14px;
}
.jimu-widget-smartEditor-fieldsMapping .noFieldsMatching {
    width: 100%;
    padding: 10px;
    text-align: center;
}
/*
.jimu-widget-smartEditor-fieldsMapping .esriCTExpandCollapseNode {
    cursor: pointer;
} */

/* In LTR show arrow headed to right for e.g. -> */

.jimu-widget-smartEditor-fieldsMapping .esriCTArrow {
    background-image: url("../images/downArrow.png");
    height: 20px;
    width: 20px;
    float: left;
    margin: 5px;
    cursor: pointer;
}

/* In RTL show arrow headed to left for e.g. <- */

.esriRtl .jimu-widget-smartEditor-fieldsMapping .esriCTArrow {
    float: right;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Arrow down for e.g. v */

.jimu-widget-smartEditor-fieldsMapping .esriCTArrowUp {
    -moz-transform: rotate(-90deg) !important;
    -o-transform: rotate(-90deg) !important;
    -webkit-transform: rotate(-90deg) !important;
    transform: rotate(-90deg) !important;
    -moz-transition: -webkit-transform 00.2s linear;
    -o-transition: -webkit-transform 00.2s linear;
    -webkit-transition: -webkit-transform 00.2s linear;
    transition: transform 00.2s linear;
    background-size: 20px;
}

/* Arrow down for e.g. ^ */

.jimu-widget-smartEditor-fieldsMapping .esriCTArrowDown {
    -moz-transform: rotate(0deg) !important;
    -o-transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    -moz-transition: -webkit-transform 00.2s linear;
    -o-transition: -webkit-transform 00.2s linear;
    -webkit-transition: -webkit-transform 00.2s linear;
    transition: transform 00.2s linear;
    background-size: 20px;
}

.jimu-widget-smartEditor-fieldsMapping .esriCTFieldsMatchingTable {
    width: calc(100% - 10px);
    table-layout: fixed;
    margin: 0 5px 5px 5px;
}

.jimu-widget-smartEditor-fieldsMapping .esriCTFieldsMatchingTableRow {
    width: 100%
}

.jimu-widget-smartEditor-fieldsMapping .esriCTFieldsMatchingTableCell {
    width: 50%;
}

.claro .jimu-widget-smartEditor-fieldsMapping .dijitSelect, .claro .jimu-widget-smartEditor-fieldsMapping .dijitTextBox {
    width: 100%;
}

.jimu-widget-smartEditor-fieldsMapping .esriCTFieldCheckbox {
    margin: 2px 0 0 2px;
}

.esriRtl .jimu-widget-smartEditor-fieldsMapping .esriCTFieldCheckbox {
    margin: 2px 2px 0 0;
}

@media only screen and (max-width: 40em) {
    .jimu-widget-smartEditor-fieldsMapping .esriCTFieldsMatchingTable {
        border-spacing: 0 10px;
    }
    .jimu-widget-smartEditor-fieldsMapping .esriCTFieldsMatchingTableRow .esriCTTargetTD {
        padding: 10px 5px 0 5px;
        border: 1px solid #a0acbf;
        border-bottom: none;
    }
    .jimu-widget-smartEditor-fieldsMapping .esriCTFieldsMatchingTableRow .esriCTSourceTD {
        padding: 5px 5px 10px 5px;
        border: 1px solid #a0acbf;
        border-top: none;
    }
    .jimu-widget-smartEditor-fieldsMapping .esriCTFieldsMatchingTableCell {
        width: 100%
    }
    .jimu-widget-smartEditor-fieldsMapping .esriCTFieldsMatchingTable thead, .jimu-widget-smartEditor-fieldsMapping thead th.esriCTFieldsMatchingTableCell {
        display: none;
    }
    .jimu-widget-smartEditor-fieldsMapping td.esriCTFieldsMatchingTableCell, .jimu-widget-smartEditor-fieldsMapping th.esriCTFieldsMatchingTableCell {
        display: block;
    }
    .jimu-widget-smartEditor-fieldsMapping td.esriCTFieldsMatchingTableCell[data-th]:before {
        content: attr(data-th);
    }
    .jimu-popup .button-container {
        padding: 15px 15px;
    }
    .jimu-popup .content-static {
        margin: 15px 14px 0;
    }
    .jimu-popup>.content {
        font-size: 12px !important;
    }
    .jimu-widget-smartEditor-fieldsMapping .esriCTFieldCheckbox .label {
        font-size: 12px !important;
    }
    .jimu-widget-smartEditor-fieldsMapping .esriCTLayerName {
        font-size: 12px !important;
    }
}
.jimu-rtl .jimu-widget-smartEditor .drawingOptionsDiv .feature-action {
    margin-left: 2px;
}
.jimu-rtl .jimu-widget-smartEditor .templatePickerMainDiv .drawingOptionsDiv .dijitArrowButtonInner {
    left: 8px;
    right: auto !important;
}