<div role="title" data-a11y-label-by="launchpad-label launchpad-title launchpad-subtitle">
  <div class="logo" data-dojo-attach-point="logoWrapperNode">
    <a role="link" data-dojo-attach-point="logoLinkNode" target="_blank">
     <img data-dojo-attach-point="logoNode">
    </a>
  </div>
  <div class="titles" data-dojo-attach-point="titlesNode">
    <div class="screen-readers-only" data-a11y-label-id="launchpad-label">${label}</div>
    <h1 class="jimu-title" data-dojo-attach-point="titleNode" data-a11y-label-id="launchpad-title"></h1>
    <h2 class="jimu-subtitle" data-dojo-attach-point="subtitleNode" data-a11y-label-id="launchpad-subtitle"></h2>
  </div>
  <div class="search-bar" data-dojo-attach-point="searchNode">
  </div>
  <span role='button' aria-haspopup='true' class="links-icon" data-dojo-attach-point="linksIconNode">
    <img data-dojo-attach-point="linksIconImageNode">
    <div class="links hidden" data-dojo-attach-point="linksNode">
      <span class="dynamic-section" data-dojo-attach-point="dynamicLinksNode"></span>
      <a role="link" class="link aboutLink" href="#" data-dojo-attach-point="aboutNode" data-dojo-attach-event="onclick:_onAboutClick,onkeydown:_onAboutKeydown">${nls.about}</a>
    </div>
  </span>
</div>