﻿<div class="pad-left-5 no-select">
  <table class="page-table" cellpading="0">
    <tbody>
      <tr>
        <td class="panel-title-td">
          <div class="panel-title-text" tabindex="0" role="region" aria-label="${nls.mapping.schemaMapping}${nls.fieldMapping.fieldMappingPageHint}">
            ${nls.mapping.schemaMapping}</div>
        </td>
      </tr>
      <tr class="task-instruction-row bottom-border-bold">
        <td colspan="2" class="panel-title-hint-td">
          <div class="instruction">${nls.fieldMapping.fieldMappingPageHint}</div>
        </td>
      </tr>
      <tr>
        <td class="pad-top-10">
          <div data-dojo-attach-point="fieldMappingTable"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>