﻿<div style="height: 100%;" class="no-select">
  <!-- aria-label added at runtime-->
  <div class="bottom-border-mid esriCTSchemaMapInstructions" data-dojo-attach-point="schemaMapInstructions" tabindex="0" role="region">
    <div data-dojo-attach-point="pageInstruction" class="main-instruction"></div>
  </div>
  <div class="upload-tab-node" data-dojo-attach-point="uploadTabNode">
    <div class="schema-map-instructions">
      <div class="usage-instruction">
        ${nls.startPage.dragDrop}
      </div>
      <div class="drop-or-browse">
        ${nls.startPage.or}
      </div>
      <div data-dojo-attach-point="browseContainer">
        <form class="file-form" enctype="multipart/form-data" method="post" data-dojo-attach-point="fileForm">
          <label for="${id}_file" class="jimu-btn" data-dojo-attach-point="uploadLabel" 
          tabindex="0" role="button" aria-label="${nls.startPage.browse}" >${nls.startPage.browse}</label>
          <input id="${id}_file" name="file" type="file" class="upload-input" data-dojo-attach-point="fileNode"/>
        </form>
      </div>
    </div>
    <div class="warning-instruction" data-dojo-attach-point="loadWarning">
      <span>${nls.warningsAndErrors.loadWarning}</span>
    </div>
  </div>
  <div class="credit-warning-container" data-dojo-attach-point="creditsLink" tabindex="0" role="link" aria-label="${nls.warningsAndErrors.consumesCredits}">
    <a  data-dojo-attach-point="creditsLinkTag" class="credit-warning" target="_blank" 
      href="http://www.esri.com/software/arcgis/arcgisonline/credits">${nls.warningsAndErrors.consumesCredits}</a>
  </div>
</div>