<div style="width:100%;height:100%;overflow:hidden;" class="nihilo">
  <div class='neo'>
    <table class="settings-section">
      <tbody>
        <tr>
          <td class='sectionTitle' aria-label='${nls.minIntSpacingLabel}' colspan="2" tabindex="0">
            ${nls.minIntSpacingLabel}</td>
        </tr>
        <tr>
          <td>
            <div class='grid-overlay-setting-slider' data-dojo-attach-point="minIntervalSpacing"
              data-dojo-type="dijit/form/HorizontalSlider"
              data-dojo-props="value:100, minimum: 50, maximum:250, discreteValues:41, intermediateChanges:true, showButtons:false">
            </div>
          </td>
          <td>
            <div class="grid-overlay-setting-slider-value"><span class='sliderValue'
                data-dojo-attach-point="minIntervalSpacingVal">px</span>
            </div>
          </td>
        </tr>
        <tr>
          <td class='sectionTitle' aria-label='${nls.lineOpacityLabel}' colspan="2" tabindex="0">${nls.lineOpacityLabel}
          </td>
        </tr>
        <tr>
          <td>
            <div class='grid-overlay-setting-slider' data-dojo-attach-point="lineOpacity"
              data-dojo-type="dijit/form/HorizontalSlider"
              data-dojo-props="value:100, minimum: 0.05, maximum:1, discreteValues:20, intermediateChanges:true, showButtons:false">
            </div>
          </td>
          <td>
            <div class="grid-overlay-setting-slider-value"><span class='sliderValue'
                data-dojo-attach-point="lineOpacityVal">%</span></div>
          </td>
        </tr>
        <tr>
          <td class='sectionTitle' aria-label='${nls.labelOpacityLabel}' tabindex="0">${nls.labelOpacityLabel}</td>
        </tr>
        <tr>
          <td>
            <div class='grid-overlay-setting-slider' data-dojo-attach-point="labelOpacity"
              data-dojo-type="dijit/form/HorizontalSlider"
              data-dojo-props="value:100, minimum: 0.05, maximum:1, discreteValues:20, intermediateChanges:true, showButtons:false">
            </div>
          </td>
          <td>
            <div class="grid-overlay-setting-slider-value"><span class='sliderValue'
                data-dojo-attach-point="labelOpacityVal">%</span></div>
          </td>
        </tr>
        <tr>
          <td class='sectionTitle' aria-label='${nls.verticalLineLabels}' tabindex="0">${nls.verticalLineLabels}</td>
        </tr>
        <tr>
          <td class='verticalLineSection'>
            <div class='image-labels horizontalLabel' title='${nls.horizontalLabel}' tabindex='0' role='button'
              aria-label='${nls.horizontalLabel}' data-dojo-attach-point="horizontalLabels"></div>
            <div class='image-labels verticalLabel' title='${nls.verticalLabel}' tabindex='0' role='button'
              aria-label='${nls.verticalLabel}' data-dojo-attach-point="verticalLabels"></div>
          </td>
        </tr>
        <tr data-dojo-attach-point="trShowGrid">
          <td>
            <div class="table-options jimu-ellipsis">
              <ul>
                <li>
                  <input class="switch-toggle" aria-label='${nls.checkBoxLabel}' data-dojo-type="dijit/form/CheckBox"
                    data-dojo-attach-point="cbxShowGrid" label="${nls.checkBoxLabel}" />
                  <label data-dojo-attach-point="checkBoxLabel" aria-label='${nls.checkBoxLabel}'
                    tabindex="0">${nls.checkBoxLabel}</label>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="grid-overlay-setting-style">
      <div class='sectionTitle' aria-label='${nls.styleHeaderLabel}' tabindex="0">${nls.styleHeaderLabel}</div>
      <table>
        <thead>
          <tr>
            <th>${nls.indexHeaderLabel}</th>
            <th data-a11y-label-id="color">${nls.colorHeaderLabel}</th>
            <th data-a11y-label-id="fontSize">${nls.fontSizeHeaderLabel}</th>
            <th data-a11y-label-id="lineWidth">${nls.lineWidthHeaderLabel}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-a11y-label-id="gzd">${nls.gzd}</td>
            <td>
              <div data-dojo-attach-point="colorPicker0" class="grid-overlay-setting-color-picker"
                data-a11y-label-by="gzd color" data-dojo-type="jimu/dijit/ColorPicker"></div>
            </td>
            <td>
              <div class="font-size" data-a11y-label-by="gzd fontSize" data-dojo-attach-point="fontSize0"
                data-dojo-type="dijit/form/NumberSpinner"
                data-dojo-props="intermediateChanges:true, constraints:{min:5,max:72}, value:15"></div>
            </td>
            <td>
              <div class="font-size" data-a11y-label-by="gzd lineWidth" data-dojo-attach-point="lineSize0"
                data-dojo-type="dijit/form/NumberSpinner"
                data-dojo-props="intermediateChanges:true, constraints:{min:1,max:10}, value:2"></div>
            </td>
          </tr>
          <tr>
            <td data-a11y-label-id="gsid" data-dojo-attach-point="gsidNode"></td>
            <td>
              <div data-dojo-attach-point="colorPicker1" class="grid-overlay-setting-color-picker"
                data-a11y-label-by="gsid color" data-dojo-type="jimu/dijit/ColorPicker" data-a11y-label-by="gsid color">
              </div>
            </td>
            <td>
              <div class="font-size" data-a11y-label-by="gsid fontSize" data-dojo-attach-point="fontSize1"
                data-dojo-type="dijit/form/NumberSpinner"
                data-dojo-props="intermediateChanges:true, constraints:{min:5,max:72}, value:15"></div>
            </td>
            <td>
              <div class="font-size" data-a11y-label-by="gsid lineWidth" data-dojo-attach-point="lineSize1"
                data-dojo-type="dijit/form/NumberSpinner"
                data-dojo-props="intermediateChanges:true, constraints:{min:1,max:10}, value:2"></div>
            </td>
          </tr>
          <tr>
            <td data-a11y-label-id="grid10k" data-dojo-attach-point="grid10kNode"></td>
            <td>
              <div data-dojo-attach-point="colorPicker2" class="grid-overlay-setting-color-picker"
                data-a11y-label-by="grid10k color" data-dojo-type="jimu/dijit/ColorPicker"></div>
            </td>
            <td>
              <div class="font-size" data-a11y-label-by="grid10k fontSize" data-dojo-attach-point="fontSize2"
                data-dojo-type="dijit/form/NumberSpinner"
                data-dojo-props="intermediateChanges:true, constraints:{min:5,max:72}, value:15"></div>
            </td>
            <td>
              <div class="font-size" data-a11y-label-by="grid10k lineWidth" data-dojo-attach-point="lineSize2"
                data-dojo-type="dijit/form/NumberSpinner"
                data-dojo-props="intermediateChanges:true, constraints:{min:1,max:10}, value:2"></div>
            </td>
          </tr>
          <tr>
            <td data-a11y-label-id="grid1k" data-dojo-attach-point="grid1kNode"></td>
            <td>
              <div data-dojo-attach-point="colorPicker3" class="grid-overlay-setting-color-picker"
                data-a11y-label-by="grid1k color" data-dojo-type="jimu/dijit/ColorPicker"></div>
            </td>
            <td>
              <div class="font-size" data-a11y-label-by="grid1k fontSize" data-dojo-attach-point="fontSize3"
                data-dojo-type="dijit/form/NumberSpinner"
                data-dojo-props="intermediateChanges:true, constraints:{min:5,max:72}, value:15"></div>
            </td>
            <td>
              <div class="font-size" data-a11y-label-by="grid1k lineWidth" data-dojo-attach-point="lineSize3"
                data-dojo-type="dijit/form/NumberSpinner"
                data-dojo-props="intermediateChanges:true, constraints:{min:1,max:10}, value:2"></div>
            </td>
          </tr>
          <tr>
            <td data-a11y-label-id="grid100m">${nls.grid100m}</td>
            <td>
              <div data-dojo-attach-point="colorPicker4" class="grid-overlay-setting-color-picker"
                data-a11y-label-by="grid100m color" data-dojo-type="jimu/dijit/ColorPicker"></div>
            </td>
            <td>
              <div class="font-size" data-a11y-label-by="grid100m fontSize" data-dojo-attach-point="fontSize4"
                data-dojo-type="dijit/form/NumberSpinner"
                data-dojo-props="intermediateChanges:true, constraints:{min:5,max:72}, value:15"></div>
            </td>
            <td>
              <div class="font-size" data-a11y-label-by="grid100m lineWidth" data-dojo-attach-point="lineSize4"
                data-dojo-type="dijit/form/NumberSpinner"
                data-dojo-props="intermediateChanges:true, constraints:{min:1,max:10}, value:2"></div>
            </td>
          </tr>
          <tr>
            <td data-a11y-label-id="grid10m">${nls.grid10m}</td>
            <td>
              <div data-dojo-attach-point="colorPicker5" class="grid-overlay-setting-color-picker"
                data-a11y-label-by="grid10m color" data-dojo-type="jimu/dijit/ColorPicker"></div>
            </td>
            <td>
              <div class="font-size" data-a11y-label-by="grid10m fontSize" data-dojo-attach-point="fontSize5"
                data-dojo-type="dijit/form/NumberSpinner"
                data-dojo-props="intermediateChanges:true, constraints:{min:5,max:72}, value:15"></div>
            </td>
            <td>
              <div class="font-size" data-a11y-label-by="grid10m lineWidth" data-dojo-attach-point="lineSize5"
                data-dojo-type="dijit/form/NumberSpinner"
                data-dojo-props="intermediateChanges:true, constraints:{min:1,max:10}, value:2"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>