.jimu-widget-visibility-setting {
  height: 100%;
  overflow: hidden;
  font-size: 14px;
}

.jimu-widget-visibility-setting .dijitReset .dijitInputInner {
  padding-top: 6px !important;
}

.jimu-popup .title-label {
  font-size: inherit;
}

.jimu-widget-visibility-setting .section.common-property {
  overflow: hidden;
}

.jimu-widget-visibility-setting .url-section {
  position: relative;
  height: 40px;
}

.jimu-widget-visibility-setting .url-section .label {
  left: 0;
  top: 5px;
  height: 36px;
  width: 100%;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jimu-widget-visibility-setting .service-browser {
  width: 100%;
  padding-bottom: 10px;
}

.jimu-widget-visibility-setting .error-section {
  color: red;
  padding-left: 4px;
}

.jimu-rtl .jimu-widget-visibility-setting .error-section {
  padding-right: 14px;
}

.jimu-widget-visibility-setting .hide-section {
  visibility: hidden;
}

.jimu-widget-visibility-setting .jimu-widget-setting-gp-detail {
  overflow: hidden;
  position: relative;
  height: 100%;
}

/* nav pane*/
.jimu-widget-visibility-setting .nav-pane {
  width: 250px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.claro .jimu-widget-visibility-setting .nav-pane .dijitTitlePaneTitleClosed,
.jimu-widget-visibility-setting .nav-pane .nav-pane-node {
  background-color: #fafafc;
  border: 1px solid #d2dae2;
  border-radius: 4px;
}

.claro .jimu-widget-visibility-setting .nav-pane .dijitTitlePaneTitleClosed,
.jimu-widget-visibility-setting .nav-pane .nav-pane-node,
.claro .jimu-widget-visibility-setting .nav-pane .dijitTitlePaneTitleOpen {
  margin-top: 10px;
  height: 35px;
}

.jimu-widget-visibility-setting .nav-pane .nav-pane-node {
  padding: 7px;
  vertical-align: middle;
}

.jimu-widget-visibility-setting .nav-pane .link-action-node {
  cursor: pointer;
}

.jimu-widget-visibility-setting .nav-pane .link-action-node span {
  white-space: nowrap;
}

.jimu-widget-visibility-setting .nav-pane .param-node {
  padding: 5px 5px 5px 15px;
  border-top: 1px solid #d2dae2;
}

.claro .jimu-widget-visibility-setting .nav-pane .dijitTitlePaneContentInner {
  padding: 0;
}

.jimu-widget-visibility-setting .link-action-node.jimu-state-active {
  background-color: #e3ecf2;
  border-left: 3px solid #15A4FA;
  padding-left: 12px;
}

.jimu-widget-visibility-setting .nav-pane .dijitTitlePaneContentOuter {
  border-radius: 0 0 4px 4px;
}

.claro .jimu-widget-visibility-setting .nav-pane .dijitTitlePaneTitleOpen {
  background-color: #6f7e95;
  color: #fff;
  border: 1px solid #6f7e95;
  border-radius: 4px 4px 0 0;
  background-image: linear-gradient(#6f7e95 0%, #6f7e95 100%);
}

.claro .jimu-widget-visibility-setting .nav-pane .dijitTitlePaneTitleFocus {
  margin-top: 7px;
}

.claro .jimu-widget-visibility-setting .nav-pane .dijitTitlePaneTitleOpen .dijitArrowNode {
  background-image: url("images/focusArrow.png");
}

/*setting pane*/
.jimu-widget-visibility-setting .setting-pane {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 685px;
}


/*parameter setting*/
.jimu-widget-visibility-setting .field {
  position: relative;
  overflow: hidden;
}

.jimu-widget-visibility-setting .field label {
  width: 115px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jimu-widget-visibility-setting .common-property .field {
  height: 36px;
  margin-top: 10px;
}

.jimu-widget-visibility-setting .common-property .field label {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jimu-widget-visibility-setting .common-property .field label.visibleLabel {
  position: relative;
  top: 20%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jimu-widget-visibility-setting .common-property .jimu-checkbox {
  width: 115px;
}

.jimu-widget-visibility-setting .common-property .jimu-checkbox.visibleCheck {
  width: 20px;
  margin-left: 0;
}

.jimu-widget-visibility-setting .common-property .field .common-input {
  position: absolute;
  left: 115px;
  right: 10px;
  top: 0px;
  bottom: 0px;
  width: auto
}

.jimu-widget-visibility-setting .special-property .field {
  height: 20px;
  margin-top: 5px;
}

.jimu-widget-visibility-setting .special-property .jimu-gp-editor-base {
  display: block;
}

.jimu-widget-visibility-setting .special-property .input-label {
  margin: 10px 0px;
  display: inline-block;
}

.jimu-widget-visibility-setting .special-property .change-editor {
  margin: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.jimu-widget-visibility-setting .jimu-widget-setting-gp-param .jimu-symbol-chooser {
  margin-left: 100px;
}

.jimu-rtl .jimu-widget-visibility-setting .jimu-widget-setting-gp-param .jimu-symbol-chooser {
  margin-left: 0;
  margin-right: 100px;
}

.jimu-widget-visibility-setting .jimu-widget-setting-gp-param .jimu-renderer-chooser .jimu-symbol-chooser {
  margin-left: 50px;
}

.jimu-rtl .jimu-widget-visibility-setting .jimu-widget-setting-gp-param .jimu-renderer-chooser .jimu-symbol-chooser {
  margin-left: 0;
  margin-right: 50px;
}

/*layer order*/
.jimu-widget-visibility-setting .jimu-widget-visibility-setting-layer-order {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.jimu-widget-visibility-setting .layer-node {
  overflow: hidden;
  margin-top: 10px;
}

.jimu-widget-visibility-setting .layer-node .order {
  float: left;
}

.jimu-widget-visibility-setting .layer-node .label {
  float: left;
}

.jimu-widget-visibility-setting .layer-node .order-btn {
  cursor: pointer;
}

.jimu-widget-visibility-setting .layer-node:first-child .up {
  color: rgba(0, 0, 0, 0.4);
}

.jimu-widget-visibility-setting .layer-node:last-child .down {
  color: rgba(0, 0, 0, 0.4);
}

/* options */
.jimu-widget-visibility-setting .jimu-widget-setting-gp-options {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.jimu-widget-visibility-setting .jimu-widget-setting-gp-options .field {
  margin-top: 10px;
  height: 36px;
}

.jimu-widget-visibility-setting .jimu-widget-setting-gp-options .field label {
  width: auto;
}

.jimu-widget-visibility-setting .jimu-widget-setting-gp-options .field .option-help-label {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jimu-widget-visibility-setting .jimu-widget-setting-gp-options .field .option-help-url {
  position: absolute;
  left: 115px;
  right: 10px;
  top: 0px;
  bottom: 0px;
  width: auto;
}

.jimu-gp-editor-chooser .editor-node {
  display: inline-block;
  width: 165px;
  margin-left: 15px;
}

.jimu-gp-editor-chooser .editor-node .node-box {
  width: 100%;
  height: 105px;
  line-height: 105px;
  border: 1px solid #D4DCE3;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.jimu-gp-editor-chooser img {
  vertical-align: middle;
}

.jimu-gp-editor-chooser .editor-node .node-label {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.jimu-gp-editor-chooser .editor-node.jimu-state-selected .node-box {
  border: 2px solid #15A4FA;
}

.jimu-rtl .jimu-widget-visibility-setting .url-section .label {
  right: 0;
}

.jimu-rtl .jimu-widget-visibility-setting .common-property .field .common-input {
  right: 115px;
  left: 10px;
}

.jimu-rtl .jimu-widget-visibility-setting .jimu-widget-setting-gp-options .field .option-help-url {
  left: 10px;
  right: 115px;
}

.jimu-widget-visibility-setting .param-node {
  border-left: 0;
  border-right: 0;
  position: relative;
}

.jimu-widget-visibility-setting .param-node .action-group {
  position: absolute;
  width: 5px;
  height: 20px;
  left: 5px;
  top: 5px;
  background-image: none;
  background-repeat: no-repeat;
  background-position: -22px -101px;
  cursor: move;
}

.jimu-widget-visibility-setting .dojoDndItemOver .action-group {
  background-image: url(images/ago_sprite.png);
}

.jimu-widget-visibility-setting .dojoDndItemOver .action-group:hover {
  background-position: -38px -101px;
}

.jimu-rtl .jimu-widget-visibility-setting .param-node .action-group {
  left: auto;
  right: 5px;
}

.dojoDndAvatarHeader {
  display: none;
}

.dojoDndAvatarItem {
  display: block;
}

/* Toggle switch */

.jimu-widget-visibility-setting .switch-toggle-group {
  padding: 5px;
}

.jimu-widget-visibility-setting .switch-toggle-group .checkbox-inline {
  padding-left: 36px;
  vertical-align: top;
}

.jimu-widget-visibility-setting .switch-toggle-group .switch-toggle.dijitCheckBox {
  margin-left: -36px;
}

.jimu-widget-visibility-setting .switch-toggle.dijitCheckBox {
  height: 16px;
  width: 28px;
  border: 0 none;
  background: #adadad;
  position: relative;
  float: left;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.jimu-rtl .jimu-widget-visibility-setting .switch-toggle.dijitCheckBox {
  float: left;
}

.jimu-widget-visibility-setting .switch-toggle.dijitCheckBox:before {
  content: "";
  background: #f8f8f8;
  position: absolute;
  padding: 0;
  height: 12px;
  width: 12px;
  left: auto;
  right: 14px;
  top: 2px;
  z-index: 1;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.jimu-widget-visibility-setting .switch-toggle.dijitCheckBox input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
}

.jimu-widget-visibility-setting .switch-toggle.dijitCheckBox.dijitCheckBoxChecked {
  background: #50ad4e;
}

.jimu-widget-visibility-setting .switch-toggle.dijitCheckBox.dijitCheckBoxChecked:before {
  right: 2px;
}

/* distace and height  */

.jimu-widget-visibility-setting .esriCTWrapper {
  width: 100%;
  overflow: hidden;
  padding: 5px 5px;
}

.jimu-widget-visibility-setting .esriCTLabel {
  width: 30%;
  padding: 5px 10px 5px 0px;
  word-break: break-word;
  float: left;
  font-size: 14px;
}

.jimu-widget-visibility-setting .esriCTDijitWrapper {
  width: 70%;
  float: right;
}

.jimu-rtl .jimu-widget-visibility-setting .esriCTLabel {
  float: right;
}

.jimu-rtl .jimu-widget-visibility-setting .esriCTDijitWrapper {
  float: left;
}

.jimu-rtl .jimu-widget-visibility-setting .switch-toggle.dijitCheckBox {
  float: right
}

.jimu-widget-visibility-setting .opLayerSelectSettings {
  height: 30px;
  color: #7d7d7d;
  padding: 0 5px 0 5px;
  font-size: 13px;
  width: 56%;
  font-family: 'Avenir Medium';
  margin: 7px 0px 20px 0px;
}

.jimu-widget-visibility-setting .helpBtn {
  background: url(./images/help_black.png);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 5px;
}

.jimu-rtl .jimu-widget-visibility-setting .helpBtn {
  margin-right: 5px;
}

.jimu-widget-visibility-setting .helpBtn:hover {
  background: url(./images/help_black_hover.png);
}

.jimu-widget-visibility-setting .esriCTTabs {
  padding: 10px;
}

.jimu-widget-visibility-symbologySettings .esriCTSettingsRow {
  width: 100%;
  display: inline-flex;
}

.jimu-widget-visibility-symbologySettings .esriCTLabelSettingsRightButton {
  background: url("../../images/arrow-right_black.png") no-repeat;
}

.jimu-rtl .jimu-widget-visibility-symbologySettings .esriCTLabelSettingsRightButton {
  transform: rotate(180deg);
}

.jimu-widget-visibility-symbologySettings .esriCTLabelSettingsRightButton:hover {
  background: url("../../images/arrow-right_black_hover.png") no-repeat;
}

.jimu-widget-visibility-symbologySettings .esriCTSettingsButtonIcon {
  margin-top: 13px;
  height: 16px;
  width: 16px;
}

.jimu-rtl .jimu-widget-visibility-symbologySettings .esriCTSettingsButtonIcon {
  margin: 10px 0px 0px 5px;
}

.jimu-widget-visibility-symbologySettings .esriCTPointer {
  cursor: pointer;
}

.jimu-widget-visibility-symbologySettings .esriCTInputLabelSettings {
  float: left;
  line-height: 28px;
  padding: 5px 0px 0px 0px;
}

.jimu-widget-visibility-symbologySettings .esriCTEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jimu-widget-visibility-symbologySettings .esriCTSubTitle {
  font-weight: bold;
}

.jimu-widget-visibility-symbologySettings .esriCTGroupHidden {
  display: none;
}

.jimu-widget-visibility-symbologySettings .esriCTLabelSettingsDownButton {
  background: url("../../images/arrow-down_black.png") no-repeat;
  margin-top: 15px;
}

.jimu-rtl .jimu-widget-visibility-symbologySettings .esriCTLabelSettingsDownButton {
  margin: 15px 0px 0px 5px;
}

.jimu-widget-visibility-symbologySettings .esriCTLabelSettingsDownButton:hover {
  background: url("../../images/arrow-down_black_hover.png") no-repeat;
}

.jimu-widget-visibility-setting .esriCTColorPickerEditor .esriCTSliderWrapper {
  width: 235px;
  display: inline-block;
  margin: 5px;
}

.jimu-widget-visibility-setting .esriCTColorPickerEditor .dijitSlider {
  width: 100%;
}

.jimu-widget-visibility-setting .esriCTColorPickerEditor {
  padding-top: 5px;
  padding-bottom: 8px;
}

.jimu-widget-visibility-setting .esriCTColorPickerEditor .jimu-color-picker {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.jimu-widget-visibility-setting .esriCTColorPickerEditor .dijitSpinner.dijitNumberTextBox.dijitValidationTextBox {
  width: 70px;
  height: 30px;
}

.jimu-widget-visibility-setting .esriCTColorPickerEditor .dijitSlider .dijitSliderImageHandleH {
  top: -10px;
  width: 20px;
  height: 20px;
}

.jimu-widget-visibility-setting .esriCTColorPickerEditor .dijitSliderImageHandleH {
  top: -7px;
}

.jimu-widget-visibility-setting .esriCTColorPickerEditor .dijitSliderImageHandle.dijitSliderImageHandleH {
  background-image: url("../../images/sliderball.svg");
  background-position: 0 0;
}


.jimu-widget-visibility-setting .esriCTColorPickerEditor .dijitSliderThumbHover {
  background-image: url("../../images/sliderball.svg");
  background-position: 0 0;
}

/*left*/
.jimu-widget-visibility-setting .esriCTColorPickerEditor .dijitSlider .dijitSliderProgressBarH,
.jimu-widget-visibility-setting .esriCTColorPickerEditor .dijitSlider .dijitSliderLeftBumper {
  border-color: #000;
  background-color: #000;
  background-image: -webkit-linear-gradient(top, #000 0px, #000 1px, rgba(255, 255, 255, 0) 2px);
  background-image: -o-linear-gradient(top, #000 0px, #000 1px, rgba(255, 255, 255, 0) 2px);
  background-image: linear-gradient(top, #000 0px, #000 1px, rgba(255, 255, 255, 0) 2px);
}

.jimu-widget-visibility-setting .esriCTColorPickerEditor .dijitSlider .dijitSliderRemainingBarH,
.jimu-widget-visibility-setting .esriCTColorPickerEditor .dijitSlider .dijitSliderRightBumper {
  border-color: #d7d7d7;
  background-color: #d7d7d7;
}

.jimu-widget-visibility-setting.tabs .esriCTColorPickerEditor .trans {
  font-family: "Avenir Light";
  font-size: 12px;
  padding: 0 10px 0 20px;
  letter-spacing: 0.33px;
}

.jimu-widget-visibility-setting.tabs .esriCTColorPickerEditor .esriCTSliderbar {
  width: 60px;
}

.dijitRuleLabelH {
  left: -12%;
}

.jimu-widget-visibility-setting .esriCTOutFillSection {
  vertical-align: bottom;
  display: -ms-inline-grid;
  display: -moz-inline-grid;
  display: inline-flex;
  flex-direction: column;
}