.claro .dijitButtonText {
  padding: 0;
  text-align: center;
  line-height: 1.428571428571429;
}
.claro .dijitButton .dijitButtonNode,
.claro .dijitDropDownButton .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNode,
.claro .dijitToggleButton .dijitButtonNode {
  cursor: pointer;
  min-width: 70px;
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  text-align: center;
  background: #fff;
  border: 1px solid #ddd;
  color: #333;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}
.claro .dijitButtonHover .dijitButtonNode,
.claro .dijitDropDownButtonHover .dijitButtonNode,
.claro .dijitToggleButtonHover .dijitButtonNode {
  background-color: #e6e6e6;
  border-color: #d2d2d2;
}
.claro .dijitComboButton .dijitButtonNodeHover,
.claro .dijitComboButton .dijitDownArrowButtonHover {
  background-color: #e6e6e6;
  border-color: #d2d2d2;
}
.claro .dijitButtonActive .dijitButtonNode,
.claro .dijitDropDownButtonActive .dijitButtonNode,
.claro .dijitToggleButtonActive .dijitButtonNode,
.claro .dijitToggleButtonChecked .dijitButtonNode {
  background-color: #e6e6e6;
  border-color: #d2d2d2;
}
.claro .dijitComboButton .dijitButtonNodeActive,
.claro .dijitComboButton .dijitDownArrowButtonActive {
  background-color: #e6e6e6;
  border-color: #d2d2d2;
}
.claro .dijitButtonDisabled,
.claro .dijitDropDownButtonDisabled,
.claro .dijitComboButtonDisabled,
.claro .dijitToggleButtonDisabled {
  outline: none;
}
.claro .dijitButtonDisabled .dijitButtonNode,
.claro .dijitDropDownButtonDisabled .dijitButtonNode,
.claro .dijitComboButtonDisabled .dijitButtonNode,
.claro .dijitToggleButtonDisabled .dijitButtonNode {
  opacity: 0.35;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  filter: alpha(opacity=35);
}
.claro .dijitComboButtonDisabled .dijitArrowButton {
  border-left-width: 0;
}
.claro .dijitDropDownButton .dijitButtonNode {
  padding-right: 5px;
}
.claro table.dijitComboButton {
  border-collapse: separate; /* override dijit.css so that ComboBox rounded corners work */
}
.claro table.dijitComboButton .dijitButtonNode {
  min-width: 0;
}
.claro table.dijitComboButton .dijitStretch {
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.claro table.dijitComboButton .dijitArrowButton {
  padding: 5px;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  border-left-width: 0;
}
.claro table.dijitComboButton .dijitArrowButton .dijitArrowButtonInner {
  display: none;
}
.claro .dijitToggleButton .dijitIcon {
  display: none;
}
.claro .dijitToggleButton .dijitCheckBoxIcon {
  background-image: none;
}
.claro .dijitToggleButtonChecked .dijitIcon {
  display: inline-block;
}
.claro .dijitDropDownButton .dijitArrowButtonInner {
  margin-left: 10px;
}
.claro .dijitDropDownButton .dijitArrowButtonInner,
.claro .dijitComboButton .dijitArrowButton,
.claro .dijitArrowButton {
  background-image: none;
  font-family: "launchpad-icons" !important;
  content: attr(data-icon);
  font-size: 16px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.claro .dijitDropDownButton .dijitArrowButtonInner:before,
.claro .dijitArrowButton:before {
  content: "n";
}
.claro .dijitLeftArrowButton:before {
  content: "q";
}
.claro .dijitRightArrowButton:before {
  content: "r";
}
.claro .dijitUpArrowButton:before {
  content: "p";
}
.claro .dijitCheckBox {
  background-color: $checkbox-background-color;
  background-image: none !important;
  border: 1px solid #ddd;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  position: relative;
}
.claro .dijitCheckBox input {
  position: absolute;
  top: 0;
}
.claro .dijitCheckBoxIcon:before,
.claro .dijitCheckBoxChecked:before,
.claro .dijitCheckBoxCheckedDisabled:before {
  font-family: "launchpad-icons" !important;
  content: attr(data-icon);
  font-size: 16px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "k";
  position: relative;
  left: -1px;
}
.claro .dijitToggleButtonChecked .dijitCheckBoxIcon {
  color: #3b8fc4;
}
.claro .dijitCheckBoxChecked {
  background-color: #3b8fc4;
  border: 1px solid #3b8fc4;
  color: #fff;
}
.claro .dijitCheckBoxHover {
  border: 1px solid #3b8fc4;
}
.claro .dijitCheckBoxCheckedHover {
  border: $checkbox-hover-checked-border;
}
.claro .dijitCheckBoxDisabled,
.claro .dijitCheckBoxCheckedDisabled {
  opacity: 0.35;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  filter: alpha(opacity=35);
}
.claro .dijitCheckedMenuItem .dijitCheckedMenuItemIcon {
  background-color: $checkbox-background-color;
  background-image: none;
  border: 1px solid #ddd;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  margin-top: 2px;
}
.claro .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon:before {
  font-family: "launchpad-icons" !important;
  content: attr(data-icon);
  font-size: 16px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "k";
  position: relative;
  left: -1px;
  color: #3b8fc4;
}
.claro .dijitRadio,
.claro .dijitRadioIcon {
/* inside a toggle button */
  width: 16px;
  height: 16px;
  background: none !important;
  border: 1px solid #3b8fc4;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  overflow: visible;
}
.claro .dijitRadio:after,
.claro .dijitRadioIcon:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  background: #3b8fc4;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  margin: 8px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.claro .dijitRadioHover {
  border-color: $radio-hover-border-color;
}
.claro .dijitRadioChecked {
  border-color: $radio-hover-border-color;
}
.claro .dijitRadioChecked:after {
  width: 8px;
  height: 8px;
  margin: 3px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.claro.jimu-nav-mode .dijitRadioFocused.dijitRadioChecked:after {
  width: 10px;
  height: 10px;
  margin: 4px;
}
.claro .dijitRadioDisabled {
  opacity: 0.35;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  filter: alpha(opacity=35);
}
.claro .dijitRadioMenuItem .dijitCheckedMenuItemIcon {
  width: 16px;
  height: 16px;
  background: none;
  border: 1px solid #ddd;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  overflow: visible;
  margin-top: 2px;
}
.claro .dijitRadioMenuItem .dijitCheckedMenuItemIcon:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  background: #3b8fc4;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  margin: 8px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.claro .dijitRadioMenuItemChecked .dijitCheckedMenuItemIcon {
  border-color: $radio-checked-border-color;
}
.claro .dijitRadioMenuItemChecked .dijitCheckedMenuItemIcon:after {
  width: 8px;
  height: 8px;
  margin: 3px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.claro .dijitSelect .dijitArrowButtonInner,
.claro .dijitComboBox .dijitArrowButtonInner {
  display: none;
}
.claro .dijitSelect {
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-transition: border-color 0.25s ease;
  -moz-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  -ms-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
  table-layout: fixed;
}
.claro .dijitSelect .dijitButtonContents,
.claro .dijitSelect .dijitArrowButton {
  line-height: 20px;
  padding: 5px;
  border: 0;
}
.claro .dijitSelect .dijitButtonContents {
  padding: 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.claro .dijitSelect .dijitInputField {
  padding-left: 10px;
}
.claro .dijitSelect .dijitArrowButton {
  background-color: transparent;
  background-image: none;
}
.claro .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
  display: none;
}
.claro .dijitSelectHover {
  background-color: #e6e6e6;
  background-image: none;
  border-color: #d2d2d2;
}
.claro .dijitSelectActive {
  background-color: #e6e6e6;
  background-image: none;
  border-color: #d2d2d2;
}
.claro .dijitSelectFocused {
  border: 1px solid #3b8fc4;
}
.claro .dijitSelectDisabled {
  opacity: 0.35;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  filter: alpha(opacity=35);
}
.claro .dijitComboBox .dijitButtonNode {
  height: 30px;
  width: 30px;
  background-color: #fff;
  background-image: none;
  border-left: 0 none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.claro .dijitComboBox .dijitButtonNode:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
  height: 22px;
  border-left: 1px solid #ddd;
}
.claro .jimu-date-value-selector .custom-date-text-box .dijitButtonNode {
  overflow: hidden;
}
.claro .dijitComboBoxOpenHover .dijitButtonNode,
.claro .dijitComboBox .dijitDownArrowButtonHover {
  background-color: #e6e6e6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.claro .dijitComboBoxDisabled .dijitButtonNode {
  opacity: 0.35;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  filter: alpha(opacity=35);
}
.claro .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  width: 0;
}
.claro .dijitDateTextBox .dijitArrowButton:before {
  content: "x";
  font-size: 16px;
}
.claro select {
  padding: 5px 0;
  border: 1px solid #ddd;
}
.claro select option {
  padding: 5px 10px;
}
.claro .dijitSelectMenu td.dijitMenuItemIconCell,
.claro .dijitSelectMenu td.dijitMenuArrowCell {
/* so that arrow and icon cells from MenuItem are not displayed */
  display: none;
}
.claro .dijitSpinner .dijitSpinnerButtonContainer {
  overflow: hidden;
  position: relative;
  width: auto;
  padding: 0;
  border: 0 none;
}
.claro .dijitSpinner .dijitSpinnerButtonContainer:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
  height: 22px;
  border-left: 1px solid #ddd;
}
.claro .dijitSpinner .dijitSpinnerButtonInner {
  padding: 5px;
  margin: 0 5px;
}
.claro .dijitSpinner .dijitArrowButton {
  width: auto;
  border: 0 none;
  padding: 0;
  overflow: hidden;
  left: 0;
  right: 0;
  background: transparent;
}
.claro .dijitSpinner .dijitArrowButton:before {
  content: none;
}
.claro .dijitSpinner .dijitUpArrowButtonHover,
.claro .dijitSpinner .dijitDownArrowButtonHover {
  background-color: #e6e6e6;
}
.claro .dijitSpinner .dijitDownArrowButtonActive,
.claro .dijitSpinner .dijitUpArrowButtonActive {
  background-color: #e6e6e6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.claro .dijitSpinner .dijitArrowButtonInner {
  background-image: none;
  line-height: 15px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0.5px 0;
  border: 0;
}
.claro .dijitSpinner .dijitArrowButtonInner .dijitInputField {
  padding: 0;
}
.claro .dijitSpinner .dijitArrowButtonInner:before {
  content: "p";
}
.claro .dijitSpinner .dijitDownArrowButton .dijitArrowButtonInner:before {
  content: "n";
}
.claro .dijitSpinnerDisabled .dijitDownArrowButton,
.claro .dijitSpinnerDisabled .dijitUpArrowButton {
  opacity: 0.35;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  filter: alpha(opacity=35);
}
.claro .dijitSliderBar {
  border-style: solid;
  outline: 1px;
}
.claro .dijitRuleLabelsContainer {
  color: #6d6e70;
}
.claro .dijitSliderDisabled {
  opacity: 0.35;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  filter: alpha(opacity=35);
}
.claro .dijitRuleLabelsContainerH {
  padding: 0;
}
.claro .dijitSliderBarH,
.claro .dijitSliderBumperH {
  height: 3px;
}
.claro .dijitSlider .dijitSliderLeftBumper {
  -webkit-border-radius: 1.5px 0 0 1.5px;
  border-radius: 1.5px 0 0 1.5px;
  border: 0 none;
  margin-left: 5px;
}
.claro .dijitSlider .dijitSliderRightBumper {
  -webkit-border-radius: 0 1.5px 1.5px 0;
  border-radius: 0 1.5px 1.5px 0;
  border: 0 none;
  margin-left: -2px;
  margin-right: 5px;
}
.claro .dijitSlider .dijitSliderProgressBarH,
.claro .dijitSlider .dijitSliderLeftBumper {
  border: 0 none;
  background-color: #3b8fc4;
  background-image: none;
}
.claro .dijitSlider .dijitSliderRemainingBarH,
.claro .dijitSlider .dijitSliderRightBumper {
  border: 0 none;
  background-color: #ddd;
}
.claro .dijitSliderHover .dijitSliderProgressBarH,
.claro .dijitSliderHover .dijitSliderLeftBumper {
  background-color: #3684b4;
  background-image: none;
}
.claro .dijitSliderFocused .dijitSliderProgressBarH,
.claro .dijitSliderFocused .dijitSliderLeftBumper {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.claro .dijitSliderFocused .dijitSliderRemainingBarH,
.claro .dijitSliderFocused .dijitSliderRightBumper {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.claro .dijitRuleLabelsContainerV {
  padding: 0;
}
.claro .dijitSliderBarV,
.claro .dijitSliderBumperV {
  width: 3px;
}
.claro .dijitSlider .dijitSliderTopBumper {
  -webkit-border-radius: 1.5px 1.5px 0 0;
  border-radius: 1.5px 1.5px 0 0;
  border: 0 none;
  margin-top: 5px;
  margin-bottom: -2px;
}
.claro .dijitSlider .dijitSliderBottomBumper {
  -webkit-border-radius: 0 0 1.5px 1.5px;
  border-radius: 0 0 1.5px 1.5px;
  border: 0 none;
  margin-bottom: 5px;
}
.claro .dijitSlider .dijitSliderProgressBarV,
.claro .dijitSlider .dijitSliderBottomBumper {
  border: 0 none;
  background-color: #3b8fc4;
  background-image: none;
}
.claro .dijitSlider .dijitSliderRemainingBarV,
.claro .dijitSlider .dijitSliderTopBumper {
  border: 0 none;
  background-color: #ddd;
}
.claro .dijitSliderHover .dijitSliderProgressBarV,
.claro .dijitSliderHover .dijitSliderBottomBumper {
  background-color: #3684b4;
  background-image: none;
}
.claro .dijitSliderFocused .dijitSliderProgressBarV,
.claro .dijitSliderFocused .dijitSliderBottomBumper {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.claro .dijitSliderFocused .dijitSliderRemainingBarV,
.claro .dijitSliderFocused .dijitSliderTopBumper {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.claro .dijitSliderImageHandle {
  background: #fff;
  -webkit-box-shadow: 0 1px 0.5px rgba(0,0,0,0.3), 0 2px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 0.5px rgba(0,0,0,0.3), 0 2px 2px rgba(0,0,0,0.2);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #3b8fc4;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  position: absolute;
}
.claro .dijitSliderImageHandle:after {
  content: "";
  display: block;
  background: #3b8fc4;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  left: 2px;
  top: 2px;
  position: absolute;
}
.claro .dijitSliderHover .dijitSliderImageHandle,
.claro .dijitSliderFocused .dijitSliderImageHandle {
  -webkit-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3), 0 4px 6px rgba(0,0,0,0.2);
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3), 0 4px 6px rgba(0,0,0,0.2);
}
.claro .dijitSliderDisabled.dijitSliderFocused .dijitSliderImageHandle:after {
  display: none;
}
.claro .dijitSliderDecrementIconH,
.claro .dijitSliderIncrementIconH,
.claro .dijitSliderDecrementIconV,
.claro .dijitSliderIncrementIconV {
  height: 20px;
  width: 20px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ddd;
  color: #3b8fc4;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0;
}
.claro .dijitSliderHover .dijitSliderDecrementIconH,
.claro .dijitSliderActive .dijitSliderDecrementIconH,
.claro .dijitSliderHover .dijitSliderIncrementIconH,
.claro .dijitSliderActive .dijitSliderIncrementIconH,
.claro .dijitSliderHover .dijitSliderDecrementIconV,
.claro .dijitSliderActive .dijitSliderDecrementIconV,
.claro .dijitSliderHover .dijitSliderIncrementIconV,
.claro .dijitSliderActive .dijitSliderIncrementIconV {
  background-color: #fff;
  border-color: #ddd;
}
.claro .dijitSliderDecrementIconH:hover,
.claro .dijitSliderIncrementIconH:hover,
.claro .dijitSliderDecrementIconV:hover,
.claro .dijitSliderIncrementIconV:hover {
  background-color: #e6e6e6;
  border-color: #d2d2d2;
}
.claro .dijitSliderDecrementIconH:active,
.claro .dijitSliderIncrementIconH:active,
.claro .dijitSliderDecrementIconV:active,
.claro .dijitSliderIncrementIconV:active {
  background-color: #e6e6e6;
  border-color: #d2d2d2;
}
.claro .dijitSliderReadOnly .dijitSliderDecrementIconH,
.claro .dijitSliderDisabled .dijitSliderDecrementIconH,
.claro .dijitSliderReadOnly .dijitSliderDecrementIconV,
.claro .dijitSliderDisabled .dijitSliderDecrementIconV,
.claro .dijitSliderReadOnly .dijitSliderIncrementIconH,
.claro .dijitSliderDisabled .dijitSliderIncrementIconH,
.claro .dijitSliderReadOnly .dijitSliderIncrementIconV,
.claro .dijitSliderDisabled .dijitSliderIncrementIconV {
  opacity: 0.35;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  filter: alpha(opacity=35);
}
.claro .dijitSliderIncrementIconH:before,
.claro .dijitSliderIncrementIconV:before {
  font-family: "launchpad-icons" !important;
  content: attr(data-icon);
  font-size: 16px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "a";
  top: 0;
  line-height: 20px;
  font-size: 14px;
}
.claro .dijitSliderDecrementIconH:before,
.claro .dijitSliderDecrementIconV:before {
  font-family: "launchpad-icons" !important;
  content: attr(data-icon);
  font-size: 16px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "b";
  line-height: 20px;
  font-size: 14px;
}
.claro .dijitRuleMark {
  border: 1px solid #999;
}
.claro .dijitRuleMarkH {
  border-right: 1px solid #999;
}
.claro .dijitRuleLabelContainerH {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}
.claro .dijitRuleLabelContainerV {
  margin-left: 2.5px;
  margin-right: 2.5px;
}
.claro .dijitTextBox,
.claro .dijitInputInner {
  line-height: 20px;
}
.claro .dijitTextBox {
  height: auto;
  font-size: 14px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: border-color 0.25s ease;
  -moz-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  -ms-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}
.claro .jimu-date-value-selector .custom-date-text-box{
  height: 1px;
  border: 0 !important;
  top: 30px;
}
.claro .dijitTextArea {
  padding: 5px 10px;
  border: 1px solid #ddd;
}
.claro .dijitTextBox .dijitInputField {
  background: transparent;
  padding: 5px 10px;
}
.claro .dijitTextBox .dijitInputField .dijitPlaceHolder {
  margin: 5px 10px;
  margin-top: -1px;
}
.claro .dijitTextBox .dijitInputInner,
.claro .dijitValidationTextBox .dijitValidationContainer,
.claro .dijitTextBox .dijitInputField .dijitPlaceHolder {
  padding: 0;
  line-height: 20px !important;
  height: 20px !important;
  font-style: normal;
}
.claro .dijitTextBoxHover {
  border-color: #3b8fc4;
}
.claro .dijitTextBoxFocused {
  border-color: #3b8fc4;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.claro .dijitTextBoxDisabled {
  opacity: 0.35;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  filter: alpha(opacity=35);
}
.claro .dijitTextBoxError,
.claro .dijitTextBoxError .dijitButtonNode {
  border-bottom-color: #da4d1e;
}
.claro .dijitTextBoxErrorFocused,
.claro .dijitTextBoxErrorFocused .dijitButtonNode {
  border-bottom-color: #da4d1e;
}
.claro .dijitValidationTextBoxError {
  border-color: #da4d1e;
}
.claro .dijitValidationTextBoxError .dijitValidationContainer {
  color: #da4d1e;
  width: 20px;
  height: 20px;
  padding: 5px;
  background-image: none;
  background-color: transparent;
  border: 0 none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.claro .dijitValidationTextBoxError .dijitValidationContainer:before {
  font-family: "launchpad-icons" !important;
  content: attr(data-icon);
  font-size: 16px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "w";
  font-size: 20px;
}
.claro .dijitValidationTextBoxError .dijitValidationIcon {
  display: none;
}
.claro .dijitPopup {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.claro .dijitTooltipDialogPopup {
/* exception popups: do not use a shadow on these because they aren't rectangular */
  -webkit-box-shadow: none;
  box-shadow: none;
}
.claro .dijitDialog {
  background: #fff;
  border: 0 none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.claro .dijitDialogPaneContent {
  background: #fff;
  padding: 10px;
  border-top: 0 none;
  position: relative;
/* content pane: action bar */
}
.claro .dijitDialogPaneContent .dijitDialogPaneContentArea {
  margin: -10px;
  padding: 10px;
}
.claro .dijitDialogPaneContent .dijitDialogPaneActionBar {
/* the bar at bottom with OK/Cancel buttons */
  background-color: transparent;
  border-top: 0 none;
  padding-top: 10px;
  text-align: right;
  position: relative;
  margin: -10px;
  padding: 10px;
}
.claro .dijitTooltipDialog .dijitDialogPaneActionBar {
  margin: 10px -10px -5px;
}
.claro .dijitDialogPaneActionBar .dijitButton {
  float: none;
}
.claro .dijitDialogTitleBar {
/* outer container for the titlebar of the dialog */
  height: 40px;
  background-color: #fff;
  border: 0 none;
  border-bottom: 0 none;
  padding: 10px;
  text-align: center;
  line-height: 20px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  cursor: move;
}
.claro .dijitDialogTitle {
/* typography and styling of the dialog title */
  font-size: 14px;
  color: #333;
}
.claro .dijitDialogCloseIcon {
/* the default close icon for the dialog */
  width: 20px;
  height: 20px;
  background-image: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  font-family: "launchpad-icons" !important;
  content: attr(data-icon);
  font-size: 16px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.claro .dijitDialogCloseIcon:before {
  content: 'j';
  font-size: 20px;
}
.claro .dijitDialogCloseIcon .closeText {
  display: none;
}
.claro .dijitDialogCloseIconHover,
.claro .dijitDialogCloseIconActive {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.claro .dijitDialogFocused {
  outline: 1px solid #3b8fc4;
}
.claro .dijitDialogUnderlay {
  background-color: #000;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.claro .dijitTooltip,
.claro .dijitTooltipDialog {
/* the outermost dom node, holding the connector and container */
  background: transparent; /* make the area on the sides of the arrow transparent */
}
.claro .dijitTooltipContainer {
  background-color: #333;
  background-image: none;
  font-size: 12px;
  padding: 5px 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.claro .dijitTooltip .dijitTooltipContainer {
  color: #fff;
  border: 0 none;
}
.claro .dijitTooltipConnector {
/* the arrow */
  background-image: none;
  z-index: 2;
  width: auto;
  height: auto;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.claro .dijitTooltipABRight .dijitTooltipConnector {
/* above or below tooltip, but the arrow appears on the right,
		and the right edges of target and tooltip are aligned rather than the left */
  left: auto !important;
  right: 10px;
}
.claro .dijitTooltipBelow {
/* leave room for arrow above content */
  padding-top: 4px;
}
.claro .dijitTooltipBelow .dijitTooltipConnector {
/* the arrow piece for tooltips below an element */
  width: auto;
  height: auto;
  top: 0;
  left: 10px;
  border-bottom: 4px solid #333;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 0;
}
.claro .dijitTooltipAbove {
/* leave room for arrow below content */
  padding-bottom: 4px;
}
.claro .dijitTooltipAbove .dijitTooltipConnector {
/* the arrow piece for tooltips above an element */
  width: auto;
  height: auto;
  bottom: 0;
  left: 10px;
  border-top: 4px solid #333;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 0;
}
.claro .dijitTooltipLeft {
  padding-right: 4px;
}
.claro .dijitTooltipLeft .dijitTooltipConnector {
/* the arrow piece for tooltips to the left of an element, bottom borders aligned */
  width: auto;
  height: auto;
  right: 0;
  border-left: 4px solid #333;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 0;
}
.claro .dijitTooltipRight {
  padding-left: 4px;
}
.claro .dijitTooltipRight .dijitTooltipConnector {
/* the arrow piece for tooltips to the right of an element, bottom borders aligned */
  width: auto;
  height: auto;
  left: 0;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 4px solid #333;
}
.claro .dijitTooltipDialog .dijitTooltipContainer {
  background-color: #fff;
  border: 0 none;
  padding: 10px 20px;
  -webkit-box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
  box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.claro .dijitTooltipDialog.dijitTooltipBelow {
  padding-top: 6px;
}
.claro .dijitTooltipDialog.dijitTooltipAbove {
  padding-bottom: 6px;
}
.claro .dijitTooltipDialog.dijitTooltipLeft {
  padding-right: 6px;
}
.claro .dijitTooltipDialog.dijitTooltipRight {
  padding-left: 6px;
}
.claro .dijitTooltipDialog .dijitTooltipConnector {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 2;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.claro .dijitTooltipDialog .dijitTooltipConnector:after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
}
.claro .dijitTooltipDialog.dijitTooltipAbove .dijitTooltipConnector {
  border-color: #ddd transparent transparent;
  border-width: 7px 7px 0; /* one extra pixel is added as the border of the arrows */
  border-style: solid;
}
.claro .dijitTooltipDialog.dijitTooltipAbove .dijitTooltipConnector:after {
  border-color: #fff transparent transparent;
  border-width: 6px 6px 0;
  border-style: solid;
  left: -6px;
  top: -7px;
}
.claro .dijitTooltipDialog.dijitTooltipBelow .dijitTooltipConnector {
  border-color: transparent transparent #ddd;
  border-width: 0 7px 7px;
  border-style: solid;
}
.claro .dijitTooltipDialog.dijitTooltipBelow .dijitTooltipConnector:after {
  border-color: transparent transparent #fff;
  border-width: 0 6px 6px;
  border-style: solid;
  left: -6px;
  bottom: -7px;
}
.claro .dijitTooltipDialog.dijitTooltipLeft .dijitTooltipConnector {
  border-color: transparent transparent transparent #ddd;
  border-width: 7px 0 7px 7px;
  border-style: solid;
}
.claro .dijitTooltipDialog.dijitTooltipLeft .dijitTooltipConnector:after {
  border-color: transparent transparent transparent #fff;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  top: -6px;
  left: -7px;
}
.claro .dijitTooltipDialog.dijitTooltipRight .dijitTooltipConnector {
  border-color: transparent #ddd transparent transparent;
  border-width: 7px 7px 7px 0;
  border-style: solid;
}
.claro .dijitTooltipDialog.dijitTooltipRight .dijitTooltipConnector:after {
  border-color: transparent #fff transparent transparent;
  border-width: 6px 6px 6px 0;
  border-style: solid;
  top: -6px;
  right: -7px;
}
.claro .dijitMenu {
  background-color: #fff;
  border: 1px solid #3b8fc4;
/* so adjoining borders of MenuBar/ComboBox and Menu overlap, avoiding double border */
  margin: 0;
  -webkit-box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
  box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
}
.claro .dijitMenuTable,
.claro .dijitComboBoxMenu {
  padding: 0;
}
.claro .dijitComboBoxMenu {
  margin-left: 0;
  background-image: none;
}
.claro .dijitMenuTable {
/* this prevents jiggling upon hover of a menu item */
  border-collapse: separate;
  border-spacing: 0 0;
}
.claro .dijitMenuItem,
.claro .dijitMenuItem td {
  color: #6d6e70;
  font-weight: normal;
  line-height: 20px;
  padding: 5px 10px;
  white-space: nowrap;
}
.claro .dijitMenuItemHover td,
.claro .dijitMenuItemHover {
  background-color: #f1f1f1;
  color: #333;
}
.claro .dijitMenuItemActive td,
.claro .dijitMenuItemActive {
  background-color: #f1f1f1;
  background-image: none;
  color: #333;
}
.claro .dijitMenuItemSelected td,
.claro .dijitMenuItemSelected {
  background-color: #f1f1f1;
  color: #333;
}
.claro .dijitSelectMenu .dijitMenuSeparatorTop {
  height: auto;
  margin-top: 1px; /* prevents spacing above/below separator */
  border-bottom: 1px solid #ddd;
}
.claro .dijitSelectMenu .dijitMenuSeparatorBottom {
  height: auto;
  margin-bottom: 1px;
  border-top: 1px solid transparent;
}
.claro td.dijitMenuItemIconCell {
  padding: 5px;
  margin: 0 0 0 5px;
}
.claro .dijitMenuExpand {
  background-image: none;
  width: 20px;
  height: 20px;
  margin: 0;
}
.claro .dijitMenuExpand:before {
  font-family: "launchpad-icons" !important;
  content: attr(data-icon);
  font-size: 16px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "r";
  font-size: 20px;
}
.claro .dijitCheckedMenuItem .dijitMenuItemIcon,
.claro .dijitRadioMenuItem .dijitMenuItemIcon {
  background-image: none;
  width: 16px;
  height: 16px;
  vertical-align: top;
}
.claro .dijitCheckedMenuItemIconChar {
  display: none;
}
.claro .dijitMenuPreviousButton,
.claro .dijitMenuNextButton {
  font-style: italic;
}
.claro .dijitMenuBar {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.claro .dijitMenuBar .dijitMenuItem {
  padding: 5px 10px;
  margin: 0;
}
.claro .dijitMenuBar .dijitMenuItemHover {
  background-color: #f1f1f1;
}
.claro .dijitMenuBar .dijitMenuItemActive {
  background-color: #f1f1f1;
}
.claro .dijitMenuBar .dijitMenuItemSelected,
.claro .dijitMenuBar .dijitMenuItemHover.dijitMenuItemSelected,
.claro .dijitMenuBar .dijitMenuItemActive.dijitMenuItemSelected {
  background-color: #f1f1f1;
  color: #333;
}
.claro .dijitMenuPopup .dijitMenuItem,
.claro .dijitMenuPopup .dijitMenuItem td {
  border: 0 none;
  padding: 5px 10px;
}
.claro .dijitMenu .dijitMenuItem td,
.claro .dijitComboBoxMenu .dijitMenuItem {
  padding: 5px 10px;
  border: 0 none;
}
.claro .dijitMenu .dijitMenuItemHover td,
.claro .dijitMenu .dijitMenuItemSelected td,
.claro .dijitMenuItemHover,
.claro .dijitComboBoxMenu .dijitMenuItemHover,
.claro .dijitMenuItemSelected {
  background-image: none;
  background-color: #f1f1f1;
  color: #333;
}
.claro .dijitMenu .dijitMenuItemSelected td,
.claro .dijitComboBoxMenu .dijitMenuItemSelected {
  border: 0 none;
  background-color: #f1f1f1;
  color: #333;
}
.claro .dijitToolbar {
  background-color: #f5f5f5;
  background-image: none;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  zoom: 1;
/* Override default button styles */
/* Hover */
/* Active */
/* Toggle button checked status */
}
.claro .dijitToolbar * {
  outline: none;
}
.claro .dijitToolbar label {
  padding: 10px;
}
.claro .dijitToolbar .dijitButtonContents {
  padding: 0;
}
.claro .dijitToolbar .dijitToggleButton,
.claro .dijitToolbar .dijitButton,
.claro .dijitToolbar .dijitDropDownButton,
.claro .dijitToolbar .dijitComboButton {
  margin-right: 5px;
}
.claro .dijitToolbar .dijitButton .dijitButtonNode,
.claro .dijitToolbar .dijitDropDownButton .dijitButtonNode,
.claro .dijitToolbar .dijitComboButton .dijitButtonNode,
.claro .dijitToolbar .dijitToggleButton .dijitButtonNode,
.claro .dijitToolbar .dijitComboBox .dijitButtonNode {
  min-width: 0;
  color: #6d6e70;
  border: 1px solid transparent;
  padding: 10px;
  background: transparent;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.claro .dijitToolbar .dijitToggleButton .dijitIcon {
  display: inline-block;
}
.claro .dijitToolbar .dijitComboButton .dijitStretch {
/* no rounded border on side adjacent to arrow */
  padding: 10px;
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.claro .dijitToolbar .dijitComboButton .dijitArrowButton {
  padding: 9px 0;
  border: 1px solid transparent;
  border-left: 0 none;
/* no rounded border on side adjacent to button */
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.claro .dijitToolbar .dijitComboBox .dijitInputInner {
  padding: 0;
}
.claro .dijitToolbar .dijitDropDownButton .dijitArrowButtonInner {
  margin-left: 5px;
}
.claro .dijitToolbar .dijitButtonHover .dijitButtonNode,
.claro .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode,
.claro .dijitToolbar .dijitToggleButtonHover .dijitButtonNode,
.claro .dijitToolbar .dijitComboButtonHover .dijitButtonNode {
  background-color: #fff;
  border: 1px solid #ddd;
}
.claro .dijitToolbar .dijitComboButtonHover .dijitArrowButton {
  border-left: 0 none;
}
.claro .dijitToolbar .dijitButtonActive .dijitButtonNode,
.claro .dijitToolbar .dijitDropDownButtonActive .dijitButtonNode,
.claro .dijitToolbar .dijitToggleButtonActive .dijitButtonNode {
  background-color: #e6e6e6;
  border: 1px solid #ddd;
}
.claro .dijitToolbar .dijitComboButtonActive .dijitArrowButton {
  border-left: 0 none;
}
.claro .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
  background-color: #e6e6e6;
  border: 1px solid #ddd;
}
.claro .dijitToolbarSeparator {
  width: 1px;
  height: 20px;
  background-color: #ddd;
  padding: 0;
  margin: 0 5px;
}
.claro .dijitDisabled .dijitToolbar {
  opacity: 0.35;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  filter: alpha(opacity=35);
}
.dj_rtl .dijitToolbar .dijitToggleButton,
.dj_rtl .dijitToolbar .dijitButton,
.dj_rtl .dijitToolbar .dijitDropDownButton,
.dj_rtl .dijitToolbar .dijitComboButton {
  margin-left: 5px;
  margin-right: 0;
}
.claro .dijitTimePickerPopup {
  height: 200px;
}
.claro .dijitTimePicker {
  background: #fff;
  padding: 0;
  border: 0 none;
}
.claro .dijitTimePickerItem {
  margin: 0;
  background-image: none;
  border: 0 none;
  line-height: 20px;
  padding: 5px 10px;
}
.claro .dijitTimePickerTick {
/* minor value */
  background-color: #fff;
  color: #6d6e70;
  font-size: 12px;
}
.claro .dijitTimePickerMarker {
/* major value - 1:00, 2:00, times on the hour */
  background: #f5f5f5;
  white-space: nowrap;
  border: 0 none;
}
.claro .dijitTimePickerTickHover,
.claro .dijitTimePickerMarkerHover {
  background: #f1f1f1;
  color: #333;
}
.claro .dijitTimePickerMarkerSelected,
.claro .dijitTimePickerTickSelected {
  background: #f1f1f1;
  color: #333;
}
.claro .dijitTimePickerTick .dijitTimePickerItemInner,
.claro .dijitTimePickerMarker .dijitTimePickerItemInner {
  padding: 0;
  margin: 0;
}
.claro .dijitProgressBar {
  height: 16px;
  line-height: 16px;
  background-color: #f1f1f1;
  border: 0 none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.claro .dijitProgressBarTile {
  background: #3b8fc4 url("images/progressBarStrips.png") repeat-x top;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.claro .dijitProgressBarFull {
  border: 0 none;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  -ms-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.claro .dijitProgressBarIndeterminate {
  height: 16px;
}
.claro .dijitProgressBarIndeterminate .dijitProgressBarTile {
  background: #3b8fc4 url("images/progressBarStrips.png") repeat-x top;
}
.claro .dijitProgressBarLabel {
  color: #fff;
  color: rgba(0,0,0,0.65);
  font-size: 10px;
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 75px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 75px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 75px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 75px 0;
  }
  to {
    background-position: 0 0;
  }
}
.claro .dijitCalendar {
  background-color: #fff;
  text-align: center;
  padding: #6d6e70;
  border: 0 none;
  border-collapse: separate;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* -webkit-box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
  box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2); */
}
.claro .dijitCalendarHover,
.claro .dijitCalendar:hover,
.claro .dijitCalendarActive {
  background-color: #fff;
  border: 0 none;
}
.claro .dijitCalendarMonthContainer th {
  text-align: center;
  line-height: $line-height;
  vertical-align: middle;
  margin: #6d6e70 0;
}
.claro .dijitCalendarIncrementControl {
  background-image: none;
  height: 20px;
  width: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.claro .dijitCalendarIncrementControl:before {
  font-family: "launchpad-icons" !important;
  content: attr(data-icon);
  font-size: 16px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3b8fc4;
  font-size: 20px;
  position: relative;
  left: -1px;
}
.claro .dijitCalendarDecrease:before {
  content: "f";
}
.claro .dijitCalendarIncrease:before {
  content: "e";
}
.claro .dijitCalendarArrowHover .dijitCalendarIncrementControl,
.claro .dijitCalendarArrow:hover .dijitCalendarIncrementControl,
.claro .dijitCalendarNextYearHover,
.claro .dijitCalendarNextYear:hover,
.claro .dijitCalendarPreviousYearHover,
.claro .dijitCalendarPreviousYear:hover {
  background-color: #e6e6e6;
  border-color: #d2d2d2;
}
.claro .dijitCalendarArrowActive .dijitCalendarIncrementControl,
.claro .dijitCalendarArrow:active .dijitCalendarIncrementControl,
.claro .dijitCalendarNextYearActive,
.claro .dijitCalendarNextYear:active,
.claro .dijitCalendarPreviousYearActive,
.claro .dijitCalendarPreviousYear:active {
  background-color: #e6e6e6;
  border-color: #d2d2d2;
}
.claro .dijitA11ySideArrow {
/* text +/- labels instead of arrow icons, for high contrast mode */
  display: none;
}
.claro .dijitCalendarContainer th,
.claro .dijitCalendarContainer td {
  color: 0 none;
  padding: 5px 2px;
}
.claro .dijitCalendarDayLabelTemplate {
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.claro .dijitCalendarDayLabel {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.claro .dijitCalendarDateTemplate {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-align: center;
  border-bottom: 0 none;
}
.claro .dijitCalendarDateTemplate .dijitCalendarDateLabel {
  height: 24px;
  width: 24px;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  padding: 2px 0;
  border: 1px solid transparent;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.claro .dijitCalendarPreviousMonth,
.claro .dijitCalendarNextMonth {
  background-color: transparent;
}
.claro .dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.claro .dijitCalendarNextMonth .dijitCalendarDateLabel {
  color: #6d6e70;
}
.claro .dijitCalendarCurrentDate .dijitCalendarDateLabel {
  border-color: #3b8fc4;
}
.claro .dijitCalendarHoveredDate .dijitCalendarDateLabel,
.claro .dijitCalendarEnabledDate:hover .dijitCalendarDateLabel {
  background-color: #3b8fc4;
  color: #fff;
  text-shadow: $calendar-date-cell-hovered-text-shadow;
}
.claro .dijitCalendarActiveDate .dijitCalendarDateLabel,
.claro .dijitCalendarEnabledDate:active .dijitCalendarDateLabel {
  background-color: #3b8fc4;
  color: #fff;
  text-shadow: $calendar-date-cell-active-text-shadow;
}
.claro .dijitCalendarSelectedDate .dijitCalendarDateLabel {
  background-color: #3b8fc4;
  color: #fff;
  text-shadow: $calendar-date-cell-selected-text-shadow;
}
.claro .dijitCalendarDisabledDate .dijitCalendarDateLabel {
  opacity: 0.35;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  filter: alpha(opacity=35);
}
.claro .dijitCalendarYearContainer {
  vertical-align: middle;
}
.claro .dijitCalendarYearLabel {
  padding: 5px 0 0 0;
  margin: 0;
  font-size: 1.15em;
}
.claro .dijitCalendarYearLabel span {
  vertical-align: middle;
}
.claro .dijitCalendarSelectedYear,
.claro .dijitCalendarNextYear,
.claro .dijitCalendarPreviousYear {
  padding: 5px;
}
.claro .dijitCalendarSelectedYear {
  color: #3b8fc4;
}
.claro .dijitCalendarNextYear,
.claro .dijitCalendarPreviousYear {
  color: #3b8fc4;
  font-size: 0.9em;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.claro .dijitCalendarSelectedYear {
  padding: 0 5px;
}
.claro .dijitCalendar .dijitDropDownButton {
  margin: 0;
}
.claro .dijitCalendar .dijitDropDownButton .dijitButtonNode {
  font-size: 12px;
}
.claro .dijitCalendar .dijitDropDownButtonHover .dijitButtonNode,
.claro .dijitCalendar .dijitDropDownButton:hover .dijitButtonNode {
  background-color: #e6e6e6;
  border-color: #d2d2d2;
}
.claro .dijitCalendarMonthMenu {
  padding: 0 0;
}
.claro .dijitCalendarMonthMenu .dijitCalendarMonthLabel {
  font-size: 1em;
  color: #6d6e70;
  line-height: 20px;
  padding: 5px 10px;
  border: 0 none;
}
.claro .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover {
  color: #333;
  background-color: #f1f1f1;
  background-image: none;
}
.claro .dijitTreeIsRoot {
  background: transparent;
}
.claro .dijitTreeRow,
.claro .dijitTreeNode .dojoDndItemBefore,
.claro .dijitTreeNode .dojoDndItemAfter {
  padding: 5px 0;
  border: 0 none;
  line-height: 20px;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  -o-transition-property: background-color, border-color;
  -ms-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.claro .dijitTreeRowHover {
  background: #f1f1f1;
  border: 0 none;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  transition-duration: 0.15s;
}
.claro .dijitTreeRowActive {
  background: #f1f1f1;
  border: 0 none;
}
.claro .dijitTreeRowSelected,
.claro .dijitTreeRowHover.dijitTreeRowSelected,
.claro .dijitTreeRowActive.dijitTreeRowSelected {
  color: #fff;
  background: #3b8fc4;
  border: 0 none;
}
.claro .dijitTreeRowSelected .dijitTreeExpando,
.claro .dijitTreeRowHover.dijitTreeRowSelected .dijitTreeExpando,
.claro .dijitTreeRowActive.dijitTreeRowSelected .dijitTreeExpando,
.claro .dijitTreeRowSelected .dijitFolderClosed,
.claro .dijitTreeRowHover.dijitTreeRowSelected .dijitFolderClosed,
.claro .dijitTreeRowActive.dijitTreeRowSelected .dijitFolderClosed,
.claro .dijitTreeRowSelected .dijitFolderOpened,
.claro .dijitTreeRowHover.dijitTreeRowSelected .dijitFolderOpened,
.claro .dijitTreeRowActive.dijitTreeRowSelected .dijitFolderOpened {
  color: #fff;
}
.claro .dijitTreeExpando {
  color: #3b8fc4;
  background-image: none;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.claro .dijitTreeExpando:before {
  font-family: "launchpad-icons" !important;
  content: attr(data-icon);
  font-size: 16px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.claro .dijitTreeExpandoOpened:before {
  content: "g";
  cursor: pointer;
}
.claro .dijitTreeExpandoClosed:before {
  content: "e";
  cursor: pointer;
}
.claro .dijitFolderClosed {
  color: #6d6e70;
  background-image: none;
}
.claro .dijitFolderClosed:before {
  font-family: "launchpad-icons" !important;
  content: attr(data-icon);
  font-size: 16px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "z";
}
.claro .dijitFolderOpened {
  color: #6d6e70;
  background-image: none;
}
.claro .dijitFolderOpened:before {
  font-family: "launchpad-icons" !important;
  content: attr(data-icon);
  font-size: 16px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "y";
}
.claro .dijitTreeExpandoLoading:before {
  content: "o";
  -webkit-animation: spinning 2s linear infinite;
  -moz-animation: spinning 2s linear infinite;
  -o-animation: spinning 2s linear infinite;
  -ms-animation: spinning 2s linear infinite;
  animation: spinning 2s linear infinite;
}
.claro .dj_ie8 .dijitTreeExpandoLoading,
.claro .dj_ie9 .dijitTreeExpandoLoading {
  background: url("images/loadingAnimation.gif") no-repeat;
}
.claro .dj_ie8 .dijitTreeExpandoLoading:before,
.claro .dj_ie9 .dijitTreeExpandoLoading:before {
  content: "";
}
@-moz-keyframes spinning {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinning {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinning {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.claro .dgrid {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ddd;
  height: 30em;
  display: block;
}
.claro .dgrid-header {
  background-color: #f1f1f1;
}
.claro .dgrid-header-row {
  position: absolute;
  right: 17px;
  left: 0;
}
.claro .dgrid-header-scroll {
  position: absolute;
  top: 0;
  right: 0;
}
.claro .dgrid-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.claro .dgrid-header-hidden {
  font-size: 0;
  height: 0 !important;
  border-top: none !important;
  border-bottom: none !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.claro .dgrid-footer-hidden {
  display: none;
}
.claro .dgrid-sortable {
  cursor: pointer;
}
.claro .dgrid-header,
.claro .dgrid-header-row,
.claro .dgrid-footer {
  overflow: hidden;
  background-color: #f1f1f1;
}
.claro .dgrid-row-table {
  border-collapse: collapse;
  border: none;
  table-layout: fixed;
  empty-cells: show;
  width: 100%;
  height: 100%;
}
.claro .dgrid-cell {
  padding: 3px;
  text-align: left;
  overflow: hidden;
  vertical-align: top;
  border: 1px solid #ddd;
  border-top-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.claro .dgrid-content {
  position: relative;
  height: 99%;
}
.claro .dgrid-scroller {
  overflow-x: auto;
  overflow-y: scroll;
  position: absolute;
  top: 0px;
  margin-top: 25px;
  bottom: 0px;
  width: 100%;
}
.claro .dgrid-preload {
  font-size: 0;
  line-height: 0;
}
.claro .dgrid-loading {
  position: relative;
  height: 100%;
}
.claro .dgrid-above {
  position: absolute;
  bottom: 0;
}
.claro .ui-icon {
  width: 20px;
  height: 20px;
  background-image: none;
}
.claro .ui-icon:before {
  font-family: "launchpad-icons" !important;
  content: attr(data-icon);
  font-size: 16px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.claro .dgrid-sort-arrow {
  display: block;
  float: right;
  margin: 0 5px 0 5px;
  height: 20px;
  color: #3b8fc4;
}
.claro .dgrid-sort-arrow:before {
  content: "g";
  font-size: 20px;
}
.claro .dgrid-sort-up .dgrid-sort-arrow:before {
  content: "d";
  font-size: 20px;
}
.claro .dgrid-selected {
  background-color: $dgrid-row-active-bg-color;
}
.claro html.has-mozilla .dgrid-focus {
  outline-offset: -1px;
}
.claro .dgrid-scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
.claro .dgrid-autoheight {
  height: auto;
}
.claro .dgrid-autoheight .dgrid-scroller {
  position: relative;
  overflow-y: hidden;
}
.claro .dgrid-autoheight .dgrid-header-scroll {
  display: none;
}
.claro .dgrid-autoheight .dgrid-header {
  right: 0;
}
.dgrid-column-set {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100%;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.dgrid-column-set-cell {
  vertical-align: top;
  height: 100%;
}
.dgrid-column-set-scroller-container {
  font-size: 0;
  position: absolute;
  bottom: 0;
}
.dgrid-autoheight .dgrid-column-set-scroller-container {
  position: relative;
}
.dgrid-column-set-scroller {
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
}
.dgrid-column-set-scroller-content {
  height: 1px;
}
.claro .dgrid-hider-toggle {
  width: 16px;
  height: 16px;
  background-image: none;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 5px;
}
.claro .dgrid-hider-toggle:before {
  font-family: "launchpad-icons" !important;
  content: attr(data-icon);
  font-size: 16px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "A";
  color: #6d6e70;
}
.claro .dgrid-rtl-swap .dgrid-hider-toggle {
  right: auto;
  left: 0;
}
.claro .dgrid-hider-menu {
  position: absolute;
  top: 0;
  right: 17px;
  width: 184px;
  color: #6d6e70;
  background-color: #fff;
  border: 1px solid #3b8fc4;
  z-index: 99999;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
  box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
}
.claro .dgrid-rtl-swap .dgrid-hider-menu {
  right: auto;
  left: 17px;
}
.claro .dgrid-hider-menu-row {
  position: relative;
  padding: 5px 10px;
}
.claro .dgrid-hider-menu-check {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0;
}
.claro .dgrid-hider-menu-label {
  display: block;
  padding-left: 20px;
}
.claro .dgrid-header .dojoDndTarget .dgrid-cell {
  display: table-cell;
}
.claro .dgrid-header .dojoDndItemBefore {
  border-left: 2px dotted #3b8fc4 !important;
}
.claro .dgrid-header .dojoDndItemAfter {
  border-right: 2px dotted #3b8fc4 !important;
}
.claro .dgrid-column-resizer {
  position: absolute;
  width: 1px;
  background-color: #3b8fc4;
  z-index: 1000;
}
.claro .dgrid-resize-handle {
  height: 100px;
  width: 0;
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: col-resize;
  z-index: 999;
  border-left: 5px solid transparent;
  outline: none;
}
.claro .dgrid-resize-header-container {
  height: 100%;
}
.claro html.has-touch .dgrid-resize-handle {
  border-left: 20px solid transparent;
}
.claro html.has-touch .dgrid-column-resizer {
  width: 1px;
}
.claro .dgrid-resize-header-container {
  position: relative;
}
.claro .dgrid-header .dgrid-cell {
  overflow: hidden;
}
.claro .dgrid-spacer-row {
  height: 0;
}
.claro .dgrid-spacer-row th {
  padding-top: 0;
  padding-bottom: 0;
  border-top: none;
  border-bottom: none;
}
.claro .dgrid-status {
  padding: 0;
}
.claro .dgrid-pagination .dgrid-status {
  float: left;
}
.claro .dgrid-pagination .dgrid-navigation,
.claro .dgrid-pagination .dgrid-page-size {
  float: right;
}
.claro .dgrid-navigation .dgrid-page-link {
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
  padding: 0 5px;
}
.claro .dgrid-first,
.claro .dgrid-last,
.claro .dgrid-next,
.claro .dgrid-previous {
  font-size: 130%;
}
.claro .dgrid-pagination .dgrid-page-disabled {
  color: #ddd;
  cursor: default;
}
.claro .dgrid-pagination .dgrid-pagination-links .dgrid-page-disabled {
  font-weight: bold;
  color: #3b8fc4;
}
.claro .dgrid-navigation {
  margin: 0 5px;
}
.claro .dgrid-page-input {
  margin-top: 1px;
  width: 2em;
  text-align: center;
}
.claro .dgrid-page-size {
  margin: 3px 5px 0 5px;
}
.dgrid-rtl-swap .dgrid-header-row {
  right: 0;
  left: 17px;
}
.dgrid-rtl-swap .dgrid-header-scroll {
  left: 0px;
  right: auto;
}
.dgrid-rtl .dgrid-cell {
  text-align: right;
}
.dgrid-rtl .dgrid-pagination .dgrid-status {
  float: right;
}
.dgrid-rtl .dgrid-pagination .dgrid-page-size {
  float: right;
}
.dgrid-rtl .dgrid-pagination .dgrid-navigation {
  float: left;
}
.dgrid-rtl.dgrid-autoheight .dgrid-header {
  left: 0;
}
.dgrid-rtl .dgrid-hider-menu-check {
  left: auto;
  right: 10px;
}
.claro .dgrid-header {
  background-color: #f1f1f1;
}
.claro .dgrid-header .dgrid-cell {
  color: #333;
  border-bottom: 1px solid #ddd;
}
.claro .dgrid-header .dgrid-cell:hover {
  background-color: #ddd;
  background-image: none;
  border-top: 0 none;
}
.claro .dgrid-header .dgrid-cell-padding {
  padding: 10px;
}
.claro .dgrid-cell-padding {
  padding: 5px 10px;
}
.claro .dgrid-row:hover {
  background-color: #f5f5f5;
}
.claro .dgrid-selected {
  background-color: #aadbfa;
}
.claro .dgrid-selected:hover {
  background-color: #aadbfa;
}
.claro .dgrid-cell {
  color: #6d6e70;
  vertical-align: middle;
}
.claro .dgrid-footer {
  color: #6d6e70;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid #ddd;
}
.claro .dijitTabPaneWrapper {
  background-color: #fff;
  border: 0 none;
  margin: 0;
  padding: 0;
}
.claro .dijitTabContainerTop-tabs,
.claro .dijitTabContainerBottom-tabs,
.claro .dijitTabContainerLeft-tabs,
.claro .dijitTabContainerRight-tabs {
  border: 0;
}
.claro .dijitTab {
  border: 0 none;
  background-color: #f5f5f5;
  background-image: none;
  padding: 5px 10px;
  text-align: center;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition-property: background, padding, margin;
  -moz-transition-property: background, padding, margin;
  -o-transition-property: background, padding, margin;
  -ms-transition-property: background, padding, margin;
  transition-property: background, padding, margin;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  transition-timing-function: ease;
  position: relative;
  z-index: 0;
}
.claro .dijitTabHover {
  background-color: #e6e6e6;
}
.claro .dijitTabActive {
  background-color: #e6e6e6;
}
.claro .dijitTabChecked {
  z-index: 1;
}
.claro .dijitTabChecked.dijitTabHover,
.claro .dijitTabChecked.dijitTabActive {
  border: $tab-checked-border;
  background-color: #fff;
  color: #3b8fc4;
}
.claro .dijitTabDisabled {
  opacity: 0.35;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  filter: alpha(opacity=35);
}
.claro .tabStripButton {
  background-color: transparent;
  border: none;
}
.claro .dijitTabCloseButton {
  height: 16px;
  width: 16px;
  line-height: 16px;
  background-image: none;
  vertical-align: middle;
  margin-left: 5px;
}
.claro .dijitTabCloseButton:before {
  font-family: "launchpad-icons" !important;
  content: attr(data-icon);
  font-size: 16px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "j";
}
.claro .dijitTabContainerTop-tabs .dijitTab {
  border-top: 2px solid transparent;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  top: 0;
  margin-right: 0;
  padding: 5px 10px;
  vertical-align: bottom;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.claro .dijitTabContainerTop-tabs .dijitTabChecked {
  padding: 5px 10px;
  border-top-color: #3b8fc4;
  background-color: #fff;
  color: #3b8fc4;
}
.claro .dijitTabListContainer-top {
  margin-top: 0;
}
.claro .dijitTabListContainer-top .dijitTab {
  top: 0;
}
.claro .dijitTabContainerBottom-tabs .dijitTab {
  border-bottom: 2px solid transparent;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  top: 0;
  margin-right: 0;
  padding: 5px 10px;
  vertical-align: top;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.claro .dijitTabContainerBottom-tabs .dijitTabChecked {
  padding: 5px 10px;
  border-bottom-color: #3b8fc4;
  background-color: #fff;
  color: #3b8fc4;
}
.claro .dijitTabListContainer-bottom {
  margin-top: 0;
}
.claro .dijitTabListContainer-bottom .dijitTab {
  top: 0;
}
.claro .dijitTabContainerLeft-tabs .dijitTab {
  border-left: 2px solid transparent;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0;
  padding: 5px 10px;
  vertical-align: middle;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.claro .dijitTabContainerLeft-tabs .dijitTabChecked {
  padding: 5px 10px;
  border-left-color: #3b8fc4;
  background-color: #fff;
  color: #3b8fc4;
}
.claro .dijitTabContainerRight-tabs .dijitTab {
  border-right: 2px solid transparent;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0;
  padding: 5px 10px;
  vertical-align: middle;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.claro .dijitTabContainerRight-tabs .dijitTabChecked {
  padding: 5px 10px;
  border-right-color: #3b8fc4;
  background-color: #fff;
  color: #3b8fc4;
}
.claro .tabStripButton {
  background-color: transparent;
  border: 0;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  transition-property: background-color;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.claro .dijitTabListContainer-top .tabStripButton,
.claro .dijitTabListContainer-bottom .tabStripButton {
  background-image: none;
  padding: 5px 10px;
  margin-left: 0;
  margin-right: 0;
}
.claro .dijitTabListContainer-top .tabStripButtonDisabled,
.claro .dijitTabListContainer-bottom .tabStripButtonDisabled {
  background-color: transparent;
  border: 0 none;
}
.claro .dijitTabListContainer-top .tabStripButton {
  margin-top: 0;
  margin-bottom: 0;
}
.claro .dijitTabListContainer-bottom .tabStripButton {
  margin-top: 0;
  margin-bottom: 0;
}
.claro .tabStripButtonHover .dijitTabStripIcon {
  background-color: #e6e6e6;
  border-color: #d2d2d2;
}
.claro .tabStripButtonActive .dijitTabStripIcon {
  background-color: #e6e6e6;
  border-color: #d2d2d2;
}
.claro .dijitTabStripIcon {
  height: 16px;
  width: 16px;
  background-image: none;
  background: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #3b8fc4;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.claro .dijitTabStripIcon:before {
  font-family: "launchpad-icons" !important;
  content: attr(data-icon);
  font-size: 16px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "f";
  font-size: 14px;
  line-height: 16px;
}
.claro .dijitTabStripSlideRightIcon:before {
  content: "e";
}
.claro .dijitTabStripMenuIcon:before {
  content: "D";
}
.claro .dijitTabListContainer-top .tabStripButtonDisabled,
.claro .dijitTabListContainer-bottom .tabStripButtonDisabled {
  opacity: 0.35;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  filter: alpha(opacity=35);
}
.claro .dijitTabContainerNested .dijitTabListWrapper {
  height: auto;
}
.claro .dijitTabContainerTabListNested .dijitTab {
  color: #6d6e70;
  background-color: #fff;
  padding: 5px 10px;
  border: 0 none;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  -o-transition-property: background-color, border-color;
  -ms-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.claro .dijitTabContainerTabListNested .dijitTabHover {
  background-color: #e6e6e6;
}
.claro .dijitTabContainerTabListNested .dijitTabActive {
  background-color: #e6e6e6;
}
.claro .dijitTabContainerTabListNested .dijitTabChecked,
.claro .dijitTabContainerTabListNested .dijitTabChecked.dijitTabHover,
.claro .dijitTabContainerTabListNested .dijitTabChecked.dijitTabActive {
  color: #fff;
  background-color: #3b8fc4;
}
.claro .dijitTabContainerTabListNested .dijitTabChecked:before,
.claro .dijitTabContainerTabListNested .dijitTabChecked.dijitTabHover:before,
.claro .dijitTabContainerTabListNested .dijitTabChecked.dijitTabActive:before {
  display: none;
}
.claro .dijitTabContainerTabListNested.dijitTabContainerTop-tabs,
.claro .dijitTabContainerTabListNested.dijitTabContainerBottom-tabs,
.claro .dijitTabContainerTabListNested.dijitTabContainerLeft-tabs,
.claro .dijitTabContainerTabListNested.dijitTabContainerRight-tabs {
  padding: 0;
  border: 0 none;
}
.claro .dijitTabContainerTabListNested.dijitTabContainerTop-tabs .dijitTab {
  margin-right: 0;
}
.claro .dijitTabContainerTabListNested.dijitTabContainerBottom-tabs .dijitTab {
  margin-right: 0;
}
.claro .dijitTabContainerTabListNested.dijitTabContainerLeft-tabs .dijitTab {
  margin-bottom: 0;
}
.claro .dijitTabContainerTabListNested.dijitTabContainerRight-tabs .dijitTab {
  margin-bottom: 0;
}
.claro .dijitTabPaneWrapperNested {
  border: none; /* prevent double border */
  -webkit-box-shadow: none;
  box-shadow: none;
}
.claro .dijitTabContainerTop-tabs .dijitTabRtl,
.claro .dijitTabContainerBottom-tabs .dijitTabRtl {
  margin-right: 0;
  margin-left: -1px;
}
.claro .dijitSlider.dojoxRangeSlider .dijitSliderLeftBumper,
.claro .dijitSlider.dojoxRangeSlider .dijitSliderBottomBumper {
  background-color: #ddd;
}
