.mult-selector .dojoxCheckedMultiSelect{
  width: 100%;
}

.mult-selector .label-max-height{
  max-height: 84px;
  overflow-y: auto;
}

.mult-selector .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectButton{
  width: 100%;
  border: none !important;
  background-color: transparent !important;
  table-layout: fixed;
}

.mult-selector .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectButton .multselector-label-container{
  width: 100%;
  overflow-x: hidden;
}
.mult-selector .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectButton .multselector-label-container::-webkit-scrollbar{
  background:#000;
} 
.mult-selector .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectButton .dijitButtonNode .multselector-label-container .multselector-label{
  width: 100%;
  font-family: none !important;
  height: 26px;
  text-align: left !important;
  padding: 4px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  table-layout: fixed;
  overflow: hidden;
  text-align: start;
}
.jimu-rtl .mult-selector .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectButton .dijitButtonNode .multselector-label-container .multselector-label{
  text-align: right !important;
}

.mult-selector .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectButton .dijitArrowButton {
  width: 100%;
  display: flex;
  background-color: transparent;
}
.mult-selector .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectButton .dijitArrowButton .dijitArrowButtonInner{
  align-self: center;
}

.mult-selector .dojoxCheckedMultiSelectHover .dijitDownArrowButtonHover,
.mult-selector .dojoxCheckedMultiSelectButtonFocused .dijitArrowButton{
  background-color: transparent !important;
}
.mult-selector .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectButton .dijitButtonContents {
  border: none;
}

/* popup */
.dijitMenuPopup .dojoxCheckedMultiSelectMenu.mult-selector-dropdown-max-height{
  max-height: 260px;
  overflow-y: auto;
}
.dijitMenuPopup .dojoxCheckedMultiSelectMenu .dijitMenuTable {
  background-color: transparent;
  table-layout: fixed;
}
.dijitMenuPopup .dojoxCheckedMultiSelectMenu .dijitMenuTable .dijitMenuItem{
  height: 26px;
}
.dijitMenuPopup .dojoxCheckedMultiSelectMenu .dijitMenuTable .dijitMenuItem,
.dijitMenuPopup .dojoxCheckedMultiSelectMenu .dijitMenuTable .dijitMenuItem td{
  border: none;
}
.dijitMenuPopup .dojoxCheckedMultiSelectMenu .dijitReset .dijitMenuItemIconCell{
  width: 36px;
  padding: 0 10px;
  padding: 3px 10px;
  border: none;
}
.dijitMenuPopup .dojoxCheckedMultiSelectMenu .dojoxCheckedMultiSelectSelectedOption{
  height: 26px;
}
.dijitMenuPopup .dojoxCheckedMultiSelectMenu .dojoxCheckedMultiSelectCheckBoxInput{
  display: none;
}

 /* LaunchpadTheme */
.claro .LaunchpadTheme .mult-selector .dijitDropDownButton .dijitArrowButtonInner:before,
.claro .LaunchpadTheme .mult-selector .dijitArrowButton:before {
  content: "n";
  display: none;
}
.claro .LaunchpadTheme .jimu-widget-swipe .mult-selector .dijitArrowButton {
  padding: 0;
  height: 100%;
}
.claro .LaunchpadTheme .mult-selector .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectButton .dijitButtonNode .multselector-label-container .multselector-label{
  font-size: 14px;
  height: 30px;
}